[2018-08-04 23:27] #534 closed

[2018-08-05 22:23] matthewberryman opened #569 "twitter search pagination"
On scroll to bottom of twitter search results, load more search results.

@qclin be sure to run the following to unset any global variables first and then (re)start the server to get it to pick them up from the .env file I sent.
[code]

[2018-08-05 23:34] matthewberryman opened #571 "depending on map pan, lng from leaflet can be out of range"

[2018-08-06 00:11] matthewberryman opened #572 "WYSIWYG html editor for notifications"

[2018-08-06 00:51] #553 closed

[2018-08-06 00:51] #555 closed

[2018-08-06 00:58] matthewberryman opened #573 "adjust severity field to keep a history of changes"

[2018-08-07 16:15] LucieGueuning opened #575 "Former staff tick box on contact card - not there for not MSF staff log in"
There is bug on contact card. We should have the tick box 'Former staff' for non-MSF email address log on through contact card:

![image](https://user-images.githubusercontent.com/25951555/43788500-73fc4a92-9a65-11e8-805e-ae683c2b2090.png)

[2018-08-07 16:16] LucieGueuning opened #576 "Uploading files through REACH that will be stored on SharePoint site directly (good folder)"

[2018-08-07 20:54] #575 closed

[2018-08-08 09:09] LucieGueuning opened #577 "On test environment, error message once uploading picture on report card"
![whatsapp image 2018-08-07 at 8 36 50 pm](https://user-images.githubusercontent.com/25951555/43827975-2960259c-9af3-11e8-8936-75c0d2cdd094.jpeg)

[2018-08-08 09:31] matthewberryman commented on #577
The report bug was fixed earlier today my time with https://github.com/MSFREACH/msf-reach/commit/b15f63045ee7f2776fab7ae2a5907aad9460a513 (after that screenshot was taken) as noted on email and I tested again and it was still working fine.

[2018-08-08 09:31] #577 closed

[2018-08-08 09:34] LucieGueuning commented on #572
what WYSIWYG html does mean?

[2018-08-08 09:35] matthewberryman commented on #572
https://en.wikipedia.org/wiki/WYSIWYG
See https://www.froala.com/wysiwyg-editor for an example.

[2018-08-08 22:51] #569 closed

[2018-08-08 22:52] #478 closed

[2018-08-08 23:06] matthewberryman commented on #559
I have fixed an issue where long sharepoint links could break the layout.

@LucieGueuning are we good to close this one now?

[2018-08-09 09:48] LucieGueuning opened #578 "Users feedback system - bugs reporting or users feedback"

[2018-08-09 10:26] matthewberryman opened #579 "edit save consistency"
Like for the event general information section, have a save button at the top of each in-line editing section, so the user doesn't need to do a cumbersome two step process of clicking done then scrolling down to press save button.

[2018-08-09 10:27] matthewberryman commented on #579
cc @LucieGueuning

[2018-08-09 10:28] matthewberryman commented on #578
There are some off the shelf solutions here. May not be possible to integrate them to AD but then that may be a bit of a plus in supporting other non-MSF-(AD) users. I will take a look at this tomorrow.

[2018-08-09 15:37] LucieGueuning commented on #559
![image](https://user-images.githubusercontent.com/25951555/43909558-890f19bc-9bf2-11e8-9ee1-ca1d00a378ff.png)

[2018-08-09 15:51] LucieGueuning opened #580 "'Save edits' button doesn't work (while not editing in a new window)"

[2018-08-09 15:52] LucieGueuning opened #581 "edit previous notification"

[2018-08-09 15:53] LucieGueuning commented on #580
there's been a strong aftershock in Lombok and I had a glitch while updating REACH.  I clicked on "edit" beside the Notification label (?) and typed in the new info, clicked done, then clicked the "save edits" at the bottom, the new notification wasn't saved.  I then used the "edit in new window" option, and it worked.

[2018-08-09 15:53] LucieGueuning commented on #579
this whole thing can be confusing.  At the beginning, I just clicked "done" and thought that my new notification was saved.  I lost a few updates because I didn't click "save edits" at the bottom.

[2018-08-09 15:55] LucieGueuning opened #582 "UI for overview on response"
We may have to consider putting the explo, monitoring and response events all in 1 tab, so we get an overview of what's happening.  Something to discuss between us.

[2018-08-09 16:18] LucieGueuning opened #584 "TUTO : once entering into REACH"
3 steps with bubbles to guide people in 5 sec once opening the platform for the first time

1. Map (zoom in and zoom out) with legend on and off
2. Table with sync info
3. ?? (to be brainstorm

[2018-08-09 17:56] matthewberryman commented on #580
@qclin can you please take a look at Lombok event (I will get you a copy of prod database) plus also event 54 in test database that threw this error
[code]

Unless you think it makes sense to wrap these up soon (since this issue is high priority) as part of https://github.com/MSFREACH/msf-reach/issues/579

[2018-08-09 18:00] matthewberryman commented on #559
@mehrdadgit there are still cases where there are URLs in notifications and it's wrapping properly (e.g. event ID 59 in prod)

[2018-08-09 18:29] matthewberryman commented on #580
`git bisect` reveals e74e4aa1f779c9e90e9729f7213e8de1c6e96e0c as the source of breakage of the save button (I think the marker that was commented out but I guess is used elsewhere). I will fork off the test issue as that looks to be different.

[2018-08-09 18:31] matthewberryman opened #585 "handling of old data on notifications"
https://github.com/MSFREACH/msf-reach/issues/580#issuecomment-411843382

[2018-08-09 18:38] matthewberryman commented on #580
No, not marker (that wasn't being used and safe to kill). I just checked out that particular commit and can't repro the bug - maybe git bisect was getting confused with some of the branches (?). I will retry.

[2018-08-09 18:43] matthewberryman commented on #580
Sorry I think I read things wrong. Re-did git bisect and d8c3ff94b5037134d3a725579607a069e2a8f14c is the first bad commit (which makes more sense in terms of the changes)

[2018-08-09 18:49] matthewberryman commented on #582
https://github.com/MSFREACH/msf-reach/issues/372

[2018-08-10 04:33] matthewberryman opened #587 "bug in upload"
introduced after previous work on https://github.com/MSFREACH/msf-reach/issues/524 was wrapped up and tested

[2018-08-10 04:34] #580 closed

[2018-08-10 04:35] #587 closed

[2018-08-10 05:27] matthewberryman commented on #578
https://usersnap.com/blog/open-source-bug-tracking/

[2018-08-10 16:55] qclin commented on #541
which box is this ? @LucieGueuning

[2018-08-10 21:44] matthewberryman commented on #541
@qclin sorry for confusion I removed Lucie's comment as it had data from prod not test data. This issue (as I can see you've figured from PR #591) is about report description text (on both landing and event page).

[2018-08-14 09:19] LucieGueuning commented on #425
- no job title asked when choose 'Current MSF staff'
- red star for 'employment status' and 'operational center': to be removed
<img width="368" alt="capture d ecran 2018-08-14 a 10 11 04" src="https://user-images.githubusercontent.com/25951555/44083309-876a3ad0-9fab-11e8-8d4e-08bd8a1f4e1f.png">

[2018-08-14 09:21] LucieGueuning opened #592 "not pictures showing on twitter feed - bug?"
<img width="1439" alt="capture d ecran 2018-08-14 a 10 20 54" src="https://user-images.githubusercontent.com/25951555/44083407-cd6ecd7a-9fab-11e8-9849-9b8b8be4f7f3.png">

[2018-08-14 09:39] qclin commented on #592
@LucieGueuning it's the twitter api iframe, you need to wait a few seconds and then it will load in all the media

[2018-08-14 09:54] qclin commented on #542
i believe this is also fixed by #590
where we added the save edit in each section

[2018-08-14 11:30] matthewberryman commented on #524
Just deploying a small change now to prod, dev and test to support PDFs/any other file type.

Sharepoint integration is https://github.com/MSFREACH/msf-reach/issues/576

[2018-08-14 14:33] LucieGueuning commented on #540
@anexact How to ensure long report can be submitted?

[2018-08-14 14:34] qclin commented on #540
@LucieGueuning can you test on dev, and see if you get long report after submitting on landing page

[2018-08-15 00:35] matthewberryman commented on #540
@LucieGueuning I only just merged that into dev now (sorry for delay due to travel). Note that @qclin proposed some mechanisms for display of long reports - Qiao I have left that branch around if there's a need for any further tweaks around display.

[2018-08-15 09:41] LucieGueuning commented on #540
Working but display is not ok

![image](https://user-images.githubusercontent.com/25951555/44142303-b9213e8a-a077-11e8-9852-6d31aa869dd5.png)

[2018-08-15 10:30] qclin commented on #540
@LucieGueuning what do you mean, the line breaks or ?

[2018-08-15 10:34] LucieGueuning commented on #540
![image](https://user-images.githubusercontent.com/25951555/44144385-31d76186-a07f-11e8-9f91-76815eebdfe4.png)
@anexact to check and suggest solution from UI perspective.

[2018-08-15 10:42] qclin commented on #540
I see, the overflow should wrap, and selection label needs to be readable
anything else @LucieGueuning
Please tell me exactly what you need improvement on as the highlight box on the display main text doesn't say anything, as I don't know when you enter whether there are line breaks or not.

[2018-08-15 10:46] LucieGueuning opened #593 "GDPR - add a tick box on contact card + report card"
as we need the written consent once collecting personal data that this could be used and shared to other MSF entities.

adding a tick box on the first slide of both report card and contact card that say: 'I consent (as written proof) that information can be shared with other MSF entities. Those information will be used to contact you if there is an emergency near your location of living, to reques

[2018-08-15 10:52] LucieGueuning commented on #540
Yes, I think that'is all. I am not a UI designer by profession. So I am only seeing things as end users and I see that it is not readable. @anexact could help by suggesting something. But I think you covered the main issue with your comment up there.

Thank you very much.

[2018-08-15 10:53] qclin commented on #540
@LucieGueuning got it, will resolve asap

[2018-08-15 11:55] LucieGueuning opened #594 "Skype chat not working"
![image](https://user-images.githubusercontent.com/25951555/44147080-6c2dc5b8-a08a-11e8-825e-cab161fb6352.png)

Button 'connexion' doing nothing when hitting it.

[2018-08-15 13:33] LucieGueuning opened #595 "UI bug when opening Mission History"
![image](https://user-images.githubusercontent.com/25951555/44150708-35fa5b24-a098-11e8-9b0f-96891188bb17.png)

[2018-08-15 14:15] LucieGueuning opened #596 "Login page logo"
![image](https://user-images.githubusercontent.com/25951555/44152521-ad46b038-a09d-11e8-9431-4e0358db91d9.png)

Should remove 'REACH' word and replace the logo by the following one:
https://drive.google.com/open?id=0Bw27FPU-gFxYeElVdjRYYXpJdUk

with low resolution to have the logo on the page without delay of display (due to overload)

[2018-08-15 14:27] LucieGueuning opened #597 "About MSF REACH + FAQ pop window to update"
![image](https://user-images.githubusercontent.com/25951555/44152858-7903850c-a09e-11e8-9ae9-8165158f0b99.png)

- change 'MSF-REACH' to 'MSF REACH' without the dash
- by default, collapse three tabs and not only open the first one

Update FAQ wording with the following wording:
https://docs.google.com/document/d/1EOUMOqX1iz7daWXD5hswrqgueiTtK3ldTmGLkEnCupI/edit

[2018-08-16 21:32] matthewberryman commented on #594
This part is controlled by closed source Microsoft code, so is out of our control. Tested and working for me, in Chrome, without even having to allow popups, although that's something to check and is the most likely source of this issue as opening the Connexion/Sign in button will open a new window.

[2018-08-16 21:57] matthewberryman commented on #593
On contact & report card, I presume this should replace "Our promise to protect your privacy: Médecins Sans Frontières Hong Kong (MSF) promise not to sell, share or swap your personal information with any other company / organisation."? I think we still want to retain "The information you provide will be treated as strictly confidential and used in accordance to our Privacy Policy, found on our we

[2018-08-16 21:58] matthewberryman commented on #597
Hi Lucie, I suggest you get a native English speaker in MSF to review and correct the grammar etc. first.

[2018-08-20 08:43] LucieGueuning commented on #594
So it is useless if this is not working and wont be fixed. right?

[2018-08-20 08:44] LucieGueuning commented on #593
ok if this is tick box. Let me know once you are done for test.

[2018-08-20 08:46] LucieGueuning commented on #597
All good. You can move ahead with that one.

[2018-08-20 08:48] matthewberryman commented on #594
If it's broken (again, it's working for me, and have you tried allowing pop-up windows?) then you could raise a bug report directly with Microsoft, or we could look at removing it.

[2018-08-20 08:48] matthewberryman commented on #593
@qclin can you please change as a high priority, per https://github.com/MSFREACH/msf-reach/issues/593#issuecomment-413697124

[2018-08-20 08:57] LucieGueuning opened #598 "difference between 'close event' and 'complete status'?"
What will happen if I choose the red button “close event” instead of changing the status to “complete”? @matthewberryman

[2018-08-20 09:00] qclin commented on #593
@matthewberryman is it a required field to click next

[2018-08-20 09:01] matthewberryman commented on #593
Yes

Sent from my iPhone

On 20 Aug 2018, at 19:01, Qiao Lin <notifications@github.com<mailto:notifications@github.com>> wrote:

@matthewberryman<https://github.com/matthewberryman> is it a required field to click next

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MSFREACH/msf-reach/issues/593#issuecomment-414247343>, or mu

[2018-08-20 09:13] LucieGueuning opened #599 "system to capture users feedback"
as we will have system to report bug, we should have a system between our team to capture users feedback and could tab them as 'wont develop' and filter them by priorities for next phase work flow

@anexact

[2018-08-20 09:36] LucieGueuning commented on #594
Yes
![image](https://user-images.githubusercontent.com/25951555/44332832-f510bd80-a464-11e8-9a91-2dbdbde4275b.png)

[2018-08-20 09:37] LucieGueuning commented on #594
sign up link working and opening a new pop-up windows. Connexion button not working.

[2018-08-20 09:49] matthewberryman commented on #597
@LucieGueuning please refer to comments in the file and address these before I go ahead.

[2018-08-20 10:04] matthewberryman commented on #531
@qclin ah, I should have tested your work in issues/531 before merging. There's an issue here:
https://github.com/MSFREACH/msf-reach/blob/fc43fdf2ec544e5b6a07f195ef21a07c27c4c5e1/public/resources/js/events.js#L1529
in that `typeof null` actually returns 'object', and furthermore not all objects have a `.length`, and similarly at https://github.com/MSFREACH/msf-reach/blob/fc43fdf2ec544e5b6a07f195ef

[2018-08-20 10:14] matthewberryman commented on #598
Both change the status to complete and add it to mission history. The close button prompts for an open date and then takes you back to landing back. In #537 we will have a separate modal for each change except for completion, and with completion in the in-line edits section (close / complete button) we will close it off as per close button now.

[2018-08-20 10:37] LucieGueuning commented on #597
all good. comments addressed

[2018-08-20 20:02] matthewberryman commented on #597
@mehrdadgit I'm pretty busy with travel again today, if you have a spare moment would you update the FAQ text (landing page and event page)? Work in issues/597 branch

[2018-08-21 03:13] mehrdadgit commented on #597
Ok will do this evening @matthewberryman

[2018-08-21 16:27] LucieGueuning opened #603 "Ability to set status back from closed -> open"
it becomes mission history. I want to change status back to explo. I couldn't. Would you mind, manually, re-iterate this event back to 'explorations status' please?

Status should be editable even once the project is closed.

![image](https://user-images.githubusercontent.com/25951555/44415070-633da900-a567-11e8-865c-1d462b56516a.png)

[2018-08-21 22:36] matthewberryman commented on #603
@LucieGueuning I have re-opened that particular event in the database.
@qclin Please work on functionality so that end users (with operator permissions - ref. other write-protected APIs) can re-open events; needs event status set to 'active' and also need to revert event.metadata.event_status as well.

[2018-08-22 09:39] LucieGueuning commented on #603
You didn't re-open the flood and dam collapse. You re-opened the Flood in Cambodia which is also good. Please re-open the following one:
![image](https://user-images.githubusercontent.com/25951555/44456099-a2b3d600-a5f7-11e8-8acc-4dbff7a0b7bc.png)

[2018-08-22 09:39] LucieGueuning commented on #603
@matthewberryman Urgent as I would like to send out email with link to this specific event

[2018-08-22 09:40] matthewberryman commented on #603
@LucieGueuning on it, will send you a whatsapp when ready.

[2018-08-22 09:55] matthewberryman commented on #603
@LucieGueuning This is now fixed, my bad for getting confused earlier (I hadn't had enough coffee ;) - see whatsapp for more details.

[2018-08-23 09:08] LucieGueuning commented on #300
when the 'email' icon has disappeared?

[2018-08-23 09:09] LucieGueuning commented on #300
![image](https://user-images.githubusercontent.com/25951555/44516286-96458100-a6bc-11e8-9f8c-5b514fdcaeb9.png)

[2018-08-23 09:34] matthewberryman commented on #300
@LucieGueuning It's still specified in the sharing code, it's just not showing any more due to the changes requested in https://github.com/MSFREACH/msf-reach/issues/559 which have altered the space available.
Easy fix: if there's another share icon I can remove (?) then removing it will make enough space for the email icon to be shown.
More detailed fix: changing the column space (something @mehrd

[2018-08-23 10:01] LucieGueuning commented on #300
remove facebook and twitter icon as we will never publish that into public feed (I think).

[2018-08-24 04:57] matthewberryman commented on #599
Just noting that Jira is not open source (and all come with hosting fees). Check out https://redmine.acrossthecloud.net/projects/msf_reach
(note that issue numbering starts with 2 only because I re-did the categories to match your request).
Username and password to come via whatsapp (just one user for now, can look at setting up user creation in future if we're happy with this system.

[2018-08-24 05:13] matthewberryman commented on #300
done

[2018-08-24 05:13] #300 closed

[2018-08-24 21:56] #521 closed

[2018-08-24 21:56] #531 closed

[2018-08-24 21:59] matthewberryman commented on #540
@qclin how are we tracking on this and #541 ? When done, submit a PR that reads "fixes #541 fixes #541" so once it's merged into master it will auto-close.

[2018-08-24 22:01] matthewberryman commented on #24
We have had a landing page with login button, about etc. in place for a while. Tweaks covered by #596

[2018-08-24 22:01] #24 closed

[2018-08-24 22:02] #173 closed

[2018-08-24 22:04] matthewberryman opened #608 "refactor into components"

[2018-08-24 22:04] matthewberryman commented on #177
Migration to Vue.js now basically complete thanks to @mehrdadgit and @qclin , some separate work to refactor into components https://github.com/MSFREACH/msf-reach/issues/608

[2018-08-24 22:04] #177 closed

[2018-08-24 22:05] matthewberryman commented on #179
The initial work was done, there are other issues such as #563 that cover further changes requested.

[2018-08-24 22:05] #179 closed

[2018-08-24 22:07] #355 closed

[2018-08-24 22:08] #343 closed

[2018-08-26 06:35] matthewberryman opened #609 "HOT map unavailable"
their certificate has expired.

cc @LucieGueuning

[2018-08-26 06:35] matthewberryman opened #610 "map base layer setting not preserved on event page"

[2018-08-26 06:46] matthewberryman opened #611 "MSF presence layer TLS certificate deprecated with next Chrome release"
cc @LucieGueuning

[2018-08-26 06:49] #610 closed

[2018-08-26 06:53] matthewberryman commented on #609
Message sent to openstreemap.fr team via their web site. Got confirmation email back "Votre message a été envoyé. Vous recevrez une réponse dans les jours à
venir.
Merci pour votre patience."

[2018-08-26 09:07] matthewberryman commented on #609
Fixed by the OpenStreetMap team :)

[2018-08-26 09:07] #609 closed

[2018-08-26 13:30] mehrdadgit commented on #537
Done in issues/537 branch @matthewberryman currently works as follows.
* There is an `Analyze` button in front of event status to manually analyse an event ( I assumed this gives more flexibility to the user but easy to switch to "only analyse if the status change" )
1. Click on Analyze button.
2. The green alert says analysis results are available next to relevant fields.
3. In event page we get

[2018-08-27 01:45] matthewberryman opened #613 "spacing on event type selection is now too big"
<img width="833" alt="screenshot 2018-08-27 11 27 36" src="https://user-images.githubusercontent.com/2288238/44636354-b6dc4680-a9ee-11e8-95e2-7a0f5e5e30fd.png">

[2018-08-27 12:41] qclin commented on #363
@matthewberryman  can closed this with the work done in #579

[2018-08-27 12:44] qclin commented on #485
@LucieGueuning is this the same request as #540 #541 ?

[2018-08-27 12:46] qclin commented on #503
@LucieGueuning
atm you can filter by type and search keyword
what additional feature is needed?

[2018-08-27 12:50] qclin commented on #468
@matthewberryman  @LucieGueuning resolved on ticket #593

[2018-08-28 01:12] #593 closed

[2018-08-28 01:12] #425 closed

[2018-08-28 01:12] #458 closed

[2018-08-28 01:12] #540 closed

[2018-08-28 01:12] #595 closed

[2018-08-28 01:12] #596 closed

[2018-08-28 01:16] matthewberryman opened #619 "severity sliders broken with https://github.com/MSFREACH/msf-reach/pull/590 changes"
1. Doesn't always show severity slider on addition of area.
2. If this comes up on page reload, then it doesn't save changes any more.

[2018-08-28 04:11] matthewberryman opened #620 "disease sub-types missing on event edit on dev"
looks like another one broken in #590. Working in master

[2018-08-28 04:11] matthewberryman commented on #613
Still an issue on event edit

[2018-08-28 04:43] matthewberryman commented on #620
Seems intermittent. Please try on copy of database for different events. Also make sure it saves properly.

[2018-08-28 06:15] mehrdadgit commented on #559
on dev @matthewberryman

[2018-08-28 09:14] qclin commented on #620
<img width="608" alt="screen shot 2018-08-28 at 11 14 01 am" src="https://user-images.githubusercontent.com/10966917/44713491-86121500-aab3-11e8-895a-2e2f87cb86c1.png">

hmmm

[2018-08-28 10:27] matthewberryman commented on #620
Seems to have been fixed with changes @mehrdadgit made as part of work on https://github.com/MSFREACH/msf-reach/issues/613 after I noticed this bug.

[2018-08-28 10:27] #620 closed

[2018-08-28 10:36] #559 closed

[2018-08-28 10:36] #613 closed

[2018-08-28 11:06] qclin commented on #582
@LucieGueuning @matthewberryman
based off Etienne's sketch in #372 with the integration of new feature 'my event' please help me understand the order of hierarchy

v1
<img width="664" alt="screen shot 2018-08-28 at 1 02 51 pm" src="https://user-images.githubusercontent.com/10966917/44719311-33405980-aac3-11e8-8aa9-87650fe44f48.png">

v2

<img width="794" alt="screen shot 2018-08-28 at 1 05 16 pm"

[2018-08-28 12:59] LucieGueuning opened #623 "SharePoint link on event page"
SharePoint link should be the entire URL but a word set by the user

[2018-08-28 14:56] qclin commented on #572
Hey @matthewberryman I checkout the froala service and realize I have to pay.
Here's an implementation on Markdown

<img width="721" alt="screen shot 2018-08-28 at 4 53 00 pm" src="https://user-images.githubusercontent.com/10966917/44731264-1a47a080-aae3-11e8-8043-cbf11f528f0d.png">

Which I also drafted a syntax cheatsheet modal, what do you think ? it a really slim, quick implementation for inli

[2018-08-28 21:43] LucieGueuning opened #625 "image on report card are squeeze - scale non-proportionally"
![image](https://user-images.githubusercontent.com/25951555/44752538-35ca9f80-ab13-11e8-839a-66cf7ab82e59.png)

[2018-08-28 22:15] matthewberryman commented on #537
(inadvertently auto-closed through use of key word)

[2018-08-28 22:26] #468 closed

[2018-08-28 22:27] matthewberryman commented on #468
Wording changed to "I acknowledge I give permission for my contact details / have permission from contacts I am entering" to cover both cases - we don't know until next screen whether they are entering theirs or someone else's.

[2018-08-28 22:27] LucieGueuning commented on #458
great!

[2018-08-28 22:29] LucieGueuning commented on #541
I feel that it is still an issue for readability
![image](https://user-images.githubusercontent.com/25951555/44754528-2438c600-ab1a-11e8-97a7-4f2b28000999.png)

[2018-08-28 22:30] LucieGueuning commented on #579
still edit in a new window that should be entirely removed right?

[2018-08-28 22:37] LucieGueuning commented on #582
'Previous' and 'Mission Histories' are the same.
Good option is the second one (v2). You only need to change the wording of 'Previous' by 'closed intervention' and remove the 'Mission Histories' button.

[2018-08-28 22:40] LucieGueuning commented on #468
ok, all good.

[2018-08-29 15:05] LucieGueuning opened #627 "WhatsApp integration as chat system into REACH"
per MB comment:
we’ve had this on our list for quite a while (I would love to do it as I love WhatsApp), however it’s only from the start of this month that there’s actually been an officially supported programming interface for it, see the news item from Nasdaq: https://www.nasdaq.com/press-release/announcing-the-twilio-api-for-whatsapp-connecting-the-leading-cloud-communications-platform-to-the-

[2018-08-29 15:13] LucieGueuning commented on #3
can close? doesn't make any sense to me? @matthewberryman

[2018-08-29 15:13] #3 closed

[2018-08-29 15:18] #43 closed

[2018-08-29 15:19] #55 closed

[2018-08-29 15:19] LucieGueuning commented on #57
linked to 'person in charge' field

[2018-08-29 15:22] #70 closed

[2018-08-29 15:36] #94 closed

[2018-08-29 15:38] LucieGueuning commented on #95
still? or can we close? @matthewberryman

[2018-08-29 15:38] #95 closed

[2018-08-29 15:41] LucieGueuning commented on #126
Can we close that off? still need to work on it? @matthewberryman

[2018-08-29 15:41] #126 closed

[2018-08-29 15:41] LucieGueuning commented on #127
Can we close that off? still need to work on it? @matthewberryman

[2018-08-29 15:43] LucieGueuning opened #628 "no box to tick on display"
![image](https://user-images.githubusercontent.com/25951555/44798925-a4a70780-abaa-11e8-87b6-7ec1c6b2a642.png)

[2018-08-29 15:54] LucieGueuning commented on #187
all good on that one?

[2018-08-29 16:08] #255 closed

[2018-08-29 16:09] #266 closed

[2018-08-29 16:12] LucieGueuning commented on #279
as viewers into MSF address book or as operator through externs into the group

[2018-08-29 16:12] #279 closed

[2018-08-29 16:14] LucieGueuning commented on #293
'Ongoing MSF Responses' is alright

[2018-08-29 16:14] #293 closed

[2018-08-29 16:24] #427 closed, assigned to nobody

[2018-08-29 16:30] #455 closed

[2018-08-29 17:52] #347 closed

[2018-08-29 18:06] LucieGueuning commented on #525
for the future

[2018-08-29 18:08] LucieGueuning commented on #257
Need to have both.
On creation and once display need to have both the local time of disaster and the time of the users seeing the platform.

[2018-08-29 23:27] matthewberryman commented on #430
Which external sources? Part of Sharepoint integration and searching?
Based on what fields?
UI ideas?
Not enough information provided by deadline for us to do in 2b.

[2018-08-29 23:30] matthewberryman commented on #461
@LucieGueuning can you put me in touch with whoever maintains these databases?

[2018-08-29 23:32] #495 closed

[2018-08-29 23:32] matthewberryman commented on #495
Token issue resolved.

[2018-08-29 23:36] matthewberryman commented on #357
Default view on first login is open to whole of world map and then map extents are saved for users after that.

[2018-08-29 23:36] #357 closed

[2018-08-29 23:43] matthewberryman commented on #275
Using Twitter's algorithms on this.

[2018-08-29 23:43] #275 closed

[2018-08-30 00:01] matthewberryman commented on #295
Still waiting on supply of MSF data

[2018-08-30 00:09] #60 closed

[2018-08-30 00:13] matthewberryman commented on #182
Basic support done, suggestions for particular fields part of #537

[2018-08-30 00:13] #182 closed

[2018-08-30 00:27] matthewberryman commented on #395
@LucieGueuning  can we discuss this next call please

[2018-08-30 00:37] matthewberryman commented on #370
Confirmed that vizalytics is picking up MH data. Remaining UI work covered by #537

[2018-08-30 00:37] #370 closed

[2018-08-30 00:41] #89 closed

[2018-08-30 00:43] matthewberryman commented on #431
Initial twitter search based on event name (now free form and editable), so reliant on users making sensible suggestions there—I have not received any futher advice on #89 to suggest using something else, plus results shown are already partly sorted by time fur currency, and search term itself can be modified.

[2018-08-30 00:43] #431 closed

[2018-08-30 00:44] matthewberryman commented on #431
Also noting work completed in https://github.com/MSFREACH/msf-reach/issues/569

[2018-08-30 00:45] #225 closed

[2018-08-30 04:30] matthewberryman commented on #40
Done bar ui changes pending in #537

[2018-08-30 04:30] #40 closed

[2018-08-30 04:34] matthewberryman commented on #426
Twitter account created.
Faacebook name awaiting MSF, given previous advice back in January around character limits on names and need to choose new name as a separate personal account was set up first before the page (and page can't have same name)

[2018-08-30 04:38] matthewberryman commented on #429
Duplicate of https://github.com/MSFREACH/msf-reach/issues/603

[2018-08-30 04:38] #429 closed

[2018-08-30 04:39] matthewberryman commented on #432
Done, we removed the restrictions on event input

[2018-08-30 04:42] matthewberryman commented on #469
As discussed we display the reports + some extra space, allow for searching of contacts outside of that area, and in #521 and #534 allow addition of other areas by map / address input with extra details recorded.

[2018-08-30 04:49] matthewberryman commented on #189
Dupe of 443.

[2018-08-30 04:49] #189 closed

[2018-08-30 04:55] #363 closed

[2018-08-30 05:00] #524 closed

[2018-08-30 05:01] matthewberryman commented on #296
Now handled via notifications #524

[2018-08-30 05:01] #296 closed

[2018-08-30 05:01] matthewberryman commented on #489
Duplicate of #296

[2018-08-30 05:01] #489 closed

[2018-08-30 05:04] matthewberryman commented on #492
@LucieGueuning to email me HOT contact details.

[2018-08-30 05:05] matthewberryman commented on #492
Then @mehrdadgit @qclin to add a link on status change (pending #537 completion)

[2018-08-30 05:08] #579 closed

[2018-08-30 05:28] matthewberryman commented on #269
Decision made to drop modal in favour of in-line editing, and relevant sections for in-line editing now almost complete as part of #537

[2018-08-30 05:28] #269 closed

[2018-08-30 05:29] #506 closed

[2018-08-30 05:31] #460 closed

[2018-08-30 05:39] matthewberryman commented on #474
1. There are a large number of email lists - which ones?
2. No way of programmatically getting them from the site as far as I can see, and
3. Even if we can get them, each one contains very unstructured data so it's next to impossible to use. See also discussion around (non-geo)RSS feeds.

[2018-08-30 05:43] matthewberryman commented on #208
@LucieGueuning still awaiting feedback. I think the sharing buttons covers this. Regarding
"Contact ERSU button everywhere (Natasha Reyes; email; phone number; …)" is that still relevant for phase 2c expansion?

[2018-08-30 05:48] #99 closed

[2018-08-30 05:48] matthewberryman commented on #99
MapSwipe goes to OSM which we now have as a layer.

[2018-08-30 05:49] matthewberryman commented on #138
@LucieGueuning to explain why this was re-opened.

[2018-08-30 05:54] matthewberryman commented on #184
Duplicate of 255

[2018-08-30 05:54] #184 closed

[2018-08-30 06:14] matthewberryman commented on #479
In the absence of feedback, just noting that this needn't be entered, and I've now tidied up display to leave opened blank if not entered

[2018-08-30 06:26] matthewberryman commented on #371
No longer relevant; this is for dev site only and test/prod have latest logo as completed in #596

[2018-08-30 06:26] #371 closed

[2018-08-30 06:42] matthewberryman commented on #270
Event edit modal removed.

[2018-08-30 06:46] matthewberryman commented on #77
Location done as part of area support. Latest actions covered by #439

[2018-08-30 06:46] #77 closed

[2018-08-30 06:46] matthewberryman commented on #168
Now part of #439

[2018-08-30 06:46] #168 closed

[2018-08-30 12:10] LucieGueuning commented on #582
as per discussion on call, 'type' filter should be added (Remi's feedback).

[2018-09-03 10:59] #542 closed

[2018-09-03 16:58] LucieGueuning commented on #138
I wasn't sure. did you deploy that: 'will explore other options over next few days'?

[2018-09-03 17:00] LucieGueuning commented on #208
you are right, not relevant anymore.

Do we have a way to initiate chat bot conversation? People never find the bot as nobody knows.

[2018-09-03 17:02] LucieGueuning commented on #461
Phase 3 push back or drop

[2018-09-03 17:04] LucieGueuning commented on #430
ok

[2018-09-03 17:05] LucieGueuning commented on #295
- being able to upload as format of files for MSF internal document
- CIA Factshheet info for each country

[2018-09-03 17:07] LucieGueuning commented on #469
need to have boundaries of the square for the condition of user moving around.

[2018-09-03 17:07] LucieGueuning commented on #469
UX/UI improvement

[2018-09-03 22:31] matthewberryman commented on #603
@LucieGueuning This was added in the code but it didn't deploy due to a build failure, now rectified, and this is now being deployed to dev.

[2018-09-04 00:16] matthewberryman commented on #628
@qclin this was broken with your other GDPR changes; can you please fix asap.

[2018-09-04 02:58] matthewberryman commented on #619
Slider value and text is being saved, but slider values (aside from first one) not being saved.

<img width="665" alt="screenshot 2018-09-04 12 19 27" src="https://user-images.githubusercontent.com/2288238/45007629-013e7280-b042-11e8-8940-5fad6ede873d.png">

[2018-09-04 09:46] matthewberryman commented on #432
1. On event creation / event edit, make 1 API call (need dummy endpoint) to check group ID in operators and then
2.  flag to to the user via message (top of modal somewhere) that they need to contact @LucieGueuning if they would like operator access.

[2018-09-04 09:47] matthewberryman commented on #432
(If we could have breakdown of API changes and initial display by @mehrdadgit and then any ui tidy up by @qclin I think that's a sensible breakdown)

[2018-09-04 09:58] matthewberryman opened #630 "status on event close"
Make sure metadata.event_status is preserved on event close (via close button on bottom of event page).

cc @LucieGueuning
Phase 2b.

[2018-09-04 10:00] matthewberryman commented on #437
Do need to support this so, for example, lists can be printed and taken to areas with poor connectivity.
Workaround from a compliance side: on first line of csv file, print exported on (date) and add note to check back with REACH regularly for updates.

@mehrdadgit to work on API and client side button (from landing page contacts section) as we've done on other projects.

[2018-09-04 15:06] LucieGueuning commented on #599
ok so my feedback is the following:
- **redmine**: I tried on the project that created MAtthew and it is not what we need. there is no proper board for overview and tracking on users feedback.
- **Jira**: it is the best option as we can tag people, tag pilots, tab type of dev. but it is not for free.
- compromise could be the GitHub project board even though the tagging is not super efficient. Ple

[2018-09-04 16:01] qclin commented on #619
@matthewberryman  please check this commit

https://github.com/MSFREACH/msf-reach/commit/1de3bfdaa9fe1d36627913ce345e47eaf18ef483

[2018-09-04 16:04] qclin commented on #432
@matthewberryman i think what Lucie refers to is this moment during the user Interview when Mick had enter data in one section but then he scroll further down and forgot which section he had 'dirtied' and keeps getting the alert popup. I think this is a design problem. we can simply scroll to the section he needs to save first

[2018-09-04 16:12] qclin commented on #599
Hey, Github Projects is minimum but I think it does the job.
Also helps to keep within the platform for cross tagging of people & issues.
As the UX UI sprints proceed into Pilot iteration phrase we can also grab the CARD URL as ref in the https://github.com/MSFREACH/msf-reach/projects/1 boards
Of course keep in mind to pre-salt the content for sensitive data.

Otherwise, happy to keep the tracking

[2018-09-05 02:38] #628 closed

[2018-09-05 03:36] matthewberryman commented on #432
@qclin no I spoke with Lucie on the call last night and this is about read-only users entering information, but not being able to see until the submission that they don't have access and need to write to Lucie to request access.

[2018-09-05 11:05] LucieGueuning commented on #432
@matthewberryman and @qclin, for clarification, this is well two separate issues.

[2018-09-07 04:30] matthewberryman opened #632 "Errors, duplication on event open and on past response editing"
1. I'm getting 400 bad request errors on mission editing on the landing page. `{"statusCode":400,"error":"Bad Request","message":"child \"eventId\" fails because [\"eventId\" is required]","validation":{"source":"body","keys":["eventId"]}}`. Seems the API (possibly?) and client side code was broken.
2. Also reports that information entered for one is being copied across past responses (ref. email

[2018-09-07 04:31] matthewberryman commented on #632
Just noting that 2. may be a client side thing with Vue.js only (?)

[2018-09-07 05:58] matthewberryman commented on #632
Ok I had a skype session with the user and, noting they are using Safari,
Confirmed that (2) is (or was - due to caching) an issue in master branch. Not sure if client side only (i.e. is it not clearing stuff between modals?). Workflow was edit past mission on landing page, make some changes (e.g. description) and then info was duplicated into other past missions.

May be similar issue causing eve

[2018-09-07 05:59] matthewberryman commented on #632
I'm having trouble reproducing the (master branch) issues - be sure to test on Safari especially.

[2018-09-07 06:07] matthewberryman opened #633 "Dates"
Can we take a look to ensure that all dates entered are being stored correctly and displayed correctly, especially on Safari (which doesn't always handle ISO 8601 properly, dependent on version).

[2018-09-07 07:19] qclin commented on #632
@matthewberryman  i tested for (1)
saved okay on dev
https://github.com/MSFREACH/msf-reach/blob/dev/public/events/mission.html#L737
grabs eventId from the url hash like everywhere else.

[2018-09-09 08:39] mehrdadgit commented on #633
This was both chrome and safari issue.

I fixed the date not saving/ showing correctly in the above commit for mission modal. There is still an issue that in edit-mode `<date-picker>` does not prefill with the current datetime!? still looking into it...

@qclin I've ran out of time today; could you please double check all other modals/event edits etc and make sure that date save/display functional

[2018-09-09 09:50] qclin commented on #633
@mehrdadgit you can close the modal and call load mission table again

[2018-09-09 23:32] matthewberryman commented on #633
@mehrdadgit @qclin Just noting this issue applies to *all* dates not those on missions modal. There are a number of issues still:
* Suggested close date on event close has month and day swapped around.
* Event start and close dates not copied to any mission fields on close.
* Mission has uneditable open and close on left hand side of modal and these aren't correct.
* Duplication of event closure o

[2018-09-09 23:43] matthewberryman commented on #632
@qclin @mehrdadgit @talltom any testing on (2) done?

[2018-09-09 23:59] matthewberryman commented on #633
Also opened date invalid
<img width="249" alt="screenshot 2018-09-10 09 59 08" src="https://user-images.githubusercontent.com/2288238/45270372-2fa7cc00-b4e0-11e8-8b92-74dffd70a292.png">

[2018-09-10 00:05] matthewberryman opened #635 "information not copied over on close"
On event close, no information is copied over as https://github.com/MSFREACH/msf-reach/blob/a076ee6f0ce706613ac39fd5b1be83f4adb4d225/public/resources/js/events.js#L1068 sets metadata to empty but https://github.com/MSFREACH/msf-reach/blob/a076ee6f0ce706613ac39fd5b1be83f4adb4d225/src/api/routes/events/index.js#L133 expects metadata to copy to the mission at https://github.com/MSFREACH/msf-reach/blo

[2018-09-10 00:26] matthewberryman commented on #635
Nope, the problem lies elsewhere (that bit of code I referred to above in events.js and changed in bf4ec8b is unusued as that modal is unused)

[2018-09-10 00:29] matthewberryman commented on #632
Ok I haven't figured out the duplication on event edit, however I have figured out the duplication (x2 at least) on event creation and close. It's because you can set status to completed and that triggers a close of event (copy to missions) and then also click on close button at bottom of page and that also triggers a close of event (i.e. another copy to missions).

[2018-09-10 00:30] matthewberryman commented on #632
So we need to stick with one way of closing it, make sure date is prompted for correctly (part of #633 ) and then make sure information is copied over correctly (#635 ) and that may also help with some of #633 too although there are some completely separate subissues on #633

[2018-09-10 00:48] matthewberryman commented on #632
Ok, method (a) is copying over types and other info correctly but method (b) is not, so for now I will remove that button and inform users, then we need to tidy up the js code later. That then leaves some of #633 to go.

[2018-09-10 01:09] #635 closed

[2018-09-10 02:07] matthewberryman commented on #632
Just noting (after speaking with @mehrdadgit ) neither of us have been able to repro the mission editing issue so considering that closed. Mission opening (on event closure) duplication fixed in c5a1691

[2018-09-10 04:58] matthewberryman opened #637 "use MSF info in country tab"
https://github.com/MSFREACH/msf-reach/issues/295

[2018-09-10 04:58] matthewberryman commented on #295
Making this issue about tab + CIA only. Integration with sharepoint / upload / other a new issue https://github.com/MSFREACH/msf-reach/issues/637

[2018-09-11 06:21] matthewberryman opened #641 "editing info not saved"
"I created a new event, then it appears in the Ongoing responses. I click that to open and edit it (putting in the start and end date of MSF response and checking the box of the Operational Centre. Then I save and close the event. However, when I click on the event's flag to open it up again, I notice that the dates and OC information are not captured; and I have to click the edit button and add i

[2018-09-11 06:37] matthewberryman commented on #632
https://github.com/MSFREACH/msf-reach/commit/d96be7aabeb6b1c7893adf5feb5b5147d7d33eb5 allows correct editing (and tested) despite [false not being supported according to jquery docs](https://api.jquery.com/jquery.extend/). I think we need a proper fix (the extend seems to be there to  fill out details where blank) so something along those lines.

@mehrdadgit

[2018-09-11 06:37] matthewberryman commented on #295
@LucieGueuning please give this a try in dev

[2018-09-11 06:41] mehrdadgit commented on #632
Thanks @matthewberryman done in above commit and please test further

[2018-09-11 07:15] #632 closed

[2018-09-11 07:17] matthewberryman commented on #632
Thanks. Have tested different use cases and `git cherry-pick`ed into master. https://github.com/MSFREACH/msf-reach/commit/d96be7aabeb6b1c7893adf5feb5b5147d7d33eb5 was working but https://github.com/MSFREACH/msf-reach/commit/51167ed4556077139eacdd11a60448a026df7db8 has the advantages of:
1. Using a documented jquery feature.
2. Making more sense in terms of logic.
3. Explains why original case wasn

[2018-09-11 13:11] qclin commented on #641
@matthewberryman where do you first edit?

[2018-09-12 04:57] matthewberryman commented on #641
On event page.

[2018-09-12 05:34] matthewberryman opened #643 "AD/cookie related bug"
Upon load balancer cookie expiry we get this:
<img width="836" alt="screen shot 2018-09-12 at 2 49 28 pm" src="https://user-images.githubusercontent.com/2288238/45403881-f1f1a180-b69f-11e8-89ba-a961ca8db973.png">
Seems we may need to store some session information database side?

[2018-09-12 19:29] LucieGueuning commented on #295
please follow comments from email sent earlier

[2018-09-12 19:37] LucieGueuning opened #644 "paragraph mark in the text box"
Issue: in the editing box, the paragraph marks are properly displaced, but in the event page the paragraph marks are gone.
Expected change: Basic text formatting such as paragraph mark, bold, italics can be displaced in the text.

[2018-09-12 21:36] matthewberryman commented on #644
@LucieGueuning to work with users and supply a list of all text fields required to support formatting as part of https://github.com/MSFREACH/msf-reach/issues/572 (now covers more than just notifications)

[2018-09-12 21:37] matthewberryman commented on #572
@LucieGueuning can you please advise what text boxes you'd like to have formatting in.
@qclin @LucieGueuning I am not sure that markdown is the right solution here. It is straightforward but I'm concerned it's not simple enough.

[2018-09-12 23:28] #295 closed

[2018-09-13 03:32] matthewberryman opened #645 "managing OC not displayed in leaflet popup"

[2018-09-13 03:45] matthewberryman commented on #469
Do need to allow this for events /and/ on editing missions modal.

[2018-09-13 04:45] #645 closed

[2018-09-18 23:22] matthewberryman opened #646 "page not loading where area doesn't include a country"
findcountries returns null resulting in
[code]

[2018-09-18 23:24] #646 closed, assigned to matthewberryman

[2018-09-20 08:53] LucieGueuning opened #647 "RSS feed not updated? (not too sure)"
![image](https://user-images.githubusercontent.com/25951555/45807249-fc70f400-bcba-11e8-9097-798f1b4c6937.png)

[2018-09-20 10:50] LucieGueuning commented on #572
All of the free text box should be able to support formatting. Does that make sense? Is that possible?

[2018-09-20 22:08] matthewberryman commented on #469
@LucieGueuning it wasn't a question just a comment to note that it needs to be able to be adjusted for both events and (past) missions.

[2018-09-20 22:13] matthewberryman commented on #647
I could see this in the first page load but then not on refresh, so it's just a caching issue. I have disabled all the server side caching in 44cce93389ed3d1da63c08d7c8fc07d6bcad353b and confirmed that the server is also telling the web browser not to cache any data, but there's no strict guarantee around web browser behaviour and that's not something I can control.

[2018-09-20 22:13] #647 closed

[2018-09-20 22:36] matthewberryman commented on #174
1. @mehrdadgit to adjust wording to "follow event by email" instead of "subscribe" (work in issues/174 branch).
2. We already have the ability to unsubscribe from notification emails. @mehrdadgit to add a button "unfollow this event" (work in issues/174 branch).
3. This is problematic for two reasons (a) Allowing operators to directly subscribe others doesn't follow [AWS best practice](https://doc

[2018-09-21 01:32] matthewberryman commented on #572
I think it makes sense, although it means a little extra code in the current chatbot. Thoughts @qclin ?

[2018-09-21 15:18] LucieGueuning commented on #174
1. please follow the wording up there 'Follow this event by email' instead of 'subscribers'. Keep the 'subscribe' button!
2. write 'unsubscribe' next to the 'subscribe' button
3. I won't send an email for that. It is not necessary.
4. well noted. I believe @qclin is keeping track of that. Thanks!

[2018-09-21 20:13] matthewberryman commented on #174
1&2. Oh, right, I was getting mixed up between text for that row and the button text. @mehrdadgit Lucie is correct, change "Subscribers:" on the left to "Follow this event by email:" and add unsubscribe button simply reading unsubscribe.
3. Ok.
4. I'm just worried about security especially for conflict-related events. To discuss in next meeting.
5. Ok.

[2018-09-23 05:43] #557 closed

[2018-09-25 09:56] matthewberryman commented on #174
* Defer on putting event update details in email for now, just keep as name of event and link.
* @LucieGueuning to check about options for double opt in (to consider email button for event sharing since we can change email now to read something like 'The (name of event) has been added to REACH and you can view and subscribe to it at (link to event)'

[2018-09-28 13:13] matthewberryman commented on #641
'I'm working on "Ongoing responses" now.... and noticed that when I edit the "Operational centre" and save it, the info doesn't appear.'

[2018-09-28 17:02] LucieGueuning opened #648 "USGS feed does not seem to work on REACH - please review"

[2018-09-28 17:06] LucieGueuning commented on #267
SOLUTION: keep the categories as it is. the box (clickable) contact should lead to the contact card.

No additional sentence neither a category named 'Information'.

all clear?

[2018-09-28 17:06] LucieGueuning commented on #465
SOLUTION: keep the categories as it is. the box (clickable) contact should lead to the contact card.

No additional sentence neither a category named 'Information'.

all clear?

[2018-09-28 17:10] LucieGueuning commented on #174
as per Remi:
- putting people from your organisation in cc is a bad practice? This is what we aim to do by putting a list of people. once hitting the button 'shared updates to subscribers', it will open an email drafted already and the recipients will in there already. Operators will need to send the email manually.
- no email sent automatically from REACH

steps:
1. input the list of people you w

[2018-09-30 10:38] matthewberryman commented on #174
@LucieGueuning As discussed on our call, the bad practice would be subscribing people without confirmation. If you're sending a sharing email to a list of people then use bcc in email... With the current email sharing button we cannot pre-fill to/cc/bcc. We could separately (with additional work) generate a "mailto:" hyperlink although as discussed then we'd be duplicating functionality in REACH t

[2018-10-01 12:24] LucieGueuning opened #649 "Jakarta GPS in display while waiting for right coordinates to load in (on event page)"
To keep track on issue. It will be solved thanks to UX-UI package delivery on Nov 30.

[2018-10-06 01:10] matthewberryman commented on #641
@qclin can you please fix this urgently

[2018-10-06 01:40] matthewberryman commented on #649
@LucieGueuning please clarify what the issue is

[2018-10-08 13:01] qclin commented on #641
Mathew there's a pull request from 27 days ago that already resolve the issue with OCs and location
https://github.com/MSFREACH/msf-reach/pull/642
#642

Please merge that branch first

[2018-10-08 13:11] matthewberryman commented on #641
My bad for missing the notification on email for that one. I’ll get onto it tomorrow.

Sent from my iPhone

On 8 Oct 2018, at 21:05, Qiao Lin <notifications@github.com<mailto:notifications@github.com>> wrote:

Mathew there's a pull request from 27 days ago that already resolve the issue with OCs and location
#642<https://github.com/MSFREACH/msf-reach/pull/642>

Please merge that branch first

—
Yo

[2018-10-09 00:25] #641 closed, assigned to qclin

[2018-10-09 17:03] LucieGueuning commented on #649
as default Java island loaded before the right GPS coordinates is loading.

[2018-10-10 13:46] LucieGueuning opened #651 "Being able to delete info (e.g. notification) - event ID 58"
User made a mistake and put twice the same notification. How to delete it?

- creation of new features: being able to delete info
- If not possible or not straightforward, could you please delete it manually from the database?

![image](https://user-images.githubusercontent.com/25951555/46740621-353d3100-cc9b-11e8-9bdc-ab699bc0a2c3.png)

[2018-10-10 16:10] LucieGueuning commented on #174
from MB:
would that all be from the event description? Per our previous call I need a list of fields to use and generic surrounding text, noting:
* The email body is then mostly up to what operators put into the field(s).
* The more fields we select, the more likely it is that the information is sensitive, and emails are not necessarily end-to-end encrypted.

[2018-10-10 16:38] LucieGueuning commented on #174
requirements refined (as per last meeting). To be confirmed by Ken, Fiona, Natasha (cf. email sent)

Explanation:
- people won't follow the event by themselves at the moment.
- this feature is to make the operator/user's life easier (cf. Ken, Fiona, Natasha)

Process: (for operator display ONLY)
- Add a button below the 'subscribe' one : '**add subscribers**'. This brings you to the function of ty

[2018-10-11 16:43] LucieGueuning opened #652 "Consistency in field name"
In the edit page, it says "mission contact person", but when you save it, it says "person in charge".

[2018-10-11 16:45] LucieGueuning opened #653 ""Response", should be "MSF Response""
cf. field definition issue - cf. file shared in Google drive with field definition

[2018-10-11 16:48] LucieGueuning commented on #644
Still unable to do bullet points and paragraphs in the notifications (previous feedback given by me and Ken).  Even if we segment info while editing, it comes out as a big chunk when saved.  It's not reader-friendly.

[2018-10-11 16:52] LucieGueuning opened #654 "Country detection"
Country of event is not coming out in landing page, have to put the country in the Event Name;  it says Sulawesi Tengah ID in Area, best to spell out Indonesia.

[2018-10-11 16:59] LucieGueuning opened #655 "Cursor for every field of info (as notification)"
In the "Deployment" part of the External Capacity section as the one we had in notifications.  Coming back from another tab, the cursor goes back to the start of the text you are editing, so you have to move manually move the cursor to the end of the text.  Annoying.

[2018-10-11 17:13] LucieGueuning opened #656 "Need to differentiate and classify the information better so it's not all dumped into "notifications"."

[2018-10-11 17:18] LucieGueuning opened #657 "Contact card - update"
Add a field ‘which services’ if user tick the box supplier for category of a new contact

[2018-10-11 17:27] LucieGueuning opened #658 "Bug in the menu selection"
It keeps disappearing if you click more than once.

[2018-10-11 17:31] LucieGueuning opened #659 "@qclin landing page"
1st sentence seems to be a high priority but it is not really.

[2018-10-11 23:56] matthewberryman commented on #644
@LucieGueuning as noted this is covered by #572 , see also work done in https://github.com/MSFREACH/msf-reach/pull/624

[2018-10-11 23:56] #644 closed

[2018-10-12 00:56] matthewberryman commented on #653
@LucieGueuning These are not bugs (aside from some of the wording changes, which I will get onto soon) but changes from what's in the sheet, e.g. it still lists medical figures:
<img width="412" alt="screenshot 2018-10-12 08 51 37" src="https://user-images.githubusercontent.com/2288238/46841695-1d30f300-cdfc-11e8-8fd6-21e308f52ec8.png">
Fields on event open doesn't list population
<img width="290"

[2018-10-12 01:01] matthewberryman commented on #659
@LucieGueuning As requested, can you please put more details in here. We have a team of people working on REACH (e.g. if Qiao was to be unavailable for some reason then without requested details from you we cannot assign someone else to get these delivered in a timely manner), and also from a management perspective we need to record things properly.

[2018-10-12 01:08] matthewberryman commented on #658
@LucieGueuning to provide details:
* Which menu? One at top right (which I have tested and is work)? Dropdown for contact category? etc.
* Browser incl. version number (help/browser name -> about in menu).

[2018-10-12 11:26] LucieGueuning opened #660 "Share function for contact not working (private and share)"
- Share function: name coming in and suggestions from address book not coming
- Private says 'no' in table but in the popup says 'yes'. Confusion.

[2018-10-12 13:21] LucieGueuning commented on #416
need to be added by users. If geo-enable then on the map, if not, then only the link.

For example Llanos, would like to have the following one:
Websites regularly followed for Alert detection:
For violence related context:
-Mainly:
https://www.crisisgroup.org/crisiswatch/
https://www.acaps.org/countries
(ACAPS publishes by Nov-December  an annual report with a very interesting analysis of most at

[2018-10-12 19:03] LucieGueuning commented on #659
As per my email, this is very much to track user feedback on project board. And it is part of the Qiao and Paul revamp. This is the reason I have put her name.

Sorry if that confused you.

[2018-10-12 19:03] LucieGueuning commented on #658
the one on bottom left (for layer on and off)
any browser. It happens in other use on Mac, PC, Chrome or safari.

[2018-10-12 19:05] LucieGueuning commented on #654
Duplication is not a good solution. You are right.

It is the feedback from user. We should find a way that Indonesia is there and not areas like provinces. Does that sound possible to you?

[2018-10-12 19:10] LucieGueuning commented on #465
Not working. When I click the category 'contact', the system selects it and didn't bring me to the contact card.

[2018-10-13 00:47] matthewberryman commented on #465
You need to click on next, then it will take you to the contact card.

[2018-10-14 02:31] matthewberryman commented on #660
Table (on landing and events pages) was always showing no, however privacy was maintained and popup was correct. Share function issue is on landing page.

[2018-10-14 06:34] matthewberryman commented on #660
@LucieGueuning ready for testing - I have put this in master branch for you to test as I cannot test the autocompletion feature on the test environment with the guest accounts, and it won't work on dev as that's linked to Cognito not AD.

[2018-10-14 06:47] matthewberryman commented on #658
I can't reproduce this issue. The layer menu stays on when I click more than once. It only disappears when I move off of it, and reappears when I mouse over it. See https://www.dropbox.com/s/943yqdkf9lqg5qq/658_video.mp4?dl=0

[2018-10-14 07:16] #619 closed

[2018-10-14 09:55] matthewberryman commented on #437
@LucieGueuning just putting this into dev environment now (so will be live in a few minutes) - on landing page there's now a download link

[2018-10-15 14:47] LucieGueuning commented on #465
Ok just tested it on prod. There is still a 5 sec time where we see the map on the next step from the report card. Can we load the contact card quicker (to avoid confusion)?

Also, should we have a message saying 'We are redirecting you to the contact card to enter contact details'. Something like that? too avoid less confusion?

[2018-10-15 14:52] LucieGueuning commented on #660
It takes some time but it is working.

[2018-10-15 15:05] LucieGueuning commented on #658
Please email send with video

[2018-10-16 08:07] matthewberryman commented on #437
1. change filename on download to contact list
2. export only ones showing on map
3. next to download csv - can have button

[2018-10-16 08:43] LucieGueuning commented on #437
Please check update info

[2018-10-16 10:30] LucieGueuning commented on #481
![image](https://user-images.githubusercontent.com/25951555/47010442-d7936380-d136-11e8-8264-618c0e741ea1.png)
@qclin

[2018-10-16 12:00] qclin commented on #481
![status filter](https://user-images.githubusercontent.com/10966917/47014855-b5581080-d14b-11e8-9bbf-7bba7b393299.jpg)
yes noted, atm we have it like that
icons and color will be updated

[2018-10-16 23:28] matthewberryman commented on #437
@qclin can you please add a download icon in (this work is in dev branch)

[2018-10-17 05:38] matthewberryman commented on #437
@LucieGueuning ready for review

[2018-10-17 06:17] matthewberryman commented on #453
@mehrdadgit
I've made a start on this in https://github.com/MSFREACH/msf-reach/commit/16e7a525ac6e69c6b23e34dc2fd69bec1c0a6d0d and corresponding schema change https://github.com/MSFREACH/msf-reach-schema/commit/6bbe1e1cedabed82d449abb3f1fe4532f568dd11
Todo:
* In the modal, allow display of (data from API GET) and editing of markdown text, like with event notifications.
* Hyperlink named "open non-

[2018-10-17 11:32] LucieGueuning commented on #437
Thanks. For consistency, please follow the opposite color with the one already there for adding contact. Thanks.

The arrow in white, the background in red.

And instead of CVS, can we change the wording to 'Download contacts list'? Does that sound better to you?

[2018-10-17 22:34] matthewberryman commented on #437
Looking at https://www.w3schools.com/icons/bootstrap_icons_glyphicons.asp there's no inverse download icon but there is a non-inversed + icon, so for consistency it's easier to change the plus one to match.

[2018-10-18 10:31] LucieGueuning commented on #437
I let @qclin helping you on that?

[2018-10-18 10:38] matthewberryman commented on #437
No need. I have them consistent now.

Sent from my iPhone

On 18 Oct 2018, at 21:31, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

I let @qclin<https://github.com/qclin> helping you on that?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/MSFREACH/msf-reach/issues/437#issuec

[2018-10-20 01:18] matthewberryman opened #662 "unit test broken in ux/navigation branch"
[code]

(note that deployment won't occur while unit tests are broken)

[2018-10-20 16:31] qclin commented on #662
Ah good, because it’s an update so I change endpoint to PUT. Can update unit text soon

[2018-10-21 22:06] #662 closed

[2018-10-22 15:16] LucieGueuning commented on #473
on this issue specifically, being able to delete events from the database (admin or operators can entirely delete events)

[2018-10-22 15:20] LucieGueuning opened #663 "Update drop-down wording for event creation pop-up window"
Feedback from Fei:
In the “Create new event” window, a drop-down menu for status shows 4 options. Could you please change the last one from “Completed Missions” to “Completed”?

[2018-10-22 15:26] LucieGueuning opened #664 "allowing to change the type for mission history"
Feedback from Fei: Is it possible to make changes to the website to allow edits on the field “Type of emergency/nature” for Past responses?
<img width="750" alt="editing type for closed missions" src="https://user-images.githubusercontent.com/25951555/47301685-60b70880-d617-11e8-93e5-f3532693c7d2.png">

[2018-10-23 11:33] mehrdadgit commented on #453
@matthewberryman
I do not understand what is the markdown field for ? Is this the name/title of RSS feed ? if so, why does it have to be in markdown format ?
Also if bookmarks table is going to store the custom RSS Feeds for the user, should we store the feed URL somewhere, in the same (or separate) table ?

[2018-10-23 12:44] LucieGueuning commented on #395
Did you get a chance to speak with them on how to get their API access?

[2018-10-23 12:47] LucieGueuning commented on #416
- pro-med
-inarisk
- UNDSS
- UN OCHA Geo Specialised Portal
- liveumap
-

[2018-10-23 12:50] LucieGueuning commented on #453
Requirements for RSS feed:
On landing page:
- Users can choice their preferred RSS feeds based on a list already existing (at the first log in + a way to do even after to update the preferred list)
- Users can added RSS feeds if they are not yet
- DISPLAY: Users can see their preferences on map and table (for the ones having geo info) + on pop-up showing by time updated with red dot as hyperlink (

[2018-10-24 08:44] LucieGueuning commented on #453
@matthewberryman

Ok well noted.

points 1 and 2 for Phase 2b
point 3 for Phase 2 extension
point 4 (event page): cover by Qiao and Paul UX/UI revamp package

[2018-10-28 08:40] mehrdadgit commented on #453
should be ready for testing @matthewberryman

[2018-10-29 01:15] matthewberryman commented on #453
@LucieGueuning ready for testing in the test environment (test.msf-reach.org) with starting default links per https://github.com/MSFREACH/msf-reach/issues/416 (note there seemed some overlap with ENSO links so I only added one to save a bit of space but can add others back in).

[2018-10-29 04:19] matthewberryman opened #666 "report workflow broken on events page"
Need to re-jig the ordering to match re-tooled report card.

[2018-10-29 04:20] #666 closed

[2018-10-29 05:11] matthewberryman opened #667 "alignment of share buttons needs fixing"

[2018-10-29 05:11] matthewberryman commented on #667
<img width="643" alt="screenshot 2018-10-28 10 54 05" src="https://user-images.githubusercontent.com/2288238/47630515-55268d00-db95-11e8-9f9c-1494bcd33de1.png">

[2018-10-29 05:20] matthewberryman commented on #174
@mehrdadgit would you please take a look at https://github.com/MSFREACH/msf-reach/commit/ebf0132726232f996f270a9a48c155d7f9f6b572 on issues/174 branch (and just noting I corrected the button wording). Things to fix:
* Button placement for this button, also the generic one for sharing email should appear after / as part of fixing #667 (which should then have a message about ability to subscribe, as

[2018-10-29 11:46] mehrdadgit commented on #667
Fixed in a very tricky way ;)
For future better to customise more or create our own share buttons. ShareThis injects a lot of elements and it interferes with vue.

[2018-10-29 11:47] mehrdadgit commented on #174
Done.

[2018-11-01 10:58] LucieGueuning commented on #437
To be GDPR compliant (requested by HK Fin):

1.	MSF staff presses the button to download contacts list on REACH landing page
2.	Pop-up window (before it uploads) to accept privacy policy which stands here by ticking a box. wording: 'I read and accept [MSF Hong Kong Privacy Policy](http://msf-seasia.org/node/14721)'
3.	It, then, downloads the file right after.
4.     Having the downloaded file with

[2018-11-01 11:33] LucieGueuning commented on #174
Feedback:
- Still not able, as operators, to add subscribers. Add a button below the 'subscribe' one : 'add subscribers'. This brings you to the function of typing a name and the address book find the email address (as per private function in contact card)
- Can we have the name of the person instead of his email once the person subscribe or is made as subscriber to the event?
- All subscribers sh

[2018-11-01 11:37] LucieGueuning commented on #504
Feedback:
- Synchronised map and tabl for RSS feed geo-enable:
![image](https://user-images.githubusercontent.com/25951555/47849661-6dcbb880-ddca-11e8-99c9-afa851296beb.png)
- ability to a

![image](https://user-images.githubusercontent.com/25951555/47849628-4ffe5380-ddca-11e8-9c0f-21f326dc0a9a.png)

[2018-11-01 11:49] LucieGueuning commented on #453
FEEDBACK:
- Synchronised map and table for RSS feed geo-enable:
![image](https://user-images.githubusercontent.com/25951555/47849661-6dcbb880-ddca-11e8-99c9-afa851296beb.png)
- ability to customised the same way the geo-enable one. SOL: Having a second balck button next to the first one with: 'Open geospatial news feeds'. And then possibility to remove, add or edit the link for geo-enable. It then

[2018-11-01 21:39] matthewberryman commented on #174
As discussed this is still a work in progress.

I'll give this a spin next week — it looks straightforward to capture this but I need to test it.

I don't think this is a good idea to add people to the To field:
* If someone hits reply all it can end up being spammy
* Indeed some spam filters will look at the number of recipients in the To: field when considering when to send an email to junk
* It

[2018-11-01 22:11] matthewberryman opened #668 "georss table"
Bug: clicking on a table item should focus the map and open popup

[2018-11-01 22:14] matthewberryman opened #669 "synchronise georss table in line with map"
Do we want to have the table only show the ones that are visible in the map? I would argue no:
1. We don't want people reviewing the list and missing disasters just because of the map zoom level.
2. The table will pan and zoom the map and and focus on clicking of the table (but noting #668)

[2018-11-02 02:43] matthewberryman opened #670 "user manual hosted with web pdf viewer"
cc @LucieGueuning - to avoid ability to comment directly as per discussions

[2018-11-02 02:44] #670 closed

[2018-11-02 11:27] LucieGueuning opened #671 "Attachment displayed on notification has been broken"

[2018-11-02 18:59] LucieGueuning commented on #174
See comment in the message up

[2018-11-02 19:01] LucieGueuning commented on #669
I insist because:
- It will remove noisy info for people having their ountry portfolio in MENA and not in Asia (for example).
- It is already the case for Contact and all other data layer. Keep consistency.

[2018-11-02 19:03] LucieGueuning commented on #453
For the last comment: I know, imagine if the hyperlink is to keep and that long, it will be out of the box.

[2018-11-03 05:38] mehrdadgit commented on #453
Gotcha

[2018-11-04 10:53] mehrdadgit commented on #453
Go back button and long-hyperlink-bug fixed; note it is on #174 branch.

[2018-11-04 17:45] anexact commented on #669
Re: @matthewberryman's point: "We don't want people reviewing the list and missing disasters just because of the map zoom level." I think this is very important point, @LucieGueuning any way we can keep the noise down but avoid that risk?

[2018-11-04 22:00] matthewberryman commented on #669
For each of the different instantiations of REACH we could restrict the list to a fixed area relevant for that region (e.g. West Africa).

[2018-11-05 02:17] matthewberryman commented on #637
@LucieGueuning ready for testing in dev

[2018-11-06 02:11] matthewberryman opened #672 "darken X for closing leaflet popups"

[2018-11-06 02:12] matthewberryman opened #673 "OR twitter search terms"
https://github.com/MSFREACH/msf-reach/commit/1aab3ddf5bc8d5a61c42c488bbe2e8b33125e7e2

[2018-11-06 02:28] matthewberryman opened #674 "report marker clustering"

[2018-11-07 19:57] LucieGueuning commented on #453
Thanks Mehrdad. This can go to prod, to be confirmed with Matthew

[2018-11-07 20:01] LucieGueuning commented on #669
Yes, continuing the brainstorming: so that, people could choice which region they want for their profile. We might have people monitoring West Africa and Nairobi from Europe. They would use both regions for RSS feed then?

Please let me know your thoughts on that.

[2018-11-07 20:16] LucieGueuning commented on #637
feedback on design:
![image](https://user-images.githubusercontent.com/25951555/48158282-0a5df100-e2ca-11e8-9991-9ef1e3c470ec.png)

[2018-11-08 01:51] matthewberryman commented on #453
Great, I will move to prod tomorrow (my time) - just a bit busy this afternoon and I need to make sure I get the database changes in correctly for this one.

[2018-11-08 01:52] matthewberryman commented on #453
@mehrdadgit I'll also need to go through and cherry-pick your latest commit over to the issues/453 branch to merge just that (while work proceeds on issues/174 branch).

[2018-11-08 02:04] matthewberryman commented on #637
@LucieGueuning I thought of that but I have added it in the way I did (with CIA & MSF*) on the top level of tabs and then countries on the bottom row as there may be multiple countries (e.g. methanol across Asia) and if I put the countries as additions to the top row of tabs then it will likely force even more wrapping onto the next line and thus take up more screen space than the way I have it no

[2018-11-08 09:48] LucieGueuning commented on #637
Like that, maybe?
![image](https://user-images.githubusercontent.com/25951555/48190790-7593db80-e33b-11e8-8455-40abcda99e7a.png)

[2018-11-08 09:55] matthewberryman commented on #637
But then you're adding another row of tabs that takes up more screen space (and we can't control the CIA content so need to allow as much space as we can for that).

[2018-11-08 22:19] #453 closed

[2018-11-11 03:33] matthewberryman opened #677 "severity slider issues"
Various bugs in set up and handling of sliders. Most now fixed (commit to come soon) with exception of the following (@mehrdadgit can you please have a look asap):
On addition of the first area to a new event, the slider in editing doesn't show up until save and then re-edit.

[2018-11-11 04:04] matthewberryman commented on #272
@LucieGueuning ready for testing in dev

[2018-11-11 05:16] mehrdadgit commented on #174
Sending invite-to-subscribe emails now done; supporting sending invitation to multiple users.
 Note @matthewberryman I tested with mock AD user data and it worked fine :) please test with real AD logins and let me know if any issue.

[2018-11-11 05:55] mehrdadgit commented on #668
Done in the branch issues/174

[2018-11-11 05:59] mehrdadgit commented on #677
on it

[2018-11-11 07:59] mehrdadgit commented on #677
A fix is done on issues/174branch.

Some observations after spending  around 2 hrs on this:

* if `metadata.severity_measures` are per area why do we have 2 separate arrays and do the complicated work of syncing `metadata.areas` and `metadata.severity_measures`. Severity info could go inside area..
* Going forward we can avoid jquery ui silder and use the basic `input type="range"` and apply some

[2018-11-11 23:53] matthewberryman commented on #677
Yes, agreed.

The trouble is you can't do this in a cross-platform way easily, see https://www.hongkiat.com/blog/html5-range-slider-style/ for one of the issues (there were others I found...)

[2018-11-11 23:53] #677 closed

[2018-11-12 02:29] matthewberryman commented on #198
@LucieGueuning ready for testing in dev

[2018-11-12 02:30] matthewberryman commented on #673
@LucieGueuning please check latest work in test

[2018-11-12 02:41] matthewberryman commented on #653
@LucieGueuning operator field done (supersedes previous request in 2b) - please review in test environment. Note that operator is set automatically on event creation.

[2018-11-13 05:28] matthewberryman commented on #409
Also public ones per discussion with @LucieGueuning

[2018-11-13 11:16] mehrdadgit commented on #409
Done together with #473 and in branch issues/473

[2018-11-13 17:46] LucieGueuning commented on #637
Please make sure you are sharing with @qclin that the current interface is working well. The idea is the screenshot template above. Please confirm

[2018-11-13 18:03] LucieGueuning commented on #432
Not working. Viewers can create event or edit anything on the platform at the moment. There is no restrictions for them anymore. This is a real issue.

[2018-11-13 18:15] LucieGueuning commented on #174
1. ![image](https://user-images.githubusercontent.com/25951555/48433611-6cf23980-e76f-11e8-872c-aa0525f0d853.png)
![image](https://user-images.githubusercontent.com/25951555/48433623-77acce80-e76f-11e8-8ee1-eaff2117acb0.png)

- we didn't receive email for invitation
- we don't want to send email to invite, but we want to add subscribers to the list on the left.

2. Not name yet, still email addres

[2018-11-13 18:19] LucieGueuning commented on #272
1. why is it in the event creation? Under monitoring, there is no 'Project Code' yet open.
2. Please follow the shared file in drive (depending on status)
3. not visible on event map modal
4. there is no sentence if no project code

Please follow the requirements above

[2018-11-13 18:32] LucieGueuning commented on #653
What do you mean operator field done?

Please follow the shared file in drive for field definition

[2018-11-13 18:44] LucieGueuning commented on #409
public ones only able to be deleted by operators.

[2018-11-13 18:51] matthewberryman commented on #198
I’ll add opened as well; in that case the date is filtered by the separate creation date.
In the Interim can you please test the rest of the functionality.

Sent from my iPhone

On 14 Nov 2018, at 05:27, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

[image]<https://user-images.githubusercontent.com/25951555/48434466-ac218a00-e771-11e8-9833-de1fae62b578.png>

[i

[2018-11-13 18:53] matthewberryman commented on #272
I’ll review all items but not for map pop up the code here is to only display a code if there is one as the map pop ups are fairly space constrained.

Sent from my iPhone

On 14 Nov 2018, at 05:19, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

  1.  why is it in the event creation? Under monitoring, there is no 'Project Code' yet open.
  2.  Please follow the s

[2018-11-13 18:55] matthewberryman commented on #174
“

  *   we don't want to send email to invite, but we want to add subscribers to the list on the left.”

As I have indicated several times in discussions and on my latest email we will not be implementing it the way you want as it breaks double opt in best practice, so will remain as is.

We’ll review the rest.

Sent from my iPhone

On 14 Nov 2018, at 05:15, Lucie Gueuning <notifications@github.c

[2018-11-13 19:00] matthewberryman commented on #432
On test or prod? And, if prod, is it actually letting a viewer create an event or just not flagging the warning (what this actual issue is about)

There are some restrictions I removed on test account on test environment only due to limitations coming from the AD side out of my control.

Are the messages about no operator access showing up for you?

Sent from my iPhone

On 14 Nov 2018, at 05:03, L

[2018-11-13 19:04] LucieGueuning commented on #432
*   This is on test as I don’t want to test to create event from viewer account and that could work on prod.
  *   In test, it is actually letting the viewer create an event.
  *   The message is not showing up for me as I am operator. The problem is that for viewer, in test site, the message for no operator access, is not showing up neither.

From: Matthew Berryman <notifications@github.com>
Sent

[2018-11-13 19:04] matthewberryman commented on #653
There are now two fields per comment above:
“1) mission contact person, and (2) REACH operator.”

Sent from my iPhone

On 14 Nov 2018, at 05:32, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

What do you mean operator field done?

Please follow the shared file in drive for field definition

—
You are receiving this because you commented.
Reply to this email dire

[2018-11-13 19:06] matthewberryman commented on #432
Yes not showing up for test account on test, because I needed to make that change on test, test has write access for test user on test environment only, so the message doesn’t show up there, so please test using test account on prod environment.

Sent from my iPhone

On 14 Nov 2018, at 06:04, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

* This is on test as I

[2018-11-13 19:08] matthewberryman commented on #409
Yes had communicated that to @mehrdadgit separately in discussions. I will review this code and merge into dev later today.

Sent from my iPhone

On 14 Nov 2018, at 05:44, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

public ones only able to be deleted by operators.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on G

[2018-11-13 19:10] LucieGueuning commented on #653
Please follow the file and not comments above. The file shared that I never stop referring to is the right reference one!

From: Matthew Berryman <notifications@github.com>
Sent: 13 November 2018 19:04
To: MSFREACH/msf-reach <msf-reach@noreply.github.com>
Cc: Lucie Gueuning <lucie.gueuning@hongkong.msf.org>; Mention <mention@noreply.github.com>
Subject: Re: [MSFREACH/msf-reach] field changes (#653

[2018-11-13 23:39] matthewberryman commented on #556
dupe of #527

[2018-11-13 23:39] #556 closed

[2018-11-13 23:40] matthewberryman commented on #527
bug reported during development https://github.com/MSFREACH/msf-reach/issues/198#issuecomment-438383643

[2018-11-14 00:42] matthewberryman commented on #174
This should now be fixed. If not, I have added some extra logging to help me debug my end (since I can't test directly).

won't implement, breaks double opt in

Fixed this display side. I'd like to do a deeper fix in extension but this should suffice for now and I have tested.

[2018-11-14 01:31] matthewberryman commented on #272
Removed from event creation

Fixed.

Per above, because the landing map event popups are space constrained, from a UX perspective I think best just to omit it if not set. Or if you do want to always have it in the pop up, come up with something suggested than the suggested text (which is fine on events page but not for map pop up on landing).

Fixed

[2018-11-14 01:38] matthewberryman commented on #432
@LucieGueuning, to clarify:
* The test account is an operator on test environment (so I can test things).
* To test the message using the test account you must use the test account on the prod environment, where test is not an operator, only a viewer. I have confirmed—by double checking the code and configuration that remain unchanged for that aspect, and testing on prod, being ready to delete the

[2018-11-14 01:42] matthewberryman opened #679 "slider (with graph)"
https://github.com/MSFREACH/msf-reach/issues/527#issuecomment-438382882

I would suggest that we do keep a graph, and make this a graph of number of events per time?

[2018-11-14 01:43] matthewberryman commented on #527
@LucieGueuning ready for re-test. I've gone with two date choosers rather than a slider for now, taking on note as issue https://github.com/MSFREACH/msf-reach/issues/679 for UX improvement by way of slider.

[2018-11-14 01:57] matthewberryman commented on #653
Ok, can I suggest you keep consistency with the spreadsheet in future to minimise any errors.

I have updated the wording to be "REACH Operator" per the spreadsheet but can you please double check that as I thought we were using "MSF REACH" not "REACH" consistently per other discussions?

[2018-11-14 02:11] matthewberryman commented on #473
@LucieGueuning ready for test in dev / test.

[2018-11-14 02:20] matthewberryman commented on #432
Update: to test #409 deletion of public contacts by operators, I have temporarily removed test account as an operator on test environment, but your usual MSF account should still be an operator on test environment.  That will also help testing on this issue as you can (until further notice) use test account on test to check this one.

[2018-11-14 11:33] LucieGueuning commented on #653
You are right for consistency but I won't changing the wording again (for you to continue working on other deliverables). REACH operator is acceptable. For that specific operator field one: that's all good and working well. only order that is not followed but I guess it's coming with the field of info cleaned up.

Please follow carefully all the wordings and order for each field of information int

[2018-11-14 12:31] LucieGueuning commented on #673
FEEDBACK:
1. So you can keep the initial version from UK digital team, as below. Area 1 and Area 2 or even Country 3 can stay in the same level of OR. Working well for the case of methanol poisoning that we are monitoring for the whole region on a daily basis. Thanks for adding the 'since:date', very relevant.

also, if the location is 'unknown', we should remove it from the search otherwise, noth

[2018-11-14 13:52] LucieGueuning commented on #174
1. Now, I don't have suggestions from Address book coming in:
![image](https://user-images.githubusercontent.com/25951555/48486815-72ee2600-e814-11e8-92c8-9bf254b415a8.png)
Also, note that you can test with the REACH test log in in the test environnement.

2. ok

3. well noted for deeper fix. Thanks for sharing and your transparency.

[2018-11-14 13:59] LucieGueuning commented on #272
All good. Perfect. Thanks!

Note that 'Project code' is coming only once we moved from explo to intervention.

[2018-11-14 14:11] LucieGueuning commented on #399
tested and here is my feedback:
1. take some time to suggest name from MSF address book. Any solution easy to make it faster, or maybe any tweaks or bugs fix in the code for speeding up the suggestions?
2. We should have a proper button to press for sharing. One more step and not only selecting the person from suggestion that makes the sharing happening.
![image](https://user-images.githubusercont

[2018-11-14 14:30] LucieGueuning commented on #432
feedback:
- great solution :)
- second red sentence to update: To get operator permission, please contact us (hyperlink to my email address). This is to keep consistency with the sentence once you want to create an event and the system doesn't allow you.
- also having that red sentences for any features for edit access. For example, the edition of an event, confirming/unconfirming/ignoring reports

[2018-11-14 14:40] LucieGueuning commented on #198
- same issue than above: no result for something that is existing. I think the issue is the keywords and not the date filtering. Need to search in other field, in addition to the name field. Type field should also be searchable. this is the reason conflict doesn't show up. It is because there no word conflict in the name.

![image](https://user-images.githubusercontent.com/25951555/48489440-fc085b

[2018-11-14 14:46] LucieGueuning commented on #679
yes, that sounds great! :) I didn't know if that would be feasible though

[2018-11-14 14:47] LucieGueuning commented on #527
All good. Can be merged! :) Thanks for the date choosers. Let's see for sliders in a later stage (UX improvements)

[2018-11-14 14:53] LucieGueuning commented on #437
feedback from Hong Kong: We are new to GDRP and I have gone through the same seminar session as you can see in the video only. We believe we can ask UserGroup / Across the Cloud Pty Lid for their advice on how to process the personal information for GDPR as they have decades of experiences. And see what they have completed for GDRP related area.

So Matthew, I let the responsability to you for the

[2018-11-14 17:01] LucieGueuning commented on #409
Great. Work perfectly. As mentioned in #432, having the red sentences before for viewers so that they won't try as they know they don't have the ability to do it; same for deletion of event.

Either, having the red sentences at the top for every features, or the best won't be: to not have the red cross or the delete contact button if you are a viewer:
![image](https://user-images.githubusercontent

[2018-11-14 17:17] matthewberryman commented on #174
Re 1.: Are you logged in as test user or yourself? Test user doesn’t have permissions on AD server to do this search of directory. If you’re logged in as yourself and still have this issue then something likely got broken when I did a code merge of dev in and I will check in the morning my time.

Sent from my iPhone

On 15 Nov 2018, at 00:53, Lucie Gueuning <notifications@github.com<mailto:notific

[2018-11-14 17:17] LucieGueuning commented on #473
Great work. Please merge to prod and let Fei knows about it asap, so that she can delete Mission History from the database. Thanks!

[2018-11-14 17:21] matthewberryman commented on #409
@mehrdadgit
We could just fiddle with css to hide the delete buttons based on the permissions check API I wrote for #432 (under /utils API).

Sent from my iPhone

On 15 Nov 2018, at 04:01, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

Great. Work perfectly. As mentioned in #432<https://github.com/MSFREACH/msf-reach/issues/432>, having the red sentences before f

[2018-11-14 17:29] matthewberryman commented on #198
[image1.png]

I had type(s) and subtype(s) in the code already. I will double check what is going on in the morning.

Sent from my iPhone

On 15 Nov 2018, at 01:40, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

  *   same issue than above: no result for something that is existing. I think the issue is the keywords and not the date filtering. Need to search in o

[2018-11-14 17:41] LucieGueuning commented on #174
For viewer, instead of waiting for results, as it seems to be coming up soon as there is the load icon turning, please add the red sentences for viewers.

For operators,
1. possible to have the list of people having received an invitation to subscribe to an event?

2. Having the double confirmation, as you were about to delete something, to ask people to subscribe to an event: You are about to sen

[2018-11-14 18:18] LucieGueuning commented on #537
ongoing as per deliverables

[2018-11-14 23:16] mehrdadgit commented on #473
Sure @matthewberryman will have a go tonight. Just noting that, only for `mission` API, all update endpoints were already `ensureAuthenticated` meaning any user can update; so I did the same for delete. Should I change  both update and delete to `ensureAuthenticatedWrite` or leave as is?

[2018-11-14 23:20] matthewberryman commented on #473
Yes missions should be ensureAuthenticatedWrite - I will update the API today, and also at top of mission modal and top of event editing tab on events page add some text per #432.

If you could remove the delete buttons tonight that would be great.

I will do this in dev and merge to issues/174 and could you please do the same.

[2018-11-15 02:53] matthewberryman commented on #198
@LucieGueuning there were some cases where type wasn't being searched properly due to previous changes in fields. Now fixed.

[2018-11-15 03:31] matthewberryman commented on #399
1. Not really as far as I can see, limited by latency and also search time from AD server.
2. @mehrdadgit can you please take a look at this one.
3. great.
4. I think I've resolved this by updating the templating method used for this (based on one example in our code that is working). Please test.
5. Correct, have adjusted this.

[2018-11-15 08:00] matthewberryman commented on #399
@mehrdadgit thanks, I just merged to issues/174 branch

[2018-11-15 08:44] matthewberryman commented on #174
@mehrdadgit since there are now only manual emails (via "send an update" button) let's go with direct subscription of another user (via a chooser like for private contact sharing with button) rather than sending an invite. We can revisit double opt in if we later move back to having automated update emails. That said, keep the current subscribe button (but I guess name that one "subscribe yourself

[2018-11-15 11:55] mehrdadgit commented on #409
Done @matthewberryman

[2018-11-15 15:21] LucieGueuning commented on #399
as requested, during our call:
- button 'Share' tested and working well
- email received with the hyperlink, perfect
- one bug though:
![image](https://user-images.githubusercontent.com/25951555/48562415-0e9d9600-e8ea-11e8-9909-6daeac419767.png)

[2018-11-15 21:46] matthewberryman commented on #603
@qclin

[2018-11-15 21:47] matthewberryman commented on #603
This got lost in some other changes and needs to be put back in.

[2018-11-15 21:48] matthewberryman commented on #469
@qclin please allow editing location for missions. For events, we now have sub-areas and auto-extents of map based on reports.

[2018-11-15 22:14] matthewberryman commented on #174
the subscribe others button and email subscribers for updates button should be only viewable & usable if user has operator access #432
but the subscribe yourself button should be viewable (and usable) by anyone

[2018-11-15 22:16] matthewberryman opened #680 "possible to zoom out too far on map"
Results in lat,lng bounds being out of range resulting in broken API calls.
![48562415-0e9d9600-e8ea-11e8-9909-6daeac419767](https://user-images.githubusercontent.com/2288238/48585249-2fb0c600-e980-11e8-87cc-b7644f16e79e.png)

[2018-11-15 22:16] matthewberryman commented on #399
bug is separate issue, see https://github.com/MSFREACH/msf-reach/issues/680

[2018-11-15 22:44] matthewberryman commented on #454
@LucieGueuning ready to test the link. My test account only has access to the MSF REACH part of SharePoint, if you want to be able to search everything in SharePoint you will need to click on everything and email me back the URL
<img width="479" alt="screenshot 2018-11-16 09 43 27" src="https://user-images.githubusercontent.com/2288238/48586489-36413c80-e984-11e8-9ca8-769b25463a43.png">

[2018-11-15 22:47] matthewberryman commented on #673
@LucieGueuning I've fixed up unknown/empty bracket cases.
I've also fixed an extra open bracket bracket before the location set. Note that
"Nghe An OR Vietnam" comes from the "area (province) OR country" as requested. Extra matched brackets are there so if there's more than one region it behaves properly, in the case of one region it will still work.

[2018-11-15 22:57] matthewberryman commented on #633
Re-opening to track display of mission end, if present, otherwise close date, properly in table.

[2018-11-15 23:39] matthewberryman commented on #673
@LucieGueuning my previous work fixing unknown/empty bracket cases had broken code syntax, just deploying a proper fix now.

[2018-11-15 23:42] matthewberryman commented on #633
@LucieGueuning ready for review in test environment

[2018-11-16 11:09] LucieGueuning commented on #633
wording should be (for consistency):
- End date of MSF response
- Closure Date of event

[2018-11-18 07:48] mehrdadgit commented on #603
Hi @matthewberryman @qclin
With the current way of handling events and missions this is a bit tricky; so in order to this as properly as possible, some points to consider are as follows.

Current state:
*  when an event is updated (` PUT api/events/:id` ) if `req.body.status === 'inactive'` a _new mission_ is created  and the event metadata is copied to the mission properties.
* This newly created

[2018-11-18 07:53] mehrdadgit commented on #174
Ok @matthewberryman I will take care of this.

[2018-11-18 23:13] matthewberryman commented on #603
@mehrdadgit Thing is there are a lot of missions now in prod, and (2) tracking event_id is what I had in mind for this.

[2018-11-18 23:15] matthewberryman commented on #603
But for (2), can we not copy JSON properties/metadata back over? That helps ensure consistency. Although if problematic it's not too huge an issue, as this is mostly for accidental closure so there shouldn't be too much of a gap.

[2018-11-18 23:46] mehrdadgit commented on #603
ok @matthewberryman how do we deal with finding the event id of currently stored missions in DB ?

[2018-11-18 23:46] matthewberryman commented on #603
@mehrdadgit I'm not worried about those (I can manually find and reopen and copy if necessary in those cases)

[2018-11-19 07:12] matthewberryman commented on #454
Feedback from @LucieGueuning: In term of UX, it is not super easy to find, not super intuitive and co-related to Twitter as it is internal search and not info from the public. I guess, it will be part of the revamp work package 1 from @qclin and Paul. They will think of a better room for the SharePoint search. Also, They are working on a search for every data from REACH on landing page. Should we

[2018-11-19 14:52] LucieGueuning commented on #360
@qclin, does that bug will be covered by one or another work package or should be addressed now?

BUG:
icons not loading. This is feedback from users in the platform
![image](https://user-images.githubusercontent.com/25951555/48714401-921cf700-ec0a-11e8-8910-df070db00708.png)

Icons is as undefined:
![image](https://user-images.githubusercontent.com/25951555/48714441-a52fc700-ec0a-11e8-9436-fe9bee

[2018-11-30 14:17] mehrdadgit commented on #603
Done on issues/174 branch needs operator with write permission for testing.

[2018-11-30 14:18] mehrdadgit commented on #174
Done on issues/174 branch needs operator with write permission for testing.

[2018-11-30 14:18] mehrdadgit commented on #469
Done for missions on issues/174 branch needs operator with write permission for testing.

[2018-11-30 14:20] mehrdadgit commented on #197
Done on landing page contacts modal and in issues/174 branch; needs operator with write permission for testing.

[2018-12-02 22:09] matthewberryman commented on #192
Can you use a cookie (note we're using [js-cookie](https://github.com/js-cookie/js-cookie)) so that once toggled off it will stay off over page reload (or load of map on different page).

[2018-12-02 23:44] matthewberryman commented on #437
@mehrdadgit can you please work on modal. I will work on wording.

[2018-12-03 04:55] #198 closed

[2018-12-03 04:55] #409 closed

[2018-12-03 04:55] #667 closed

[2018-12-03 04:55] #668 closed

[2018-12-03 04:55] #174 closed

[2018-12-03 04:55] #399 closed

[2018-12-03 04:55] #603 closed

[2018-12-03 04:55] #441 closed

[2018-12-03 05:12] #473 closed

[2018-12-03 05:12] matthewberryman commented on #611
fixed in upstream server

[2018-12-03 05:12] #611 closed

[2018-12-03 05:12] #181 closed

[2018-12-03 05:13] #197 closed

[2018-12-03 05:29] #192 closed

[2018-12-03 18:52] #658 closed

[2018-12-03 18:54] LucieGueuning opened #683 "pop error message"
![image](https://user-images.githubusercontent.com/25951555/49394819-c0cbbf00-f72c-11e8-97a8-d5f6dc402a6d.png)

Pop up coming 5 times when opening REACH on landing page or event page. Edge browser

[2018-12-03 20:06] matthewberryman commented on #594
Because the script from MS only supports many->one person, decision was taken to remove this.

[2018-12-03 20:13] matthewberryman commented on #655
Fixed https://www.dropbox.com/s/nlsq3vxdww173rw/cursor%20bug.mov?dl=0

[2018-12-03 20:13] #655 closed

[2018-12-03 20:14] matthewberryman commented on #592
<img width="531" alt="screenshot 2018-12-04 07 14 19" src="https://user-images.githubusercontent.com/2288238/49399034-4040a900-f794-11e8-938f-c84a6c243fb9.png">

[2018-12-03 20:14] #592 closed

[2018-12-03 20:32] matthewberryman commented on #683
duplicate of https://github.com/MSFREACH/msf-reach/issues/571

[2018-12-03 20:32] #683 closed

[2018-12-03 20:33] #594 closed

[2018-12-03 20:33] #671 closed

[2018-12-03 20:38] matthewberryman opened #684 "contact type bug"
![messages image 4257192926](https://user-images.githubusercontent.com/2288238/49400149-80edf180-f797-11e8-8e98-3acb10df66cf.jpg)

[2018-12-03 20:39] #684 closed

[2018-12-03 20:39] #660 closed

[2018-12-03 20:48] matthewberryman commented on #116
Two remaining issues:
1. country row column not removed (noting that country field not displayed for items) in order to avoid wrapping
2. on tablet, selection field not wide enough.
![img_0108](https://user-images.githubusercontent.com/2288238/49400616-e098cc80-f798-11e8-9762-a591713b791c.jpg)

[2018-12-03 21:02] #116 closed

[2018-12-03 21:07] matthewberryman commented on #643
this is called from logout handler so suffices to simply check for undefined first and ignore if that's the case

[2018-12-03 21:10] #643 closed

[2018-12-03 21:11] matthewberryman commented on #680
dupe of #571

[2018-12-03 21:16] matthewberryman commented on #633
wording changes made in 212ef98

[2018-12-03 21:16] #633 closed

[2018-12-03 21:49] matthewberryman commented on #571
fixed with https://github.com/MSFREACH/msf-reach/commit/aa2fb1a3a1bb491a81768c144bfc0e0ed62c3cfa 54579a5

[2018-12-03 21:56] matthewberryman commented on #585
tested in copy of prod database on localhost for lombok earthquake and other old events - all working fine (screenshot not shown as has private data)

[2018-12-03 21:56] #585 closed

[2018-12-03 22:19] #241 closed

[2018-12-04 23:59] matthewberryman opened #685 "reports table sharing links not copied to clipboard"
Ones in popup are working ok but those in the table are sometimes not working.

[2018-12-05 00:48] matthewberryman commented on #428
Office 365 is closed source product so we can't copy UI

[2018-12-05 00:48] #428 closed

[2018-12-05 04:40] matthewberryman commented on #658
@LucieGueuning and I had a look together on her computer and could no longer reproduce the bug, hence closure

[2018-12-05 12:42] mehrdadgit commented on #664
Done @matthewberryman note since type is not part of `metadata` for event and hence was not being copied over to the missions.properties; I am backfilling it in https://github.com/MSFREACH/msf-reach/commit/2c839902d3099fce5dc3dd684777b3925479365b as `event_type` in missions.properties

[2018-12-05 17:32] LucieGueuning commented on #571
![image](https://user-images.githubusercontent.com/25951555/49532152-cbfd2700-f8b3-11e8-9aa5-920957d5b802.png)

[2018-12-05 17:34] LucieGueuning commented on #680
![image](https://user-images.githubusercontent.com/25951555/49532226-f51db780-f8b3-11e8-9064-fc01d9531f5c.png)
Still the case

[2018-12-05 22:38] matthewberryman commented on #680
Duplicate of #571

[2018-12-05 22:38] #680 closed

[2018-12-05 22:38] matthewberryman commented on #680
@LucieGueuning this is the same issue as #571 - please continue discussion on that thread.

[2018-12-05 22:50] matthewberryman commented on #571
@LucieGueuning I have repeatedly tested on Chrome and cannot reproduce this issue on zooming out, noting that we start with a sensible default zoom and also preserve the current zoom level and location across page loads.
<img width="385" alt="screenshot 2018-12-06 09 46 00" src="https://user-images.githubusercontent.com/2288238/49549117-e975d380-f93b-11e8-8147-727a5099b19b.png">

Can you please re

[2018-12-06 11:48] LucieGueuning commented on #571
![image](https://user-images.githubusercontent.com/25951555/49582385-c7388180-f94c-11e8-93dc-7f41804a81f1.png)
Cache cleared. Map zoom out still too far.

[2018-12-06 20:03] #571 closed

[2018-12-06 20:03] #664 closed

[2018-12-06 20:05] matthewberryman commented on #571
@LucieGueuning from your screenshot I can see the lngmin/lngmax contact (popup warning) aspect is resolved following your cache clear, and it seems as if the remaining aspect is just that you'd like the ability to restrict the zoom? I am just deploying a fix for that now to all environments.

[2018-12-10 04:09] matthewberryman opened #686 "subscription failure on prod"
Reported via @LucieGueuning
<img width="477" alt="screenshot 2018-12-10 15 10 47" src="https://user-images.githubusercontent.com/2288238/49710485-c7f34f80-fc8d-11e8-84d8-dcf47f4b1484.png">

[2018-12-10 04:12] matthewberryman commented on #686
Seems the schema was a little out of date, I updated it and tested it and subscribed and unsubscribed myself:
<img width="957" alt="screenshot 2018-12-10 15 09 02" src="https://user-images.githubusercontent.com/2288238/49710494-d7729880-fc8d-11e8-9971-9c1e112a444a.png">
<img width="953" alt="screenshot 2018-12-10 15 09 12" src="https://user-images.githubusercontent.com/2288238/49710503-e22d2d80-fc

[2018-12-10 04:12] #686 closed

[2018-12-10 05:00] matthewberryman opened #687 "update msf presence layer"
This has a new url received via email. @LucieGueuning I will update this tomorrow.

[2018-12-10 05:40] matthewberryman commented on #224
IE soon to no longer be supported. Edge moving to Chromium.

[2018-12-10 05:40] #224 closed

[2018-12-12 01:54] matthewberryman commented on #687
As well as the url changing, the field names have also been changed by GIS unit.

[2018-12-12 02:30] matthewberryman commented on #687
Fixed

[2018-12-12 02:30] #687 closed

[2019-01-02 01:14] matthewberryman opened #688 "cognito - no authenticated user"
https://github.com/MSFREACH/msf-reach/commit/0a5579b8e4eb5f86e178713a5e41d1a259600b6c fixes the bug in the error handling at least, but the error is still there, namely https://github.com/MSFREACH/msf-reach/blob/0a5579b8e4eb5f86e178713a5e41d1a259600b6c/app/src/store/auth.module.js#L90 is throwing "not authenticated". I don't see how your use of auth.module in https://github.com/MSFREACH/msf-reach/

[2019-01-09 14:44] qclin commented on #688
resolved, when public key was shared by matthew.
no longer use cookies to store tokens on client browser. front-ends sends token via Authorized header per request

https://github.com/MSFREACH/msf-reach/commit/bd60ffae44176bcccf9e13995a2a34c438486f02

[2019-01-09 14:45] #688 closed

[2019-02-07 04:12] matthewberryman opened #689 "update mapbox key and terrain style url in ux/navigation"

[2019-02-07 21:51] #689 closed, assigned to matthewberryman, qclin

[2019-02-15 02:24] qclin opened #690 "uploads not working"
Download URL request generated in the backend
https://github.com/MSFREACH/msf-reach/blob/ux/navigation/src/api/routes/utils/index.js#L60

Download Okay but rendering in the browser doesn't work
https://github.com/MSFREACH/msf-reach/blob/ux/navigation/app/src/components/CountryDetails.vue#L73

To test
Login to UX site as matthewberryman
Under Event Detail  > Country Details (expand on of the sectio

[2019-02-15 02:29] matthewberryman commented on #690
At first glance at the code it seems it's as I thought in that the template gets rendered first (when downloadUrl isn't set), but @mehrdadgit knows his way around vue.js much better than me.

[2019-02-15 03:53] mehrdadgit commented on #690
Had a look; my best guess is that the signed download is fine but signed upload is not working properly;
To verify can somebody check the S3 bucket manually to see if e.g. this file is properly uploaded:
`msf-reach-file-uploads.s3.ap-southeast-1.amazonaws.com/countryDetails/PH/mission/f417d053-2876-4663-b03c-9ebb6b436e72_logo.png`
(making sure you can see the photo when you download it manually fr

[2019-02-15 05:36] matthewberryman commented on #690
@qclin, @mehrdadgit is correct, the upload process is broken—you're sending `[object File]` not the file itself. Additionally you probably want to wait for all files to finish uploading before calling `save()` rather than calling it for each one.

[2019-02-18 13:32] qclin commented on #690
@mehrdadgit  thanks, i switch the call to ajax and it works now to upload file.
Still have a bug with different file types

pdf & jpegs renders okay with the signedURL

but for the following file types it's still returning ACCESS DENIED
png, doc, excel

can you take a look under
events/257/notifications

[2019-02-18 13:56] qclin commented on #690
@matthewberryman @mehrdadgit  thanks
i reverted back to ajax for uploading, axios seem to send double request with [object: file]

it works now, but for file names with spaces, s3 is still returning Access denied, will close this once that's resolved

[2019-02-18 14:07] qclin commented on #690
resolve in 90aad8a2502de1cb6279817c27b4070ed18040da

[2019-02-18 14:07] #690 closed, assigned to mehrdadgit, qclin