[2018-03-01 16:42] LucieGueuning opened #292 "Search box for table (contacts, missions, etc.) and search box for location (validated by Google Map) on every map on REACH"

[2018-03-01 17:04] LucieGueuning opened #293 "On event page, add one tab with Ongoing MSF Projects/Missions"
As we will have the Ongoing MSF Projects on the map (as per #288)

On event page, add one tab with the table 'Ongoing MSF Projects/Missions' of the whole country where the event is happening (even thought it is not close to it).

e.g: event in Bali, should have under this tab 'Ongoing MSF Projects', the project in Jakarta and others in Indonesia (ongoing MSF Activities).

[2018-03-01 17:06] LucieGueuning opened #294 "'mission' tab on event page should be 'Mission History' tab - spelling changes"

[2018-03-01 17:40] LucieGueuning opened #295 "Add one more tab on event page named 'Country Details' + use CIA info"
Nothing to be display under this one for now. Only to show that we have considered their requirements (part of the ethnography outcomes).

[2018-03-01 17:40] LucieGueuning commented on #60
**1. first table of the current view with the following information (coming from the creation of the event)**
Name
Country (auto)
Status: Need to be the event status, no need to have 'active'
Type
Event Date and Time:
Latest notification
Severity
Security
Person in charge
SharePoint link

Opened
    Date
    Time
Last updated
Event link
Report link
Creator

**Response [Tab collapse as default]**
P

[2018-03-01 17:44] LucieGueuning commented on #60
So all info on the window for edition need to be displayed on the event page as collapse tab

[2018-03-01 17:45] LucieGueuning opened #296 "Possibility of upload pictures when creation of event and display of these"
(for part 2)

[2018-03-01 17:46] LucieGueuning opened #297 "Possibility of tag people when creation of event"
that will notify them by email.
Linked to #57

(for part 2)

[2018-03-01 17:48] LucieGueuning opened #298 "Possibility to add location (provinces) as free text box validated by google map to add more regions impacted by the disaster."
cf. mail of Natasha when she describe the numerous provinces affected by Thypon Tembin (not only one epicentre)

[2018-03-01 17:48] LucieGueuning opened #299 "Facebook feed to add on event page"
(for part 2)

[2018-03-01 17:49] LucieGueuning opened #300 "Share button for event link and report link"
having the icons to share by opening the right platform with the link in the clipboard.

(for part 2)

[2018-03-01 17:53] LucieGueuning opened #301 "Editing of field on event page"
New ideas: more straight forward for users.

Having for each tab collapse on event page, a button to edit specifically the field. Cf. picture below
![image](https://user-images.githubusercontent.com/25951555/36860557-7d242586-1d79-11e8-8049-a8efbba1cfac.png)

And it will solve a lot of issue of the edition part (popup window)

[2018-03-01 18:12] LucieGueuning opened #302 "VERY IMPORTANT input coordinates when creating event"
Comment from Natasha: I tried to input coordinates when determining the location of an event, but it wouldn’t work.  That would be useful for earthquakes, because they happen in a specific area.

[2018-03-01 18:50] talltom commented on #218
Changed on dev in https://github.com/MSFREACH/msf-reach/commit/25c61940fb419fbe2ca02d2add01b4502f34ca22#diff-eabe09eebaa6798e75deef68820e6e38

[2018-03-01 18:50] #218 closed

[2018-03-01 19:53] talltom commented on #197
Delete endpoint now operational (authenticated endpoint). Changes made to `contacts` branch which is up to date with `dev`.

See dbd6364420a656081d0f33dab16b28a2128763d9

[2018-03-01 23:36] matthewberryman commented on #60
@mehrdadgit please review https://github.com/MSFREACH/msf-reach/issues/60#issuecomment-369670636 and also work on https://github.com/MSFREACH/msf-reach/issues/301

[2018-03-02 02:04] matthewberryman commented on #30
@LucieGueuning just flagging that there are a couple of options for time input, one with selectors:
<img width="244" alt="screenshot 2018-03-02 13 01 46" src="https://user-images.githubusercontent.com/2288238/36879909-14fab1ae-1e1a-11e8-8794-5c8232e5599f.png">
Or the sliders that I went with as the selector lists can be unwieldy, especially on mobile, due to their length,:
<img width="247" alt="sc

[2018-03-02 05:43] matthewberryman commented on #30
@LucieGueuning I did a fair amount of work on this today, Devika will be looking at the second bullet point (around check boxes plus display of types and subtypes) and other issues starting Monday.

[2018-03-02 06:06] matthewberryman commented on #89
@LucieGueuning this is what I have now with a change I made (sorry if it's not quite right - the combination of your comments is a little bit unclear to me):
If the event has a name, then the search terms are name and country. (In testing I found that adding the country helps a lot).
If the event doesn't have a name, then the search terms are type + sub_type (if there's a sub_type) bearing in mind

[2018-03-02 16:04] LucieGueuning commented on #267
Still under review for content

Need to be under a little 'i' info clickable (phone and desktop version) as below:
https://www.iconfinder.com/icons/339913/help_info_information_notice_icon#size=128

Devika confirmed for design?

[2018-03-02 23:22] matthewberryman commented on #263
@LucieGueuning  I've not heard anything back from Natasha since changing this and informing of her via email. When did she report this: https://github.com/MSFREACH/IMPROVEMENT-FEEDBACK/issues/1#issuecomment-369679469 ?

[2018-03-02 23:22] matthewberryman commented on #302
@mehrdadgit I had a look at the Google Autocomplete box and API and it doesn't support entry of lat-lon so you will need to add an extra box for this.

[2018-03-02 23:32] matthewberryman commented on #280
@LucieGueuning This is working in dev; it's not showing in prod as I haven't configured prod yet as I am awaiting a response from you on https://github.com/MSFREACH/msf-reach/issues/195#issuecomment-365815489

[2018-03-02 23:32] #280 closed

[2018-03-03 00:00] matthewberryman commented on #295
@LucieGueuning I have added this tab, if you're happy with the tab name and placeholder text then update milestone to 2a.2 otherwise let me know what to change it to and I will update and then update milestone for the rest.

[2018-03-03 01:16] matthewberryman commented on #296
Proposed display on event page under main section and also on event popup on landing page. (@LucieGueuning @anexact please comment on that for me to implement)

[2018-03-03 01:19] matthewberryman commented on #284
Yes please give feedback based on dev, which is the most up-to-date. I will be doing another merge on Sunday and trying to merge at least once / day—I am a little behind as I was focussing on fixing a lot of issues first on Wednesday-Friday for your review, and then I will review this weekend.

[2018-03-04 03:28] matthewberryman commented on #280
Just to be clear, I've had the code deployed to prod (I'm not that behind on merges), just need to flick the configuration switch.

[2018-03-04 08:38] matthewberryman commented on #293
@LucieGueuning this depends on geocoding so needs your response on the other thread.
@talltom the API will need an update to search by event metadata.country

[2018-03-05 03:21] #265 closed

[2018-03-05 03:21] #289 closed

[2018-03-05 03:21] #290 closed

[2018-03-05 04:16] matthewberryman commented on #275
@LucieGueuning that wasn't bringing up many tweets, so I reverted to the old way (which still gives some priority to tweets from more popular tweeters)

[2018-03-05 06:04] matthewberryman commented on #32
Language translation is now done (possibly has a few bugs around missing translations but generally seems to work). It's impossible to automatically translate based on country as some countries have more than one language but I will work on a recommendation system tomorrow based on country.

[2018-03-05 10:01] LucieGueuning commented on #32
Great! To be presented to the sponsors on 19th of March (as a great asset)

[2018-03-06 02:39] matthewberryman opened #304 "copy report link button not working"

[2018-03-06 02:42] matthewberryman opened #305 "map adjustments"
while we wait on making events boxes, this issue will make the map zoom out larger in the case that there are no reports and the case where there are reports, which will help show up related events, missions, contacts much better.

cc @LucieGueuning

[2018-03-06 06:14] matthewberryman commented on #180
I've got a note in a commit I'm just about to deploy, that the location can be approximate, when double clicking to select a location (anywhere on the map, could be on an RSS feed event or somewhere else)—we will in future work support editing of location plus event page has had some tweaks anyway in #305 to make it more box-like.

[2018-03-06 10:10] matthewberryman opened #306 "things broken with recent map changes"
* date and time entry for event creation broken
* setting for Ongoing MSF Projects not initialised or preserved properly.
* landing page not refreshed on event creation.

cc @LucieGueuning  - these are the bugs I found tonight. Just about to deploy a bug fix to dev. :)

[2018-03-06 10:15] matthewberryman commented on #306
map size also needs tweaking on landing page with addition of text and search bar

[2018-03-06 10:54] LucieGueuning commented on #182
As per our discussion, two developments:

Fake data on dev side to showcase how AI/ML can work with proper data (input fake data) to make life easier. System need to learn from data. Right suggestion of suppliers, what was the response in the past if ....
On landing page, on prod side, pop window with security items.
@lucie : in addition to that, need to find more data regarding past responses.

[2018-03-06 11:10] LucieGueuning commented on #195
as per discussion on skype call, I agree but need to be part of our presentation on Monday 19th of March. @matthewberryman to share that info with them. You can get ready with one slide re: developments and features on REACH (+live demo of the progress).

[2018-03-06 11:21] LucieGueuning commented on #251
the most recent one need to be the first one (on top). thanks!

All good otherwise.

[2018-03-06 11:24] LucieGueuning commented on #255
@talltom would it better to improve Humanitarian layer or mapbox functionality from your perspective?

[2018-03-06 11:25] LucieGueuning commented on #255
Reopen, as I work on defining items on this layers of OSM

[2018-03-06 11:29] LucieGueuning commented on #257
need to have a sentence to specify on event creation that need to enter local timezones.
Then, on event time, need to specify that this is the local timezones of the event

[2018-03-06 11:31] LucieGueuning commented on #267
@anexact

[2018-03-06 11:32] LucieGueuning commented on #268
@mehrdadgit possible to make as sub-tabs as per screenshot?

[2018-03-06 11:34] LucieGueuning commented on #270
Reopen as it is not solved for users. Only to keep track of that.

[2018-03-06 11:36] LucieGueuning commented on #200
@anexact after what GIS Unit OCG have shared, what do you think to be right solution?

[2018-03-06 11:37] LucieGueuning commented on #273
Reopen, as it is not done from user perspective

[2018-03-06 11:40] LucieGueuning commented on #263
Please see on each comments the time and date of reporting from Natasha

[2018-03-06 11:43] LucieGueuning commented on #293
response send (ok but need to share that with sponsors)

[2018-03-06 11:44] LucieGueuning commented on #244
So need to pop-up the missions/project of the country even though thei are not part of the square definitation of the reports.

[2018-03-06 11:46] LucieGueuning commented on #32
To explore: Others things not finished right?

Language translation linked to geolocation.
Use of RSS feed (for events created from RSS #180 )
Putting in some semantic awareness (even just picking more common synonym).
Other AI possibilities.

[2018-03-06 11:47] LucieGueuning opened #307 "Event tab as default"

[2018-03-06 11:49] LucieGueuning commented on #24
@anexact

[2018-03-06 19:25] LucieGueuning opened #308 "lost info on TS Sanba"
! I clicked on the typhoon Sanba page and it looks like all the info is missing.  I’m on my Mac using google chrome.  The screenshot is attached.  I’ve already closed the event.

Time of reporting: Tue 06/03/2018 19:18

![image](https://user-images.githubusercontent.com/25951555/37053466-2542a99c-2174-11e8-83fd-d17db68852d6.png)

[2018-03-06 19:27] LucieGueuning opened #309 "event tab as default and not mission tab (when opening an event)"
I noticed that opening the event page, it looks like we’re on the missions tab, when we’re actually on the event tab.

Time of reporting: Tue 06/03/2018 19:23

![image](https://user-images.githubusercontent.com/25951555/37053615-849675d6-2174-11e8-8122-41e889562245.png)

[2018-03-06 19:37] matthewberryman commented on #308
Was this before or after you closed it?
What is the event ID # from the URL? If it’s closed then it’s much easier for me to work from this than dig it up from the database especially as I’m on the road today.

Sent from my iPhone

On 7 Mar 2018, at 06:26, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

! I clicked on the typhoon Sanba page and it looks like all t

[2018-03-06 19:40] matthewberryman commented on #309
Duplicate of #307

Sent from my iPhone

On 7 Mar 2018, at 06:32, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

I noticed that opening the event page, it looks like we’re on the missions tab, when we’re actually on the event tab.

Time of reporting: Tue 06/03/2018 19:23

—
You are receiving this because you are subscribed to this thread.
Reply to this email dire

[2018-03-06 19:47] #309 closed

[2018-03-06 22:38] matthewberryman commented on #308
"The same problem popped up after I edited the PNG earthquake event, even when I clicked on the event tab.  But the updated info came out when I exited then re-entered the event. "

I think it may be related to #307 - I am just about to deploy a fix for that to dev and will know soon.

[2018-03-06 23:29] matthewberryman commented on #32
"Language translation linked to geolocation." <- functionality is done but I need to enable geolocation for prod, and there are a couple of SE Asian countries missing from my list that I need to add.
Event creation from RSS feed icons / anything else of note on the map is done per comments I made on #180

Other times not done.

[2018-03-06 23:31] matthewberryman commented on #273
The coding for this is done, making sure that code is used on other maps is part of a separate issue #212, let's keep this issue for the change itself (already done)

[2018-03-06 23:31] #273 closed

[2018-03-06 23:48] matthewberryman commented on #263
confirmed by Natasha as resolved

[2018-03-06 23:48] #263 closed

[2018-03-06 23:51] matthewberryman commented on #251
The most recent one is on top per https://github.com/MSFREACH/msf-reach/issues/251#issuecomment-365827604

[2018-03-06 23:51] #251 closed

[2018-03-07 10:24] matthewberryman commented on #308
Tested latest work on dev and seems fine, will retest tomorrow and then test again once this is in prod.

[2018-03-07 22:35] matthewberryman commented on #32
sorry, just to clarify, although in #180 you can create an event from an RSS point on a map it doesn't (yet) use the information for Twitter search. Sorry, I read this in too much of a hurry yesterday. On language from geolocation, I am just about to put some commits in to wrap this up: I was missing a couple of official languages for SG, and I will put a notice on the site that event lat,lng coor

[2018-03-07 22:36] matthewberryman opened #311 "add notice that events are geocoded"

[2018-03-07 23:01] matthewberryman opened #312 "current event display"
with work on #212 , now that all events can be displayed on the events page, one cannot easily distinguish between the selected and other event and other events

[2018-03-07 23:04] matthewberryman opened #313 "mixed content warning from google images"

[2018-03-09 01:09] matthewberryman commented on #292
@LucieGueuning @anexact On the landing page there's no table by which to display contacts. I would argue against this as the UI is getting cluttered, and from a UX perspective it makes sense to do this on a per event basis (hence events page only).

@talltom can you please have a look at refactoring the google autocomplete function so we can attach it to multiple maps on the page. If you run out o

[2018-03-09 01:11] matthewberryman commented on #293
@mehrdadgit can you please sometime today (in events.js) do the linking between table and popups, the same as for contacts and missions.

[2018-03-09 11:23] LucieGueuning commented on #308
FYI, sent by Natasha on Tue 06/03/2018 20:33 : I have encountered the same issue for the PNG earthquale.  Event ID is 40.  Then I was signed out (automatically by the platform), and when I signed in again, the info reappeared.  So I guess the info isn’t really lost.  Will let you know if I encounter the problem again.

[2018-03-09 12:40] LucieGueuning commented on #271
@matthewberryman do you need something from my side?

[2018-03-10 09:55] anexact commented on #267
ACCESS
Location / Damage

NEEDS
Population / Medical

CONTACT
Details / Relevance

SECURITY
Incident / Caution

[2018-03-10 09:58] anexact commented on #204
The sub-division of the event would also need to go the other way, i.e. aggregation. However, from ethnography it is clear that the most consistent data structure for deployment is the budget code; perhaps once explo/intervention occurs, the budget code should be logged as a key element in the data / archive.

[2018-03-10 20:30] matthewberryman commented on #57
@LucieGueuning just noting that this code is in dev branch but there are some logistical things and configuration things I need to work through with you and Richard before I activate it. For now it is working with the test login on our test site.

[2018-03-11 00:32] matthewberryman commented on #271
@LucieGueuning Just confirming I can either close this this or you will find out more about OCHA geospatial sources per https://github.com/MSFREACH/msf-reach/issues/271#issuecomment-369398761 . At the moment I cannot do anything on this.

[2018-03-11 00:34] matthewberryman commented on #236
Closing this. There's an option on the AD login screen to remember the user session and everything is handled by AD now per #57 .

[2018-03-11 00:36] matthewberryman commented on #284
Now merged into prod and working.

[2018-03-11 00:36] #284 closed

[2018-03-11 22:36] matthewberryman commented on #24
With the change to AD per #57 there's no option to change the login page as that's something provided by MSF.

[2018-03-12 06:57] matthewberryman commented on #299
Duplicate of https://github.com/MSFREACH/msf-reach/issues/164

[2018-03-12 06:57] #299 closed

[2018-03-12 07:08] matthewberryman commented on #164
The third party options are not very good IMHO, last I looked:
(1) limited to posts only, not comments,
(2) costing thousands of dollars a month+ and paying per page you want to monitor (not all of Facebook).
I'm not even sure it's possible to even use third party tools to grab from other pages outside of ones you own any more, see http://www.amicusdigital.com.au/blog/changes-to-salesforce-social-

[2018-03-12 09:53] LucieGueuning commented on #204
I correct from 'budget code' to 'Project Code' as consistent data structure for deployment

[2018-03-12 10:01] LucieGueuning commented on #57
Great! do you want me to arrange a Skype call? or should I include Richard on the call tomorrow? Please let me know.

[2018-03-12 10:09] LucieGueuning commented on #272
FYI, @anexact

[2018-03-12 10:11] matthewberryman commented on #57
No need to include Richard on the Skype call / have a separate one, can follow up by email (I have sent one to both of you with some follow up actions).

Sent from my iPhone

On 12 Mar 2018, at 21:01, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

Great! do you want me to arrange a Skype call? or should I include Richard on the call tomorrow? Please let me know.

[2018-03-12 10:29] LucieGueuning commented on #267
FYI, message from Natasha below (to be resolved):
Sun 11/03/2018 11:03
@anexact

The categories look fine as described.  However, after having used the platform, I find 2 things missing
•	Response of other actors (e.g. a contact from Save the Children tell us that they are providing shelter in x location or a community member telling us the government is distributing NFIs in their village)
•	Gener

[2018-03-12 10:36] LucieGueuning commented on #24
When we end up into REACH, what is the page interface?

Cf: https://diggr.msf.org/loginPage#/

[2018-03-12 10:41] anexact commented on #267
I think the modified proposal I have made covers both cases, but we can discuss again once Natasha reviews, yes?

etienne mobile
+49 176 830 46360

[2018-03-12 10:52] LucieGueuning commented on #57
Ok, well noted. Thanks Matthew.

[2018-03-12 13:30] LucieGueuning commented on #267
I don't think so. But you are right, let discuss it with her directly. I let you reply to her email to suggest your solution. Thanks.

@anexact

[2018-03-13 00:02] matthewberryman commented on #140
Just about to add a bunch of others (email, etc.) with exclusion of web and social media. I've broken off the search by category as a drop down selection.

[2018-03-13 01:57] matthewberryman commented on #276
will do this for operators (not relevant for members of the public)

[2018-03-13 02:04] matthewberryman commented on #276
@LucieGueuning where do you want this displayed?

[2018-03-13 02:15] #140 closed

[2018-03-13 02:15] #212 closed

[2018-03-13 07:15] mehrdadgit commented on #270
Hi @LucieGueuning @matthewberryman this is fixed now in this way for ALL maps: when you are on a mobile device, single-finger dragging/zooming is disabled ( you may still drag and zoom in/out with double finger gestures)

Note, only for two Edit Event maps, Zoom-By-Scrolling is disabled on desktop too. Sing out if you need it disabled for other maps too.

[2018-03-13 10:07] matthewberryman opened #316 "for public entry, make sure approval & sharepoint fields disabled on contacts form"
cc @LucieGueuning

[2018-03-13 10:09] matthewberryman opened #317 "visa field"
For older entries in dev and prod either need to tidy these up in DB or change UI so not displayed.

[2018-03-13 21:27] matthewberryman commented on #317
I think it's best to just clear this out:
[code]

[2018-03-14 05:57] matthewberryman commented on #60
@mehrdadgit Can you please work on this tonight for the event *tab* on the event page in dev branch please (separate to the edit modal stuff in your other branch)

[2018-03-14 05:57] matthewberryman commented on #30
@LucieGueuning this is now in dev. Tomorrow my time I will be merging to prod.

[2018-03-14 06:25] mehrdadgit commented on #60
@matthewberryman the other branch did not touch edit modal; mainly event page and I just merged dev into that (resolving a couple of conflicts ) and sent a PR; in my opinion, it's ok to merge now.... If not I basically have to redo the things I have done in other branch... anyway have a look at PR and let me know

[2018-03-14 08:55] matthewberryman commented on #60
@mehrdadgit sorry, earlier I just had a quick look at one of the commits (busy day across a number of projects for me) and misread where it was in the event page. Thanks for your work on this issue. I will will have a look at your PR first thing tomorrow.

[2018-03-14 11:52] LucieGueuning commented on #57
Great. Working well on production environment.
To confirm:
- every users on the Operators group can access REACH (https://msf-reach.org/) with MSF credentials?
- For viewers as default: when that can be done? I confirmed that on the front-end of REACH: everything is the same, except all button (following list), need to have no hyperlink but a message saying: 'You do not have permission to use this

[2018-03-14 12:03] matthewberryman commented on #57
*   every users on the Operators group can access REACH (https://msf-reach.org/) with MSF credentials?

Correct.

  *   For viewers as default: when that can be done? I confirmed that on the front-end of REACH: everything is the same, except all button (following list), need to have no hyperlink but a message saying: 'You do not have permission to use this button. Please contact us (mailto:lucie.g

[2018-03-14 15:06] LucieGueuning commented on #276
this is perfect on the first slide. Can I ask to get it separate from the rest of the field (like 10 pixel?)

[2018-03-14 15:07] LucieGueuning commented on #286
need to have the possibility to sign out.

[2018-03-14 15:40] LucieGueuning commented on #30
Could you please add 'Details' to severity? Thanks.

Then all good for merging

[2018-03-14 15:48] LucieGueuning commented on #60
Can this be displayed on event page and not on the pop-up window anymore? thanks.

[2018-03-14 15:50] LucieGueuning commented on #57
ok good idea for having an alert reminder pop up, not hiding them.
Go for it.

[2018-03-14 17:24] matthewberryman commented on #60
Yes that’s what this work does. I misread earlier per previous comments.

[2018-03-14 23:25] matthewberryman opened #320 "empty block"
https://travis-ci.org/MSFREACH/msf-reach/builds/353592910
Either complete this or remove it.

[2018-03-14 23:34] matthewberryman commented on #30
@LucieGueuning ok, I have put that in and also changed "Scale" to "Severity scale:" for consistency.

[2018-03-14 23:38] matthewberryman opened #321 "vue placeholders displayed while page loading"
Too quick to screenshot but the labels are temporarily displayed like
`{{ item.category | relaceUnderscore }}: {{ item.value | formatedNumber }}` before the page is loading. You may need to juggle the <script> ordering around a bit (being careful not to break any cross-script dependencies) ? Maybe put the vue stuff before map scripts? Or alternatively hide the divs and then toggle display on as vu

[2018-03-14 23:43] matthewberryman commented on #286
Adding signout functionality requires substantial changes from database to server (since we cannot track this within the web server itself as we allow for more than one due to platform availability and performance reasons). Also noting that adding it will also sign you out of /all/ MSF apps. Still want to add it in?

[2018-03-15 00:43] LucieGueuning commented on #30
Exact.

Lucie Gueuning
REACH Project Manager, Emergency Response Support Unit
Médecins Sans Frontières - Hong Kong | 無國界醫生(香港)
Phone: +44<tel:+852%206279%207636> 7423 392179
Email: lucie.gueuning@hongkong.msf.org<mailto:lucie.gueuning@hongkong.msf.org>
Skype: lucie.gueuning
_______________
Please visit MSF REACH Project Deployment<https://msfintl.sharepoint.com/sites/hk/projects/MSF-REACH/SitePage

[2018-03-15 00:44] LucieGueuning commented on #286
Yes, confirmed, still want to do it. Thanks.

Lucie Gueuning
REACH Project Manager, Emergency Response Support Unit
Médecins Sans Frontières - Hong Kong | 無國界醫生(香港)
Phone: +44<tel:+852%206279%207636> 7423 392179
Email: lucie.gueuning@hongkong.msf.org<mailto:lucie.gueuning@hongkong.msf.org>
Skype: lucie.gueuning
_______________
Please visit MSF REACH Project Deployment<https://msfintl.sharepoint.co

[2018-03-15 01:24] matthewberryman opened #322 "variables missing with change to vue for event details / general testing"
@mehrdadgit can you please go through on the test environment (test.msf-reach.org) and check your new vue code against the events there. One that I found and will fix is the following error (because eventLink and eventReportLink are now methods of vmEventDetails instead of set as global variables)

[code]

[2018-03-15 07:56] anexact commented on #286
@LucieGueuning @matthewberryman I would reconsider bx if it logs people out of their email at the same time, this could be perceived as a bad glitch! I think given that problem, we should not make the button at this point. Better to have it on and working than shutting MSF people out of their whole system for now, no?

[2018-03-15 10:45] LucieGueuning commented on #30
Perfect.
For consistency, please do put 'Security details', **without capital letter**, to do the same than 'Severity details' and 'Severity scale'. Thanks!

[2018-03-15 10:46] LucieGueuning commented on #286
Let raise this small question at the meeting on Monday.

[2018-03-15 19:28] matthewberryman opened #323 "unit test fail, warnings in latest build"
https://travis-ci.org/MSFREACH/msf-reach/builds/353998579

[2018-03-15 20:25] matthewberryman opened #324 "display bugs"
* popup for event needs spacing between the types, and between the sub_types.
* type only has first underscore replaced, needs spaces after commas.
* severity scale undefined despite severity_scale set.
* `events.js:550 Uncaught TypeError: Cannot read property 'notification' of undefined` (check is invalid, need to check length)
* Event page main tab, severity reads "scale: med some descrption" bu

[2018-03-15 20:44] matthewberryman commented on #60
@mehrdadgit for new events & events where I'm going to clear out old-style data for visas, the display reads ", required: yes" whereas it should read "".

[2018-03-15 22:27] #317 closed

[2018-03-16 20:42] LucieGueuning opened #325 "TSR layer (of RSS Feed° is not up to date on Landing page"
On TSR, there is, for example, an disaster in Australia (North) but this is not on the map on landing page.

TSR, should be as PDC and others up to date on landing page on REACH.

Comment from Remi.

[2018-03-16 20:45] matthewberryman commented on #325
Events in Australia won’t be displayed per https://github.com/MSFREACH/msf-reach/issues/243 since Australia is not part of Asia. If you’d like Australian events displayed then please comment on that issue and close this one.

On 17 Mar 2018, at 07:42, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

On TSR, there is, for example, an disaster in Australia (North) b

[2018-03-18 03:39] matthewberryman commented on #325
Now that I am at my computer: I checked and Darwin is /just/ in the Bounding Box I'm using for Asia `(lat> -12.5611 && lat < 82.5005 && lng > 19.6381 && lng < 180.0000)`, and I can see a PDC flood watch warning for Darwin. I did some digging on its current data (with the Asia BBox turned off) as it should have shown up at the time Remi reported, even though it's now outside of the region, and turn

[2018-03-18 03:45] #30 closed

[2018-03-18 03:45] #270 closed

[2018-03-18 03:45] #320 closed

[2018-03-18 03:45] #321 closed

[2018-03-18 03:45] #323 closed

[2018-03-18 03:45] #324 closed

[2018-03-18 03:45] #325 closed

[2018-03-18 06:22] mehrdadgit commented on #302
Done @matthewberryman just note that on event edit popup, (only in case of msf response where the user is allowed to change the location, the user needs to specifically click on the map to add the pin and actually change the location)

[2018-03-18 07:44] anexact commented on #286
<img width="1199" alt="screen shot 2018-03-18 at 8 37 58 am" src="https://user-images.githubusercontent.com/20785542/37563755-32f56954-2a88-11e8-9858-8160cb763d72.png">

Depending on how @matthewberryman wants to deal with the pop up for the login, I would stay with something really simple until end of Phase 2, but we can make additional prototypes w/ Wolfgang for @LucieGueuning to continue to rev

[2018-03-18 07:47] matthewberryman commented on #286
Thanks. This one also requires some server rework in light of AD integration #57.

If you can get a draft of FAQ to me ASAP though there’s already a place for that in the menu.

Sent from my iPhone

On 18 Mar 2018, at 18:45, Etienne Turpin <notifications@github.com<mailto:notifications@github.com>> wrote:

[screen shot 2018-03-18 at 8 37 58 am]<https://user-images.githubusercontent.com/20785542/37

[2018-03-18 07:47] mehrdadgit opened #327 "Disable auto zoom/scaling on mobile devices when you click on an input"

[2018-03-18 07:49] mehrdadgit commented on #322
Seems now resolved @matthewberryman ? if there is an specific event you still get the error let me know the event id...

[2018-03-18 07:52] matthewberryman commented on #322
events/?eventId=22 is still triggering it, please take a look.

[2018-03-18 07:55] matthewberryman commented on #322
(in general, please go through all events in the test env and watch out for js errors on all pages)

[2018-03-18 08:00] anexact commented on #286
In the Google Drive:
https://docs.google.com/document/d/1EOUMOqX1iz7daWXD5hswrqgueiTtK3ldTmGLkEnCupI/edit?usp=sharing

[2018-03-18 08:24] mehrdadgit opened #328 "Disable double click zoom on landing page"
cause double click is used to pick a location

[2018-03-18 21:23] matthewberryman opened #330 "twitter search and translate broken"
#searchTerm value not being picked up

[2018-03-18 21:24] matthewberryman commented on #330
Other JS in the contacts tab broken too (e.g. type filter on contacts)

[2018-03-18 22:12] matthewberryman commented on #330
@mehrdadgit git bisect reveals 07ea79bdc2129f67eee1a8b05dce82fb02f6fd5e broke it somehow

[2018-03-18 22:31] matthewberryman commented on #330
Looking like it's because eventVApp div encloses all the non-Vue stuff which then breaks the jquery references to enclosed elements.

[2018-03-18 23:00] matthewberryman commented on #330
It's a bit more subtle than just div placement (I tried just moving divs around to no avail). What's happening is that the Google translate js and most of the twitter stuff were in `$(document).ready()` which is called before the vue is mounted (so the elements don't exist to hook onto). The remaining twitter setup code was just at the top level of the js so again the element didn't exist. Moving

[2018-03-18 23:22] matthewberryman commented on #330
contact filtering still broken

[2018-03-19 00:38] #322 closed

[2018-03-19 00:38] #327 closed

[2018-03-19 00:38] #328 closed

[2018-03-19 00:38] #330 closed

[2018-03-19 01:25] matthewberryman commented on #302
can you please fix the zoom level? It starts zoomed in as close as possible. Please adjust to ~ country scale level of zoom.

[2018-03-19 02:20] mehrdadgit commented on #302
You mean when enter values to ‘locate by coordinates’ and click the find button ? If so, what zoom level you suggest?

[2018-03-19 02:24] mehrdadgit commented on #302
Cause i tought locating by coordinates is a very specific location that the user may need to verify with the highest zoom level ...

[2018-03-19 02:28] matthewberryman commented on #302
No, at highest zoom level you can't see anything (RSS hazards, contacts, etc.) around it (I suppose if you're interested in verifying by streets but in that case you'd be using the street search).

Try zoom level 5.

[2018-03-19 09:39] matthewberryman opened #331 "drag drop to save tweets broken by recent type, vue changes"

[2018-03-19 09:54] #331 closed

[2018-03-19 18:40] LucieGueuning opened #332 "Private/public contact based on Active Directory"
cf #57

[2018-03-19 18:41] LucieGueuning opened #333 "SEA mandate only"
People looking for Africa will not think that REACH is broken.

How to communicate? Popup window message?

[2018-03-19 18:42] LucieGueuning commented on #295
combined country facts and MSF data (cf. comment of Natasha on Presentation)

[2018-03-19 18:53] matthewberryman commented on #333
Maybe something in the FAQ?

[2018-03-19 22:28] matthewberryman commented on #79
To-do:
1a. Change API to have two authentication strategies, one as is where the group ID is checked per code starting https://github.com/MSFREACH/msf-reach/blob/2a4c939212f38bb7a8e6215ee0334f30f0ebd3fa/src/server.js#L73 , that is used on all protected API requests with exception of protected GET requests, where the other authentication strategy, that ignores group ID, is used.
1b. If not allowed,

[2018-03-19 22:44] matthewberryman commented on #79
@stefan-devika please do this in the devika branch (note I just updated this with latest dev work, so do a `git pull` first before commencing work)

[2018-03-20 03:30] matthewberryman commented on #282
a little buggy:
* sometimes sites vanish as you zoom,
* or are slow to load on initial map load, and
* clusters particularly map icons need work

but there's a start on this on the landing page. cc @LucieGueuning

[2018-03-20 03:30] matthewberryman commented on #282
(just on dev / test environments for now while I continue work on this)

[2018-03-20 08:32] matthewberryman commented on #244
@LucieGueuning just turning this issue into a more general one about making the events page smarter as we discussed.

[2018-03-20 10:55] LucieGueuning commented on #57
test with my gmail address: this is FYI.
For people outside the organisation, like TIC people for example. They will need to have a log in thanks to Cognito right?

![image](https://user-images.githubusercontent.com/25951555/37650538-20182e88-2c2d-11e8-9bcd-7acc81d4c149.png)

[2018-03-20 12:50] LucieGueuning opened #334 "General report from peers (not linked to specific event)"
I would like to thanks our contacts for filling out our google form or contact card and let them know how they can report something happening in their area of living. FYI, they are not MSF staff, they are public. This will help to have more report card sent to event and will be more interactive for our super momentum.

I need to wait for us to find a solution of having a general link for report, n

[2018-03-20 14:30] LucieGueuning opened #335 "What is the process to update contact info?"
after sending email after 6 months, where can they update their contact details to avoid duplication?

[2018-03-20 16:27] LucieGueuning commented on #316
On production site, it allows you to go to the next slide even though you didn't check the boxes (as operator) to acknowledge....

[2018-03-20 16:30] LucieGueuning commented on #286
- Go for the suggestion of Etienne for Log in page please
- Go for a logout button even it is logging out from all other apps of Office 365. It is how it works for every single apps linked to the AD. We are used to it. And I want a logout button. Thanks!

[2018-03-20 16:42] LucieGueuning commented on #182
Mobile phones and other ICTs for data collection are already key components in humanitarian response and international development programs. Adding algorithms and automation through machine learning and deep learning allows us to identify patterns in the data that can inform decisions and real-time analysis.

[2018-03-20 16:48] LucieGueuning commented on #32
Bug reported from Natasha (Sun 18/03/2018 17:10):
•	I checked the twitter feed for the PNG earthquake and nothing was showing.  There are lots of tweets if you go on the Twitter site.

[2018-03-20 16:49] LucieGueuning opened #336 "instant chat within REACH and notification alert"
•	It would be good to have a separate space for chats apart from the notifications, so questions and comments can be posted and seen by everyone. (for future versions)
•	We need some kind of alert for a new notification or new chat message.  I think that was already planned, right?

Suggestion from Natasha (Sun 18/03/2018 17:10)

[2018-03-20 17:34] LucieGueuning commented on #282
If it is too much work, or not useful, please ignore this (part of your judgement).

[2018-03-20 22:16] matthewberryman commented on #134
Events now show up instantly on the landing page, and similarly for reports on the events page.

[2018-03-20 22:16] #134 closed

[2018-03-20 22:42] matthewberryman commented on #57
@LucieGueuning correct we will need to set up a separate environment (using Cognito for login), which can point to the same database.

[2018-03-20 23:12] matthewberryman commented on #236
Reopening per comment https://github.com/MSFREACH/msf-reach/issues/57#issuecomment-374782154
Luckily you can exchange the 1 hour token Cognito supplies for a longer (up to 3650 days) refresh token (ref: https://docs.aws.amazon.com/cognito/latest/developerguide/limits.html ) but I need to wrap my head around the workflow for that.

[2018-03-20 23:13] matthewberryman commented on #57
Just noting https://github.com/MSFREACH/msf-reach/issues/279 is issue for external parties.

[2018-03-20 23:18] matthewberryman commented on #283
fixed

[2018-03-20 23:18] #283 closed

[2018-03-20 23:26] matthewberryman commented on #304
Not working again, due to vue changes. @mehrdadgit can you please fix asap.

[2018-03-20 23:50] matthewberryman commented on #335
Let's keep track of this under https://github.com/MSFREACH/msf-reach/issues/227

[2018-03-20 23:50] #335 closed

[2018-03-20 23:52] matthewberryman commented on #227
@LucieGueuning The plan for this is for updates for be emailed every 6th months (with reminders as per your comment); in addition contacts should be able to update their details at any time. @talltom can you please provide an update asap on API & DB support for this

[2018-03-21 00:28] #304 closed

[2018-03-21 00:35] #294 closed

[2018-03-21 00:40] #276 closed

[2018-03-21 00:48] matthewberryman opened #337 "test timeout issue on RSS feeds"
https://travis-ci.org/MSFREACH/msf-reach/builds/356141484?utm_source=email&utm_medium=notification
Just increase the timeout as "I canna make it go any faster"

[2018-03-21 01:30] matthewberryman commented on #38
This was for the original work. The extension to allow editing is https://github.com/MSFREACH/msf-reach/issues/227

[2018-03-21 01:30] #38 closed

[2018-03-21 01:57] matthewberryman commented on #203
now covered by https://github.com/MSFREACH/msf-reach/issues/79 - closing this issue in favour of that one (with more details in comments)

[2018-03-21 01:57] #203 closed

[2018-03-21 01:58] matthewberryman commented on #81
I've moved as much code as I can out to common.js (and in dev, healthsites.js for healthsite specific stuff); unfortunately there are a lot of variations in the maps and hence map code that prevents further separation, IMHO

[2018-03-21 01:58] #81 closed

[2018-03-21 02:06] matthewberryman commented on #180
I think this is done. Could consider the mechanism (currently double click / double tap) for opening for map if people have problems with that but closing for now.

[2018-03-21 02:06] #180 closed

[2018-03-21 02:29] #337 closed

[2018-03-21 02:33] matthewberryman commented on #336
I'm just wondering if the first one is best handled by something else (Sharepoint, MS Teams, Skype chat )?
2nd bullet point for notifications is perhaps best dealt with via a more general form of https://github.com/MSFREACH/msf-reach/issues/297

[2018-03-21 02:33] #302 closed

[2018-03-21 02:53] matthewberryman commented on #316
This was broken with #57 work. Just about to deploy a fix.

[2018-03-21 02:54] #316 closed

[2018-03-21 03:07] #288 closed

[2018-03-21 04:11] matthewberryman commented on #285
It's now under About under the user session menu.

[2018-03-21 04:11] #285 closed

[2018-03-21 04:24] matthewberryman commented on #255
I think the work @LucieGueuning is doing with HOT OSM https://github.com/hotosm/HDM-CartoCSS/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3ALucieGueuning will address this. Let's keep this issue open until those are satisfactorily closed.

[2018-03-21 04:25] matthewberryman commented on #184
Is this not a duplicate of https://github.com/MSFREACH/msf-reach/issues/255 ?

[2018-03-21 04:27] matthewberryman commented on #192
Needs to go on all pages, which we could put on a modal that opens from a menu item under the session menu. Should we also have OSM legend #241 in same place?

[2018-03-21 04:33] matthewberryman commented on #32
@LucieGueuning see #330 for that issue, I will re-open that if Natasha confirms in negative on email that it's not working for her.

[2018-03-21 04:33] #32 closed

[2018-03-21 04:34] matthewberryman commented on #286
Noted

[2018-03-21 04:46] matthewberryman commented on #3
@talltom ?

[2018-03-21 04:47] matthewberryman commented on #287
Done but will redo after https://github.com/MSFREACH/msf-reach/issues/217 fixed

[2018-03-21 05:16] matthewberryman commented on #204
Addition of project code covered by https://github.com/MSFREACH/msf-reach/issues/272
Event aggregation appears to be covered in work in #30 and related issues. So I think we can close this one @LucieGueuning ?

[2018-03-21 06:04] matthewberryman commented on #195
This is done bar me going back for already imported missions—I will need to update my [script](https://github.com/MSFREACH/msf-reach-schema/blob/master/etl/geocode_existing_events.js).

[2018-03-21 12:29] LucieGueuning commented on #336
Can we integrate a very easy plugin (OSS) for chat already well built and working?

[2018-03-21 12:34] LucieGueuning commented on #217
Do you need something from me on that?

[2018-03-21 12:36] #204 closed

[2018-03-21 16:50] LucieGueuning opened #338 "Recording voice + uploading video on report card"
Having the possibility of uploading a picture, **uploading a video** or **recording voice** on report card.

Feature already mentioned during Phase 1 prototype. Again mentioned during one of our meeting this morning.

[2018-03-21 16:56] LucieGueuning opened #339 "clustering of contacts on landing page"
On contact details, from Google form, sometimes. living home location is only the capital of one country. On REACH contact card, it allows to input only capital on the search box, then it display the red icon at the very same location than the previous one which was located at the same capital (New Delhi). How to avoid that? Should we suggest to have a slightly different GPS coordinates if there i

[2018-03-21 17:03] LucieGueuning opened #340 "display names on popup window on map - contact details"
On pop window, the display order for names should be : FIRST NAME - OTHER NAMES - LAST NAME
![image](https://user-images.githubusercontent.com/25951555/37724955-c78214c0-2d29-11e8-8bc8-f327251c551d.png)

[2018-03-21 17:08] LucieGueuning opened #341 "How to avoid duplication of contact on database?"
SOL: if other email address already on database, system shouldn't allow to accept it and suggest to update contact info if needed (#227 )

[2018-03-21 17:08] LucieGueuning opened #342 "How to avoid duplication of event creation?"
SOL: if same location, same type of emergency, same keywords on title, need to suggest to edit existing event

[2018-03-21 17:13] LucieGueuning opened #343 "Contract deliverables to be completed before 11 June 2018"
![image](https://user-images.githubusercontent.com/25951555/37725556-20416cae-2d2b-11e8-8791-3bf479ac07ca.png)

[2018-03-21 17:19] LucieGueuning commented on #79
Same button but message for viewers: You do not have the permission, please contact us (mailto:lucie.gueuning@hongkong.msf.org) for edit access. OR 'For edit access, please contact us'. whatever  is the best for you.

[2018-03-21 21:36] matthewberryman commented on #338
Duplicate of https://github.com/MSFREACH/msf-reach/issues/181

[2018-03-21 21:36] #338 closed

[2018-03-21 21:37] matthewberryman commented on #341
part of #227 per https://github.com/MSFREACH/msf-reach/issues/227#issuecomment-361041485

[2018-03-21 21:37] #341 closed

[2018-03-21 21:41] matthewberryman commented on #339
The approach to use is the clustering we use for health sites, and for contacts as displayed on the events page, where it pops up an icon showing the number at that location, and then if you click on that it shows all the contacts in a graphical arrangement around that point, rather than making the GPS co-ordinate data incorrect.

Many of the contacts in #287 had addresses that Google either could

[2018-03-21 22:09] matthewberryman commented on #336
You can but then:
We would have to assist in maintaining it (especially around security), possibly extra costs in maintaining a separate database for it.
Users face system overload, having different chats in different platforms (I know you guys are already using Skype for business), and then the information becomes fragmented across platforms.
MS products are going to integrate better with your AD

[2018-03-22 09:54] LucieGueuning commented on #336
- it is already going all over the place. The idea with REACH is to centralise discussion regarding monitoring emergency and assessment into one secure platform, integrating a live chat discussion if instant messaging are needed.

[2018-03-22 16:35] LucieGueuning opened #344 "Map search on landing page not working anymore"
![image](https://user-images.githubusercontent.com/25951555/37784177-1600ebba-2def-11e8-8afe-7e505b4a5128.png)

[2018-03-22 16:40] LucieGueuning opened #345 "Ongoing event and Monitoring and Assessment event should be display with 2 different icon on (every map)"
SOL: add a small M&E on top right of current icon for the monitoring and assessment one. ATTENTION, need to add one more option to the menu of each legend.

[2018-03-22 16:41] LucieGueuning commented on #281
![image](https://user-images.githubusercontent.com/25951555/37784479-cf324138-2def-11e8-982a-bd453170b1bc.png)

Country broken?
Type, why do we have a ',' before the word earthquake?

[2018-03-22 16:47] LucieGueuning opened #346 "On event page, column on left should be scrolling but not the whole page"
![image](https://user-images.githubusercontent.com/25951555/37784811-91e79a70-2df0-11e8-8900-ec95332e64ab.png)

same than the landing page with list of event on the right.

[2018-03-22 17:16] LucieGueuning commented on #336
as per contract
![image](https://user-images.githubusercontent.com/25951555/37786506-cb8254ba-2df4-11e8-8630-f0354ec6ef62.png)

[2018-03-22 17:23] LucieGueuning commented on #225
FYI, those are the three issues to be fixed within REACH platform to be compliant to the GDPR
![image](https://user-images.githubusercontent.com/25951555/37786851-962ae7f4-2df5-11e8-88e9-02e96e2802e9.png)

[2018-03-22 17:25] LucieGueuning commented on #292
![image](https://user-images.githubusercontent.com/25951555/37787042-0421f4dc-2df6-11e8-80f2-fc9cce1c5ed1.png)

as per contract

[2018-03-22 17:29] LucieGueuning opened #347 "SEA training and demo (planned in end of April, beginning of May))"
with etienne

[2018-03-22 17:31] LucieGueuning opened #348 "Technical documentation"

[2018-03-22 19:33] matthewberryman commented on #344
should be fixed in next five minutes, please test and close off if working, @LucieGueuning

[2018-03-22 20:00] matthewberryman commented on #281
* Country is (1) not part of this issue, (2) happening because I need to re-run the geocoder for old events (before we turned on the automatic geocoding on prod platform), https://github.com/MSFREACH/msf-reach-schema/issues/39
* Missing comma fixed with commit 5de11df

[2018-03-22 21:29] matthewberryman commented on #292
Done bar event geoselection which is not part of this issue but part of https://github.com/MSFREACH/msf-reach/issues/209

[2018-03-22 21:29] #292 closed

[2018-03-22 21:30] matthewberryman commented on #209
event geoselection as a box, not a point

[2018-03-23 01:07] #195 closed

[2018-03-23 01:09] matthewberryman commented on #348
@LucieGueuning there's some in the README.md file for this project (viewable on the landing page for this repository, but could do with a bit of a tidy up), plus I sent you some others via email for review, plus there's the API documentation https://github.com/MSFREACH/msf-reach/issues/3

[2018-03-23 02:32] matthewberryman commented on #209
@LucieGueuning per contract and in the absence of any other discussion above, events are now boxes. How this works is as well as the point selected on event creation, the map extents are also saved i.e. if you zoom in first, then double click to create, the box includes whatever is shown along on the map, and the point double clicked on is still saved. This is then used on events maps (main one an

[2018-03-26 06:35] matthewberryman commented on #79
@stefan-devika when you're done (incl. fixing eslint issues https://travis-ci.org/MSFREACH/msf-reach/builds/358238850 ) please submit a pull request for devika -> dev branch

[2018-03-27 09:52] LucieGueuning commented on #225
- possible to remove entirely contacts details from our entire system? without MB
- consent to use data for our purposes (to be explained)
- from a to z, need to know where their data goes
- all contacts because MSF is organisational based in Europe.

prove that you are doing an effort and give enough information to the person.

[2018-03-29 04:11] matthewberryman opened #350 "CI/CD build failure"
`Message: Unable to pull customer's container image.`

[2018-03-29 04:13] matthewberryman commented on #350
Running `docker pull` on my mac results in
[code]

I have an older copy of the image locally though and will push that to ECR and configure the build to use that.

[2018-03-29 04:21] matthewberryman commented on #350
Encountering permissions errors similar to https://forums.aws.amazon.com/thread.jspa?threadID=244603

[2018-03-29 04:28] matthewberryman commented on #350
Fixed with instructions from https://docs.aws.amazon.com/codebuild/latest/userguide/sample-ecr.html

[2018-03-29 04:28] #350 closed

[2018-03-29 04:51] matthewberryman opened #351 "set up email notifications for codepipeline state changes"
https://docs.aws.amazon.com/codepipeline/latest/userguide/tutorials-cloudwatch-sns-notifications.html

[2018-03-30 18:29] #351 closed

[2018-04-04 13:53] LucieGueuning opened #352 "Icon not loaded for event popup on landing page"
![image](https://user-images.githubusercontent.com/25951555/38311766-e14645fe-3817-11e8-98ca-17b96ba25f29.png)

[2018-04-04 13:54] LucieGueuning opened #353 "icon not linked to this RSS source (PWTC)"
![image](https://user-images.githubusercontent.com/25951555/38311849-0f56c950-3818-11e8-9756-8906877d3abc.png)

[2018-04-04 13:54] anexact commented on #353
Note that the image above contains two different RSS feeds.

[2018-04-04 14:22] LucieGueuning opened #354 "Contacts, missions gathered under number (according to zoom out and in)"
![image](https://user-images.githubusercontent.com/25951555/38313431-ec63c1a6-381b-11e8-899e-209b64d83ddb.png)

[2018-04-05 02:40] matthewberryman commented on #352
Just deploying a fix for better handling icons of natural disaster subtypes—that bit of code broke because we moved to having multiple types and subtypes. At the moment (with this fix) I only have an icon displayed for the first type / natural disaster sub_type (if natural disaster is one of the types). @LucieGueuning @anexact I need your feedback on whether we display
* /all/ icons for all types

[2018-04-05 02:47] matthewberryman commented on #141
Now requested that we open centred on SE Asia, not Asia.

[2018-04-05 03:13] matthewberryman commented on #141
@anexact note this is now in our dev environment. I will open a separate issue for map snapping to force it to SE Asia / other UX options.

[2018-04-05 03:16] matthewberryman opened #355 "default map layers"
@anexact writes:
"Upon login as tomas@, the default icons should be:
Ongoing MSF Projects
& RSS Feeds
(not Mission Histories)"

I am not sure if https://github.com/MSFREACH/msf-reach/issues/172 addresses this issue? If we want to have a particular set of defaults for first login then I think that should be based on what would work best for the majority of people.

[2018-04-05 03:17] matthewberryman commented on #354
duplicate of https://github.com/MSFREACH/msf-reach/issues/339

[2018-04-05 03:19] matthewberryman commented on #339
@LucieGueuning It's not clear what you mean by https://github.com/MSFREACH/msf-reach/issues/354
I clustered close-by contacts as a red icon with the number of contacts at that location, that when you click on will split open the cluster to reveal individual contacts with some separation between them, in order to solve this issue. I can tweak the look and feel of those icons but removing them (if t

[2018-04-05 03:24] matthewberryman opened #356 "support editing of original location with geocoding of country"

[2018-04-05 03:31] matthewberryman commented on #356
Checking database, the location entered was https://goo.gl/maps/abS4tRnVAm42 which is near to Langkawi but in Thai waters.

[2018-04-05 03:37] matthewberryman opened #357 "UI for SE Asia"
@anexact writes:
"Upon login as tomas@, the map is not centered on SEA.
We need to make the map SEA-focused, and find a design UI solution to EXPLICITLY say it is only for Southeast Asia (solution could be like PB.id)."

I have changed the centering (now in dev) per https://github.com/MSFREACH/msf-reach/issues/141

If you want to commit to forcing it like in PB.id I can borrow that code.

[2018-04-05 03:45] matthewberryman commented on #159
@anexact

[2018-04-06 04:35] matthewberryman opened #358 "Delete "add event metadata" on the Event Creation Pop up menu"

[2018-04-06 20:46] #339 closed

[2018-04-06 20:46] #141 closed

[2018-04-06 20:46] #358 closed

[2018-04-08 22:54] anexact commented on #159
<img width="662" alt="date time view" src="https://user-images.githubusercontent.com/20785542/38473445-7d0322b6-3b90-11e8-8953-03c684743c7b.png">
Can we display Date and Time view as above?

[2018-04-08 22:56] anexact commented on #357
I think we should commit to forcing it as in PB.id to prevent non-ERSU users from trying to move outside the SEA bounding box and then believing it is broken elsewhere. @LucieGueuning do you agree on this?

[2018-04-08 22:58] anexact commented on #355
In meeting with @LucieGueuning, we reviewed the UX from POV of new users to the platform and felt that the Mission Histories should be default Off, while Ongoing MSF Projects & RSS Feeds should be on. However, I will start another thread re: Right Side Tab and Sub-Tabs that resulted from that meeting.

[2018-04-08 23:02] anexact commented on #352
@LucieGueuning can you comment on this? It was not clear from our meeting, but if still not clear, can you address on Tuesday in review with @matthewberryman?

[2018-04-08 23:05] anexact opened #360 "Popup event icons not loading"
<img width="370" alt="_ screen shot 2018-04-04 at 3 55 36 pm" src="https://user-images.githubusercontent.com/20785542/38473558-1c882682-3b92-11e8-8e64-6b3417f34b1a.png">
<img width="385" alt="_ screen shot 2018-04-04 at 4 02 41 pm" src="https://user-images.githubusercontent.com/20785542/38473559-20b8fb0a-3b92-11e8-92e3-8aef315dec20.png">

[2018-04-08 23:07] matthewberryman commented on #360
Dupe of #352

[2018-04-08 23:10] anexact opened #361 "RSS Feed Scroll"
<img width="1200" alt="column scroll proposal" src="https://user-images.githubusercontent.com/20785542/38473587-a9f2d6b6-3b92-11e8-937a-cfbbee11774e.png">
Request to improve UX by making the Right side Column beside map a box, equivalent to the size of the map, with the RSS Feeds (or other feeds that would appear here) scrolling inside the box, not to the bottom of the page well below the map.

[2018-04-08 23:12] anexact opened #362 "Request to compress the data displayed in the Event details"
<img width="723" alt="screen shot 2018-04-04 at 4 51 29 pm" src="https://user-images.githubusercontent.com/20785542/38473609-f6dd5ff0-3b92-11e8-9506-53f24be35ea2.png">
@LucieGueuning suggested in our UX review that this information could be further compressed to be less dominant on the Event page and thus avoid hiding the Edit buttons below. If possible, can we try a much more compressed view of t

[2018-04-08 23:13] anexact commented on #352
@matthewberryman closed #360 sorry

[2018-04-08 23:18] anexact opened #363 "Request to make Event Edit feature open inside tab not pop up"
Currently, Edit buttons open pop up, but can they instead expand that tab, with an option to again collapse the tab at the bottom. UX and data entry improvement if they can all open and close more smoothly. @LucieGueuning hope I got this one correctly, but add further explanation if not clear.
<img width="709" alt="screen shot 2018-04-04 at 4 50 44 pm" src="https://user-images.githubusercontent.co

[2018-04-08 23:31] anexact opened #364 "Request to alter text in the Create New Event field"
Request from MSF to remove the phase: "Add event metadata"
<img width="1196" alt="metadata remove" src="https://user-images.githubusercontent.com/20785542/38473787-b3c38746-3b95-11e8-9831-4ab49d2e1c29.png">

[2018-04-08 23:40] anexact opened #365 "Event Page Top Nav UX improvement request"
@LucieGueuning can you please comment on this one? It is unclear from the notes how the fix was meant to be implemented, apologies but I have the screenshot only, not record of what you thought was needed as adjustment...if you want my suggestions, just tag me back.
<img width="709" alt="event top nav" src="https://user-images.githubusercontent.com/20785542/38473861-dea1c648-3b96-11e8-860f-6c80f88

[2018-04-09 00:09] matthewberryman commented on #364
Dupe of https://github.com/MSFREACH/msf-reach/issues/358

[2018-04-09 00:09] #364 closed

[2018-04-09 13:50] LucieGueuning opened #366 "Report card offline (@pete)"
2 questions:

Can we have report card offline? and sync on the map of REACH once they got WiFi back?
Can we imagine a chatbot by sms? or impossible to implement offline?

These questions are for information and not necessary to be implemented into REACH. Is it feasible from a IT perspective or just impossible? Any solutions, thoughts on that?

@pete

[2018-04-09 17:09] LucieGueuning opened #367 "notification box + overview box on event page"
for each event, we should have a notification box (which is now working really well), and an overview box.  The overview box can give a general description of the event, and should be on top of the notification box.

@anexact what do you think? It can help the user on event page right?

[2018-04-09 17:36] LucieGueuning commented on #357
agree

[2018-04-09 17:39] LucieGueuning commented on #352
we need to display specific icons for each types of event and sub-types of event (if any)

[2018-04-09 17:40] LucieGueuning commented on #365
We should be on the same rules than the landing page (for consistency).

@anexact you can give suggestions to avoid too many tabs on that page.

[2018-04-10 13:18] LucieGueuning opened #368 "Improvement of UX/UI of landing page UP map"
@anexact

Please do suggestions as discussed during our meeting last Wednesday 06.04:

![image](https://user-images.githubusercontent.com/25951555/38559069-f0c03f88-3cc9-11e8-9b78-3763177863f6.png)

[2018-04-10 13:19] LucieGueuning opened #369 "Vertical column on the right to be displayed as a box"
@anexact to make it clear for MB

![image](https://user-images.githubusercontent.com/25951555/38559135-1e0bebb8-3cca-11e8-9874-80a3b74bbf7d.png)

[2018-04-10 13:25] LucieGueuning opened #370 "Vizalytics work"
- integration of API
- test of API
- Good display on REACH of info (numerical, sentences, tables, geo JSON)

[2018-04-10 13:27] LucieGueuning opened #371 "logo on landing page needs to be bigger by 2 times"

[2018-04-10 13:29] anexact opened #372 "Organization of "Event" top nav tabs"
<img width="1154" alt="screen shot 2018-04-10 at 3 28 32 pm" src="https://user-images.githubusercontent.com/20785542/38559579-af6953a8-3cd3-11e8-8d08-906b915eafe1.png">
( @matthewberryman as I mentioned, there are several items for reorganization after the UX meeting with @LucieGueuning ... this is 1/3)

Can we reorganize the tabs into 2 distinct sets:
Upper Set (Main): Status / Contact
Lower Set:

[2018-04-10 13:32] anexact commented on #372
<img width="468" alt="tab nav" src="https://user-images.githubusercontent.com/20785542/38559766-2b3e8868-3cd4-11e8-9f01-c88dd930dee3.png">
Currently, we have this; UX not working well, above is just sketch, but the content is correct unless @LucieGueuning wants it changed, but we will confirm in meeting today 16h00 CET.

[2018-04-10 13:32] LucieGueuning commented on #372
GOOD!

I would put 'Event Status' instead of 'Status', no?

[2018-04-11 15:20] LucieGueuning commented on #334
SOLUTION:
- Add a tab on landing page, on the right, next to 'Contact', called 'Reports'
- Having a general URL for report not asked through a specific link that peers can bookmarks on their browser
- Having the general report stored into this tab with an additional features, which is a dropdown on the right with the possibility for operators to allocate the report to a specific 'ongoing event'. d

[2018-04-13 05:47] #79 closed

[2018-04-13 05:47] #57 closed

[2018-04-13 05:50] matthewberryman commented on #57
@LucieGueuning Just noting that double clicking still brings up event creation modal, and report status still shows up as a drop-down list, but as you go to confirm event / change status it will then pop up the modal. This is too much work in current phase to implement (I have other more pressing things) plus leaving it that way shows the functionality off even if people don't have access.

[2018-04-14 17:41] anexact commented on #372
Yes.

[2018-04-15 03:09] matthewberryman commented on #227
@talltom can you please provide an update on this urgently? Please submit a PR when done in contacts branches here and on msf-reach-schema

[2018-04-15 03:11] matthewberryman commented on #334
@talltom can you please work on schema and API changes
@mehrdadgit can you then please work on UI changes

[2018-04-15 22:47] matthewberryman commented on #357
@LucieGueuning @anexact please test in our dev environment

[2018-04-15 22:52] matthewberryman commented on #371
making the logo double the size means I have to make the row it's in double the size, so it ends up being (on my screen) going from around 6.75% of the size to around 13.5% of the total height, leaving significantly less room for the map. The main issue with the icon as I see it is that the text for MSF is too small, so is there an alternate icon I could use that doesn't have that text, or has it

[2018-04-15 23:06] matthewberryman commented on #361
@anexact @LucieGueuning there already is scrolling for RSS feeds (and for table elements under other tabs) in the right side column. So is the issue here just to make it the same size as the map? Or the map plus the contacts searching (as illustrated with the red rectangle)? Please clarify.

[2018-04-15 23:15] matthewberryman commented on #372
I'll have a go at this but my concern is that it will end up taking a bit too much space on the RHS so if you have any other ideas @anexact @LucieGueuning please shout.

[2018-04-15 23:47] matthewberryman commented on #372
Example code https://codepen.io/brylok/pen/zawdJ

[2018-04-16 00:06] matthewberryman commented on #366
1. Offline report cards are out of scope for current phase as that would require development of a separate mobile app plus offline caching.
2. You could do SMS but then the trouble is that any data coming back is not structured so I would say out of scope. The best option here per previous discussions is to communicate with operators over SMS who then enter info.

Just noting not to use `@` unless

[2018-04-16 05:15] anexact commented on #371
I agree, it cannot be double the size or the row is completely out of scale. @LucieGueuning can you review other MSF logo options re: non-text-based logo that might work better?

[2018-04-16 05:45] matthewberryman commented on #357
There's a known bug in our platform (dev for now) in that popups can display outside of the maxbounds and these are temporarily shown in full before the map snaps back to the maxbounds I've set. This is caused by a known bug in leaflet https://github.com/Leaflet/Leaflet/issues/2324 and the RRose plugin provides a solution. I probably won't get time to look at this until early tomorrow Chinese time

[2018-04-16 05:49] matthewberryman commented on #372
@LucieGueuning @anexact please give this a try in our dev environment.

[2018-04-16 06:54] mehrdadgit opened #375 "Contact clusters color fix on landing page"

[2018-04-16 12:01] LucieGueuning opened #376 "Loading contact - bug"
![image](https://user-images.githubusercontent.com/25951555/38807949-47a65bec-4176-11e8-8ede-4437d1a3f5b2.png)

[2018-04-16 12:27] matthewberryman commented on #376
I can't reproduce this. Lucie can you please [refresh with cache bypass](https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache#Google_Chrome) and retry? Possibly broken with some changes to clustering @mehrdadgit put in earlier and/or I also changed the missions handling on the landing page as part of an implicit request to add mission table in #372

[2018-04-16 12:42] LucieGueuning commented on #227
Please note that the following email addresses was not delivered for different reasons: the recipient's email system refuse to accept a connection from our email system (cf. emails list by email).

[2018-04-16 14:25] LucieGueuning commented on #361
@anexact to clarify.

Make it as a box (looks like a box and not infinite never ending)

[2018-04-16 14:27] LucieGueuning commented on #366
Of course, it is out of scope.
It is here a question and I would like to know the answer, from the technical point of view and not if it is part of our scope or not.

Thanks

[2018-04-16 14:33] LucieGueuning commented on #371
Please see all the options here: https://drive.google.com/drive/u/0/folders/0Bw27FPU-gFxYQnlvU1VETHJvZUE

[2018-04-16 14:35] LucieGueuning commented on #357
well noted. I guess it is the same issue that #376

[2018-04-16 14:38] LucieGueuning commented on #357
Need to have access to the Nauru island for project just opened by MSF

[2018-04-16 14:52] talltom commented on #227
@matthewberryman - this PR merges the contacts branch for server code into dev.

https://github.com/MSFREACH/msf-reach/pull/377

[2018-04-16 15:42] LucieGueuning commented on #376
It is now gone.

[2018-04-16 15:42] #376 closed

[2018-04-16 23:31] matthewberryman commented on #357
#376 was a separate issue.

@LucieGueuning can you please send me a complete list of countries that you want included as Nauru for example is not normally considered part of SE Asia.

[2018-04-16 23:39] matthewberryman commented on #369
dupe of #361 - @LucieGueuning if you have additional info to add on an existing issue please add comments

[2018-04-16 23:39] #369 closed

[2018-04-17 01:26] matthewberryman opened #378 "contact tab content out of place"
With some fixes on top of my work on #372 where I lost some styling, I've now got the event tabs content moved back up, but I'm having trouble with the contact tab content.
<img width="455" alt="screenshot 2018-04-17 09 25 07" src="https://user-images.githubusercontent.com/2288238/38843368-4cd59adc-4221-11e8-8b1f-a4b5440b8c75.png">

[2018-04-17 01:28] matthewberryman opened #379 "map should dynamically extend to bottom of window"

[2018-04-17 01:29] matthewberryman commented on #361
@mehrdadgit when considering #378 please also look at this (since it's also about styling the tab content so I guess can be done in the same css) and also see #379

[2018-04-17 03:25] matthewberryman commented on #366
Technical reason for offline report cards already stated above. For SMS it's stated in part above: namely the data coming back is unstructured (and also does not contain any location data) so there would need to be extra processing work and you'd still need to get an operator in the loop anyway.

[2018-04-17 03:32] matthewberryman commented on #277
1. Operators can turn on / off individual RSS feeds (saved in cookies), and
2. We've decided to restrict geographically per #357
so I don't think this is needed any more?
@LucieGueuning

[2018-04-17 03:35] matthewberryman commented on #362
I think we can drop creator and edits down to other sections. Same with sharepoint link?
@LucieGueuning @anexact please provide a revised list.

[2018-04-17 03:40] matthewberryman commented on #340
To me, "other names" reads "aliases", but you're suggesting it means "middle names". Please confirm. In that case we could probably drop the "other names" field and just run with "given name(s)", which is also, unlike "first name", unambiguous with respect to name ordering conventions that vary cross-culture/language.

[2018-04-17 04:42] matthewberryman commented on #332
From @LucieGueuning
* need to be able to share this contact with another specific MSF staff
* need to see which contacts is private and public (UI to be suggested by @anexact)
* need to be able to put the private contact to public and vice-versa

[2018-04-17 06:48] matthewberryman commented on #332
At the moment the private ones are displayed on the map and table alongside the regular ones but only for the user to which they're private. UI ideas need to encompass how to see which are private and which are public and also how to change them, plus I welcome your feedback on the current way that users indicate private contacts on entry (tick box on start).

[2018-04-17 09:12] matthewberryman commented on #227
Thanks @talltom - I have pushed some changes
1. Align joi with latest requirements around fields & contact input UI as to what's required. I could probably tighten a few up.
2. peers -> update change (it's not just peers but any contact that we need to update)
3. Allow for checking against

@mehrdadgit can you now work on UI for this? Just noting as well as client side work for updating and deleti

[2018-04-17 09:14] matthewberryman commented on #227
@mehrdadgit continue work in contacts branch for this, please

[2018-04-18 06:45] matthewberryman commented on #355
Got this in. I would argue we probably want contacts (at least non-MSF ones) off by default? Maybe healthsites off too? @anexact @LucieGueuning

Starting a new incognito session should start with a fresh set of cookies although unless you close and re-open chrome it seems to keep them across incognito sessions even. To clear, turn on dev tools, go into application, and find the cookies for the sit

[2018-04-18 06:48] matthewberryman commented on #267
@LucieGueuning @anexact any update on this?

[2018-04-18 06:50] matthewberryman commented on #344
tested on dev and working, also reviewed API key settings and they seem OK for prod too. closing

[2018-04-18 06:50] #344 closed

[2018-04-18 08:16] matthewberryman commented on #291
Now looks like this. I've indented the subgroup checkboxes and also made the label text a bit smaller.
<img width="154" alt="screenshot 2018-04-18 16 10 16" src="https://user-images.githubusercontent.com/2288238/38919664-ca128eb2-4323-11e8-8c9c-a051cd776234.png">

[2018-04-18 11:39] LucieGueuning commented on #355
Off for non-MSF contacts and off for healthsites (as default), I confirm! :)

[2018-04-19 12:53] mehrdadgit commented on #268
Hi @LucieGueuning @matthewberryman

By sub-tabs you mean the way is currently done?
Another option is pills: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_pills_dynamic&stacked=h

[2018-04-19 12:56] matthewberryman commented on #268
Issue superseded by https://github.com/MSFREACH/msf-reach/issues/372

[2018-04-19 12:56] mehrdadgit commented on #301
I guess this is done @matthewberryman ?

[2018-04-19 12:56] #268 closed

[2018-04-19 13:00] matthewberryman commented on #301
No, what @LucieGueuning means is to have editing on the page rather than edit button opening a section of a modal. See https://github.com/MSFREACH/msf-reach/issues/363 for more details. Closing this issue as it's a dupe of #363.

[2018-04-19 13:00] #301 closed

[2018-04-19 13:02] mehrdadgit commented on #274
Is this still a priority/necessary after #270 has been done?

[2018-04-19 13:09] matthewberryman commented on #274
What with other changes to the way an event is defined and mapped, plus #363 (dropping modal anyway) let’s keep this as low priority until I’ve had a chance to revisit and also talk through with @anexact

Sent from my iPhone

On 19 Apr 2018, at 21:02, Mehrdad <notifications@github.com<mailto:notifications@github.com>> wrote:

Is this still a priority/necessary after #270<https://github.com/MSFREAC

[2018-04-20 12:23] matthewberryman opened #381 "parse error"
https://github.com/MSFREACH/msf-reach/blob/4fc44dce8a667e1a696c62680a58da12e1fd4f1c/src/api/routes/contacts/model.js#L158

This line's throwing a parse error when going through the API but when I copy and paste it and put in the actual values (below), it's fine. Is node-pg adding quote marks or something around `$1`?

Note: use latest schema in dev branch of schema repo.

[code]

tag #332

[2018-04-20 13:42] LucieGueuning commented on #267
@anexact who took the lead on that to meet the need and follow-up the Natasha's comment

[2018-04-20 13:47] LucieGueuning opened #382 "Monitoring and Assessment table empty (as default)"
![image](https://user-images.githubusercontent.com/25951555/39054485-b2265806-44a9-11e8-96d0-24445acc903d.png)

[2018-04-20 13:49] LucieGueuning commented on #291
Perfect. Thanks.

'Mission' should be 'MSF Past Responses'.

[2018-04-20 13:50] LucieGueuning opened #383 "Typhon - ID 44 should be delete from the prod environement"
It was for the live-demo of presentation
![image](https://user-images.githubusercontent.com/25951555/39054683-2d92328a-44aa-11e8-9911-1f0f7651a052.png)

[2018-04-20 13:51] LucieGueuning commented on #383
![image](https://user-images.githubusercontent.com/25951555/39054724-48804582-44aa-11e8-9ea1-343f6c54f4fe.png)

[2018-04-20 14:02] LucieGueuning opened #384 "Add the rss feed"
After OCB meeting, people from e-pool are monitoring conflict through the following RSS feed mainly:
https://liveuamap.com/

[2018-04-20 14:25] LucieGueuning commented on #372
Not satisfy on my screen. Indeed, it looks like Missions Histories is under monitoring and assessment.
![image](https://user-images.githubusercontent.com/25951555/39056553-f84e2b9c-44ae-11e8-882e-86d438e587d7.png)

[2018-04-21 00:49] matthewberryman commented on #372
subtabs going on to the second line is not something we can control - it's wrapped by the browser as there's not enough space and we can't give it more space. There's a line separating top level tabs from subtabs and we also distinguish between top level tabs and subtabs through capitalisation.

[2018-04-21 00:49] #372 closed

[2018-04-21 01:11] matthewberryman commented on #384
There's no geospatial information in the RSS feed itself, the server code would at present need to manually fetch all of the items and then web scrape the geospatial information (a lot of work, and makes this slow). We would need to write to the liveuamap people and get them to add the information / look to see if they have another source of information on the site that could be used.

[2018-04-21 01:23] matthewberryman opened #385 "'Mission Histories' should be 'MSF Past Responses'."

[2018-04-21 01:35] #382 closed

[2018-04-21 01:53] matthewberryman opened #386 "settings not saved for grouped layers"
Because of the style changes in https://github.com/MSFREACH/msf-reach/issues/291
the leaflet event isn't triggered for group layer control events.

[2018-04-21 03:33] mehrdadgit commented on #381
@matthewberryman you had already fixed this I think; I just did a bit of tidy up; It should work but please test and revert if not

[2018-04-21 03:39] matthewberryman commented on #381
@mehrdadgit nope it broke things. Please focus on open issues (noting this one I had written a commit with "fix" in the message, just wasn't closed as I haven't merged back to master as I'm still working on #332 )

[2018-04-21 03:58] mehrdadgit commented on #381
Ok sure, what did it break by the way? (just for reference)  cause travis build fails regardless...

[2018-04-21 04:03] mehrdadgit commented on #234
Related to #227
@matthewberryman scheduled tasks are going to be run on the same server or a separate lambda function etc. ?

[2018-04-21 06:22] #381 closed, assigned to tomasholderness, mehrdadgit

[2018-04-21 06:31] matthewberryman commented on #332
(accidentally closed via keyword during merge)

@LucieGueuning I've done a huge amount of work to get thus far and have merged into prod so there's something ready for demo. There are some known issues / things to think about:
* I still welcome feedback on UI. For now it's in the contact modal. Note that you have to hit enter when you've entered an email, and it will be looked up in the AD system

[2018-04-21 06:32] #383 closed

[2018-04-21 06:55] matthewberryman commented on #383
(ignore commit message, not relevant for a DB entry change - I tagged wrong issue by mistake)

[2018-04-21 07:03] matthewberryman commented on #370
@mehrdadgit
* API (mock output for now): https://msf-api.vizalytics.com/event - requires headers `Content-Type: application/json` (of course) and `x-api-key: API-key-I-will-share-with-you-in-LP`.
* API definition: [json](https://github.com/MSFREACH/msf-reach/blob/dev/ai/swagger.json), [yaml](https://github.com/MSFREACH/msf-reach/blob/dev/ai/swagger.yaml) that you can run through https://editor.swa

[2018-04-21 12:26] mehrdadgit commented on #370
OK. confirming first we need to interface this with the reach API to avoid CORS limitations?

[2018-04-21 12:28] matthewberryman commented on #370
Yes and also to ensure only authenticated users can call it (and keeping the API key secret in env vars).

Sent from my iPhone

On 21 Apr 2018, at 20:26, Mehrdad <notifications@github.com<mailto:notifications@github.com>> wrote:

OK. confirming first we need to interface this with the reach API to avoid CORS limitations?

—
You are receiving this because you were assigned.
Reply to this email dire

[2018-04-22 10:42] anexact commented on #267
I remain opposed from UX/UI perspective to adding sentences to the buttons on the micro-survey. If they need sentences to describe them, the buttons have failed their purpose.

[2018-04-25 03:31] matthewberryman commented on #370
@luciegueuning please put any AI UI designs here

[2018-04-25 03:37] LucieGueuning opened #388 "AI and ML - UI to have after hitting 'creation button' - pop up window"
![image](https://user-images.githubusercontent.com/25951555/39225083-4a8e20f6-4842-11e8-857f-c4bb28adf992.png)

[2018-04-25 03:41] LucieGueuning commented on #370
AI and ML - UI to have after hitting 'creation button' - pop up window
![image](https://user-images.githubusercontent.com/25951555/39225212-e574a900-4842-11e8-8abc-a8cd936a2a53.png)

[2018-04-25 03:42] LucieGueuning commented on #388
Only copy paste the text:

[2018-04-25 03:42] #388 closed

[2018-04-25 03:42] LucieGueuning commented on #388
#370

[2018-04-25 03:47] LucieGueuning commented on #194
Good but please make it that I can see the single white icon clickable on the zoom level on the picture below:
![image](https://user-images.githubusercontent.com/25951555/39225315-8bbe2890-4843-11e8-9d84-b5e9116d4f21.png)

For contacts, this level:
![image](https://user-images.githubusercontent.com/25951555/39225337-ae147c0a-4843-11e8-9566-4336fd67fa9f.png)

[2018-04-25 03:48] LucieGueuning opened #389 "Why only 135 contacts on my landing page?"
![image](https://user-images.githubusercontent.com/25951555/39225370-ddfdf7b6-4843-11e8-972f-e1cd1c5d5d67.png)

[2018-04-25 04:10] LucieGueuning commented on #332
Great work.

I am testing it right now with Natasha. A few points need to be improved (but as low priority):
- We should share by entering the name of the people and not the email address (Picture 1)
- The system should suggest the profile of the people (Picture 2)
- I need to get an email to get notified that Natasha shared a contact with me

Picture 1:
![image](https://user-images.githubusercont

[2018-04-25 04:13] LucieGueuning opened #390 "Operators access - AD broken on prod"
Natasha doesn't have access to the edit part anymore, even thought she is still on the operators group

Even myself, when I try to create an event on prod env.
![image](https://user-images.githubusercontent.com/25951555/39225968-5a8ff894-4847-11e8-8b14-74e84f6e4de7.png)

Need to be solved as soon as possible.

[2018-04-25 09:29] mehrdadgit commented on #370
Done @matthewberryman  have a look at PR; For now it shows this modal after submission:
![image](https://user-images.githubusercontent.com/7603978/39237428-d5dace26-48be-11e8-9d59-ab5a5621ddcf.png)

Change wording as necessary.

[2018-04-25 11:58] #390 closed

[2018-04-25 12:31] matthewberryman commented on #370
@LucieGueuning This is now deploying into our dev & test environments.
@mehrdadgit on my screen the modal is too large and I struggle to make the window big enough to click on the "done" button - can you please fix (in dev branch)

<img width="889" alt="screenshot 2018-04-25 20 25 42" src="https://user-images.githubusercontent.com/2288238/39245867-7c7ecd10-48c7-11e8-9629-abae653e093d.png">

[2018-04-25 12:36] matthewberryman commented on #370
@mehrdadgit can you please fix asap. Demo session is tomorrow afternoon Jakarta time.

[2018-04-25 12:59] matthewberryman commented on #389
I've fixed up some cookie bugs plus those are only stored on a browser basis (are you on a different computer with travel?) and so you would have resorted to default settings, which per your [request](https://github.com/MSFREACH/msf-reach/issues/355#issuecomment-382357562) is now off for non-MSF(-staff) contacts. If you turn non-MSF contacts back on then this setting will be kept and the rest will

[2018-04-25 12:59] #389 closed

[2018-04-25 13:13] matthewberryman commented on #354
Per discussions today seems changes to respond to [previous comment](https://github.com/MSFREACH/msf-reach/issues/354#issuecomment-379822847) have gone in the wrong direction.

[2018-04-25 13:22] LucieGueuning opened #393 "an error occurred"
when trying to add contact, Remi experienced the following message when hitting the button 'submit'

'an error occurred'. He is on edge.

asap for the demo

[2018-04-25 13:31] matthewberryman commented on #393
Known bug previously advised per https://github.com/MSFREACH/msf-reach/issues/332#issuecomment-383271814 - closing this duplicate issue. Active use of the rest of the system (refresh first) resolves in my experience. Too complicated now to fix before demo, short of rolling back requested major work in #332 out of prod prior to demo (leaving it in test environment).

[2018-04-25 13:31] #393 closed

[2018-04-25 13:38] matthewberryman commented on #332
Quoting comment from @LucieGueuning  w/out confidential information:
Great work.

I am testing it right now with Natasha. A few points need to be improved (but as low priority):
* We should share by entering the name of the people and not the email address
* The system should suggest the profile of the people
* I need to get an email to get notified that Natasha shared a contact with me

[2018-04-25 13:55] matthewberryman commented on #332
@LucieGueuning to avoid "odd bugs that crop up if you haven't actively used the rest of the system in a while (~10 mins) and then go to add a private contact or share a private contact." aka #393 I've developed a partial workaround that I can rapidly deploy on demand before the demo tomorrow if required (https://github.com/MSFREACH/msf-reach/pull/394). This disables the checkbox on the first conta

[2018-04-25 23:31] mehrdadgit commented on #370
Have put a fix on dev @matthewberryman

[2018-04-27 04:01] LucieGueuning opened #395 "Rss feed on http://inarisk.bnpb.go.id/?"
taking inspiration of their UX/UI to improve features of REACH
http://inarisk.bnpb.go.id/

[2018-04-30 10:55] LucieGueuning commented on #332
From the excel sheet, all of them who are mentioned as contact of Natasha need to be under Natasha profile database on REACH.

[2018-04-30 10:56] LucieGueuning opened #396 "delete report unconfirmed for Boat arrivals event + contact lisa"

[2018-04-30 10:58] LucieGueuning opened #397 "Management of ongoing project in Jakarta."
Need Matthew to update them manually as not possible on the platform
1. Project in Banten (Adolescence   reproductive healthcare (Sensibilisation + Education and Health Screening)
2. Project in Thousand Island (Adolescence   reproductive healthcare (Sensibilisation + Education and Health Screening)
3. Project in Bandung (training to methanol poisoning) - completed
4. Project in the region (trainin

[2018-05-02 07:03] LucieGueuning commented on #227
Contacts, able to edit their profile such as **example** (UI) below:
![profile to edit](https://user-images.githubusercontent.com/25951555/39509766-53cf89a0-4ddf-11e8-8e5e-4bafd4ec7dae.jpg)

[2018-05-02 22:54] matthewberryman commented on #397
@LucieGueuning Please be specific about what things you can't edit.

[2018-05-02 23:46] matthewberryman commented on #397
(unless this is just the demo reports you wanted removed?)

[2018-05-03 00:36] matthewberryman commented on #397
Just checked database and the list of reports you'd requested doesn't match the list provided here, plus you said these need to be updated (how?) not deleted.

[2018-05-03 00:37] matthewberryman commented on #368
@anexact any update?

[2018-05-03 00:38] matthewberryman commented on #356
Per whatsapp from @LucieGueuning  have updated the metadata for this (despite co-ordinates being in Thailand).

[2018-05-03 00:49] matthewberryman commented on #397
Ok just catching up on issues and I see https://github.com/MSFREACH/msf-reach/issues/396 is for deletion. Please clarify on what you mean by this issue.

[2018-05-03 00:55] matthewberryman commented on #395
@LucieGueuning

RSS feeds are not UI/UX features in and of themselves, and there are no RSS feeds on the inarisk site. * If there is an RSS feed from somewhere that you want please specify its url.
* If there are UI/UX features from the inarisk site then please update the issue title and be clear on which UI/UX features you want.
* If there are sources of data from inarisk then please specify whic

[2018-05-03 01:17] matthewberryman commented on #396
done

[2018-05-03 01:17] #396 closed

[2018-05-03 09:37] matthewberryman commented on #332
@LucieGueuning Just to update you with good news on this in hopefully straightforward English:

* The error messages that were showing up (per previous comment here and https://github.com/MSFREACH/msf-reach/issues/393 ) were because I was using version 1 of the Microsoft login system, which meant I had to complete the second half of the auth process with the Graph API (for looking up other user de

[2018-05-07 03:30] matthewberryman commented on #225
@LucieGueuning , @mehrdadgit is working on the contact editing and removal steps, I will shortly document where data goes, but reminder that from you I urgently need privacy policy (to go up on a page I can link to from first contact card, please copy and paste into a comment here) - and also the name and contact details of the MSF Data Protection Officer (email those)

[2018-05-08 01:03] matthewberryman commented on #336
@LucieGueuning that doesn't say we have to build an IM platform within REACH, just that REACH needs to integrate crowd sourced information from IM, which it already does - users can already share reporting links for crowdsourced information with other users via Skype for business, or via whatsapp, etc. We could integrate in Skype for Business but that's a major effort (out of scope for this phase

[2018-05-08 03:17] matthewberryman opened #399 "email notification of private contact shares"
@LucieGueuning I've broken this bit off from #332  (the rest of that is now done) - I want to wait until @mehrdadgit has done some work on email as part of https://github.com/MSFREACH/msf-reach/issues/227 (separate to scheduled reminders in https://github.com/MSFREACH/msf-reach/issues/234 ) as #227 will bring in some email code that I then want to reuse for this.

[2018-05-09 00:16] matthewberryman commented on #334
@mehrdadgit I've been busy on schema and API and UX work. I have sent you a dump of my local msf_reach database that has the schema changes plus a couple of reports in (one unassigned to an event) for testing.
I need your help to resolve some issues with recent commits in the event_free_reports branch:
* Tab content for reports -> unassigned reports showing up down the bottom.
* Is it possible to

[2018-05-09 00:42] mehrdadgit commented on #334
First point should be solved @matthewberryman
I will have a look at second issue this evening; there is also a UI bug that if you switch between top level tabs a couple of times the contents of bottom level tabs hide out.. I will try to fix both  this evening.

[2018-05-09 00:59] matthewberryman commented on #334
ok thanks, even that much for now helps me with further testing of more features I'm going to add.

[2018-05-09 01:04] mehrdadgit commented on #334
@matthewberryman I suspected some js code is interfering with tab selection, I removed it and it seems to be fixed now :)

[2018-05-09 08:01] matthewberryman opened #400 "type checking on new event UI doesn't always work"

[2018-05-09 08:02] matthewberryman opened #401 "new reports not always showing up"
intermittent, not sure yet (out of time today) but possibly just unassigned ones only as part of #334

[2018-05-09 08:04] matthewberryman commented on #334
I can now create reports under /reports/ (not linked to event); on the todo list:
* More testing
* Resolve #401 (possibly part of this).
* On assignment, remove the item from the table dynamically and also make sure map is updated.

[2018-05-10 09:30] matthewberryman commented on #400
fixed with https://github.com/MSFREACH/msf-reach/commit/7cdae51e918fdb3d10190780d2dee7a5278bc263

[2018-05-10 09:30] #400 closed

[2018-05-10 09:46] matthewberryman commented on #334
@LucieGueuning this is done though I would like Mehrdad and Tom to review some of the code first as it's a pretty major change on a number of fronts from database to API to even some of the build parameters.

[2018-05-12 02:08] matthewberryman commented on #225
following on from my previous comment I found the privacy policy and now link directly to that

[2018-05-12 22:43] matthewberryman opened #403 "404 not working for /api"
https://travis-ci.org/MSFREACH/msf-reach/builds/377993934

[2018-05-13 06:59] #352 closed

[2018-05-13 06:59] #403 closed

[2018-05-14 05:07] matthewberryman commented on #334
@LucieGueuning This is now deployed to dev and test environments - please try it out and let me know what you think.

[2018-05-14 05:08] matthewberryman commented on #334
@LucieGueuning just noting that unassigned reports show up on the map and table on the landing page until either ignored or assigned to a new or existing event.

[2018-05-14 12:59] LucieGueuning commented on #397
The only issue is, for ethnography, how we do an event for a monitoring of the entire region? e.g. Mentanol Poisoning?

@anexact

[2018-05-14 13:17] anexact commented on #397
Sorry, I don't understand. What is mentanol and why can't it be monitored in the normal procedure that Natasha would use?

[2018-05-14 13:45] LucieGueuning commented on #356
Cannot update co-ordinates on REACH

[2018-05-15 08:41] LucieGueuning commented on #397
It is a specific event that need to be monitored for the entire region, not only one specific epicenter, not only one country? Should we open an event including all SEA and adding reports time after time?

[2018-05-15 08:43] LucieGueuning commented on #395
1/ UI/UX features to define by Etienne.
2/ I don't know the source but getting their data would be amazing (feedback from Indoensia mission)

[2018-05-15 08:43] LucieGueuning commented on #371
need input from me?

[2018-05-15 08:46] LucieGueuning commented on #362
creator and edits can be remove from this list and add description

[2018-05-15 08:48] LucieGueuning commented on #340
as per conversation, other names means middle names and should be display in the middle: Lucie Christine Gueuning. We keep the current one like that and add in contact card Other names (middle names) to be more explicit for the next ones

[2018-05-15 08:49] LucieGueuning commented on #286
input from me?

[2018-05-16 01:35] matthewberryman commented on #356
Users can now double click on the event map in the edit modal and it will adjust the location and update the country

[2018-05-16 01:57] matthewberryman commented on #295
@LucieGueuning reminder to supply me with data for this. For reference, list of countries in SE Asia can be found here https://github.com/MSFREACH/msf-reach/blob/master/public/resources/js/country-to-language-mapping.json

[2018-05-16 02:23] matthewberryman commented on #340
How about we change the contact card as follows:
* "First name" -> "Given name(s)", as it makes it clearer with respect to countries that use different name order, and also then people can give additional given names / middle names here if they want, and then it will show up the full name as desired on the popup display.
* "Last name" -> "Family name", as it makes it clearer with respect to countr

[2018-05-16 03:29] matthewberryman opened #405 "Don't georestrict when searching by name / affialiation / etc. on events page"
Request from Natasha. cc @LucieGueuning

[2018-05-16 04:27] #334 closed

[2018-05-16 04:27] #356 closed

[2018-05-16 04:27] #401 closed

[2018-05-16 04:27] #405 closed

[2018-05-16 06:28] matthewberryman commented on #286
Not required @LucieGueuning . The bulk of this work is done. I want to put in the login page but last I had a look it was quite tricky to get the workflow happening with respect to our existing workflow (before AD integration) + AD integration on top of that + combined with some of the error reporting around our API.

[2018-05-16 07:20] matthewberryman opened #407 "type selection for contacts broken"
Not returning any results when a type is selected.

[2018-05-16 07:21] #407 closed, assigned to matthewberryman

[2018-05-16 09:26] LucieGueuning commented on #340
perfect. go for it. Thanks!

[2018-05-18 02:40] #354 closed

[2018-05-18 02:48] matthewberryman commented on #298
@LucieGueuning I've still not received the email you mentioned and so it's not clear from what you've written exactly what you want here - and where you want this list to display? Why will the set of reports plus the box feature not cover this? It's getting too late given the lack of information thus far to get this done by next due date.

[2018-05-18 02:49] matthewberryman commented on #308
I've not heard anything back, closing this.

[2018-05-18 02:49] #308 closed

[2018-05-18 03:12] matthewberryman commented on #362
@LucieGueuning I have removed creator and edits (on dev for now until I merge) - what you do you mean by "description" though as there's no generic "description" field but rather ones like description of severity (which we already have), security, population, results of explo mission ?

[2018-05-18 03:14] #282 closed

[2018-05-18 03:17] matthewberryman commented on #367
We already have a set of existing fields that start to provide a overview already (perhaps with some additions see https://github.com/MSFREACH/msf-reach/issues/362 )  ?

[2018-05-18 03:19] matthewberryman commented on #357
@LucieGueuning reminder I am awaiting your feedback on this too.

[2018-05-18 03:20] matthewberryman commented on #365
@LucieGueuning not sure what you mean by "same rules".

[2018-05-18 04:41] matthewberryman commented on #353
As @anexact said this is a situation with overlap (thus mostly a dupe of https://github.com/MSFREACH/msf-reach/issues/128 ) and combined with a situation where there's also a lack of easily extractable information from one of the RSS feeds that would allow us to assign an icon.

[2018-05-18 04:42] matthewberryman commented on #128
Can possibly use Turf.js distance to do a simple filter of these.

[2018-05-18 06:46] matthewberryman commented on #128
1d113c0 is first pass. Doesn't break things and should work but needs some testing- almost certainly need to generate some fake data for this.

[2018-05-18 06:47] matthewberryman commented on #128
cc @LucieGueuning

[2018-05-18 09:50] LucieGueuning commented on #332
As per contract, we need to be satisfy with the feature before we close it.

As per email: Re. contact search, the user requires, in addition to the results shown on the map, the results shown on the table below the search function. Can it be like the same feature than on the event page: having the contacts on the map shown on table and synchronise based on the map zoom?

Many thanks.

[2018-05-18 09:56] LucieGueuning commented on #362
There is no generic 'description' field so it is the reason we need to add one. Can it be on the event creation field to be completed at that time?

[2018-05-18 09:59] matthewberryman commented on #332
@LucieGueuning the display of search contacts is:
1. Not related to this feature, as defined above.
2. Not in the contact.
3. Was specified in email after the requested deadline for issues to be filed on GitHub for the current milestone.

I will open a new issue for this feature and assign to the next milestone.

[2018-05-18 10:00] matthewberryman opened #408 "table of contacts on landing page"
@LucieGueuning, @anexact
need to define what is defined here as space is much more limited than on the events page

[2018-05-18 10:02] LucieGueuning commented on #185
@matthewberryman : Ah yes, sorry was part of this feature, my mistake!

As per email: Re. contact search, the user requires, in addition to the results shown on the map, the results shown on the table below the search function. Can it be like the same feature than on the event page: having the contacts on the map shown on table and synchronise based on the map zoom?

Many thanks.

[2018-05-18 10:04] matthewberryman commented on #185
We have search supported already, closing. Addition of table is #408. I'll get that done asap but need feedback.

[2018-05-18 10:10] LucieGueuning commented on #367
yes covered by #362

[2018-05-18 10:10] #367 closed

[2018-05-18 10:12] LucieGueuning commented on #357
Sorry for delay:
countries that needs to be covered at least:
- Bangladesh
- Cambodia
- China
- India
- Indonesia
- Malaysia
- Myanmar
- Nauru
- Nepal
- PNG
- Thailand
- The Philippines
- Vietnam

it is where we consider the SEA mission for MSF (5 OC's). Linked created on SharePoint for each of them already.

Thanks

[2018-05-18 10:13] LucieGueuning commented on #365
Me neither, to be analysed and defined by Etienne. HE was supposed to design the landing page tab and event page tab (for consistency and good UX)

[2018-05-18 10:17] LucieGueuning commented on #185
I am sorry Matthew but the search today is almost done but not exactly we expected. So #408 needs to be part of this phase 2a - part 2.

Could you please change the milestone of #408 to Phase 2a - part 2 (feedback from regional training).

Thanks for understanding.

[2018-05-18 10:55] matthewberryman commented on #185
The searching functionality is complete. The display of search results can be changed but it's well past the deadline agreed in writing to specify this for phase 2a- part two.

[2018-05-18 10:55] #185 closed

[2018-05-18 11:02] matthewberryman commented on #179
Events need to have a description field. https://github.com/MSFREACH/msf-reach/issues/362

[2018-05-18 13:02] LucieGueuning commented on #271
Does someone expert on that can help me to fin out more about OCHA geospatial sources?

[2018-05-18 13:59] LucieGueuning commented on #293
Can you add, as asked, /Missions to the tab name?

[2018-05-18 14:13] LucieGueuning commented on #286
- Please correct with 'Sign out' (and not logout)
- Please correct with 'About MSF REACH' 9and not About MSF -REACH

Thanks

[2018-05-18 14:13] LucieGueuning commented on #286
![image](https://user-images.githubusercontent.com/25951555/40239464-0ecb074a-5aae-11e8-8175-533f1095c77a.png)
Why on event page, the username becomes 'session'?

[2018-05-18 14:18] LucieGueuning commented on #281
![image](https://user-images.githubusercontent.com/25951555/40239707-b1ab97c2-5aae-11e8-8a17-55ea2aa9e05c.png)
Can we put a capital letter to Displacement when display (to check if other are well spelt) + remove coma?

[2018-05-18 14:29] LucieGueuning commented on #277
close it if ok for you.

[2018-05-18 14:31] LucieGueuning commented on #385
Should be MSF Past Responses. It is not the case currently

[2018-05-18 14:36] anexact commented on #57
This is a bad decision; please do not change it client side because it then doesn't show what the system can do.
@LucieGueuning please put this on Monday agenda to discuss.
(( Overall, IMO I think these types of decisions in the GitHub should be made more strategically and carefully so that the actual outcome is desirable for the platform, not because they were or were not put on a list at some po

[2018-05-18 14:37] LucieGueuning commented on #362
right before 'latest notification' field

[2018-05-18 14:48] LucieGueuning commented on #57
ok for being on the agenda on Monday

[2018-05-18 15:04] matthewberryman commented on #385
I’d changed all references to “Mission Histories” but there was one on events page I’d  missed as it was written as “Mission History”. I’ll change that one later today.

Sent from my iPhone

On 19 May 2018, at 00:31, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

Should be MSF Past Responses. It is not the case currently

—
You are receiving this because you mod

[2018-05-18 15:06] LucieGueuning commented on #332
I am testing this feature right now and :

- need to see which contacts is private and public (UI to be suggested by @anexact)
- I need to get an email to get notified that Natasha shared a contact with me

[2018-05-18 15:06] LucieGueuning commented on #332
- need to be able to delete contact that I have input into the REACH platform

[2018-05-18 15:09] LucieGueuning commented on #385
need to be 'MSF Past Responses' and not 'Mission History'

[2018-05-18 21:50] matthewberryman commented on #357
Ok. These additional countries outside of the usual geographical definition of SE Asia (see https://asiasociety.org/education/introduction-southeast-asia , http://www.newworldencyclopedia.org/entry/Southeast_Asia ) will be added by the next deadline due to the delay in getting this changed requirement.

[2018-05-18 22:00] matthewberryman commented on #371
we're already using the one with least amount of text and biggest font so short of MSF going back to drawing board there's not much we can do

[2018-05-18 22:06] matthewberryman opened #409 "contact deletion by operator/viewer who entered it"
separate to contacts being able to delete ( https://github.com/MSFREACH/msf-reach/issues/227 )

[2018-05-18 22:12] matthewberryman commented on #332
* The contact modal already shows the current status private/public. Happy to re-open if there are any suggestions, but there's already limited space in the events page table for contact information.
* Email notification will be done soon - note this was broken off as separate issue https://github.com/MSFREACH/msf-reach/issues/399 and the rest of this is done.
* I've opened a new issue for operato

[2018-05-19 04:50] matthewberryman commented on #298
I checked and Google autocomplete will support just provinces & states in different countries, but in terms of UI I think I will need to add an extra box for this separate to display on the edit page.

[2018-05-19 18:49] talltom commented on #234
FYI. I started a Lambda for scheduled operations here: https://github.com/MSFREACH/msf-reach-contacts-scheduler

[2018-05-20 20:59] talltom commented on #342
Update:-
Commit 1e6681824be8273ec57e69174b52873959274cf6 adds ability to search for nearby events, based on point coordinates supplied events within 100km are retrieved (default distance is configurable in server config, see: 1e6681824be8273ec57e69174b52873959274cf6)

For example:
GET `/events/?geoformat=geojson&type=active&lng=0.5&lat=55` would find events somewhere in the North of England (possi

[2018-05-20 21:49] matthewberryman commented on #128
@LucieGueuning with some further work this is now tested and fixed in #128

[2018-05-21 00:10] matthewberryman commented on #300
This is done (I forgot to tag the commits with issue reference)

[2018-05-21 00:42] matthewberryman commented on #281
Just noting that making the first letter a capital, which is what I think you mean, is a point of grammar, not spelling.

[2018-05-21 01:11] matthewberryman commented on #97
This was done quite a while back

[2018-05-21 01:11] #97 closed

[2018-05-21 02:54] matthewberryman commented on #271
@LucieGueuning if you can send me the best email address to use (via email) I can make enquiries

[2018-05-21 02:59] matthewberryman commented on #128
I found some more corner cases that were throwing up bugs. Plus:
(1) Performance of this was slow from a couple of perspectives (needing to bring in an extra library, and also the algorithm itself with no easy way around that), and
(2) Having the overlap can show extra information (when details of events are clicked through to). So I will leave it as it was before, and the rest of this is done.

[2018-05-21 03:06] matthewberryman commented on #159
I've gone with .toLocaleString() that generates a format consistent with computer settings (so varies from computer to computer) but omits seconds. The event creation box (per screenshot in previous commit) needs to have the yyyy-mm-dd shown and as it goes in and comes out it's actually per operator TZ so I've changed wording, but then I'm happy with that one being different as it's entered by sli

[2018-05-21 03:29] matthewberryman commented on #293
Wouldn't that be tautological? Adding it would (in a negative way) affect the layout of the tabs as well as the map layer selection box.

[2018-05-21 03:52] #281 closed

[2018-05-21 03:54] matthewberryman commented on #353
closed per comments in #128 and here

[2018-05-21 03:59] #159 closed

[2018-05-21 04:00] #183 closed

[2018-05-21 04:01] matthewberryman commented on #274
@mehrdadgit please work on this after your contact edit/deletion work

[2018-05-21 04:01] matthewberryman commented on #363
@mehrdadgit please work on this after your contact edit/deletion work

[2018-05-21 05:41] #286 closed

[2018-05-21 05:53] matthewberryman commented on #279
@LucieGueuning what's the purpose of this? It's not really clear, i.e. If there's no need to see any confidential info then it's equivalent to our test environment (blank database but still with RSS feeds, public data etc.) so does that mean this is more of a test environment (with separate Active Directory, and we could make those logins self-managed by users), for them to evaluate REACH? Otherwi

[2018-05-21 06:56] matthewberryman commented on #267
I agree adding sentences is not good. But are we happy with 4 types?

[2018-05-21 07:00] matthewberryman commented on #336
As something super lightweight but limited, it's possible to add a skype button in the bottom right that pre-opens a chat to a specific user (e.g. Natasha) - in that regard it's very limited as you can't have a group chat, although then that specific user could set something up separately.

[2018-05-21 07:03] matthewberryman commented on #336
(landing page only for now but if that works I can extend to events page)

[2018-05-21 09:05] LucieGueuning commented on #385
In the menu on landing page/event page, it is not yet the case.

[2018-05-21 09:10] matthewberryman commented on #385
It now reads MSF Past Responses in both menus. Try refreshing your browser cache if you can't see it.
<img width="439" alt="screenshot 2018-05-21 19 08 10" src="https://user-images.githubusercontent.com/2288238/40299690-6e0bad1c-5d2a-11e8-9bbb-3e657a565df0.png">
<img width="644" alt="screenshot 2018-05-21 19 08 36" src="https://user-images.githubusercontent.com/2288238/40299750-9c575f5e-5d2a-11e8-

[2018-05-21 09:12] LucieGueuning commented on #332
- need to see on the small pop-up window on landing page when you click on specific contact if it is public/private
- ok well ntoed
- ok well noted

[2018-05-21 09:28] LucieGueuning commented on #300
Could you please upload a screenshot for me to see? I can't see that on REACH right now.

[2018-05-21 09:34] LucieGueuning commented on #128
How can we add choices?

[2018-05-21 09:35] LucieGueuning commented on #293
So we need to find another solution in term of UI/UX, but for MSF'ers it is a must in term of coherence.

[2018-05-21 09:37] LucieGueuning commented on #298
Where is that now possible if you close it?

[2018-05-21 09:40] LucieGueuning commented on #353
![image](https://user-images.githubusercontent.com/25951555/40301231-5aa13aae-5ce3-11e8-9ea4-0be072998ff6.png)

We do not have RSS feed anymore

[2018-05-21 09:46] matthewberryman commented on #353
REMINDER: please open new features and new bugs in separate issues, not in comments.

[2018-05-21 09:46] matthewberryman opened #413 "RSS table and map missing"
https://github.com/MSFREACH/msf-reach/issues/353#issuecomment-390605381

[2018-05-21 09:47] LucieGueuning commented on #279
Yes, you are right. So if external parties would like to see our platform without confidential info, I can give them access to the test environment? How can they log in? need to set by themselves an username and password for REACH? How can this work?

[2018-05-21 09:48] #413 closed

[2018-05-21 09:48] LucieGueuning commented on #336
great! Looking forward to it! 💃

[2018-05-21 09:50] LucieGueuning commented on #267
I agree with sentences as well.

4 types is ok. I got 2 months ago a feedback from users saying that sometimes they have info that is not fitting to a specific category. Can we add 'INFORMATION Any other type'

[2018-05-21 09:50] matthewberryman commented on #298
I've sent you an email with details; I will merge in with user manual once you get feedback to me on last edition.

[2018-05-21 09:53] matthewberryman commented on #300
Sorry, I have generic copy links in for both now; I was just looking at issue title and had forgotten about social media share icons, I can add in platform sharing links tomorrow.

[2018-05-21 13:19] anexact commented on #267
No, I strongly disagree.
We must encourage users to use the category they think is most relevant, not constantly leave other options and loose threads.
The 4 categories are more than sufficient once the platform is properly socialized in the organization.

[2018-05-21 14:40] mehrdadgit commented on #227
@matthewberryman ready for testing; note still did not get to fully retrieve "Type of Contact" card for edit ;(will fix tomorrow) but everything else should work fine.

[2018-05-21 14:46] LucieGueuning commented on #385
Misunderstandings: Need to be MSF Past Responses on the menu of the map on all maps (where we can turn layers on and off)

[2018-05-21 14:48] LucieGueuning commented on #332
Please do not close issue if it is not complete (cf. first point: need to see on the small pop-up window on landing page when you click on specific contact if it is public/private)

[2018-05-21 14:52] anexact commented on #332
The public/private setting does not need a pop-up. The design decisions for making this a successful platform cannot be made on a whim, or for the sake of tagging GitHub issues in a schedule—the clarity, coherence, and efficiency of the UX is being compromised by the false timeline / schedule of the Milestones and poor management of the product. This must be addressed as soon as possible as it wil

[2018-05-21 19:09] matthewberryman commented on #332
At any rate, this is done. @LucieGueuning can you please make sure you refresh your browser cache and check carefully before re-opening.
<img width="226" alt="screenshot 2018-05-22 05 08 14" src="https://user-images.githubusercontent.com/2288238/40325180-2d27e154-5d7e-11e8-9530-4812a3986f8a.png">

[2018-05-21 19:09] #332 closed

[2018-05-21 19:14] #385 closed

[2018-05-21 19:14] matthewberryman commented on #385
Ok in future please be clearer in bug reporting.

[2018-05-22 07:01] matthewberryman commented on #234
Seems to me to be sufficient to email people every 6 months - a person may not feel the need to update their information and in that case we have no way of knowing and then would delete a large number of contacts unnecessarily, plus this avoids operator workload.

I will need to manually catch non-working emails from bounce messages due to the way smtp works, and manually delete.

Code is now done

[2018-05-22 07:09] matthewberryman opened #415 "layers and tab names consistent"
cc @LucieGueuning

[2018-05-22 07:32] matthewberryman commented on #353
Make another icon similar to existing set with circle in middle instead of event type picture (?)
@anexact

[2018-05-22 07:40] matthewberryman commented on #277
Part 2a: table in line with saved layer selection.
Part 2b:
* other RSS feeds in other regions
* develop and promote standard

[2018-05-22 08:02] matthewberryman commented on #298
* Bring region list box up so you can see it's updated.
* Update live using ajax without needing to save, and this also supports multiple region additions at a time.

[2018-05-22 08:08] matthewberryman commented on #342
@mehrdadgit if nearby results are found, before saving the event through the API and then separately bringing up vizalytics modal, if you can make it so it has an alert saying "The following nearby events are found, sure you want to create?" and then once the alert has closed, if they click on create a second time* then it saves in API and does vizalytics stuff.

* Reminder on modal cancel / creat

[2018-05-22 08:40] matthewberryman commented on #336
@LucieGueuning what do you think of this? There are unfortunately limited options, either
1. This lightweight approach to open with a particular operator (could depend on region in 2b if we expand outside SE Asia).
2. A massive integration to embed Skype in (at least a month's worth of full time work - maybe something for 2 b?)

[2018-05-22 08:41] matthewberryman commented on #336
^^ re point 2. I would say only do this once other polish is added and also we have a clear idea of other work for 2b (especially AI training, and other stuff to flow from outreach).

[2018-05-22 09:17] matthewberryman opened #416 "RSS feeds in other regions"
* Come up with list.
* Manually code import @LucieGueuning as discussed no standard so each one needs manual work.
* Group them as layers and based on location of user / user preference.

[2018-05-22 09:18] matthewberryman opened #417 "promote standards for hazards feeds"
At the moment these are all over the place requiring manual addition for each RSS feed for its peculiarities (some use geoRSS but then other metadata inconsistent).

[2018-05-22 09:19] matthewberryman commented on #277
other ones #416 and #417

Table in line with saved layers is now part done in dev/test: on landing page load the table will line up with saved setting. Making it dynamic I will do tomorrow.

[2018-05-22 09:48] LucieGueuning commented on #332
Thanks Matthew! All good!

[2018-05-22 09:54] LucieGueuning commented on #415
for every map, for every tab, we need to have:
- Previous MSF Responses
- Ongoing MSF Responses

The word 'Responses' includes monitoring, explo, intervention status.
I have asked in the manson unit and 'previous' and 'ongoing' seems the best for them.
Fianl decision for this phase. Thank you!

[2018-05-22 10:18] LucieGueuning commented on #298
Ok, tested into development and asked to other colleagues to have different perspective: it becomes good but not perfect.

The step should be:
1. you type the new location into the box 'add region where the disaster is happening' (OK as it is now)
2. press a button 'add'. and in terms of UI, the add location should be a bit on the right, so then there is a difference of level with the regions fiel

[2018-05-22 10:18] LucieGueuning commented on #298
Please, let me know if not clear. It is difficult to describe

[2018-05-22 10:20] LucieGueuning commented on #300
two things:
- when pressing the mail button, it says: I've a link to share with you. But in the email, there is not link to the event.
- When pressing the share button, we should have a message saying: 'the link is well copy in your clipboard, ready to share'

[2018-05-22 10:23] LucieGueuning opened #418 "Closing event"
I can’t actually close the event because it gives an error message. See the photos attached.

![closing event - bug](https://user-images.githubusercontent.com/25951555/40356923-82e82728-5db2-11e8-97a8-3be90d15e5a2.jpg)

[2018-05-22 10:27] LucieGueuning opened #419 "event closure modal"
![closing event](https://user-images.githubusercontent.com/25951555/40356973-acc3efe6-5db2-11e8-90ea-5ea333197f46.jpg)

When closing, it asks end date of MSF response. There was no response, so this statement is not always applicable. Maybe we can change it to “date of event closure”.

[2018-05-22 10:28] LucieGueuning opened #420 "When using my Mac, I can't scroll up and down the map layers menu. When I try to scroll in the area using my mouse pad, it just zooms the map in and out."
![mac bug](https://user-images.githubusercontent.com/25951555/40357186-3f135b5c-5db3-11e8-86e4-22f5296c03aa.jpg)

[2018-05-22 10:30] LucieGueuning commented on #227
Can we add at the end of the first submission of contact card one sentence to inform people how they can edit/remove their contact information.

If you would like to edit or remove your contact information, please click on this link and add your email address.

Something like that.

Thanks

[2018-05-22 10:30] LucieGueuning commented on #234
Can we keep it open to keep the discussion ongoing with Natasha and Remi.

[2018-05-22 10:44] LucieGueuning commented on #342
It is not only about nearby event, it needs to see if the type of emergency is the same, then showing the alert with different options of event already created.

Clear enough? Thanks!

[2018-05-22 10:47] LucieGueuning commented on #336
ok, well noted.

[2018-05-22 10:49] matthewberryman commented on #342
Searching by type won’t catch nearby events with a related but different type, e.g. if an earthquake happens and then you go to add a related tsunami event, or a landslide, or search and rescue, then you also want to flag these and then go back and modify the original event to add types.

So, best to ignore type and just search on distance alone as is already implemented in the API

[2018-05-22 10:51] LucieGueuning commented on #342
ok, understood. Thanks

[2018-05-22 10:54] matthewberryman commented on #420
Fixed in leaflet except if using the grouped layer control plugin (which we are); in which case needs additional fix per https://github.com/Leaflet/Leaflet/issues/2882#issuecomment-117825234

Sent from my iPhone

On 22 May 2018, at 20:28, Lucie Gueuning <notifications@github.com<mailto:notifications@github.com>> wrote:

[mac bug]<https://user-images.githubusercontent.com/25951555/40357186-3f135b5c

[2018-05-22 10:59] matthewberryman commented on #342
If an event is far enough away it’s almost certainly unrelated. If it’s close by it’s possibly related irrespective of type—there are a huge number off different possibilities of causal chains (even ignoring the time cost of such an algorithm) so it doesn’t make sense to use type here.

[2018-05-22 11:16] LucieGueuning commented on #342
For example: migrantion, boat arrival can happen in Aceh, Indonesia and in border of Thailand or Malaysia. It is the same event but so far from each other.

You can have event/ emergency happening in one entire region that needs to be monitored as part of one event and not multiple. This is example of same type but far from each other.

It makes sense according to MSF experience.

[2018-05-22 11:43] matthewberryman commented on #342
Whole of region events to be considered as part of ongoing discussion started in https://github.com/MSFREACH/msf-reach/issues/397 for next phase. Until we've decided how to handle that, let's stick with just distance. As mentioned there are also performance, and also other UX considerations to consider.

[2018-05-22 23:17] matthewberryman commented on #298
I  disagree on point 2, to re-iterate what I said and to add an additional point:
* It's pretty clear from UI response in selecting from the dropdown, and then the update of the regions box, that something gets selected for addition and then is added.
* Adding an "add" button just creates extra work for the operator.

[2018-05-23 01:01] #418 closed

[2018-05-23 01:01] #420 closed

[2018-05-23 01:01] #277 closed

[2018-05-23 01:04] matthewberryman commented on #415
@LucieGueuning
Because of the way the user preferences for map layers are saved (because of the way the mapping library we use works), this fix for this consistency will reset the MSF ongoing and past response settings on the map, but then going forwards the system will remember these user preferences.

[2018-05-23 01:18] matthewberryman commented on #298
inadvertently closed due to commit message on merge

@LucieGueuning can you please email (not post here) your colleagues' feedback on this, to @anexact  he can consider as part of ethnographic work in this phase.

[2018-05-23 04:30] matthewberryman commented on #300
I tested the email sharing button repeatedly but could not reproduce the issue - the correct link was placed in the body of the email (noting that it's in the body of the email not the subject line, so that mail clients should render it as a hyperlink). The only thing I can think of is that it's a timing issue caused by higher latency your end, so I made a tweak to the code to help work around tha

[2018-05-23 13:57] LucieGueuning commented on #408
- full name
- type of contact
- speciality

with the following layout:
![image](https://user-images.githubusercontent.com/25951555/40429032-8f59dc62-5e99-11e8-9c95-7b9b0cc1aa3e.png)

[2018-05-23 14:05] LucieGueuning commented on #408
- Name
- type of contact
- specially

Cf. picture by WA

[2018-05-23 14:20] LucieGueuning opened #422 "Bugs for contact entry?"
![image](https://user-images.githubusercontent.com/25951555/40430329-d387155a-5e9c-11e8-9e93-9bb20e002e52.png)

[2018-05-23 14:25] LucieGueuning opened #423 "Private contact is shown on pop-up window as 'private contact? no'"
![image](https://user-images.githubusercontent.com/25951555/40430633-790fcf62-5e9d-11e8-807b-49fb62945481.png)

[2018-05-23 14:29] LucieGueuning commented on #399
This is amazing and well tested with colleagues here.
Few comments:
- one space needs to be remove before Kind Regards (on the email message)
- when clicking on the link of the contact, the person end up to the landing page and not to the specific contact card.

[2018-05-23 14:30] LucieGueuning commented on #419
![image](https://user-images.githubusercontent.com/25951555/40430954-3473c13c-5e9e-11e8-87f0-94882a12e6bc.png)

comments:
- date of event closure is redundant. Can delete one of the two title.
- previous button end up to nothing. Can be removed.

[2018-05-23 14:34] LucieGueuning commented on #415
On layers selection, on landing page map, 'previous MSF responses' don't appear anymore

[2018-05-23 14:37] LucieGueuning commented on #300
![image](https://user-images.githubusercontent.com/25951555/40431365-311cfc32-5e9f-11e8-8d5c-996948cc44c6.png)

[2018-05-23 14:41] LucieGueuning commented on #384
Question from Remi:
Is there another way to activate liveuamap from the landing page ?
You press a button and a new window opens ? So doing a hyperlink? This can be the solution for every RSS feed that this is difficult to add, at least for the time being.

[2018-05-23 16:01] LucieGueuning opened #424 "'How to' video as SOP on landing page"

[2018-05-23 16:08] LucieGueuning opened #425 "Contact card updates"
- remove fields: DOB, Gender, Profile/Speciality, Fax, Web.
- Change field location to: please indicate the location where you are currently based. Please update it as soon as you move.
- HQ staff (OC/PS). from the 'current employment status' need to have three options: field worker (national staff); field worker (international staff); HQ staff (OC/PS). Meaning we collapse all the last one into on

[2018-05-23 16:10] LucieGueuning opened #426 "Facebook and Twitter account to set for REACH"

[2018-05-23 16:11] LucieGueuning opened #427 "Button to share contact on every map and every table - direclty on pop-up window"

[2018-05-23 16:25] LucieGueuning opened #428 "Share contact - UI"
UI needs to follow the same interface than Office 365 suggestions of people.
![whatsapp image 2018-05-23 at 5 24 55 pm](https://user-images.githubusercontent.com/25951555/40437833-5053c25c-5eae-11e8-9c60-12ea76b91137.jpeg)

[2018-05-23 16:28] LucieGueuning opened #429 "re-open event"
re-open event: from previous MSF Responses on landing page (modal or pop-up window)

[2018-05-23 16:29] LucieGueuning opened #430 "When opening an event, having information from historical perspective from external sources"

[2018-05-23 16:32] LucieGueuning opened #431 "Twitter search advanced"
To filter less than hundreds of results and having the relevant ones.

[2018-05-23 16:33] LucieGueuning opened #432 "Not allow viewers moving forward before having input to much effort on the edition part"

[2018-05-23 16:35] LucieGueuning opened #433 "draggable box for map on event creation"
square defined and the map can be moved inside the event.
rectangle or a square, dimension can be flexible

Discussed and asked since day 1

[2018-05-23 16:36] LucieGueuning opened #434 "Notification with Name (auto) and Timestamp (auto)"

[2018-05-23 16:37] LucieGueuning opened #435 "Having a description space on event page"
Having the opportunity to add the general description on event creation

[2018-05-23 16:38] LucieGueuning opened #436 "Confirmation that you have send your report + Confirmation that is has been read by MSF staff"
for external users (peers, and so on)

[2018-05-23 16:39] LucieGueuning opened #437 "contact list to be exported as excel file"

[2018-05-23 16:39] LucieGueuning opened #438 "remove MSF peers option from the contact card"

[2018-05-23 16:40] LucieGueuning opened #439 "Having notification as a red dot for everything that happened since you left REACH"

[2018-05-23 16:41] LucieGueuning opened #440 "Translate REACH in FR and Arabic"

[2018-05-23 16:42] LucieGueuning opened #441 "Mobile phone network (SMS) ability for reporting"

[2018-05-23 16:43] LucieGueuning opened #442 "Offline features for reporting"
to sync the report once you get Internet connection

[2018-05-23 16:44] LucieGueuning opened #443 "Auto-reply to social media of contact (through contact card)"

[2018-05-23 17:08] LucieGueuning opened #444 "New structure of the platform for getting updates/feedback for public"
![whatsapp image 2018-05-23 at 6 08 28 pm](https://user-images.githubusercontent.com/25951555/40439933-5be761a4-5eb4-11e8-93da-c274f0985aec.jpeg)

[2018-05-23 21:48] matthewberryman commented on #300
* No consistent way (across mail clients) of specifying body as html and it should auto-convert to a clickable hyperlink in most (recipient) email clients anyway - this is the case for the mail clients I use and have tested this.
* A blank line before signature block should be added by your mail client (in fact all the bug reports I can see for outlook are that it's adding two lines not omitting o

[2018-05-23 21:54] matthewberryman commented on #441
Mobile phone reporting already supported and demoed

[2018-05-23 21:59] matthewberryman commented on #433
clarifying this as we already support box for map on event creation

[2018-05-23 22:01] #419 closed

[2018-05-23 22:09] #423 closed

[2018-05-23 22:32] matthewberryman commented on #439
@LucieGueuning need further details from you as the wording is unclear

[2018-05-23 22:34] matthewberryman commented on #439
Do you just mean on notifications? That is doable.

[2018-05-23 22:37] #415 closed

[2018-05-23 22:39] matthewberryman commented on #442
dupe of #336

[2018-05-23 22:39] #442 closed

[2018-05-23 22:41] matthewberryman commented on #442
(sorry tagged wrong issue), have updated my comment here although any email notification of my previous comment will have wrong link

[2018-05-23 22:45] matthewberryman commented on #434
more detail required

[2018-05-23 22:53] matthewberryman opened #445 "table"

[2018-05-23 22:53] matthewberryman commented on #445
accidentally typed in wrong spot

[2018-05-23 22:53] #445 closed

[2018-05-23 22:54] matthewberryman commented on #408
URL parameter for selecting contact

[2018-05-23 22:54] matthewberryman commented on #408
(sorry accidentally closed)

[2018-05-23 22:58] matthewberryman commented on #399
* one space needs to be remove before Kind Regards (on the email message): fixed
* writing MSF REACH in capital letter for consistency: fixed
* logo or image not loading: I checked and URL is correct, I'm guessing it's not showing based on your email security settings (under mine it doesn't show up at all). The only way I can avoid these sorts of problems is to not have an image, so I've removed i

[2018-05-23 23:19] #227 closed

[2018-05-23 23:39] matthewberryman commented on #188
dupe of #227

[2018-05-23 23:39] #188 closed

[2018-05-23 23:47] matthewberryman commented on #384
Doing that would take up already constrained space and would duplicate a feature (bookmark bar) already available in browsers where users can already customise to their needed links.

[2018-05-24 00:15] matthewberryman commented on #422
Not a bug, on checking the logs it's actually flagging that that we were supplied with duplicate entries which we need to eliminate as a matter of general data hygiene but also so we can reference people properly for editing removal #227. I've opened a database ticket for that https://github.com/MSFREACH/msf-reach-schema/issues/51

[2018-05-24 00:15] #422 closed

[2018-05-24 02:01] matthewberryman commented on #234
Regardless of schedule we do need to send out the first one TODAY so please review https://github.com/MSFREACH/msf-reach-contacts-scheduler/issues/7

[2018-05-24 03:27] matthewberryman commented on #437
I cannot implement this as the spreadsheet can become stale within a short period of time and it's a shared legal requirement (with large fines) to use an up to date list, and also to keep it secure. There are no guarantees of either use or security once downloaded and so it becomes highly risky. If MSF wants to do this then development and all hosting must be done in house by MSF.

[2018-05-24 03:32] matthewberryman commented on #443
* Lucie to define.
* Get MSF legal team to assess against terms of service of desired providers particularly in relation to GDPR, and this is also risky from a security perspective if, for example we reply to someone who's reporting from a security perspective, especially as we already know that MSF's twitter accounts are being monitored and retweeted etc. by hostile actors as part of their campai

[2018-05-24 08:06] matthewberryman opened #447 "Previous MSF missions modal missing details"
cc @LucieGueuning

[2018-05-24 08:07] matthewberryman commented on #408
country rather than speciality (if still room after name and type)

[2018-05-24 08:20] matthewberryman commented on #439
After clarification on call with Natasha just then, yes everything. Map items as discussed (especially RSS) is a bit trickier but doable and would make a big difference.

[2018-05-24 08:28] LucieGueuning commented on #439
- RSS feed
- event open updates
- new report
- new contact added
- ...

[2018-05-24 08:30] LucieGueuning opened #448 "Consistency on timezone for RSS feed table and on map"

[2018-05-24 08:31] LucieGueuning commented on #429
event mission history entered thanks to google spreadsheet at the very beginning

[2018-05-24 08:32] LucieGueuning opened #449 "country field on landing page for event ongoing (table)"

[2018-05-24 08:33] matthewberryman opened #450 "about modal change"
Change text to (with exception of hyperlink from your name to email that I will add when I make this change):

MSF REACH (referring to REaction Assessment Collaboration Hub) is a platform designed to support improved information management in emergencies and foster more efficient decision-support during disasters, with an objective to effectively and efficiently combine institutional data with cro

[2018-05-24 08:33] LucieGueuning commented on #408
as per call:
- Name
- Organisation
- Country
- Type of contact

If feasible in term of UI

[2018-05-24 08:33] #450 closed

[2018-05-27 23:19] matthewberryman commented on #447
[code]

[2018-05-27 23:20] matthewberryman commented on #447
I think this may have been broken due to change to clusters for missions?

[2018-05-28 02:26] #447 closed

[2018-05-28 02:26] #408 closed

[2018-05-29 00:10] matthewberryman commented on #353
also adding storm and high wind (PDC) warnings, fix other bugs preventing earthquake and tsunami from showing (without colour for level as not present in other data)

[2018-05-30 00:36] matthewberryman commented on #272
@LucieGueuning what is the form of the project code? A number? A mix of digits and letters? Is it fixed length?

[2018-05-30 19:58] LucieGueuning opened #452 "ML based on profile search (e.g. google)"

[2018-05-30 19:59] LucieGueuning opened #453 "Adding links on a per user basis"
Important feature to keep as such on GitHub. No duplication

[2018-05-30 20:00] LucieGueuning opened #454 "Search field into UI of REACH (from SharePoint)"
https://docs.microsoft.com/en-us/sharepoint/dev/general-development/using-the-sharepoint-search-query-apis

https://docs.microsoft.com/en-us/sharepoint/dev/general-development/sharepoint-search-rest-api-overview

[2018-05-30 20:00] LucieGueuning opened #455 "Open to MENA/SA/DRC/BAN"

[2018-05-31 02:18] matthewberryman commented on #175
dupe of https://github.com/MSFREACH/msf-reach/issues/243

[2018-05-31 02:18] #175 closed

[2018-05-31 02:20] matthewberryman commented on #243
RSS feeds are restricted so this work is done. Other areas covered by https://github.com/MSFREACH/msf-reach/issues/416 https://github.com/MSFREACH/msf-reach/issues/455 etc.

[2018-05-31 02:20] #243 closed

[2018-05-31 02:43] matthewberryman commented on #357
Just noting that while I originally centre and bound the map on SE Asia, I've needed to relax the strict snapping back to the region, in order to accommodate the way the plugin used for #433 works. Also noting #455

[2018-05-31 02:47] matthewberryman commented on #353
Noting bcbb0a2 and 5c273e1 were actually for #433 but doesn't seem worth it to rewrite git history

[2018-05-31 02:48] #353 closed

[2018-05-31 02:48] #433 closed

[2018-05-31 03:52] matthewberryman commented on #454
1. Where do you want this?
2. Would integration of the AI against sharepoint cover this (something beyond scope of vizalytics current work #370, since we have been supplied with data primarily outside of Sharepoint even if originally taken from there)

[2018-05-31 03:58] matthewberryman commented on #453
Per discussion on Skype:
1. We already support RSS feed selection (from the existing feeds) on a per user basis. I assume you mean around adding new RSS feeds.
2. Not every feed requested so far has been publicly accessible, nor have they all been RSS feeds - the TSR feed is just a web site that I have written separate code to parse as HTML (not RSS which is a dialect of XML) to extract the inform

[2018-05-31 04:00] matthewberryman commented on #452
@LucieGueuning per previous discussions, when opening these issues please be clear; it's not clear what profile refers to (contact? user? social media user found in social media search?), what you mean by ML, where this is to go in UI, etc. etc.

[2018-05-31 08:29] LucieGueuning opened #456 "layers selection preferences are not memorise by the system on REACH"
reported by Natasha on 31.05

[2018-05-31 08:53] matthewberryman commented on #456
I just tested them again then on dev site and couldn't reproduce. Which layers are affected, what is current browser?

[2018-05-31 13:56] LucieGueuning commented on #456
She is on her mac and layers that are always on even though she is putting them off is: contact, ongoing MSF projects, reports.

[2018-05-31 13:57] LucieGueuning opened #457 "New wording for instruction to create event"
![image](https://user-images.githubusercontent.com/25951555/40786374-d018f9b4-64e2-11e8-810b-0f812b514602.png)

As the new way of creating an event is two times double-click, it is not intuitive enough for users on how to proceed with the current sentence. To be reformualted. @anexact, could you please help us with Natasha as we do not know what would be the best option.

Thanks

[2018-05-31 21:06] matthewberryman commented on #456
I tested those again and can't reproduce. Still awaiting feedback on which browser.

[2018-05-31 22:12] matthewberryman commented on #362
closing this as done bar description now opened in new issue https://github.com/MSFREACH/msf-reach/issues/435

[2018-05-31 22:12] #362 closed

[2018-06-01 00:06] matthewberryman commented on #448
Duplicate of broader issue #257 (ongoing issue to be wrapped up in coming days by @mehrdadgit) but for map and table of RSS I have fixed that particular case in https://github.com/MSFREACH/msf-reach/commit/7e554efacfb2f3e64a0ad5ed8850d5424dbd126c

[2018-06-01 00:07] matthewberryman commented on #435
Done in dev&test for events. Previous MSF responses / missions display still needs some work.

[2018-06-01 00:38] matthewberryman commented on #435
Previous missions / display now working too.

[2018-06-01 07:41] matthewberryman commented on #454
Feedback from Remi: need to have both AI and manual search.

I think from a UX perspective maybe have them both on the same modal but open to suggestion.

@LucieGueuning @anexact

[2018-06-01 07:59] matthewberryman commented on #453
Speaking with Remi; for other regions https://github.com/MSFREACH/msf-reach/issues/455 sounds like we do need to replicate /embed some RSS reader features within REACH at some point. So need to think about workload around database, UI and API changes on that front. And need to promote use of georss. https://github.com/MSFREACH/msf-reach/issues/417

[2018-06-01 07:59] matthewberryman commented on #453
@anexact need your UX feedback on how we do this

[2018-06-01 08:03] matthewberryman commented on #455
Need to think about roles & compartmentalisation of information. I will give that some thought over coming days.

[2018-06-01 08:08] matthewberryman commented on #457
Just to clarify a bit, with the work done in https://github.com/MSFREACH/msf-reach/issues/433, the workflow is now double click on map -> click and drag to resize box, pan map to select area -> double click again to confirm and open new event metadata modal.

[2018-06-01 08:11] matthewberryman commented on #453
Embedding RSS (incl non-geospatial) within the system (database and UX) could allow AI to leverage this information alongside everything else.

[2018-06-01 08:43] matthewberryman commented on #455
Need to relax the map further, and also save the map bounds per user so each user has their own starting view (I will open a new separate issue tomorrow for tracking that).

[2018-06-01 08:47] matthewberryman commented on #441
Means SMS reporting - this is doable in but need to think about UX for this and there are costs associate with receiving and sending SMS that I need to review and communicate.

[2018-06-01 09:03] matthewberryman commented on #366
SMS let's think about unstructured information in https://github.com/MSFREACH/msf-reach/issues/441

Offline app with caching - let me look at some options here and think about time frame. There's a form builder app (that does offline caching) I came across in research a few days ago that has an API https://developer.fulcrumapp.com/ but there are running costs, and looking like we would need to per

[2018-06-02 10:38] LucieGueuning commented on #348
Documentation and user guide to be updated

[2018-06-02 10:40] LucieGueuning commented on #370
BUG: no results coming.

When are we migrating the first version of this on prod?

[2018-06-02 10:41] LucieGueuning commented on #370
ML working on profile/search like Google/Facebook ads. based on your credential, specifically.

[2018-06-02 10:48] LucieGueuning opened #458 "'add a contact' tab should be hyperlink"
![image](https://user-images.githubusercontent.com/25951555/40873579-d88aacb8-665a-11e8-884a-82e614acb993.png)

[2018-06-02 10:52] LucieGueuning opened #459 "Add space between search bar and map on landing page."
change this one :
![image](https://user-images.githubusercontent.com/25951555/40873598-3630331a-665b-11e8-965b-317bd82d9ef3.png)
 with this one:
![image](https://user-images.githubusercontent.com/25951555/40873605-4f02bbba-665b-11e8-90a6-5d4bb7a9312d.png)

[2018-06-02 10:54] LucieGueuning opened #460 "On prod, on landing page, on ongoing MSF response table, there is a box to be manually deleted"
![image](https://user-images.githubusercontent.com/25951555/40873613-a00eba4a-665b-11e8-9202-f3dacf15afe5.png)

[2018-06-02 10:55] LucieGueuning opened #461 "Access a supply order database for the kits sent on the field"
to be discussed with Remi-Natasha and others

[2018-06-02 10:59] LucieGueuning opened #462 "Calendar on edition of event should be also as free of choice, not only based on calendar popup"
![image](https://user-images.githubusercontent.com/25951555/40873650-71a0f488-665c-11e8-9e11-c0c4645f7ae0.png)

[2018-06-02 11:01] LucieGueuning opened #463 "edit button on basic data and other field need to be more obvious on event page"
They (=users) need to scroll down to find the edit button and they are not doing it intuitively

![image](https://user-images.githubusercontent.com/25951555/40873654-9ac397a8-665c-11e8-9251-c7f08d013db4.png)

[2018-06-02 11:02] LucieGueuning opened #464 "When press edit button, have 3 secondes on the previous edition pop-up that bring confusion to users"

[2018-06-02 11:02] LucieGueuning opened #465 "Contact in report card"
Question from Remi
to be discussed
@anexact

confusion for the category

[2018-06-02 11:03] LucieGueuning opened #466 "Facebook and Twitter sharing to be removed (icon) from the event page"

[2018-06-02 11:05] matthewberryman commented on #466
revision of #300

[2018-06-02 11:05] #466 closed

[2018-06-02 11:07] matthewberryman commented on #463
The basic fields will be editable as part of work on #363 without need to scroll down.

@mehrdadgit

[2018-06-02 11:07] #463 closed

[2018-06-02 11:08] matthewberryman commented on #464
we are doing away with edit popups per #363

[2018-06-02 11:08] #464 closed

[2018-06-02 11:12] matthewberryman commented on #460
Events can be closed off and will be removed, but it seems the problem here is the missing hyperlink to open and then close the event (?); the hyperlink is not showing as no name was entered. In such cases I propose adding "(no name entered)" in that box so the hyperlink shows.

[2018-06-02 11:15] matthewberryman commented on #348
@LucieGueuning I will update based on new features; if you have any feedback requested on email (just re-sent) let me know.

[2018-06-02 11:16] matthewberryman commented on #462
We need some sort of validation and consistency on entry for https://github.com/MSFREACH/msf-reach/issues/257

[2018-06-02 11:16] #462 closed

[2018-06-02 11:19] matthewberryman commented on #370
This is already on prod. I will flag no results issue with Vizalytics. ML on profiles covered in https://github.com/MSFREACH/msf-reach/issues/452 awaiting feedback on that.

[2018-06-02 11:35] matthewberryman commented on #458
Good idea (rather than having the hyperlink in the tab content as it is now)

[2018-06-02 11:36] matthewberryman commented on #370
Results seem ok now. Have followed up with Vizalytics to check on that transient issue.

[2018-06-02 18:55] LucieGueuning commented on #444
New Interface to create for public (MSF Contact > non-MSF email address

[2018-06-02 18:55] LucieGueuning opened #467 "Update your profile on REACH for MSFers"
cf. Sherlog profile page

[2018-06-02 18:56] LucieGueuning opened #468 "'acknowledge' tick box on contact card not coherent if it is for yourself - confusing"

[2018-06-03 08:44] LucieGueuning commented on #363
design need to be obvious for people to edit field.

[2018-06-03 08:49] LucieGueuning opened #469 "POssibility to change the location of a disaster/ the response by moving the square/change the location of square"

[2018-06-03 08:51] LucieGueuning opened #470 "Notification on edit part"
- need to see the entire box of explanation
- need to have the cursor same place than left for another page/tab on browser

[2018-06-03 08:51] LucieGueuning opened #471 "Report: Need to have one category mandatory"

[2018-06-03 08:52] LucieGueuning opened #472 "Report category"
- remove 'contact' category as people can add contact by themselves on the platform
- put 'information' instead.

[2018-06-03 08:55] LucieGueuning opened #473 "How to delete completely from REACH (Mission History or ongoing project) an event?"
- need to differentiate Mission History, from ongoing MSF response, from Monitoring and Assessment event.
- need to differentiate monitoring and assessment event that are closed without MSF intervention (that is not considered as Mission History)

refer to #481

[2018-06-03 09:00] LucieGueuning opened #474 "Need to integrate ProMed for medical people"
part of the customise feed that people look at when monitoring

Number of outbreak cases per country/region: https://www.promedmail.org/

[2018-06-03 09:00] matthewberryman commented on #472
duplicate of https://github.com/MSFREACH/msf-reach/issues/465 and https://github.com/MSFREACH/msf-reach/issues/267#issuecomment-390607715

[2018-06-03 09:00] #472 closed

[2018-06-03 09:02] LucieGueuning commented on #370
Machine to learn: cg. email sent to Chris

[2018-06-03 09:12] LucieGueuning opened #475 "Contact card: pin for location not user-friendly and intuitive that your location has been added"
Contact card: pin on the map, not user-friendly, not sure that address is well added after map step

[2018-06-03 09:12] LucieGueuning opened #476 "Report card: step take a picture or upload"
Contact card: white box to be clickable OR icon of camera to take picture (more standard)

red sentence not obvious enough

[2018-06-03 09:13] LucieGueuning opened #477 "Having the country of ongoing response on the table"

[2018-06-03 09:14] LucieGueuning opened #478 "Make sure user entered text for event type: other is submitted by new event and edit forms"
type: other: balbalbal

[2018-06-03 09:16] LucieGueuning opened #479 "event date doesn't make sense if long term project - start of intervention or explo yes but long term project, not really"
to be think with Natasha and Etienne

[2018-06-03 09:17] LucieGueuning opened #480 "SharePoint should be a hyperlink"
the display of the hyperlink should be the name of the project (ongoing MSF response)

[2018-06-03 09:18] LucieGueuning opened #481 "Differentiate project, mission, monitoring event (icon ways and tab on table ways)"
take example on MESO

[2018-06-03 09:19] LucieGueuning commented on #295
MSF Internal Information (past country policy paper) / CIA Factsheet info extracted

[2018-06-03 09:21] LucieGueuning opened #482 "error message for search contact"
![image](https://user-images.githubusercontent.com/25951555/40885099-d395f326-6717-11e8-8ec8-ada607b9f829.png)

[2018-06-03 09:23] LucieGueuning opened #483 "Operators/viewers to be able to delete their contact"

[2018-06-03 09:24] #483 closed, assigned to nobody

[2018-06-03 09:26] LucieGueuning opened #484 "UI/UX (web framework for polish. E.g. pentabencana)"

[2018-06-03 09:27] LucieGueuning opened #485 "Report UI to be improved on table (description to squeeze)"

[2018-06-03 09:27] matthewberryman commented on #484
Duplicate of https://github.com/MSFREACH/msf-reach/issues/177

[2018-06-03 09:27] #484 closed

[2018-06-03 09:28] matthewberryman commented on #177
We're increasingly using Vue.js for this particular in relation to #363 changes. I'd like to switch to react.js but we don't have time in current phase and with rate at which features are being added + current budget constraints.

@LucieGueuning

[2018-06-03 09:30] LucieGueuning opened #486 "Monitoring one event in the entire region"
solution to find

[2018-06-03 09:30] matthewberryman commented on #486
duplicate of https://github.com/MSFREACH/msf-reach/issues/397

[2018-06-03 09:30] #486 closed

[2018-06-03 09:32] LucieGueuning opened #487 "Instant chat within REACH for each event"

[2018-06-03 09:33] LucieGueuning opened #488 "Notification by email"
Users can follow event or can be tagged on event (in edition or creation). If there are updates, they receive an email.

[2018-06-03 09:33] matthewberryman commented on #487
duplicate of #336

[2018-06-03 09:33] #487 closed

[2018-06-03 09:34] matthewberryman commented on #488
duplicate 336	"We need some kind of alert for a new notification or new chat message. I think that was already planned, right?"

[2018-06-03 09:34] matthewberryman commented on #336
preference for notifications by email noted

[2018-06-03 09:36] LucieGueuning opened #489 "Possibility of upload picture on creation and display of those on event page"

[2018-06-03 09:36] LucieGueuning opened #490 "contact/social media trust algorithm to build"

[2018-06-03 09:37] matthewberryman commented on #490
duplicate of https://github.com/MSFREACH/msf-reach/issues/275

[2018-06-03 09:37] #490 closed

[2018-06-03 09:37] LucieGueuning opened #491 "Project Code field to be asked once we move to intervention status on edition"

[2018-06-03 09:38] LucieGueuning opened #492 "Process with HOT to request map once changing status to explo/intervention"

[2018-06-03 09:38] matthewberryman commented on #491
duplicate of https://github.com/MSFREACH/msf-reach/issues/272

[2018-06-03 09:38] #491 closed

[2018-06-03 09:38] LucieGueuning opened #493 "Check for iconography coherence"
@anexact

[2018-06-03 09:39] LucieGueuning opened #494 "Hyperlink to specific contact/report to be shared with colleagues"

[2018-06-03 09:39] LucieGueuning opened #495 "GIS data - MSF Presence to integrate"
discussion on 21st of June with GIS unit on OCG

[2018-06-03 09:41] LucieGueuning commented on #488
operator need to be able to not send email after updates.
after edition, pop up asking send email to subscription: yes or not

[2018-06-03 09:42] matthewberryman commented on #488
This feature is already covered by #336, please add details there.

[2018-06-03 09:42] #488 closed

[2018-06-03 09:43] matthewberryman commented on #336
"operator need to be able to not send email after updates.
after edition, pop up asking send email to subscription: yes or not"

[2018-06-03 09:43] LucieGueuning opened #496 "flag event for new report/new updates on landing page"

[2018-06-03 09:45] matthewberryman commented on #496
part of https://github.com/MSFREACH/msf-reach/issues/439

[2018-06-03 09:45] #496 closed

[2018-06-04 01:26] #482 closed

[2018-06-05 00:02] matthewberryman opened #497 "events page not autozooming for all reports on events page"
cc @LucieGueuning

[2018-06-05 00:16] #480 closed

[2018-06-05 00:27] matthewberryman opened #498 "previous MSF responses"
cc @LucieGueuning
slow to load / sometimes doesn't load

[2018-06-05 00:28] #498 closed

[2018-06-05 00:34] matthewberryman commented on #460
Confirmed as an empty name issue. As previously requested this is optional (see  https://github.com/MSFREACH/msf-reach/issues/89). In such a case I fill in the Twitter search terms auto fill, but I can't use that approach here as it's based on the type which is already displayed so I'd be doubling up if I used that same approach here. I would suggest going ahead that we do put an event name in; th

[2018-06-05 00:38] #497 closed

[2018-06-05 00:42] matthewberryman commented on #460
cc @anexact for comment

[2018-06-06 04:27] matthewberryman commented on #495
Here's the full list of properties for each each presence. Note that the open_date and close_date are numbers representing number of milliseconds since Jan 1st 1970 00:00 UTC, which I convert to human-readable dates.

[code]

[2018-06-06 05:55] matthewberryman commented on #495
@LucieGueuning This is in dev and test environments. It's off by default so you will need to turn it on in the layer selection box. I can adjust that setting, and marker size, and popup display (bearing in mind the full list of properties in my first comment above).

[2018-06-06 07:38] matthewberryman commented on #495
There's a timing bug I noticed in testing. If it doesn't list an option in the layer control then try refreshing the page and that should resolve it. I will fix this bug tomorrow.

[2018-06-06 17:43] LucieGueuning opened #499 "How can we edit Mission History into REACH?"
We are hiring data entry person who will clean all the data and input the right info into mission history (white icon) - closed mission into REACH. But today we can't edit those. How can we enable this for her to start working on that?

[2018-06-06 17:44] LucieGueuning opened #500 "translation of report and contact card on asian language"

[2018-06-06 17:45] LucieGueuning opened #501 "solution for contact who are reporting that MSF staff well received their report - know the follow-up/feedback/updates of MSF"
To maintain a good communication/relationship

chatbot or static page. To think about interface for that

@anexact

[2018-06-06 23:08] matthewberryman commented on #499
@mehrdadgit can you work on this first, then resume your work on the open event editing UI changes.

[2018-06-06 23:20] matthewberryman commented on #495
timing bug should be fixed; I will test when it deploys to dev & test environments in a few minutes.

@LucieGueuning any feedback on UX particularly fields displayed?

[2018-06-07 01:16] matthewberryman commented on #499
just checked and we do have PATCH and PUT for /api/events (see source) - so this should be mostly just UI work. @mehrdadgit sing out if you think I need to change anything on the API

[2018-06-08 23:56] matthewberryman commented on #209
from @LucieGueuning on email "Also, this features needs to:
- allow changes of location afterwards
- display the box that has been created on event page if we zoom out or in. Box doesn't change if user is changing the map zoom level"

@anexact can you please work with Lucie on this, noting:
* We already allow change to the centre of location plus adding a list of regions.
* Display and editing of

[2018-06-12 12:50] LucieGueuning opened #502 "upload contact list as excel file"

[2018-06-12 12:51] LucieGueuning opened #503 "search by different layers at the same time for contact"

[2018-06-12 13:01] LucieGueuning opened #504 "integration of news feeds that is not geo-enable"
Matthew, could you please detect from the links below which one have RSS feed with geolocated info that we can integrate to REACH before end of this week

séismes : EMSC, choisir Last earthquakes worldwide with M ≥ 6
disasters : Reliefweb/rss

RDC :
- paper.li
- Google Alerts "Epidemie RDC"
- Radio Okapi : radio créée par les UN qui émet sur les zones de conflit. RSS en tête de site web
- actualit

[2018-06-12 23:33] matthewberryman opened #505 "Add LRA Crisis Tracker layer"

[2018-06-13 02:31] matthewberryman commented on #504
séismes :
- [EMSC](https://www.emsc-csem.org/), choisir Last earthquakes worldwide with M ≥ 6: this [RSS feed](https://www.emsc-csem.org/service/rss/rss.php?typ=emsc&magmin=6) does have geospatial information although it's low priority for me to get this one in (behind  [LRA crisis data](https://github.com/MSFREACH/msf-reach/issues/505) and other UI changes), given that this information will be a

[2018-06-13 03:41] matthewberryman commented on #465
Halfway down the page have a hyperlink ("to add contact information please visit the [contact card](https://msf-reach.org/contact/)") and then that would free up a category slot for a general information one #267

[2018-06-13 03:44] matthewberryman commented on #505
@LucieGueuning please review this in dev/test environments. You will need to turn the layer on (it's off by default but I can change that) and pan the map to Africa.

[2018-06-13 03:45] matthewberryman commented on #441
Suggestion to have numbers (1-4) for category of reports. Address can be "city, country" but then geocoding would always default to city centre.

[2018-06-13 03:49] matthewberryman commented on #505
@LucieGueuning please review on dev/test

[2018-06-13 06:51] matthewberryman commented on #505
Just noting that I map all activities by LRA since the start of the year, but their API is pretty flexible, e.g. I could request activities by all actors, or over a different time period (but I don't want to request too much data as it will slow things and put a load on their server), or we could filter by the verification rating in the API.

Example data with the different fields available:

[cod

[2018-06-13 09:12] LucieGueuning commented on #495
![image](https://user-images.githubusercontent.com/25951555/41341635-14f61ecc-6ef2-11e8-8a5c-56747896a5ca.png)

Comment/feedback:
1. This is the info that we need at least!
2. Why we do not have the color code by OC? All are in blue, why not following their color code.
3. UI: OCB needs to be in capital letter

[2018-06-13 09:50] LucieGueuning opened #506 "Integrate Shapefile via REACH"
cf. zip file by email

OCG meeting

[2018-06-13 09:54] LucieGueuning commented on #505
filter by verification rating + over a different time period is a good idea.
Need at least:
public display
lra_verification_rating
community name
community region
start date

[2018-06-13 09:55] LucieGueuning opened #507 "Open Map once getting on REACH for worldwide and not specific to SEA"
OCG meeting

[2018-06-13 09:57] LucieGueuning opened #508 "Open current RSS to worldwide and not only for SEA"
OCG meeting demo

[2018-06-13 10:03] matthewberryman commented on #505
@LucieGueuning what verification rating & time period do you want to filter by? I can hard code some defaults in for now if you like.

[2018-06-13 10:07] matthewberryman commented on #495
They're not following any colour code by OC as I haven't been supplied with any colour code. If you can send me a list of ideally RGB (preferred) or CMYK colour codes for each OC I can use that.

[2018-06-14 00:53] matthewberryman commented on #505
I've got those fields in; just noting that public_display is called "summary" so it's consistent with other RSS feeds

[2018-06-14 00:54] matthewberryman commented on #506
got the data; today I have converted the point data to geojson and then I need to import that into the database and write some API hooks (that I will do tomorrow) and then work on UI (early next week)

[2018-06-14 01:39] matthewberryman commented on #508
done in dev/test

[2018-06-14 01:54] matthewberryman commented on #506
(tagged code commit abc87f7  with wrong issue number, it's actually for #507 and I will comment there on that)

[2018-06-14 01:58] matthewberryman commented on #507
(on dev/test for now)
Map opens at view of whole world. As you then zoom and pan the map it saves the current map bounds (in cookies), so as users refresh / come back to the landing page it will open at the same view they had before.

[2018-06-14 08:53] LucieGueuning commented on #508
ok, great. move to prod?

[2018-06-14 08:53] LucieGueuning commented on #507
Ok, great. Move to prod?

[2018-06-14 08:54] LucieGueuning commented on #506
Keep in mind: Meeting OCG on 20th of June! Thanks Matthew

[2018-06-14 08:59] LucieGueuning commented on #505
Ok great. Can we have an icon (same than other RSS feed) for consistency? Like an icon that represent 'attacks' with square boundary (as the other). Make sense?

Hyperlink doesn't work:
![image](https://user-images.githubusercontent.com/25951555/41402210-9d59f884-6fb9-11e8-962c-11be402a4219.png)

[2018-06-14 11:07] LucieGueuning commented on #505
![image](https://user-images.githubusercontent.com/25951555/41408672-5ead6b2c-6fcb-11e8-840f-737053af8cce.png)
 @talltom, any help on icons from bootstrap ?

[2018-06-14 11:09] LucieGueuning commented on #495
token expired again?

[2018-06-14 21:29] matthewberryman opened #509 "landing page not showing contacts outside of SE Asia"
cc @LucieGueuning
Related to past design decisions. Code needs changing.

[2018-06-14 21:30] #509 closed

[2018-06-14 22:41] matthewberryman commented on #495
Correct, it's expired despite me specifying a year expiry.
For the OCG presentation, can you let me know the exact time the demo is? That way I can ensure it will work for the demo. In general I will need MSF IT team to fix this, and will add some more error handling around it for when the token does expire (so that it doesn't show the layer in the control or try and render the data).

[2018-06-14 22:54] #505 closed

[2018-06-14 22:54] #507 closed

[2018-06-14 22:54] #508 closed

[2018-06-15 13:34] LucieGueuning commented on #495
ok, meeting in OCG is from 9:00am (CET) to 17:00 (CET).

[2018-06-15 13:40] LucieGueuning opened #511 "need to be able to filter by 'peers' and ' association members'"
![image](https://user-images.githubusercontent.com/25951555/41470905-ed0b6b06-70a9-11e8-9d20-2e020376cd33.png)

Can we add 'peers' and 'association members' in the list to filter?

[2018-06-15 15:26] LucieGueuning opened #512 "contact pop up updates"
remove 'speciality' field and add 'organisation' and 'job title' fields

[2018-06-15 22:42] matthewberryman commented on #495
Sorry, accidentally closed as I used the keyword "fixed" in a commit before we realised there was a token generation issue from the upstream server.

[2018-06-18 00:20] matthewberryman commented on #511
Peers and associates are separate fields ( https://github.com/MSFREACH/msf-reach/issues/179#issuecomment-360736534 ) so these need to be added as separate UI elements (taking up space), also you'd requested that we remove the peers option in https://github.com/MSFREACH/msf-reach/issues/438 so we'd just be adding search for associates unless fields have changed again???

[2018-06-18 00:49] matthewberryman commented on #506
Health site data fields:
[code]

[2018-06-18 00:51] matthewberryman commented on #506
village/city fields
[code]

[2018-06-18 00:57] matthewberryman commented on #506
msf presence data
[code]

[2018-06-18 01:17] matthewberryman commented on #506
A data dictionary would be very helpful.

Questions for @LucieGueuning :
* Is "pcode" postcode?
* What is the meaning and range of "statut" (status) number for the health site data? For presence data?
* Similarly, what is the meaning and range of level for health site data?
*  OPD/IPD = out patient department / in patient department ? Lucie to confirm.
* What does "MCP" mean?
* "water_quan" <- I a

[2018-06-18 02:49] matthewberryman commented on #506
@LucieGueuning this is in dev/test (noting separate emails about test environment) ready for you test. Some notes:
* Layers are off by default
* There's a lot of village data and even with clustering this layers is a bit slow.
* Note that I have updated my list of questions in https://github.com/MSFREACH/msf-reach/issues/506#issuecomment-397920354 so please refer to that - do not forward the origi

[2018-06-18 02:55] matthewberryman commented on #512
change of title as it's in the modal, just not the map popup

[2018-06-18 02:57] #512 closed

[2018-06-19 09:34] matthewberryman commented on #438
Maybe make this peers option dependent on whether it's MSF entered or not.

[2018-06-19 09:39] matthewberryman commented on #506
leave off villages for now

[2018-06-19 09:42] matthewberryman opened #514 "check for missing layers"

[2018-06-20 02:09] matthewberryman commented on #514
Only MSF presence missing; just token issue (known, already captured in GH)

[2018-06-20 02:09] #514 closed

[2018-06-20 02:09] matthewberryman opened #516 "event creation from unassigned reports is broken"
broken with change to area selection; new reports don't have an area

[2018-06-20 02:30] #516 closed

[2018-06-20 04:07] matthewberryman opened #517 "unassigned reports table not updated on assigning to new event"

[2018-06-20 04:30] #517 closed

[2018-06-21 14:21] LucieGueuning opened #519 "Removal of DRC data + test data from the prod site."
Would you mind delete from the production site the DRC data including:
- LRA crisis RSS Feed from the map and so the menu on/off selection
- DRC layers (shapefiles) from the map and so the menu on/off selection
- Contacts on DRC.

Would you mind delete from the production site the data generated by the test demo including:
- Event ID 52; Event ID 53; Event ID 54

[2018-06-21 21:54] matthewberryman commented on #519
@LucieGueuning just double checking you mean the production site for those events? As there are now two separate sets of events on prod and test and I thought you were using test for the demo as discussed?

[2018-06-21 21:58] matthewberryman commented on #519
In particular 52 on *test* is DRC but others (incl. 52 on *prod* ) are not.

[2018-06-21 22:23] matthewberryman commented on #519
After taking backups, I have removed from all sites (prod and test, but also dev):
* LRA crisis RSS Feed from the map and so the menu on/off selection
* DRC layers (shapefiles) from the map _and databases_ and so the menu on/off selection
* From the database (and hence display on the map and tables): Contacts on DRC.

I removed from dev to avoid having the UI elements re-appear on next merge into

[2018-06-21 23:51] matthewberryman commented on #519
Following confirmation from @LucieGueuning those events removed from prod only.

[2018-06-22 00:35] matthewberryman commented on #499
Have merged in WIP; @mehrdadgit please continue work in dev.
Still to do (not an exhaustive list):
* Manager arrival and departure dates need description in display mode.
* Check for https:// at start of entered sharepoint link.
* Make sure that hyperlink goes to correct site when displayed.

There's also a spreadsheet I will email you a link soon to consider in terms of fields for editing and dis

[2018-06-25 11:58] mehrdadgit commented on #499
^^ Those dot points done @matthewberryman

(And just realised we forgot to discuss spreadsheet today.. I will come see you tomorrow )

[2018-06-25 12:11] matthewberryman commented on #499
Thanks.

You seemed busy today and I was also a bit busy meetings a deadline so yes, let’s catch up tomorrow :)

Sent from my iPhone

On 25 Jun 2018, at 22:00, Mehrdad <notifications@github.com<mailto:notifications@github.com>> wrote:

^^ Those dot points done @matthewberryman<https://github.com/matthewberryman>

(And just realised we forgot to discuss spreadsheet today.. I will come see you tomor

[2018-06-26 03:51] matthewberryman opened #520 "bugs on landing page from new work"
jquery-3.3.1.min.js:2 Uncaught TypeError: option changeMonth is not recognized!
    at Boolean.<anonymous> (bootstrap-datetimepicker.min.js:1)
    at Function.each (jquery-3.3.1.min.js:2)
    at Object.l.options (bootstrap-datetimepicker.min.js:1)
    at c (bootstrap-datetimepicker.min.js:2)
    at HTMLInputElement.<anonymous> (bootstrap-datetimepicker.min.js:2)
    at Function.each (jquery-3.3.1.

[2018-06-26 04:40] matthewberryman commented on #438
7954c64 didn't quite fix it due to to misplaced style. Proper fix coming soon.

[2018-06-26 05:35] mehrdadgit commented on #520
@matthewberryman Just letting you know, I had a look at this and realised that vue datepicker in mission edit modal is broken by removing the ref to vue-bootsrtap-datetimepicker.js

[2018-06-26 05:38] matthewberryman commented on #520
Ok. I thought you were using the bootstrap one (not the different vue-bootstrap one) as you'd added the bootstrap one in https://github.com/MSFREACH/msf-reach/commit/e49ed01d6b78769dcacd13bfa9de3c229b5821bf - the source of these errors I was seems to have been because you had two competing libraries in the same namespace. Can you review all code for date pickers and pick one :)

[2018-06-26 05:49] mehrdadgit commented on #520
Yes, it was because bootstrap-datetimepicker.min.js is a dependency of vue-bootstrap-datetimepicker (ref: https://github.com/ankurk91/vue-bootstrap-datetimepicker )... it's look like a tricky package dependency issue ... when I fix one the other one brokes; although we have both on event page working OK I guess? I will have a deeper look tonight.

[2018-06-26 05:51] matthewberryman commented on #520
Could be a version mismatch, or something about the way I use jquery to add to the element? I'm out of time now, so yes please have a look tonight.

[2018-06-26 06:22] mehrdadgit commented on #520
Seems fixed now. The issue was
`jquery-ui-timepicker-addon`

Let us avoid using any jquery-ui date/time picker across the board and stick to:

http://eonasdan.github.io/bootstrap-datetimepicker/ (When not using vue)
https://github.com/ankurk91/vue-bootstrap-datetimepicker (When using with vue)

[2018-06-27 10:51] LucieGueuning opened #521 "feedback on impacted area"
I created a new monitoring event @ REACH. One function is a must to have (or it is already exist but I don’t know), is to mark affected areas base on the severity at the map. It can be at county level, city level or province level. For example in this event, I would want to make one county as severely affected by the flooding due to the number of casualties and displaced population, while several

[2018-06-27 17:55] LucieGueuning commented on #438
As per skype call on Tuesday 26.06, we need to have on contact card for both MSF staff entering contact details or contact entering their own contact details the category dropdown menu + check box for association members + check box for 'Former MSF Staff'

All good? @matthewberryman

[2018-06-28 14:27] LucieGueuning opened #522 "URGENT - DRC data on test"
Could you please make sure that we can have the DRC data on test environment to continue to play with it. Needed to be delete from the prod only.

@matthewberryman

[2018-07-02 00:12] #522 closed

[2018-07-05 20:06] #438 closed

[2018-07-05 20:06] #520 closed

[2018-07-05 20:10] matthewberryman commented on #499
Still ongoing. @mehrdadgit try and avoid use of keyword "fix" unless the whole issue (not just individual bugs) are fixed.

[2018-07-05 20:21] #519 closed

[2018-07-05 21:02] matthewberryman commented on #476
I think you mean report card (where we have a camera upload step).

[2018-07-05 21:19] matthewberryman commented on #476
@LucieGueuning please test on dev/test

[2018-07-05 22:31] matthewberryman commented on #467
Currently users don't have a profile in REACH so there's nothing to update. Do you want to add the ability to update active directory information (if so, why?), or alternatively what information do you think should go into a profile?

[2018-07-05 22:31] matthewberryman commented on #456
Closing; no further feedback and I can't reproduce.

[2018-07-05 22:31] #456 closed

[2018-07-09 11:43] LucieGueuning opened #524 ".pdf/ .jpeg/ etc. to upload on edit event (notification part)"
a way to include images in the notifications, for example a PDF or JPEG of a typhoon path

feedback from Natasha on July 03rd

[2018-07-09 12:11] LucieGueuning opened #525 "open account on REACH"
Could you please create an username and password for K-E?

refer email for confidential info

[2018-07-09 23:38] #459 closed

[2018-07-09 23:38] #471 closed

[2018-07-09 23:38] #476 closed

[2018-07-09 23:38] #477 closed

[2018-07-10 14:18] LucieGueuning opened #527 "filter of time to added into the table on landing page"

[2018-07-10 14:21] LucieGueuning opened #528 "offline features (not only for report card) for REACH platform as a whole"
cf. meeting with GEO MSF Program

[2018-07-10 14:22] LucieGueuning opened #529 "Governance of data to be think as ethnography process"
Working Group and process of decision once a feature needs to be added

[2018-07-10 23:22] matthewberryman opened #530 "edit modal needs to have scrolling within the modal"

[2018-07-10 23:54] mehrdadgit commented on #530
Mission edit modal?

[2018-07-10 23:55] matthewberryman commented on #530
Event edit modal.

[2018-07-11 03:16] matthewberryman commented on #530
@mehrdadgit can you please bring the bottom of the modal up a bit. On my browser it sits right on the bottom of the window which still results in some scrolling of the whole page in some cases, plus looks a tiny bit untidy.
<img width="1448" alt="screenshot 2018-07-11 13 15 11" src="https://user-images.githubusercontent.com/2288238/42548842-854f5c6c-850c-11e8-8b5e-bd3aaf7400b2.png">

[2018-07-11 04:37] #530 closed

[2018-07-11 04:38] matthewberryman commented on #530
@mehrdadgit I will follow up with you in person on Friday re #363

[2018-07-11 04:39] #494 closed

[2018-07-11 14:30] LucieGueuning opened #531 "UI - quick feedback - auto-expand field on event page"
On Event page, auto expand the items if there’s input. For example in this event, auto expand “Notification” and “External Capacity”.

[2018-07-13 04:02] matthewberryman commented on #499
@LucieGueuning please test in dev

[2018-07-13 04:03] matthewberryman commented on #499
@mehrdadgit can we make the modal fit in the window / move edit button to the top, so it's clearer?

[2018-07-13 09:22] LucieGueuning commented on #279
![image](https://user-images.githubusercontent.com/25951555/42683932-a08af15a-8686-11e8-8632-b65974dfb4ac.png)

[2018-07-13 10:50] matthewberryman commented on #279
@LucieGueuning Because of the way the software has evolved based on issues raised before and after this one around functionality linked to AD it's now very hard (at least a month's full time work) to get this working. One possible approach is to think about a separate AD pool (like the testing one but one that you & the team can subscribe people too, and with a domain name that doesn't have 'test'

[2018-07-15 03:52] mehrdadgit commented on #499
Done @matthewberryman

[2018-07-17 16:38] LucieGueuning opened #533 "Bug on definition of country for event ID: 57"

[2018-07-18 06:00] matthewberryman opened #534 "support multiple countries for events"
I will shortly add some initial support for this. I would like to have a map-based entry for regions i.e province/state (looks like this code was commented out with the change to Vue.js and we need to bring this back in @mehrdadgit ), and when that list is updated, the list of countries should also be updated if a new region.

I think it's best to allow operators to update this rather than having

[2018-07-18 06:03] matthewberryman commented on #521
Splitting off multiple countries to https://github.com/MSFREACH/msf-reach/issues/534

[2018-07-18 06:04] matthewberryman commented on #533
No country is showing up because the initial entered location wasn't centred in a country. i.e. this is not a software bug. I will soon deploy work on #534 to all environments and then users can update from there (I will email Natasha later today to let her know once I have also done work on another issue).

[2018-07-18 06:04] #533 closed

[2018-07-19 09:59] LucieGueuning commented on #470
![image](https://user-images.githubusercontent.com/25951555/42935963-d8770d86-8b42-11e8-932c-8e6319fae179.png)

URGENT! need to be solved!

[2018-07-19 10:04] LucieGueuning opened #535 "not fitting into the box on event page"
![image](https://user-images.githubusercontent.com/25951555/42936261-8c196a1e-8b43-11e8-973d-a8c213032433.png)

[2018-07-19 10:13] matthewberryman commented on #470
@mehrdadgit Can you please make this one a multi-line text input

[2018-07-19 10:19] mehrdadgit commented on #470
Yes; will get to it tomorrow.

[2018-07-19 11:10] LucieGueuning commented on #465
Need to be done!

I need to report case of methanol poisoning, no one of those category is suitable.
![image](https://user-images.githubusercontent.com/25951555/42939193-b4d0e03c-8b4c-11e8-988e-560d3126911a.png)

[2018-07-19 11:21] anexact commented on #465
--
Etienne Turpin, PhD
Founding Director
anexact office <http://anexact.org/>
​@anexact <https://twitter.com/anexact>
​

​
office FAHRBEREITSCHAFT

Werkstatt 4 Herzbergstraße 40-43
10365 Berlin
+​49 176 83046360​

office GUNTUR

Jl. Sumbing No. 17 Setiabudi
Jakarta 12980
+62  21 83783863

On Thu, Jul 19, 2018 at 1:10 PM, Lucie Gueuning <notifications@github.com>
wrote:

[2018-07-20 17:41] #535 closed

[2018-07-24 09:10] matthewberryman opened #536 "test site usage"
* Everyone an operator on test site (?)
etc.

[2018-07-24 09:35] matthewberryman commented on #524
to go under country tab

[2018-07-24 19:06] LucieGueuning commented on #524
both ability to upload files and picture under country tab and as a notification

[2018-07-24 20:14] LucieGueuning commented on #499
All good! Thanks for the hard work on that one. I will re-open it if any bug noticed while entering data.

[2018-07-24 20:14] #499 closed

[2018-07-24 20:35] LucieGueuning commented on #470
Not working. even after clearing caching.

[2018-07-24 20:37] LucieGueuning commented on #434
Name of the person entering the notification and timestamp on when the person entered this info

[2018-07-24 21:02] matthewberryman commented on #470
@LucieGueuning this working in dev. I will put it on test&prod soon.

[2018-07-24 23:48] matthewberryman commented on #470
The editing on modal is still working, but since I last commented the in-line editing has broken with my work on #434 . @mehrdadgit can you please fix the bug I've introduced

[2018-07-25 00:34] matthewberryman opened #537 "event changes workflow"
if (event status changes) {
 1. bring up modal with fields based on new state (ref. spreadsheet)
 2. if vizalytics AI returns results then list them as a suggestion (I guess pre-fill boxes if that field is empty, else if it has already been filled in from a manual edit previously then list suggestion alongside?)
 3. allow editing and then save edits
}

State change to past mission should copy to m

[2018-07-25 00:37] matthewberryman opened #538 "first inline-edited notification fails"
Uncaught TypeError: vm.event.metadata.notification.push is not a function
    at $e.stopEdit (events.js:1473)
    at $e.n [as stopEdit] (vue.min.js:6)
    at click (eval at Ii (vue.min.js:6), <anonymous>:3:3014)
    at HTMLButtonElement.e (vue.min.js:6)

[2018-07-25 00:39] matthewberryman commented on #470
Turns out it was a bug unrelated to my changes, https://github.com/MSFREACH/msf-reach/issues/538 , now fixed in dev.

[2018-07-25 00:43] #538 closed

[2018-07-25 00:44] matthewberryman commented on #470
@LucieGueuning now deploying this to test and prod

[2018-07-25 00:44] #470 closed

[2018-07-25 00:44] matthewberryman commented on #434
done

[2018-07-25 00:44] #434 closed

[2018-07-25 01:03] matthewberryman commented on #524
I don't think that putting them in the country tab is a good, as these files are for an event, which (per other discussions) may be multiple countries. Therefore I suggest renaming "country details" to "event files".

[2018-07-25 07:14] anexact commented on #536
Phase 2 Extension ONLY

[2018-07-25 08:40] LucieGueuning opened #540 "free test box on report should not be limited (to a certain number of character)"

[2018-07-25 08:42] LucieGueuning opened #541 "Report description text readability / scrolling due to layout on events and landing pages."

[2018-07-25 08:42] LucieGueuning commented on #425
follow-up on that one?

[2018-07-25 08:44] LucieGueuning opened #542 "How can I add one more new notification?"

[2018-07-25 08:45] LucieGueuning commented on #542
I found a way but there is a bug

[2018-07-25 08:51] LucieGueuning commented on #524
No because we need to have country details tab with ability to upload files for country (e.i. policy paper, country guidelines, etc.) not related to specific event. Those files will be added to this tab once the event recognise the countries involved.

[2018-07-25 08:52] matthewberryman commented on #540
This is not a bug but would be a change in a design decision. We limited the number of characters (we could change the limit but see point 2 on display) as:
1. It's geared towards mobile as requested, and thus we don't have the space to make the box larger. If we allowed unlimited text then the user could enter more text than fits in the box all at once, which makes review and possible editing har

[2018-07-25 08:57] matthewberryman commented on #541
(again a design issue)
1. I will see what control (if any) there is on popup size.
2. Making the table column width responsive would potentially move UI controls off the page. I could make the column wider but then we'd need to decide on what (if anything) can be cut from the set of columns and/or make a decision to make the map smaller.

Related to #540

[2018-07-25 09:09] LucieGueuning opened #543 "How to edit meta-data - generic info on event page?"
for example, status or share point link?

[2018-07-25 09:57] matthewberryman commented on #542
I just tested and it's working. You do need to click on the save button down the bottom. If you still have issues I need more detail.

[2018-07-25 10:05] matthewberryman commented on #524
To do it that way we'd need to:
1. Create a separate page, API, and change to the database schema to upload non-event files per country.
2. Support multiple country tabs per event.

Which is a major piece of work requested after the deadline for 2b issues to be filed, and is quite separate to support for notifications. I'll break this country tab issue of as a separate issue leaving this issue as

[2018-07-25 10:07] matthewberryman opened #544 "country tab"
"Country details tab with ability to upload files for country (e.i. policy paper, country guidelines, etc.) not related to specific event." ~@luciegueuning

"To do it that way we'd need to:
1. Create a separate page (IMHO), and definitely API, and change to the database schema to upload non-event files per country.
2. Support multiple country tabs per event.
"  ~@matthewberryman (with edits made t

[2018-07-25 10:13] LucieGueuning commented on #543
FYI, for operational use, we need to change status to monitoring and need to add SharePoint link now created.

[2018-07-25 10:14] matthewberryman commented on #543
For now, if not present as an in-line edit.
1. Click edit in new window.
2. Make changes.
3. Click "save edits"

In future, as part of #537 there will be an option to select the new status, and that will bring up a modal with fields to edit (incl. share point link) (so that particular one won't be fixed as part of this issue as already covered by #537).

The in-line editing can support more fields

[2018-07-25 12:00] LucieGueuning opened #545 "If no email address for contact details to enter, how to complete contact card?"

[2018-07-25 15:51] LucieGueuning opened #546 "Feedback on REACH"
- Bullet points needed on notification.
- Need to review External Capacity section.
- What to put in report cards? What to put in notification?
- How to upload maps?
- Maybe we need a section to highlight key contacts for the specific event?
- It would be good to have a way to have a chat on REACH.
- Explo results:  we need to be able to have updates, just like notifications.
- It would be good to

[2018-07-25 17:16] anexact commented on #544
This type of enhancement should be pushed to Phase 2 Extension as it is outside the scope of our current work until 24 August.

[2018-07-25 17:18] anexact commented on #540
Agree with @matthewberryman -- the idea is fine but the implications make it worse. Again, need to think through the issues before posting them as having been decided.

[2018-07-25 17:19] LucieGueuning commented on #544
Can we make it as a hyperlink redirect to the SharePoint site. So only need a field text?

It was part of our discussion on Tuesday to ensure demo for Bangladesh (this Friday)

[2018-07-25 17:23] anexact commented on #546
Please @LucieGueuning don't completely wreck the work we are doing to sort issues and complete the project. Such juvenile behaviour won't allow us to support the REACH platform in the next phase.

[2018-07-25 23:06] matthewberryman commented on #545
Per https://github.com/MSFREACH/msf-reach/issues/155 and google sheet, etc., at least one email address was defined as mandatory, and per other work to allow people to manage their contact details (in line with GDPR) we first ask for an email address to see if they're in our system, and if they are then they get sent a link to update, which (1) saves them time and (2) also helps to avoid duplicate

[2018-07-26 23:03] matthewberryman commented on #425
@LucieGueuning can you expand on what you mean by the OC bullet point?

[2018-07-27 06:37] LucieGueuning commented on #544
This was the mention of the demo needs. @matthewberryman

[2018-07-29 01:33] matthewberryman opened #548 "notifications from most recent first"

[2018-07-29 01:34] #548 closed

[2018-07-29 01:59] matthewberryman opened #549 "opened date invalid on Safari"

[2018-07-29 02:00] #549 closed

[2018-07-30 14:47] qclin commented on #534
if user enters Region, we’ll also append Country info like this
`{country: “germany”, region: “berlin”} `

else if user only enter Country we will append only Country
`{country: “germany”}`

wondering if country & region should be a binding object so
if user remove Berlin from the Region, we also splice out Germany, since it was added together
And user can add Germany back in on it’s own

will als

[2018-07-30 22:56] matthewberryman commented on #534
per email I think it's best to have an array of (region, country) tuples - for countries that have regions this will be present from Google autocomplete / Google geocoding (so you won't have only `{country: 'germany'}` and region will be bound to country as it's a tuple, but I'm not sure on region field from the Google API for countries that (don't really have) regions like Singapore - please chec

[2018-07-31 04:00] matthewberryman commented on #425
@qclin thanks for your work on this thus far in https://github.com/MSFREACH/msf-reach/tree/issues/425 (can you please add #issue_number to all commits related to an issue for tracking, and include keyword "fixes"/"closes" less quotes when you've tested it and in your view it fixes it). I've written and tested (locally) some code for updating the database for older entries in https://github.com/MSF

[2018-07-31 09:27] matthewberryman opened #550 "check latest notification is actually latest notification"

[2018-07-31 10:13] mehrdadgit commented on #550
I noticed this bug when I was doing #524 and have fixed it; should be fixed in dev

[2018-07-31 13:32] LucieGueuning commented on #41
Good on report card in a new browser window. Not yet done on the pop-up window on the event page.

[2018-07-31 16:16] LucieGueuning commented on #425
sorry for delay. I updated the description of the first comment for more explanation and clarity. All clear?

[2018-07-31 23:07] matthewberryman commented on #425
yes thanks @LucieGueuning :)

[2018-08-01 00:31] mehrdadgit commented on #550
@matthewberryman  better to write to common function somewhere to get latest notification from the array of notifications, and without using sort... I will do that.

[2018-08-01 00:32] matthewberryman commented on #550
@mehrdadgit yeah I know, I was just after a quick fix as I have a lot on :/

Can you please do this quickly and then work on #537 urgently.

[2018-08-01 01:04] matthewberryman opened #553 "ignore reports on events page"
ignore reports already assigned to event on events page, similar to unassigned reports on landing page

[2018-08-01 01:16] matthewberryman opened #555 "ability to drag out to remove saved tweets on events page tweets tab"

[2018-08-01 01:16] matthewberryman commented on #555
need to make a post to record the change

[2018-08-01 01:18] matthewberryman opened #556 "ability to filter reports by time on events page"

[2018-08-01 01:37] matthewberryman commented on #524
Tested this (now in dev and will merge into prod soon) but for now the attachments are only listed in the notification section.
For @mehrdadgit to-do:
Popups and table on landing page.
Latest notification on event page.

To save space since all of above are constrained, I think best to hyperlink from the notification.notification

[2018-08-01 01:38] #41 closed

[2018-08-01 01:38] #550 closed

[2018-08-01 01:39] #543 closed

[2018-08-01 02:39] mehrdadgit commented on #550
Done @matthewberryman  I did some tests but please feel free to review https://github.com/MSFREACH/msf-reach/commit/5b0dbd2b2fb5f3f8a2a277ba1746c98a76840542 and let me know if there's any issue :)

[2018-08-01 02:44] matthewberryman commented on #550
Great, thanks @mehrdadgit . I have reviewed and tested and will merge into master.

[2018-08-01 06:57] mehrdadgit opened #557 "Some small UI fixes"
panel heading fix: https://github.com/MSFREACH/msf-reach/commit/1d7ce72a694f40e77ac2dd040db8e26781c8fedf

[2018-08-01 07:30] mehrdadgit commented on #557
@matthewberryman these ui bugs have been annoying me for a while ;) feel free to review and close issue if all good.

[2018-08-01 11:55] LucieGueuning opened #558 "when hit 'save edits', keeps saying "uploading attachments" (even no attachments were uploaded)"
![image](https://user-images.githubusercontent.com/25951555/43520267-34761c02-958a-11e8-9f58-0a58db10efab.png)

[2018-08-01 12:11] LucieGueuning opened #559 "Bug in layout on event page"
1. grey zone (to use same layout that the one for notification part)
2. double line??
3. text not squeeze to the zone

[2018-08-01 12:24] matthewberryman opened #560 "Panels collapse when edit button is clicked"

[2018-08-01 14:04] LucieGueuning opened #561 "error once we click on email address on test environment"
![image](https://user-images.githubusercontent.com/25951555/43526439-23961876-959c-11e8-94a0-9cc49f0e6e9c.png)

This is the case for all email address link
Pretty urgent as we have demo for South Africa tomorrow morning (CET). will do it in test environment.

[2018-08-01 14:14] LucieGueuning commented on #511
- wording mistake : 'Association Member' instead of 'MSF Associate'
- add 'Field Workers' to the dropdown option. Note that we have this category on contact card ('current employment status')

[2018-08-01 14:20] LucieGueuning commented on #425
- need to **remove** the three last fields of 'current employment status': OC staff; PS/BO staff; Satelite staff
- wording: 'MSF peers' tick box should be 'Former national staff' (see picture)
![image](https://user-images.githubusercontent.com/25951555/43527280-2098a056-959e-11e8-9c7e-be19442c4857.png)

[2018-08-01 14:34] #435 closed

[2018-08-01 23:10] matthewberryman commented on #561
Not all cases, the map (leaflet) popups were ok. I will fix the rest.

[2018-08-01 23:55] matthewberryman commented on #560
Can't reproduce locally with issue. Can reproduce on dev environment but only intermittently. Might be a cache issue post b2cf2d4 although I am doing shift reload and sometimes it works in between times when it doesn't.

[2018-08-01 23:58] matthewberryman commented on #560
Tried in incognito mode and still occurring intermittently. Waiting for 6bd0d9e to deploy and seeing if that will fix it.

[2018-08-02 00:02] matthewberryman commented on #560
Can reproduce without a page reload so it's not consistent even with same version running (note this is before 6bd0d9e deployed)

[2018-08-02 00:13] matthewberryman commented on #560
Ok I still see the bug, and watching the DOM tree changes in console I now understand why. It's because the edit button is within the panel heading element which has a toggle on whether the panel body is expanded or not. So if it's already expanded then clicking on edit button can both change to edit mode and at the same time it also triggers a close of the panel.

[2018-08-02 00:36] matthewberryman commented on #560
There is a `$('#collapse'+category).collapse('show');` but seems this is in the wrong place. Moving it up (a428d3cca0bf3028a728f40d3c1781c37bdb230c) should trigger it before the rest of the code since it should set and return straight away.

[2018-08-02 00:37] #561 closed

[2018-08-02 00:45] matthewberryman commented on #560
(accidentally closed by "see if this fixes...")

[2018-08-02 01:14] #558 closed

[2018-08-02 01:34] matthewberryman commented on #425
@LucieGueuning noting per timeline above that @qclin already got onto the collapse of those MSF employment types before your comment, and I've since also updated the database for previously-entered entries made before this further field change (https://github.com/MSFREACH/msf-reach-schema/issues/60). I've changed the wording for MSF Peer -> Former Staff per your most recent comment.

[2018-08-02 01:46] matthewberryman commented on #560
Nope, still seeing this intermittently. I think it's still a race condition between the `.collapse('show')` and the collapse triggered by the fact that the button is a sub-element of the panel header which will also trigger a collapse (to collapsed from uncollapsed by default when notifications are present), per https://github.com/MSFREACH/msf-reach/blob/dev/public/events/index.html#L768:L775
Part

[2018-08-02 01:52] matthewberryman opened #563 "search by type of MSF employment"

[2018-08-02 02:04] matthewberryman commented on #563
@LucieGueuning Note that the subtype of MSF employment, now the following per #425
`
                      <option value="Field worker (national)">Field worker (national)</option>
                      <option value="Field worker (international)">Field worker (international)</option>
                      <option value="HQ staff (OC/PS)">HQ staff (OC/PS)</option>
`
is stored separately from the jo

[2018-08-02 02:05] matthewberryman commented on #511
Wording change fixed, new feature request covered in separate issue.

[2018-08-02 02:05] #511 closed

[2018-08-02 02:07] matthewberryman commented on #563
Stored separately previous request https://github.com/MSFREACH/msf-reach/issues/179 incl. Google Sheet

[2018-08-02 06:53] mehrdadgit commented on #559
Note (1) has been fixed in #557 and https://github.com/MSFREACH/msf-reach/commit/1d7ce72a694f40e77ac2dd040db8e26781c8fedf

And (2) should be the result of scrollbar enabling in #557 and https://github.com/MSFREACH/msf-reach/commit/b487af4cef3cc5a1fe097ace3bdc7455f536bae7 can be reversed

I remember fixing (3) in #535 https://github.com/MSFREACH/msf-reach/commit/856329c85a05a538412dcfd82064ff8a9a49

[2018-08-02 06:55] matthewberryman commented on #559
@mehrdadgit re https://github.com/MSFREACH/msf-reach/commit/856329c85a05a538412dcfd82064ff8a9a494fc8 I found that trick wasn't handling long notifications properly either so I didn't worry too much about that in the merge (my work on that aspect). Feel free to have a quick go if you have time.

[2018-08-02 07:10] #560 closed

[2018-08-02 07:14] mehrdadgit commented on #559
(3) done @matthewberryman

[2018-08-02 07:29] matthewberryman commented on #559
thanks. I tried reverting https://github.com/MSFREACH/msf-reach/commit/b487af4cef3cc5a1fe097ace3bdc7455f536bae7 locally and it didn't solve the double lines. I think some css styling for tab-panes on events page to make them take the same space as the surrounding `<div id="eventVApp">` should fix the double line issue?

@LucieGueuning the rest of the issues are fixed in dev test and prod now.

[2018-08-02 07:42] mehrdadgit commented on #559
@matthewberryman @LucieGueuning  if I understand correctly, we mean double "vertical" lines? I propose we keep them as their current state; they show a number of panels are inside a container in which they can be scrolled. if we push them to edges the panel headers will lose their shape IMO.

[2018-08-02 07:42] matthewberryman commented on #559
good point

[2018-08-02 11:42] qclin commented on #553
@matthewberryman hey when select an event the reports disappear, is that the intended interaction ?
I need more explanation. or screenshoot

[2018-08-02 20:26] matthewberryman commented on #553
yes, they should be removed from UI with a change of status to ignored (i.e. they're still in the system but with a status of ignored they don't get returned by the API per https://github.com/MSFREACH/msf-reach/blob/master/src/api/routes/reports/model.js#L18 )