[2017-05-22 22:20] talltom opened #1 "Add CRUD support for events endpoint"

[2017-05-22 22:21] talltom opened #2 "Add CRUD reports endpoint"
- nest under events

[2017-05-22 22:50] talltom opened #3 "Document which endpoints and methods are private and which are public"

[2017-05-22 23:52] talltom opened #4 "Determine strategy to rotate event UUIDs"
- need to log changes in a separate table

[2017-05-27 19:50] talltom commented on #4
Agreed that this could be future enhancement. UUID will be fixed to event for time being.

[2017-05-27 19:50] #4 closed

[2017-05-27 19:50] talltom opened #5 "Add integration tests for endpoint"

[2017-05-29 13:38] #5 closed

[2017-05-29 14:59] #1 closed

[2017-07-02 15:19] talltom opened #6 "Rename to MSF REACH"
- not a CogniCity project, as agreed with @matthewberryman
Will need to update
- repo name
- documentation
- testfile name
- schema database name

[2017-07-02 22:53] matthewberryman opened #7 "bring web content in"
Run with a monolithic app (API + static content) for now

[2017-07-06 23:56] talltom opened #8 "Client: event page should zoom to extents"
- generate extents from current reports in event
 - currently just zooming to event epicenter with fixed zoom level

[2017-07-07 08:52] matthewberryman opened #9 "No http -> https redirection"
* Can re-use code from [cognicity-server](https://github.com/smart-facility/cognicity-server) (v2)
* ATM have left port 80 off on the server. Will enable once this issue is fixed.

[2017-07-07 08:53] matthewberryman opened #10 "unauthenticated path access returns error message"
Should redirect to login page.

[code]

[2017-07-07 09:01] matthewberryman opened #11 "first login with new user fails"
Rather than a prompt to login and change password, I get
`InvalidPasswordException: password does not conform to policy: Password not long enough`
Yet the initial password I have set is long enough and otherwise conforms to the policy I've set (and I tried temporarily relaxing it). It's not an incorrect password (that correctly throws up an incorrect password error).

[2017-07-07 09:04] matthewberryman commented on #6
Related: https://github.com/usergroupcoop/msf-reach/issues/11

[2017-07-07 12:30] talltom commented on #11
@matthewberryman see email.
New password is hard coded as a hack while we build out further password UI. The placeholder password doesn't match our policy. Will work on updated UI today and remove this hard coded hack. Sorry for confusion.

https://github.com/usergroupcoop/msf-reach/blob/master/public/login/login.js#L56

[2017-07-07 14:53] talltom commented on #11
@matthewberryman now fixed - b9b5ce7ae64fec1d769bbc281f864b9c42b99265
At first login, user will be prompted to create a new password.

Note that we don't currently support other account changes, such as password reset.

[2017-07-07 21:52] matthewberryman opened #12 "public key handling on Elastic Beanstalk"
[code]
because [rfc1421](https://tools.ietf.org/html/rfc1421) mandates line breaks but Elastic Beanstalk environment variables don't support line breaks, see https://github.com/ThoughtWorksStudios/eb_deployer/issues/64
The simplest way is probably to do a replace on ',' -> '\n' as suggested in https://github.com/ThoughtWorksStudios/eb_deployer/issues/64#issuecomment-174620138 which means that if y

[2017-07-07 21:58] #12 closed

[2017-07-07 23:26] #11 closed

[2017-07-30 10:56] matthewberryman opened #13 "need list of reports per event"

[2017-07-30 10:57] matthewberryman opened #14 "reports details"
What do we need here exactly?
@talltom to comment on what's required, @mehrdadgit to complete.

[2017-07-31 13:03] talltom commented on #14
- location (either from HTML5 geolocation or manually from the map)
- description (text)
- report tags (text - e.g. #disaster)
- username / alias (text)
- image

[2017-07-31 13:19] talltom commented on #10
Fixed in c49fedafa8abc4923100cfa5ba0fb40b1706d0b1

[2017-07-31 13:19] #10 closed

[2017-08-01 00:24] matthewberryman commented on #14
Leave off tags / categories for now. Just username/alias, image, description.

[2017-08-02 12:54] mehrdadgit commented on #14
just confirming the above will all go into "content" field as JSON ? (there will be no schema/api change ? ) and image is the link to the image uploaded to S3 ?

[2017-08-02 13:41] talltom commented on #14
Hi @mehrdadgit, yes the majority of data goes in "content" field but location is stored separately by schema. For example:

[code]

[2017-08-06 10:16] matthewberryman opened #15 "minor cosmetic bug on new report card"
items shift as selection rectangle is added

[2017-08-06 10:41] matthewberryman opened #16 "report card submission throws random errors"
Sometimes I get an image upload error (initially due to an IAM error, but I resolved that, and now sometimes randomly an image upload error)

Sometimes on submitting a report for an event:
error: Error: Invalid report_key for this event.
    at Connection.parseE (/var/app/current/node_modules/pg/lib/connection.js:567:11)
    at Connection.parseMessage (/var/app/current/node_modules/pg/lib/connecti

[2017-08-06 10:46] matthewberryman opened #17 "report cards require image"
Should make this optional I guess

[2017-08-06 10:47] matthewberryman opened #18 "map starts zoomed out on report cards"
can you fix with leaflet calls please

[2017-08-06 13:18] talltom commented on #17
Agreed. Images should be optional.

[2017-08-06 13:51] talltom commented on #18
Hi @mehrdadgit - I suspect this is because the map is defined before the map card is loaded, thus breaking Leaflet's sizing/rendering. Leaflet is very fussy about having height/width of container set at load time (in our instance they may not be set yet as the map card is not rendered). Is it possible to add a map.invalidateSize() call with a timeout when the map card is loaded?

See the answer he

[2017-08-06 14:00] talltom commented on #16
Hi @matthewberryman - I can't recreate this. Is it for a specific event you're seeing this error?

[2017-08-06 20:28] matthewberryman commented on #16
Quite possibly was just a browser cache issue—I will take another look later today with a coffee and clean browser at hand. :)

[2017-08-06 23:56] #18 closed

[2017-08-06 23:56] matthewberryman commented on #16
I've been unable to recreate on different browser, closing for now.

[2017-08-08 23:04] matthewberryman commented on #13
These are on the map.

[2017-08-08 23:34] matthewberryman opened #19 "enforce only one tag / report"
@mehrdadgit please wait until I have done a commit as I have done some of the work.

cc @LucieGueuning

[2017-08-08 23:35] matthewberryman opened #20 "can't select some map styles on report card due to attribution"
cc @LucieGueuning

[2017-08-09 00:12] matthewberryman opened #21 "database has stale data"
1. From local testing where I forgot to update  WEB_HOST variable in https://github.com/usergroupcoop/msf-reach/blob/master/public/resources/js/events.js#L9
which is then causing https://github.com/usergroupcoop/msf-reach/issues/16 (the "An error occurred" bug). cc @talltom @mehrdadgit for local testing. @talltom can we update the build script to change this? if so open another ticket for that. I

[2017-08-09 00:13] matthewberryman commented on #16
"An error has occurred" on the UI maps onto that bug; the cause I've been able to use to reproduce is #21. Will close this when #21 is closed.

[2017-08-09 00:15] #20 closed

[2017-08-09 00:19] matthewberryman opened #22 "make report card bigger on desktop"
ideally make it dynamically adjust

cc @LucieGueuning

[2017-08-09 00:24] matthewberryman opened #23 "events need a name"
as far as I can see the backend is ready https://github.com/usergroupcoop/msf-reach-schema/blob/master/schema.sql#L22
just need to update UI

cc @LucieGueuning

[2017-08-09 00:27] matthewberryman commented on #21
pending #23 as that will also change data stored in database for events

[2017-08-09 00:29] matthewberryman opened #24 "Log in Page"
1. @LucieGueuning to supply high res image for use.
2. @mehrdadgit to replace login page image with that one, and set opacity of that image (try 70% to start with).
3. @LucieGueuning and team to then review and @mehrdadgit to tweak opacity if required.

[2017-08-09 00:36] matthewberryman commented on #17
@LucieGueuning absence of an image will cause the hang on report submission, once the image is made optional that hang issue will go away.

[2017-08-09 00:37] matthewberryman commented on #8
@LucieGueuning this is why you won't see reports on events page, unless you zoom out in which case they will show up on the map.

[2017-08-09 00:39] matthewberryman opened #25 "report card check for missing location"
Check happens on last page and dumps the user back to a black report card page.
Should happen earlier on the location entry slide of the report card, and allow user to input it.

cc @talltom @LucieGueuning

[2017-08-09 00:44] matthewberryman opened #26 "twitter feed search should also work if enter is pressed"
ATM requires user to click on search button.

cc @LucieGueuning

[2017-08-09 00:46] matthewberryman commented on #19
@mehrdadgit no need to wait any more, check out https://github.com/usergroupcoop/msf-reach/commit/46973ace9617e93d029337ca42ce42bc931b0e53 with prelim work on this, please complete asap.

[2017-08-09 00:54] matthewberryman commented on #23
Not quite, still needs entry on events page

[2017-08-09 01:00] matthewberryman commented on #23
fixed in fc5029d

[2017-08-09 01:00] #23 closed

[2017-08-09 01:01] talltom opened #27 "Express API cache is not functioning?"
The endpoints /hazards relies on caching to reduce server load.

I have a hunch that the cache was not operating because when I run server locally I get:
`[apicache] bypass detected, skipping cache.`

I added a timestamp to this endpoint to verify. The timestamp updates with every call, which according to apicache docs it shouldn't

Possibly due to this:
https://github.com/kwhitley/apicache#user-c

[2017-08-09 01:06] matthewberryman commented on #27
@talltom need me to set CACHE env var to true on EB? Currently unset (i.e. defaults to false)

[2017-08-09 01:10] #9 closed

[2017-08-09 01:14] matthewberryman opened #28 "PDC layer"
@talltom I see you've just put in https://github.com/usergroupcoop/msf-reach/commit/e21ff08a06d97e0016490db3abc5208581894bc1
- if after testing you're happy then please close. Just adding this in to github for tracking.

[2017-08-09 01:15] matthewberryman opened #29 "travis CI lint fails"
https://travis-ci.org/usergroupcoop/msf-reach/builds/262485584?utm_source=email&utm_medium=notification

Not affecting function in #9 fix, just linter is being picky on my copy and paste.

[2017-08-09 01:20] #28 closed

[2017-08-09 01:24] matthewberryman commented on #29
Fixed in 399434 , travis build ref. https://travis-ci.org/usergroupcoop/msf-reach/builds/262486715?utm_source=email&utm_medium=notification

[2017-08-09 01:24] #29 closed

[2017-08-09 02:03] matthewberryman opened #30 "VERY IMPORTANT - events creation"
Natural disaster (earthquake/volcano/typhon/flood/tsunami/drought/others) / Armed Conflict / Disease outbreak (Cholera/Ebola/Dengue/Malaria/Measles/Meningococcal Meningitis/Yellow Fever/others) / Displacement / Malnutrition / Search and Rescue / others + specify

cc @LucieGueuning

[2017-08-09 02:14] matthewberryman commented on #17
@mehrdadgit Don't forget to update the card text to make it clear that this is optional, and test that it isn't required for successful card submission.

Since the database is currently offline I am doing a couple of speed tweeks that will take a bit longer. About another 10 mins until it's back online.

[2017-08-09 02:37] matthewberryman opened #31 "reports on map need info displayed"
cc @LucieGueuning

[2017-08-09 02:38] matthewberryman commented on #16
Tested with clean database and seems good

[2017-08-09 02:38] #16 closed

[2017-08-09 02:38] #21 closed

[2017-08-09 03:02] #15 closed

[2017-08-09 03:42] #17 closed

[2017-08-09 03:42] #19 closed

[2017-08-09 03:45] matthewberryman commented on #22
Looks better to me. Not much we can do about whitespace on side on desktop—even if we got rid of box, or stretched laterally, there'd still be a lot of white space as there's not much content per slide. Closing for now.

[2017-08-09 03:45] #22 closed

[2017-08-09 03:53] LucieGueuning commented on #22
should be responsive to the screen/devices of user. need to be opened in a
new tab.

On 9 August 2017 at 11:45, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmarks>
<https://www.linkedin.c

[2017-08-09 03:55] LucieGueuning commented on #24
Is 3500x2333 works for you?
Don't forget opacity (65% - let's try) to make the log in field more
obvious for users.

On 9 August 2017 at 08:29, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bo

[2017-08-09 04:02] mehrdadgit commented on #24
yes @LucieGueuning any resolution is fine as it will be automatically fit into page; just an image high in size might increase the loading time; please send it through and I will add it with that opacity value for testing...

[2017-08-09 13:14] matthewberryman opened #32 "pre-fill and pre-load Twitter search"
take event name and summary words from events API and pre-fill Twitter search keywords on events page, and run search automatically on those, allowing user to modify and re-run search

[2017-08-09 23:18] matthewberryman opened #33 "contacts and mission histories"
With a view to keeping data returned by API and represented on map small, do this on landing page, and
1. ~~@talltom to work on API (done in https://github.com/usergroupcoop/msf-reach/pull/34 )~~ incl. restrict data returned (for mission histories and contacts) by radius around event ,  and
2. @mehrdadgit to work on putting that data on map.

[2017-08-09 23:29] matthewberryman commented on #33
See contacts tab at https://docs.google.com/spreadsheets/d/1fGuGeet2TKD6Pxy8xm1jHEn1ujxZMWPIqeIUSV7VmCQ/edit#gid=203260487 for fields

[2017-08-09 23:30] matthewberryman commented on #30
@mehrdadgit please work on further event fields as per events tab in https://docs.google.com/spreadsheets/d/1fGuGeet2TKD6Pxy8xm1jHEn1ujxZMWPIqeIUSV7VmCQ/edit#gid=203260487

[2017-08-09 23:34] matthewberryman commented on #33
Support ability (at least in API for now) to filter by type of contact field

[2017-08-09 23:40] matthewberryman commented on #32
@talltom thanks for work so far, but given type is fairly broad when compared with terms used by twitter users for specific events, that's not returning much as we discussed, so leave off type, and just OR the name together and also optionally (by putting in code but commenting out for now, so I can easily add in later if need be) the ORing of the event summary words also.

[2017-08-10 01:06] talltom commented on #27
probably? I wasn't around when we started using this so not sure on config.

[2017-08-10 02:08] matthewberryman commented on #27
Set CACHE='true' in config, tested in a different browser that I'd not loaded msf-reach on before (to avoid any browser caching) and got back the same timestamp.

[2017-08-10 02:08] #27 closed

[2017-08-10 02:12] matthewberryman commented on #31
Fixed with https://github.com/usergroupcoop/msf-reach/commit/3aed2358cec0f1a87fc0b953a0f5f0866138cc14 and refined with https://github.com/usergroupcoop/msf-reach/commit/695be580b4488af2fd3a5c8ac82842945d9ea0ac

[2017-08-10 02:12] #31 closed

[2017-08-10 02:12] #14 closed

[2017-08-10 02:13] matthewberryman commented on #8
Fixed with https://github.com/usergroupcoop/msf-reach/commit/770752c8a69c3c47d57bf3557ffd2d4442a1e781

[2017-08-10 02:13] #8 closed

[2017-08-10 02:20] matthewberryman commented on #32
Done in https://github.com/usergroupcoop/msf-reach/commit/ee0f9a74054fb390d8e64ff4331f58b0d8358167
cc @LucieGueuning we played around with various ways of doing this and this seemed the best. I will raise a separate issue for translation later.

[2017-08-10 02:21] matthewberryman commented on #13
I think the work in #8 satisfies this but happy to reopen if not.

[2017-08-10 02:21] #13 closed

[2017-08-10 02:50] matthewberryman commented on #33
@mehrdadgit refer to API from @talltom  and per latest email from @LucieGueuning put the data layers on the landing page (not events page) but with default to off. Refer to @talltom's reports and events UI code for how to get these from API -> displayed on map.

[2017-08-10 21:45] matthewberryman opened #35 "check report card wording"
https://docs.google.com/spreadsheets/d/1fGuGeet2TKD6Pxy8xm1jHEn1ujxZMWPIqeIUSV7VmCQ/edit#gid=203260487

[2017-08-11 00:18] mehrdadgit commented on #35
doing this; in the spreadsheet says Free text (150 words) does it mean 150 chars ? should I enforce it ?

[2017-08-11 00:22] matthewberryman commented on #35
Yes please add some JS code to validate client side (but: after all other work on this issue is complete)

[2017-08-11 03:11] #26 closed

[2017-08-12 23:25] matthewberryman opened #37 "report card last page should have button for new report"

[2017-08-12 23:26] #37 closed

[2017-08-12 23:31] #35 closed

[2017-08-12 23:43] matthewberryman opened #38 "contacts cards"
1. Tom to extend contacts API to allow submission of data,
2. Mehrdad to work on contacts API.

Refer to existing contacts file I sent via email for fields for new submissions for now.

[2017-08-13 21:43] matthewberryman opened #39 "fields on event archive"
Archive button should pop up a field for entry of further details on event completion
https://docs.google.com/spreadsheets/d/1fGuGeet2TKD6Pxy8xm1jHEn1ujxZMWPIqeIUSV7VmCQ/edit#gid=203260487

[2017-08-13 21:44] matthewberryman opened #40 "select past missions and contacts for linking with events"

[2017-08-16 04:45] matthewberryman opened #41 "put name of event on report card"
Change
https://github.com/usergroupcoop/msf-reach/blob/master/public/report/index.html#L36
to read "MSF would like to request any information you may have about an event, " + name_of_event_this_report_is_associated+ ", that may be happening in your area."

[2017-08-16 04:56] matthewberryman opened #42 "event icons based on event type, on landing page map"
https://drive.google.com/drive/folders/0Bw27FPU-gFxYRkQ0aFZOaFAtVDg

[2017-08-16 05:57] mehrdadgit commented on #41
OK; assuming we hit the API for this and not passing it through GET params ?

[2017-08-16 06:08] mehrdadgit commented on #42
Just wondering if they mean these icons:
https://drive.google.com/drive/folders/0Bw27FPU-gFxYQmRyRVJ6MDBfdDQ
That folder does seem to have map-marker symbols ?

[2017-08-16 06:19] matthewberryman commented on #42
No, definitely these ones https://drive.google.com/drive/folders/0Bw27FPU-gFxYRkQ0aFZOaFAtVDg as they're for different event types (no, they're not really map markers, but use them anyway). The other ones you linked are for different contact types (to be discussed another time)

[2017-08-16 06:25] matthewberryman commented on #41
Yes I would hit API for it.

[2017-08-16 06:44] mehrdadgit opened #43 "searchable maps (with google autocomplete)"
@matthewberryman I can do a simple autocomplete (+geocoding) if we get a google API key ...

[2017-08-16 07:05] matthewberryman commented on #43
re-use other one you have (and I can change later); please focus on contact cards for now then other priorities per email.

[2017-08-18 10:35] anexact opened #44 "Twitter search"
Twitter Search function glitches in several ways:
1) no way to refresh the search, thus new information in Twitter, especially from peers, cannot be detected and thus cannot receive Reach-Out report card; if the search cannot be refreshed, it does not allow the operator to pick up latest info from peers who are requesting report cards;
2) seems to be a bit of trouble with the search finding releva

[2017-08-21 02:27] matthewberryman opened #46 "map on contacts card now too big with addition of nationality pickers"

[2017-08-21 02:28] matthewberryman opened #47 "date and nationality pickers on contact card can't be seen - text is white"
refer jquery-ui for datepicker css
refer https://github.com/usergroupcoop/country-select-js for nationality selector css

[2017-08-21 02:32] matthewberryman commented on #30
@mehrdadgit please double check - there are some missing, also on event archive please add a popup form for capturing ones flagged as "On closure Event ID"

[2017-08-21 02:33] matthewberryman commented on #30
You can use the country picker (see contact card for example) to select visa countries. Need donors on initial entry, final budget on archiving, a few others missing.

[2017-08-21 02:35] matthewberryman opened #48 "split social media on contacts card onto new page"

[2017-08-21 03:06] matthewberryman commented on #47
https://github.com/usergroupcoop/country-select-js/blob/master/src/scss/countrySelect.scss is the source css file - you now have RW permissions to modify that, to build you need gulp installed and then run `npm install && gulp build`, then copy over the minified css to msf-reach.

[2017-08-21 03:32] mehrdadgit commented on #47
No need @matthewberryman pushed a fix ...

[2017-08-21 03:37] mehrdadgit commented on #48
fixed this but we may need to group nationality and contact details on one page and the address+map on another page...

[2017-08-21 03:56] matthewberryman opened #49 "new reports, contacts, events should open in new tab"

[2017-08-21 03:58] matthewberryman opened #50 "submit button broken on contacts page"
sorry I broke this with updates, @mehrdadgit please fix.
cc @anexact

[2017-08-21 04:14] #49 closed

[2017-08-21 04:22] mehrdadgit commented on #50
should be already fixed in https://github.com/usergroupcoop/msf-reach/commit/ef25c15f2c29cb1505e021e7f06d688dc8445b5c

[2017-08-21 04:26] #47 closed

[2017-08-21 04:26] #50 closed

[2017-08-21 04:28] matthewberryman commented on #44
1. You can click on the search button again.
2. @talltom can comment on public API in more detail but from memory it's fairly limited (limited by number returned for each API call IIRC), can't do much about this short of some gnip work?
3. See 1.

Closing this unless anyone has better UI suggestions re 1 & 3?

[2017-08-21 04:28] #44 closed

[2017-08-21 04:28] #46 closed

[2017-08-21 04:31] matthewberryman opened #51 "display extra event fields and contact fields in tables, maps"
1. @anexact please list for us what needs to be displayed for events and contacts on map and in tables on events page.
2. @mehrdadgit can you please have a look at this if you get time, otherwise @talltom to work on this tonight our time, or failing that I can have a quick look tomorrow.

cc @LucieGueuning

[2017-08-21 04:32] LucieGueuning commented on #30
Could you please also categorize them thanks to different tabs. You can find the categories on first column on spreadsheet.

[2017-08-21 04:32] matthewberryman opened #52 "no option to select none for 2nd nationality"

[2017-08-21 04:46] #52 closed

[2017-08-21 04:47] #48 closed

[2017-08-21 05:22] #42 closed

[2017-08-21 05:23] matthewberryman opened #53 "PDC icon?"
If @anexact and @LucieGueuning can supply one I can put it in.

[2017-08-21 05:37] matthewberryman commented on #51
Note in contacts that nationality1 and nationality2 are in turn json objects with ISO 2 letter country code and name, e.g.
[code]

[2017-08-21 06:49] LucieGueuning commented on #53
![image](https://user-images.githubusercontent.com/25951555/29506739-d6c37880-867f-11e7-8ee7-035955ce14b0.png)
The icons are the standard ones from PDC layers

[2017-08-21 07:38] matthewberryman commented on #53
Ok the trouble is that the PDC map only has icons for current events and the image URLs are generated on the fly. So, I don't have access to the full set, nor can I grab them by systematically generating the image URLs to grab them from their server. In particular, the full set includes different colour borders for the icons depending on status. For now, I have gone with a limited subset that cove

[2017-08-21 07:41] anexact opened #54 "Landing Page Legend > request layer changes"
Legend for Landing Page requested to be updated to include only:

- PDC
- Contacts
- Mission Histories
- Current Events

[2017-08-21 07:44] anexact opened #55 "Request Geographical Search function for Cards/Contact/Event Creation"
Concern is with difficulty to find precise location for cards (where am I?), contact cards (where do I reside?), and event creation (where is the place I want to locate as the event?); request is to add a search function that is connected to Google address list (as discussed with MB previously) so that the address is pre-authorized (i.e. exists in Google address list).

[2017-08-21 07:48] anexact opened #56 "Request correction to Login tab in browser"
![image](https://user-images.githubusercontent.com/20785542/29508670-edd1ab66-8687-11e7-94a8-4c4697e67a6d.png)
Request to change this to:
Login to MSF RESEACH

[2017-08-21 07:49] anexact commented on #56
Also, request to add a Favicon on the browser tabs.

[2017-08-21 07:51] matthewberryman commented on #56
You mean MSF REACH? Let me know what icon you want as a favicon and send in at least 16x16, 32x32 and 96x96 px sizes as per https://sympli.io/blog/2017/02/15/heres-everything-you-need-to-know-about-favicons-in-2017/

[2017-08-21 07:53] anexact commented on #56
Okay, requested to MSF, will upload asap.

[2017-08-21 08:30] anexact opened #57 "VERY IMPORTANT Active Directory"
MB posed question to IT officer CCh as follows:

Option 1 (preferred): Federation Services
https://technet.microsoft.com/en-us/library/gg188612.aspx
https://aws.amazon.com/blogs/mobile/announcing-saml-support-for-amazon-cognito/

Option 2 (less preferred): Passport Approach
https://www.npmjs.com/package/passport-activedirectory

[2017-08-21 09:52] anexact commented on #30
UPDATE: Please note the following requested changes for EVENT CREATION—please use _only_ these fields for Operator to fill in (note, order is alphabetical, not random, for all but Status, which is sequential to deployment logic):

## First tab: BASIC INFORMATION

**Type**: choose via check box from following list: Armed Conflict; Disease Outbreak; Displacement; Malnutrition; Natural Disaster; Sear

[2017-08-21 10:46] clgeros opened #58 "NEW LOGO"
Please update all instances of the logo. Use the short file (Medecin sans frontieres | REACH).

https://drive.google.com/drive/folders/0Bw27FPU-gFxYQnlvU1VETHJvZUE?usp=sharing

Also, please remove the "MSF REACH" home tab and make the logo in the upper left corner the "home" tab instead.

[2017-08-21 10:47] clgeros opened #59 "FAVICONS"
https://drive.google.com/drive/folders/0Bw27FPU-gFxYc1huQ3BKWVZwRW8?usp=sharing

[2017-08-21 11:06] anexact opened #60 "Field Definition on event page"
Once the Unique Event ID is created with the Create Button, request for the Event Landing Page to contain 5 additional expandable/collapsable tabs as follows:

### 1 Response [Tab]

Program Type: Check box: Food Distribution; Mental Health; NFI; Primary Health Care; Secondary Health Care; Sexual Reproductive Health; Shelter; Tertiary / Specialized Health Care; Therapeutic Feeding; Vaccination; WAT

[2017-08-21 11:20] LucieGueuning opened #61 "Name of event on landing page"
Event Name should be set thanks to the following metadata:
1. TYPE OF EMERGENCY (when created an event - basic information e.g. Typhoon)
2. LOCATION (when created an event - basic information - Map driven)
3. DATE AND TIME OF EMERGENCY (when created an event - basic information)

e.g. Event Name : Thyphoon_Bandung_21.08.2017
different from Event ID

This name can be editable with free text option

[2017-08-21 11:28] anexact opened #62 "Request Changes for Contact Cards on Map (Landing and Event pages)"
For Contact pins on Landing Page:

Please default to off so it doesn't look so shitty.

For Contact pins on Event pages:

Please default Contact Pins in the area of the Event to ON, so that the Operator can see the contacts who are within an event theatre when click or hover.

Phase 2 dev: Please make the Contacts tab only have screen, so that map is visible (i.e. like REM so that table click high

[2017-08-21 11:32] LucieGueuning commented on #61
Twitter feed will take this automatic event name.

[2017-08-21 11:33] clgeros opened #63 "ICONS ON LANDING PAGE"
On the landing page we should have 4 different icons (both items shown on the map and matched in the legend):

1. Contacts: https://drive.google.com/file/d/0Bw27FPU-gFxYSjk3WWxoelIxb1k/view?usp=sharing

2. Mission History / Closed Event: https://drive.google.com/file/d/0Bw27FPU-gFxYQlYxSGdlZ1ZYM1E/view?usp=sharing

3. Current Event: https://drive.google.com/open?id=0Bw27FPU-gFxYbE9tZU5TbDBUbjA

4.

[2017-08-21 11:55] clgeros commented on #63
Also please note that the icon for "mission history / closed event" has been altered so please replace the .svg. It was not rendering properly. THX!

[2017-08-21 12:08] LucieGueuning opened #64 "Image on landing page"
Fix image (stretched and not center) or delete entirely

e.g. https://diggr.msf.org/loginPage#/

[2017-08-21 12:10] LucieGueuning opened #65 "Toolbox tabs"
Create a toolbox tab with 'Create an event' and 'create a contact'

[2017-08-21 12:11] LucieGueuning opened #66 "Contacts cards - field mistake"
'Home phone' instead of 'Work phone'

[2017-08-21 12:13] LucieGueuning opened #67 "Contact Card - field improvement"
If 'current MSF Staff' is checked, then a drop down with the following field
OC/PS/BO/Mission - free text
Current employment status
Current position - job title

[2017-08-21 22:04] #66 closed

[2017-08-21 22:13] matthewberryman commented on #59
Duplicate of #56

[2017-08-21 22:13] #59 closed

[2017-08-21 22:13] matthewberryman commented on #56
https://drive.google.com/drive/folders/0Bw27FPU-gFxYc1huQ3BKWVZwRW8?usp=sharing

[2017-08-21 22:16] #56 closed

[2017-08-22 02:01] matthewberryman commented on #63
Regarding icons on the map:
1. This was the contacts icon we already had in place.
2. The file you sent was the same file we already had in place. Agree it could look better but short of a new file not much I can do.
3. Done; applied for all events.
4. Have updated the volcano PDC hazards, have left others in place ( too much work to kill them).

Regarding legend:
Hopefully @talltom gets a bit of

[2017-08-22 02:04] matthewberryman commented on #65
We already have links for these in the menu, and the additional tabs requested in https://github.com/usergroupcoop/msf-reach/issues/60 won't leave room for additional tabs there. If you want tabs somewhere else please send through a design and reopen this issue.

[2017-08-22 02:11] matthewberryman commented on #64
The image can't be made smaller, as then I won't be able to read the text. It can't be made bigger without making the menu itself bigger. It's scaled to be in the same proportions and looks Ok to me, but since you're not happy, and since it's fiddly to move to the centre, I will delete.

[2017-08-22 02:13] matthewberryman commented on #63
Currently OC icons for events & missions are differently sized, will fix this, and should make the mission history icon render a bit better too. The volcano svg file sent doesn't show up on satellite view so I will revert to png version as used on PDC map for now.
<img width="116" alt="screenshot 2017-08-22 12 12 23" src="https://user-images.githubusercontent.com/2288238/29545700-2deac5d8-8733-11e

[2017-08-22 02:21] clgeros commented on #63
PDC volcano .svg fixed: https://drive.google.com/file/d/0Bw27FPU-gFxYQk9yem9wUnlMRlE/view?usp=sharing

[2017-08-22 02:22] clgeros commented on #63
Just fixed the .svg for the volcano symbol. should show correctly now.

[2017-08-22 02:23] matthewberryman commented on #63
thanks @clgeros will give that a try shortly.

[2017-08-22 02:46] clgeros commented on #63
I went ahead and dropped all of the PDC symbols that are currently showing on their map in the southeast asia region: https://drive.google.com/drive/folders/0Bw27FPU-gFxYSTJ0VU9hSUhJOGs?usp=sharing

We may not need to show these for tomorrow, but they are ready. We will use the cyclone symbol for cyclones, typhoons, and high winds.

[2017-08-22 02:48] matthewberryman commented on #63
Ok I will try and get this out by tomorrow (and we are closing things out midday tomorrow prior to Friday).

[2017-08-22 02:51] #54 closed

[2017-08-22 03:05] matthewberryman commented on #63
I've done #54 (have preserved separate event type layers in https://github.com/usergroupcoop/msf-reach/tree/old-legend-with-event-categories should we ever need to swap back), leaving legend icons as very low priority (i.e. not by close down tomorrow) by @talltom at later stage.

[2017-08-22 03:08] matthewberryman commented on #53
closing as covered by #63

[2017-08-22 03:08] #53 closed

[2017-08-22 03:56] anexact opened #68 "Request to turn Contacts default ON for Event Level"
Request that Contacts are ON as default at event level so that Operators (and demo viewers) can see any Contacts in proximity of Theatre of Operations for that Event ID.

[2017-08-22 03:59] anexact opened #69 "Contacts Table = Map Nav"
Request for Enhancement re: Contacts:

- can Contact table not open to whole page; instead, can Contact table open partially, showing map (similar to REM RW table to map for PB.id)?
- suggest that Contact table and Contact icon both contain a "View Full Details" button, which would pop up a complete Contact card for ALL contact info for that informant;
- several other discussions to be had with MB

[2017-08-22 04:01] anexact opened #70 "Request for improved Contact discoverability / searchability"
Request from Operator to add SEARCH function to contacts at Landing Page level and Event level; currently limited in ability to discover relevant contacts, and this is a vital function for the platform that could use strategic discussion as well as UX improvement with search function.

[2017-08-22 04:25] LucieGueuning opened #71 "Icons size"
average size :
![image](https://user-images.githubusercontent.com/25951555/29548581-8cc542b2-8734-11e7-8d79-976f747aa9a2.png)

Could you please put up icons up by 150? (Reports icon ; Mission histories icon ; Current event icon ; volcano PDC icons 2 on Indonesia).

Also could you please refer to ticket#63 for updating the icon for Mission histories (Christina link)?

[2017-08-22 04:41] LucieGueuning opened #72 "Event page legend -> Request layers to be added"
Legend for event Page requested to be added to include:

PDC
Contacts
Mission Histories
Reports (and be divided into the following categories)
   - Security
   - Needs
   - Access
   - Contacts

[2017-08-22 05:22] LucieGueuning opened #73 "Icons need to be on land"
Christina updated the GPS coordinates (excel spreadsheet). Most of Mission Histories Icons are on ocean. Could you please migrate all mission histories location from row 150 to 200 with updated (and right) location ?

Sorry for that.

[2017-08-22 05:39] matthewberryman commented on #63
@clgeros @LucieGueuning I have the supplied mission history icon in already. The problems here are
1. As the image scales, the gap between the outline and the body of the icon only grows.
2. The gap is a transparent gap, so other icons e.g. contacts show up underneath and make it look red, etc.
To fix the issues I need a newer mission history icon from you.

[2017-08-22 05:40] matthewberryman commented on #71
@LucieGueuning I will fix sizes tomorrow a.m. See #63 for mission history icon issue—I had the existing one in place and need one to fix the problems that will only grow bigger as I increase the size for this issue ticket.

[2017-08-22 06:19] clgeros commented on #63
@matthewberryman the updated icon at: https://drive.google.com/file/d/0Bw27FPU-gFxYQlYxSGdlZ1ZYM1E/view?usp=sharing does not have a transparent gap between the outline and the inner circle. So, hopefully that should help!

[2017-08-22 06:58] matthewberryman commented on #63
@clgeros that's the one I'm using. As is, when it is rendered and scaled by the browser, because the outer circle and the rest are in different vectors, the scaling is creating gaps. I will have a go at converting to png and then scaling it.

[2017-08-22 07:02] clgeros commented on #63
Ok. Sorry, I know the first time I loaded the .svg for that one, the outer shape was transparent (no white inside the black outline)... so I fixed and reposted that one, but if that doesn't solve it, I can send you a .png no problem.

[2017-08-22 07:04] matthewberryman commented on #63
@clgeros Ok I'm not sure that the Google drive link has successfully taken it, then—when I download it I get the exact same file (verified via two different means). Can you email me the svg and png so I can have a play with both then.

[2017-08-22 07:11] clgeros commented on #63
No problem. Email sent. I also included a new version of the "current event" with a white outline... just because the point of the tag is getting lost on the satellite image. Try if you have time, if not it's ok.

[2017-08-22 07:12] matthewberryman commented on #63
Ok now I have it - the historical icon you sent in email is different to the one on the google drive link. All this wasted energy because of a quirk in Google Drive itself. :/
I will update both now and see how we go

[2017-08-22 07:14] clgeros commented on #63
So sorry! It looks correct on my end :/

[2017-08-22 07:21] matthewberryman commented on #63
Not your fault, just Google Drive isn't registering the updated version. The ones you sent me are deploying now (deployment takes several minutes). I'll let you know when it's done, but be sure to do a shift (Win)/ command (Mac) reload to get it to pick up the new ones.

[2017-08-22 07:25] matthewberryman commented on #63
Done. And looking better. Hooray! I will resize them ( #71 ) tomorrow.

[2017-08-22 07:30] LucieGueuning opened #74 "'I' tab to open - room for tutorials, legend and partners"
Can we open a new and last tab for 'I' information tab for legend, movies (that we are creating) and partners text (enclosed)

[Partners&PrivacyPolicy.docx](https://github.com/usergroupcoop/msf-reach/files/1241133/Partners.PrivacyPolicy.docx)

[2017-08-22 07:31] clgeros commented on #63
Awesome! Looks so much better! Now that we see that, maybe the mission histories should be slightly "ghosted". so they are a little less bold on the screen.. 80% opacity? Is that possible?

[2017-08-22 07:33] matthewberryman commented on #63
I can set opacity of map icons using http://leafletjs.com/reference-1.2.0.html#marker-opacity (just putting the link here for my reference when I work on this early tomorrow a.m.)

[2017-08-22 07:44] LucieGueuning opened #75 "Username and password to set up (2)"
Username : natasha.reyes@hongkong.msf.org. Password : operators
Username : remi.carrier@hongkong.msf.org. Password : viewers (can not edit – for the demo if we can only remove the ‘edit’ button only for this account, it should be great!)

[2017-08-22 07:47] clgeros opened #76 "REPLACE MAPS"
@mehrdadgit
Please replace maps with the following:

Terrain/City Infrastructure link:
https://api.mapbox.com/styles/v1/clgeros/cj2lgdo3x000b2rmrv6iiii38/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2xnZXJvcyIsImEiOiJjajBodHJjdGYwM21sMndwNHk2cGxxajRnIn0.nrw2cFsVqjA2bclnKs-9mw

Satellite Image Link:
https://api.mapbox.com/styles/v1/clgeros/cj2lds8kl00042smtdpniowm2/tiles/256/{z}/{x}/{y}?access_to

[2017-08-22 07:51] LucieGueuning opened #77 "Latest updates on landing page"
Can we have a box containing the latest actions (date, time and by whom) on landing page?

Location : up to current event list

[2017-08-22 07:56] matthewberryman commented on #76
I will do this. @mehrdadgit please continue work on event fields.

[2017-08-22 08:01] #76 closed

[2017-08-22 08:13] clgeros opened #78 "Event Creation / Event Name Generating / Event Card"
When creating an event, the first selection should be "event type" and **instead of "drop down" selection would be best to select from "event type" icon list** like:
<img width="330" alt="screen shot 2017-08-22 at 4 07 10 pm" src="https://user-images.githubusercontent.com/22763936/29555082-03fd1e30-8754-11e7-97b0-9f8c5a987321.png">

Next, "Event location" to be generated by map selection

Then, "D

[2017-08-22 08:14] matthewberryman commented on #61
Closing, captured in #30

[2017-08-22 08:14] #61 closed

[2017-08-22 08:18] matthewberryman opened #79 "support different roles"
https://github.com/usergroupcoop/msf-reach/issues/75

[2017-08-22 08:19] matthewberryman commented on #75
I will set up those users tomorrow with different passwords (for security reasons they can't be the same as anything we list publicly here, and also need to comply with password policies). Supporting different roles is a separate feature request I've opened in #79

[2017-08-22 08:31] matthewberryman commented on #68
not quite fixed

[2017-08-22 08:40] #68 closed

[2017-08-22 08:51] matthewberryman opened #80 "mail email addresses open a new mail window when clicked on"
cc @LucieGueuning @anexact @clgeros

[2017-08-22 09:31] matthewberryman commented on #80
Just remembered I need to do this for map contacts too.

[2017-08-22 09:35] #80 closed

[2017-08-22 10:08] matthewberryman opened #81 "move shared code out of landing.js and events.js"
Will leave this until UI is settled, but on current evolution the amount of shared code between these files is increasing and we need to refactor that out.

[2017-08-22 10:11] LucieGueuning commented on #70
Request from boss. Could we have for column 'What is your current Affiliation (employer-company name)?' a free search bar? needed

[2017-08-22 10:14] LucieGueuning opened #82 "On event page, contact info"
Can we have at a first glance :
1. Name
2. Email
3. Phone Number
4. Affiliation

Also, contacts table need to be linked to contacts on map, on event page

[2017-08-22 10:17] matthewberryman commented on #70
This is a new feature (hence) tag- we need to start using milestones feature of github to track urgency, although on this one honestly we will not get this done by Friday.

[2017-08-22 10:19] matthewberryman commented on #82
I'm still playing with the contacts table size in relation to contacts map on the events page (already tracked in other separate issues). I am not entirely sure what you mean by contacts table needs to be linked to contacts on map. You mean if you select a contact on the table it zooms to and highlights the contact on the map?

[2017-08-22 10:20] clgeros opened #83 "New Report Icon"
@matthewberryman @mehrdadgit @talltom

The current report icon just isn't working (visually) on the map. Can we please change this icon to:

https://drive.google.com/open?id=0Bw27FPU-gFxYNVlURFVoYWVSNU0

Will also send in an email in case the drive doesn't update.

[2017-08-22 10:21] LucieGueuning commented on #82
No I mean when event is created, the contact shown on table are the only one located nearby the disaster theater and shown the same contact on map. Do you better understand?

[2017-08-22 10:28] clgeros commented on #82
Just to clarify Lucie's point, she's looking for a location filter... i.e. airbnb... contacts shown in table should match those visible in the map view at any given point in time.

[2017-08-22 10:29] matthewberryman commented on #82
Gotcha. We'd already planned on that in https://github.com/usergroupcoop/msf-reach/issues/33 - but requires fairly major changes behind the scenes in the server API. Just deploying some changes now to get more contacts info in on the table.

[2017-08-22 10:30] matthewberryman commented on #83
@mehrdadgit @talltom I will do this with other icon changes tomorrow a.m.

[2017-08-22 23:08] #83 closed

[2017-08-22 23:26] matthewberryman opened #84 "grey menu on events page"
MSF Reach is not greyed but should be.
Other items (new event and new icon) are greyed but shouldn't be.
i.e. make it consistent with landing page.

[2017-08-22 23:27] matthewberryman opened #85 "general code tidy up"
for after Friday

[2017-08-22 23:40] #75 closed

[2017-08-22 23:53] matthewberryman opened #86 "date picker for date of birth of contacts uses US format"
@LucieGueuning @anexact @clgeros let me know preferred format and I can adjust this in the form and for contacts already submitted.

[2017-08-23 01:32] matthewberryman commented on #64
Also an issue on events page too.

[2017-08-23 01:34] #64 closed

[2017-08-23 01:58] clgeros commented on #86
day/month/year

[2017-08-23 02:06] #86 closed

[2017-08-23 02:18] clgeros commented on #58
@matthewberryman new MSF REACH logo on login page and in upper left corner. If possible, they would like the logo in the upper left of the page to act as a "home button" and to remove the "MSF REACH" tab on the right of the screen

[2017-08-23 02:20] matthewberryman commented on #58
Going to have to leave this as is for now due to limitations of the bootstrap library we're using in (it's doable but requires overriding a lot of default css).

[2017-08-23 02:20] matthewberryman commented on #58
i.e. not enough time before I leave- still have a few other things to tweak

[2017-08-23 02:21] clgeros opened #87 "Small Typos in Event Information Form"
Typhoon is mistyped in the "event type specification" drop-down.

OCG, not OBG

:)

[2017-08-23 02:22] clgeros commented on #58
OK.

[2017-08-23 02:23] #87 closed

[2017-08-23 02:27] matthewberryman opened #88 "submitting new event generates 400 bad request error"

[2017-08-23 02:28] matthewberryman commented on #88
cc @LucieGueuning @clgeros
I just need to update some parameters in line with @mehrdadgit's code for updated event fields on #30 - will fix this asap

[2017-08-23 02:44] matthewberryman commented on #88
I  can't pin this down to code, I'm 99% sure it's because the database has old events with different json metadata in place.

[2017-08-23 03:20] matthewberryman opened #89 "event name generation generates name that's not useable in twitter search"

[2017-08-23 03:29] LucieGueuning commented on #71
@clgeros May I ask you your opinion for design (icons size)? and try to reply to Matthew comments?
Many thanks

[2017-08-23 03:50] #88 closed

[2017-08-23 03:58] #84 closed

[2017-08-23 04:23] matthewberryman commented on #72
Mostly done with exception of report categories.

[2017-08-23 04:57] clgeros commented on #71
@matthewberryman @LucieGueuning icon size is better I think... could be reduced by maybe 20%? If that's do-able..

[2017-08-23 05:01] clgeros commented on #71
One additional check: is the location of the icon set to be the end point of the bubble? It should be and appears as so when you zoom in, but when zoomed out, the icons do appear "off-location"... may or may not be able to correct this now. So just checking.

[2017-08-23 05:02] matthewberryman commented on #71
20% across the board?

[2017-08-23 05:03] clgeros commented on #71
I think so

[2017-08-23 05:03] clgeros commented on #71
i'm actually torn. they might be fine as they are.

[2017-08-23 05:05] matthewberryman commented on #71
Let's just leave it then. I think icons are centred on the location so if there's a point in the icon (outside of the centre of the icon) that needs to be on the location, then it will be a bit offset without tweaks (not sure if this is doable with leaflet but will explore that in a new ticket).

[2017-08-23 05:05] #71 closed

[2017-08-23 05:07] matthewberryman opened #90 "explore map marker position in relation to actual represented location"
https://github.com/usergroupcoop/msf-reach/issues/71#issuecomment-324221637

[2017-08-23 05:07] clgeros commented on #71
Great. Thanks!

[2017-08-24 01:12] clgeros opened #91 "PDC Icon mis-match"
Hi @mehrdadgit @matthewberryman if you have time in the next 24 hours, can we either change the PDC volcano symbol to the PDC icon (rather than ours), OR switch out the other PDC symbols to match our volcano? Those can be found here: https://drive.google.com/drive/folders/0Bw27FPU-gFxYSTJ0VU9hSUhJOGs?usp=sharing

If you change to our symbols, they include the level of the warning.

[2017-08-24 03:52] clgeros opened #92 "URGENT: Event Edit"
@mehrdadgit @matthewberryman
When "editing" an event, we need to be able to "edit/change" the event status. This is a key component of the platform and demo.
In this dialogue, (at minimum) STATUS (monitoring, assessment, intervention, complete) needs to be editable. If this is possible for tomorrow that would be great.

<img width="661" alt="screen shot 2017-08-24 at 11 46 12 am" src="https://user

[2017-08-24 04:23] anexact opened #93 "URGENT: Twitter Cards Broken for Demo"
When we make a new event and issue a Report Card link, it works if it is sent over WhatsApp or over email; however, Report Cards break when link is send via Twitter.

I noticed that there is a difference in the url; in the link via WA/email, it is this:
<img width="975" alt="screen shot 2017-08-24 at 12 20 51 pm" src="https://user-images.githubusercontent.com/20785542/29649395-60c3a33c-88c6-11e7-9

[2017-08-24 04:52] anexact opened #94 "Report Card Error re: Search Bar"
When a REACH Report Card is received via Twitter, user can open the link, however, if the search bar function above the map in engaged, the Previous / Next buttons disappear, making it impossible to move ahead or go back in the cards.

![image1 1](https://user-images.githubusercontent.com/20785542/29650040-c79144a8-88ca-11e7-8d63-507f1c2250af.PNG)
![image2](https://user-images.githubusercontent.co

[2017-08-24 06:23] mehrdadgit commented on #93
Hi @anexact

I had a look, this is kinda twitter bug and it happens only in the not-that-often case the auto generated reportkey has a - at the end; you check all other events, with their reportkey not having a dash ->  works in twitter too.

I don't want to change the API at this late stage.  But this will be an easy fix.

For now, I don't see a reason adding the dash manually to the URL wouldn't

[2017-08-24 06:34] anexact commented on #93
Unfortunately, the problem cannot be solved by manually adding a "-" to the report.
If you click the report card link from Twitter, it opens like this:

<img width="749" alt="screen shot 2017-08-24 at 2 35 06 pm" src="https://user-images.githubusercontent.com/20785542/29652630-eb0711e8-88d8-11e7-9187-f2c276df3d0f.png">

Then, if you add a "-" to the url and fill it in, you still get this error:
<i

[2017-08-24 11:54] matthewberryman commented on #93
I’ll fix this when I get into the hotel tonight. Needs one line of the code changed but also I need to update the database too.

Sent from my iPhone

On 24 Aug 2017, at 14:35, Etienne Turpin <notifications@github.com<mailto:notifications@github.com>> wrote:

Unfortunately, the problem cannot be solved by manually adding a "-" to the report.
If you click the report card link from Twitter, it opens

[2017-08-24 12:00] matthewberryman commented on #94
Will look at this, may have to disable google search bar as quick fix.

Sent from my iPhone

On 24 Aug 2017, at 12:52, Etienne Turpin <notifications@github.com<mailto:notifications@github.com>> wrote:

When a REACH Report Card is received via Twitter, user can open the link, however, if the search bar function above the map in engaged, the Previous / Next buttons disappear, making it impossible to

[2017-08-24 13:54] matthewberryman commented on #93
Tested fix in 41bc78f including updating existing entries in database with
[code]
Will restore database to state prior to testing and reapply fix, as I created a lot of test events and reports.

[2017-08-24 13:54] #93 closed

[2017-08-24 13:54] matthewberryman commented on #93
Should add I tested on twitter too with the new changes in 41bc78f and that worked.

[2017-08-24 14:28] matthewberryman opened #95 "mismatch between status in events API and event_status"
something to think about for phase 2

[2017-08-24 15:02] matthewberryman commented on #92
working

[2017-08-24 15:02] #92 closed

[2017-08-24 15:42] clgeros opened #96 "Edit function for current/open event information"
@matthewberryman in the "event information," we need a field for "latest notifications" which can always be edited by the creator of the event only (Natasha, at this point). In the "Edit" dialogue below, can we have a field for "name," "status," "security details," and "latest notifications."

<img width="661" alt="screen shot 2017-08-24 at 11 46 12 am" src="https://user-images.githubusercontent.c

[2017-08-25 01:53] matthewberryman commented on #96
Also needs to be displayed - will put on pop up item and in event table on landing page for now.

[2017-08-25 01:58] #96 closed

[2017-08-26 04:18] matthewberryman opened #97 "shortid issues"
See https://github.com/urbanriskmap/cognicity-server/issues/53 for details

[2017-08-28 04:29] LucieGueuning commented on #65
Should I move this issue on Design?

[2017-08-28 05:26] matthewberryman commented on #65
@LucieGueuning @clgeros if you could work together and send me a picture / diagram of how you want it to look then I can work on that.

[2017-08-29 07:58] anexact opened #98 "TEST"
Can we use milestones more effectively?

[2017-08-29 07:58] #98 closed

[2017-08-31 00:37] matthewberryman opened #99 "MapSwipe layer - OSM data"
How can we add and integrate a layer of MapSwipe on landing page?
https://github.com/mapswipe
cc @LucieGueuning

[2017-09-01 03:03] LucieGueuning opened #100 "Logo on log in page - more and less URGENT"
I received complain from MSF Comms. Could we change the logo on log in page asap?
You can use the following one :
![msf_reach logo_rgb_white background_long-02](https://user-images.githubusercontent.com/25951555/29953738-218e150e-8f05-11e7-8714-2d05726a6a35.png)

[2017-09-01 03:16] matthewberryman commented on #100
Image sent has white, not transparent background. I will convert.

[2017-09-01 03:29] LucieGueuning commented on #100
Great! thank you and two improvements if you can :
1. put the image exactly on the corner and let the white square visible.
2. Reduce a bit the size by 25% (75% of the current size should be perfect)

Many thanks.

On 1 September 2017 at 11:16, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http:/

[2017-09-01 03:42] matthewberryman commented on #100
Just saw your additional comments after I committed the version with fixed transparency. These additional requests we'll have to fix next week.

[2017-09-01 03:59] LucieGueuning commented on #100
and you can keep the white background, it is more clearer. Thanks.

On 1 September 2017 at 11:42, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmarks>
<https://www.linkedin.com/in/lucie-gu

[2017-09-03 07:09] mehrdadgit commented on #100
Done; resized and added a white background with CSS

[2017-09-03 07:19] anexact opened #101 "P1 Completion 1/13 _ Add RSS Feed Tab to Landing Page"
Phase 1 Completion Requirement 1/13

In a new tab beside the Event feed tab, MSF require an RSS Feed tab which includes a table of feeds from PDC (which includes in table format more info that the geospatial display at the landing page map), as well as these other feeds:
https://earthquake.usgs.gov/earthquakes/feed/
http://ptwc.weather.gov/
http://www.tropicalstormrisk.com/
GDAX (Lucie will add we

[2017-09-03 07:21] anexact opened #102 "P1 Completion 2/13 _ Correction to MSF Contacts"
Phase 1 Completion Requirement 2/13

The MSF requirements for Contacts is limited to 5 fields for the table, and the same 5 fields for the hover/one click quick view of the Contact details on the map:

Name / Email / Phone / Type / Affiliation / Speciality

[2017-09-03 07:26] anexact opened #103 "P1 Completion 3/13 _ Contacts Search"
Phase 1 Completion Requirement 3/13

MSF requires a Search function for Contacts at the Event Level.

<img width="1181" alt="screen shot 2017-09-03 at 9 24 10 am" src="https://user-images.githubusercontent.com/20785542/30001291-c0ef4a3e-9089-11e7-8bef-28d332c1704b.png">

[2017-09-03 07:41] anexact opened #104 "P1 Completion 4/13 _ MSF Contact Details as New Window"
Phase 1 Completion Requirement 4/13

MSF requires a more complete display of Contact information; while the "Quick View" in the Table, and for the Hover/1 Click on the map are detailed in a previous issues, this requirement refers to a new window for complete contact information that would be opened from the table or the map.

ET can discuss UX options; **LG** will add the **Minimum List of Requir

[2017-09-03 07:45] anexact opened #105 "P1 Completion 5/13 _ Mission History Search"
Phase 1 Completion Requirement 5 / 13

MSF requires a Search bar function on the Mission history on all Event sublevels.

<img width="1215" alt="screen shot 2017-09-03 at 9 44 09 am" src="https://user-images.githubusercontent.com/20785542/30001372-8c0ee45c-908c-11e7-9da1-d1a658c65565.png">

[2017-09-03 07:49] anexact opened #106 "P1 Completion 6/13 _ Mission History Details"
Phase 1 Completion Requirement 6/13

MSF require a Mission History Details popup from either table or map hover/double click; Note: same UX pop-up as in https://github.com/usergroupcoop/msf-reach/issues/104.

LG will add the minimum viable list of details for such a Missions Details pop-up to the comment section below.

[2017-09-03 07:52] anexact opened #107 "P1 Completion 7/13 _ Event Edit function"
Phase 1 Completion Requirements 7/13

The edit function for an event is a critical tool for the MSF Operator; MSF requires that the Event fields that can be edited with the Edit function correspond to their requested operational needs.

LG will post the final list of Required fields for Editing as a comment to this issue after a final confirmation with MSF HK Operator.

[2017-09-03 07:55] anexact opened #108 "P1 Completion 8/13 _ Event "Close/Archive" function"
Phase 1 Completion Requirements 8/13

The "Archive/Close" event function does not currently display required fields; MSF requires that the Archive fields correspond to their requested operational needs.

LG will post the final list of Required fields for Archiving as a comment to this issue after a final confirmation with MSF HK Operator.

[2017-09-03 07:57] anexact opened #109 "P1 Completion 9/13 _ Mission History - Table: Map"
Phase 1 Completion Requirement 9/13

MSF requires that the table selection highlights the map, and vice versa, to allow Operators to use this tool most effectively for locating contacts, etc.

( See, for example, CogniCity's REM display. )

[2017-09-03 08:00] anexact opened #110 "P1 Completion 10/13 _ Contacts - Table: Map"
Phase 1 Completion Requirement 10/13

MSF requires Contacts selected in the table highlight (or otherwise denote) their map location, and vice versa, to allow Operators to use the Contacts tool most effectively.

( See, for example, CogniCity's REM display. )

[2017-09-03 08:04] anexact opened #111 "P1 Completion 11/13 _ Security reports distinction"
Phase 1 Completion Requirement 11/13

Because Security threats are a top priority for Operators, MSF requires that the "Security" reports (i.e. cards that are submitted with the "Security" tag selected by users) be graphically distinguished  on the map.

In their design ethnography, CG and LG used an exclamation point over top of the pin to make this distinction, but this is a poor UX decision and

[2017-09-03 08:15] anexact opened #112 "P1 Completion 12/13 _ Report categorization"
Phase 1 Completion Requirement 12/13

MSF requires that reports can be categorized by type for the Operator; while all report types would load automatically, request is to add 4 types to the map legend which could be turned off:
Security
Needs
Access
Contact
<img width="680" alt="screen shot 2017-09-03 at 10 12 27 am" src="https://user-images.githubusercontent.com/20785542/30001505-b9e79e56-9090-1

[2017-09-03 08:19] anexact opened #113 "P1 Completion 13/13 _ MSF Testing"
Phase 1 Completion Requirement 13/13

To complete contractual obligations for Phase 1, MSF HK Operator will test the Phase 1 Completed Prototype from 9 - 20 October, and then send feedback to User for any final issues (no NEW issues) on 20 October.

Please add comments on this issue thread for MSF Operators re: testing questions, updates, concerns, or other issues that exceed any specific issue th

[2017-09-03 22:37] matthewberryman commented on #103
@talltom please help with API side

[2017-09-03 22:38] matthewberryman commented on #105
@talltom please assist with API changes

[2017-09-04 07:06] #100 closed

[2017-09-04 07:31] matthewberryman commented on #112
@LucieGueuning I have implemented this—are you happy with the look and feel of it, for this issue?
If so, let me know, and I can close this one off.

Some of the work I've done here also contributed to #111—I just need to drop the separate icon in for that.

[2017-09-05 00:47] matthewberryman commented on #102
Speciality hasn't previously been captured. Opening a new ticket for that.

[2017-09-05 00:47] matthewberryman opened #114 "capture speciality"
https://github.com/MSFREACH/msf-reach/issues/102

[2017-09-05 00:50] matthewberryman opened #115 "add gplv3 licence"

[2017-09-05 00:53] #115 closed

[2017-09-05 01:59] matthewberryman commented on #112
Closing this as I consider it done, and would like to track progress towards the milestone. @LucieGueuning if you're unhappy with UI then feel free to re-open the issue.

[2017-09-05 02:10] #114 closed

[2017-09-05 07:46] matthewberryman opened #116 "Layout tweaks"
* Can we squish the email column in the table of contacts on events page, to make sure all 5 required columns per https://github.com/MSFREACH/msf-reach/issues/102 fit in
* The addition of map search can break the layout of contacts and report cards on mobile devices if a user starts to use the map search.

[2017-09-05 08:23] matthewberryman commented on #102
done, table needs a UI tweak per #116

[2017-09-10 23:19] #91 closed

[2017-09-12 03:29] matthewberryman commented on #101
@LucieGueuning I guess @anexact means the GDACS (not GDAX) feed from http://www.gdacs.org/ ? Please confirm asap.

[2017-09-12 03:33] matthewberryman commented on #111
I've done the coding work for this just require icons—can someone please email asap. Ping @LucieGueuning @clgeros @anexact

[2017-09-12 05:37] anexact commented on #101
Confirm GDACS.

[2017-09-13 22:25] clgeros commented on #111
@matthewberryman
New Report Icons can be found here: https://drive.google.com/drive/folders/0Bw27FPU-gFxYMVo3ZERwRnNDTDQ?usp=sharing

YELLOW = SECURITY
RED = ACCESS
BLUE = NEEDS
GREEN = CONTACTS
BLACK = UNDESIGNATED

[2017-09-13 23:11] #111 closed

[2017-09-13 23:56] matthewberryman opened #118 "config option for disabling jwtCheck for easier local testing"
cc @mehrdadgit @talltom

[2017-09-13 23:57] #118 closed

[2017-09-13 23:59] matthewberryman commented on #118
uses process.env.AUTH -> config.AUTH, defaults to false (have set it to true in our deployed environment, of course)

[2017-09-14 05:56] matthewberryman commented on #103
@talltom did some work on this in https://github.com/MSFREACH/msf-reach/commit/aee331f585be6eab2590337767faa2b0f471dd91
cc @rcdelfin

[2017-09-14 06:07] matthewberryman commented on #103
The new API in aee331f (dev branch) mandates search. I would argue we also still want the option of all contacts being returned, and can we also have the option of searching within radius of the event? @talltom

[2017-09-15 02:51] LucieGueuning commented on #104
Sorry for the delay.
Please find below the **Minimum List of Required Fields** when window open to show full information about one specific contact :

Profile ID
Filling date
Last update
Last email sent
First Name
Last Name
Other names
Title
Type of contact
Nationality
Nationality 2
Gender
Date of birth
Email address
Email address 2
Phone number Mobile
Phone number Work
Phone number Home
Location

[2017-09-15 02:57] matthewberryman commented on #104
Ok I think we'll struggle to fit all of those on. Perhaps for social media we can group those together, as it's doubtful someone would have all of them. We'll give this a go, but it would be useful to have them in order of priority in case we can't (also, I am assuming you want title before first name).

[2017-09-15 03:02] matthewberryman commented on #116
* Ok I'm happy with adjustment to email column fix as is.
* On my iPhone the buttons are right up against the map. Can we make the map just a bit smaller still to leave a small gap? Once you've done this @mehrdadgit please let us know and I would like @talltom and @anexact to check on their devices just so we do a bit of testing on different devices, before we close.

[2017-09-15 03:04] LucieGueuning commented on #106
Sorry for the delay.
Please find below the minimum viable list of details for Missions Details pop-up. You can follow the following picture to display those information in an efficient way (to avoid a bullet point list, use the collapse and extend function per category. Cf. below).
![mission history details - popup windows](https://user-images.githubusercontent.com/25951555/30464580-e0311cb8-9a04-

[2017-09-15 03:05] matthewberryman commented on #106
Thanks @LucieGueuning

[2017-09-15 03:07] LucieGueuning commented on #106
Note that 'Category 1 : Basic information' is the black box on picture.
/ relevant contacts + / relevant mission history are showed on map
/ relevant reports are the ones upper left corner on picture

Other category are the ones which can be collapse and extent below 'reports' category on picture.

[2017-09-15 03:12] LucieGueuning commented on #107
All field specified on 'P1 Completion 6/13 _ Mission History Details (#106)' shoudl be editable except the two following :
Open date of event
Closure date of event

The field type are really important and specific to the information to input. It is a real point to fulfill to ease the work of Operators when filling in information to share with colleagues during an emergency.
Please find under the f

[2017-09-15 03:21] LucieGueuning commented on #108
The following points are already there when event is open. When event is on closure, a pop-up window appear with the following information to input, edit and confirm by Operator (info to mandatory to fill).

**End Date of the MSF response** (need to be pre-filled on closure of an event ; can be editable anyway).
**Key MSF Figures** (to fill with number for the different category : Outpatient cases

[2017-09-15 03:37] LucieGueuning commented on #112
@matthewberryman I would like to re-open this issue but it seems that I don't have the permission. Could you please help me with that?

What you have done is perfect, only one requirement to improve it :
Could you please on legend/menu add 'reports' on same level than 'contacts' and 'mission histories' and put 'access', 'needs', 'security' and 'contacts' as subcategories? You can remove 'reports'

[2017-09-15 10:02] LucieGueuning opened #119 "Contact us button on log in page"
Could you please add a button under the log in field on log in page as below?
When clicking on button 'contact us', user will have a pop-up window ready to write me an email.

![image](https://user-images.githubusercontent.com/25951555/30477488-f141299a-9a3f-11e7-8985-a4fef628ab58.png)

[2017-09-15 10:03] LucieGueuning commented on #119
BTW, I don't have permission to assign the issue to someone or to input it to milestones - Phase 1
@matthewberryman

[2017-09-15 10:04] LucieGueuning commented on #119
![image](https://user-images.githubusercontent.com/25951555/30477586-3dc9cb6e-9a40-11e7-9ea0-707eb877cfe2.png)
Those are not editable for me anymore! :(

[2017-09-16 00:08] #112 closed

[2017-09-17 09:44] mehrdadgit commented on #116
Done @matthewberryman we might need to rethink the design of these cards for phase 2 ...

[2017-09-17 12:00] mehrdadgit commented on #103
The issue of mandating the search fixed in 8856cf644cee0fd9282bb323434e686a0d1d5cf1
Also contact search functionality done; although some UI improvement can be done later.

[2017-09-17 17:05] anexact commented on #119
Hi Lucie,
The discussion we had was to include the written email address on the page for people who wanted to contact MSF HK, not a button for email. However, as this was not on our HK list after the Demo, let's move it to Phase 2.

[2017-09-19 07:54] LucieGueuning commented on #104
Maybe what we can do is open and show only the ones which are filled and remove the fields which are empty. Some contact don't have all information.

- thank for your 'go'.
- what do you mean by 'title' before first name?

[2017-09-19 08:03] LucieGueuning commented on #102
- Missing affiliation on the quick view
- only view on map and not on table.

Need to be re-open

[2017-09-19 08:05] LucieGueuning commented on #119
Is a button really difficult and take time to input (one line code no?)? It will be waste of time if I request to write my email (one line code) and to change it one month later for a button no?

Could you do the necessary for this small point? I guess we remove already a lot from the expectations for Phase 1 (UX and so on), isn't it?

[2017-09-19 08:42] LucieGueuning opened #120 "UX requirements for Phase 1"
@anexact @matthewberryman

To facilitate the use of REACH, also to give more chance for a successful MSF feedback from Natasha, Remi and Thomas (to be written from 09.10 to 20.10), could we please design this (cf. picture) as the only requirements for UX improvements?

![image](https://user-images.githubusercontent.com/25951555/30583311-48928c90-9d59-11e7-9712-e84db439ba97.png)

[Partners&PrivacyP

[2017-09-19 08:42] matthewberryman commented on #102
I had affiliation present in both the table and on the map, although it was listed as "Type", not "Affiliation" (but it was correct on the contact input cards).  I have removed it from the table as per your updated request. Changes will be deployed in ~5 mins from now.

[2017-09-19 08:55] matthewberryman commented on #104
We need to have one list for all contacts; we can't chop and change fields on a per contact basis e.g. suppose one contact has an affiliation listed but another one doesn't, then we either need to display an affiliation column for all contacts and leave it blank if absent, or not have an affiliation column.

Title is "Dr", "Mr", "Mrs" etc.

[2017-09-19 09:01] matthewberryman commented on #119
It's a few lines of code, but correct me if I'm wrong that this wasn't on the list for phase 1, and we have other UI changes (per https://github.com/MSFREACH/msf-reach/issues/102#issuecomment-330461684 removing it from the table) and new issues #120 being added with limited time to get this all done

[2017-09-19 09:31] LucieGueuning commented on #119
Yes you are right, it wasn't on the list for phase 1. I received this request after our presentation coming from EUROPE. I didn't expect that neither. Sorry about that.
We didn't get the time to review and work (as contract said) on UI and UX at all because of delay. So I try to prioritize my best to make it possible for 09 of Oct.
Let me know if not possible at all. Thank you for your reply.

[2017-09-21 07:42] LucieGueuning commented on #102
@anexact

[2017-09-21 07:42] LucieGueuning commented on #104
@anexact

[2017-09-21 07:43] LucieGueuning commented on #119
@anexact

[2017-09-21 08:26] matthewberryman commented on #103
Done but needs UI fix per https://github.com/MSFREACH/msf-reach/pull/121/files#r140177661 (I will open another ticket for that). cc @LucieGueuning @anexact

[2017-09-21 08:26] #103 closed

[2017-09-21 08:33] matthewberryman opened #122 "UI fix for events page"
col sizes in divs out of date with js in public/events/index.html , also map is at the bottom with the changes in https://github.com/MSFREACH/msf-reach/pull/121
https://github.com/MSFREACH/msf-reach/pull/121/files#r140177661
cc @LucieGueuning

[2017-09-21 08:49] matthewberryman commented on #105
works but just noting #122 cc @LucieGueuning

[2017-09-21 08:49] #105 closed

[2017-09-22 01:21] mehrdadgit commented on #122
Done @matthewberryman

[2017-09-23 07:14] mehrdadgit commented on #120
@matthewberryman done in development branch; feel free to review/merge.
I did not add "Submit a new report" under 'toolbox' tab cause the link source would need an eventid and therefore is only accessible in the event page.

[2017-09-26 05:42] anexact opened #123 "Lucie Idea for UX"
Lucie: add your idea as a Comment here; use enhancement + question for tagging it (as I just did).

[2017-09-27 08:33] matthewberryman commented on #104
@LucieGueuning just flagging that some of these,
* Last update
* Last email sent
* MSF subdetails per dropdown #67
(none of these flagged for phase 1) aren’t captured in contact cards.
Also profile ID (from our database-generated ID) doesn’t seem worth displaying. Please clarify what you want us to do.

[2017-09-27 08:42] LucieGueuning commented on #104
Those information, as specified on 'specification', are auto-filled by the system to keep record how far those contact information are still up to date. Do you know what I mean?

Also, all field in detailed view are empty even if we have information on excel file.

[2017-09-27 09:29] matthewberryman commented on #104
I’m afraid it’s not really clear. You haven’t asked us for the ability to update contact cards as part of phase 1, so we cannot display last update time (since there are no updates) nor details of last email sent to that contact.

With regards to information from the Google docs spreadsheet: I cannot check on current UX until after I return to Shanghai late tomorrow, however in general there were

[2017-09-27 09:55] LucieGueuning commented on #104
1. Agreed, we still do not have those information but we will need to put it on at some point. So solution would be to put there without information. This way, people can know that this kind of information will be filled out when we receive this information.

2. for example, 'Christina Geros' on spreadsheet fill out all information. But on REACH, she has only 4 information (the ones in quick view)

[2017-09-28 12:22] matthewberryman commented on #120
@mehrdad have merged dev -> master now I'm back in Shanghai.
@lucieguening note we cannot have a "submit new report" since no event is yet selected (i.e. that only makes sense on the events page). Also, we have not been supplied with a how to movie link yet, so cannot link to anything for that.

[2017-09-29 02:20] LucieGueuning commented on #120
@matthewberryman well noted and understood for 'submit new report'.
@matthewberryman @mehrdadgit Could you please link the movie to the following link : https://www.youtube.com/watch?v=LQRrPJdYOcs
while wiating for the 'how to' movie.

Many thanks!

[2017-09-29 02:44] mehrdadgit commented on #120
Video link added @LucieGueuning  note it might take a while to go live.

[2017-09-29 02:46] LucieGueuning commented on #120
Perfect. Thank you very much!

On 29 September 2017 at 10:44, Mehrdad <notifications@github.com> wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmarks>
<https://www.linkedin.com/in/lucie-gueuning-98b2a9b5?trk=nav_responsive_tab_profil

[2017-09-29 03:20] #119 closed

[2017-09-29 07:42] matthewberryman commented on #104
@LucieGueuning
1. Ok I have added some fields in (deploying now, but let me double check first) on top of @rcdelfin's work on the rest. Some of the data in the fields (filed time, and MSF details) isn't captured in contact cards (on this platform) but was in spreadsheet (see note 2) so that should show up for those entries from the spreadsheet.
2. Some of the data wasn't coming through because I n

[2017-09-29 08:01] matthewberryman opened #124 "contact cards capture address"
Force user to enter address (store in `"address"` in json) and record along with lat and long

[2017-09-29 08:02] matthewberryman commented on #67
@LucieGueuning @anexact was this confirmed in writing following previous meeting as being part of phase 1? If not, please remove from phase 1 completion milestone, just as a point of tracking.

[2017-09-29 08:15] matthewberryman commented on #104
@LucieGueuning I think we're done with exception of other names (really required? please confirm) as we're running low on space to display. Noting #67 (phase 2? it's getting *very* late to be adding stuff to the milestone) and #124 (phase 2), though we have address data from spreadsheet in. Closing this display issue.

[2017-09-29 08:17] matthewberryman commented on #122
Thanks @mehrdadgit

[2017-09-29 08:17] #122 closed

[2017-09-29 08:24] matthewberryman commented on #101
Just adding a comment to track completion of individual feeds.
* ~~USGS~~
* ~~tropical storm risk~~
* PTWC
* GDACS

[2017-10-02 01:47] #82 closed

[2017-10-02 01:49] matthewberryman commented on #33
@mehrdad thanks for work on contacts, can you also do the same change for mission histories.

[2017-10-02 01:58] matthewberryman commented on #33
@mehrdad ignore previous comment, I will do this tomorrow, please work on other issues for now.

[2017-10-03 03:20] LucieGueuning commented on #67
Yes for Phase 1 completion, as it is part of the contacts cards requirements.
Although, I removed some fields to make it easier for you.
Thanks!

[2017-10-03 03:21] matthewberryman opened #126 "map tweaks for #109 #110"
* add some padding (by points / by latlng extension with wrap?) to cover a wider area than bbox formed by set of reports, to bring in more mission histories and contacts that might be relevant.
*don't pan to popup to avoid set of contacts and mission histories changing.

[2017-10-03 03:22] matthewberryman commented on #126
tag #109 #110

[2017-10-03 03:32] LucieGueuning commented on #104
@matthewberryman
other names : not really required.

this is perfect except '**MSF details**' : should be only for 'MSF staff' when person checked this specific box and not for everybody (such as Christina). #67

Also, quick view for contact needs to have the following 5 fields on table : Name / Email / Phone / Type / Affiliation (column L on spreadsheets) / Specialty #102

Just check out what was

[2017-10-03 03:32] LucieGueuning commented on #102
misunderstanding. sorry for that.
'I have removed it from the table as per your updated request.' My request was saying that we are seeing that 'affiliation' field on table but should have it.

could you please add : 'affiliation' on table and map linked to the column L of spreadsheet.

Thanks!

[2017-10-03 03:53] matthewberryman commented on #78
* There's not enough room to display icons in the input form, and
* adding date to the twitter search would break it (short of better twitter search, planned for phase 2, plus
* adding the location is something that would also break the twitter search (short of geocoding as planned for phase 2).
Thus the only remaining thing that can be done in phase 1 is icon display in map popup.

cc @LucieGueun

[2017-10-03 04:02] LucieGueuning commented on #78
No. Twitter is not a constraint anymore as we are going to re-work on a better twitter search. So if you can make it for date and location as well, it should be great. Many thanks!

agreed that we will work on better twitter search for Phase 2 (we shouldn't have on Twitter the name generated by system as keywords for research). However, we will need to include the constraint of a name generated by

[2017-10-03 04:03] LucieGueuning commented on #78
![image](https://user-images.githubusercontent.com/25951555/31109513-e63747f4-a832-11e7-83b0-af1cbc150bcb.png)

It is already the case, no?

[2017-10-03 04:06] matthewberryman commented on #78
I can't make it with location and date as phase 1 twitter will return no / almost no results; also having underscores forces twitter to return no results, as you can see in the screenshot—this is the worst solution for twitter search. I will actually need to revert this back for phase 1.

[2017-10-03 04:07] matthewberryman commented on #78
Or I suppose I could remove everything past the first underscore for twitter search. Let me check.

[2017-10-03 04:13] #109 closed

[2017-10-03 04:14] #110 closed

[2017-10-03 04:16] matthewberryman commented on #33
@LucieGueuning we now have this done - both mission history and contacts tables now adapt to list what's on the map, along with searching by text, and we can select both contacts and missions from the table and map per #109 and #110 as well.

[2017-10-03 04:16] #33 closed

[2017-10-03 04:22] LucieGueuning commented on #78
Should we hold off Twitter search for now as we need to work more on it for Phase 2.
But instead complete entirely this issue #78 as Christina explained it.

[2017-10-03 04:31] matthewberryman commented on #78
The current ones with underscores have been entered with old code (changed to avoid breaking twitter search). I will remove the name field and autogenerate as desired, and then for twitter search just use type (and subtype if present) separated by spaces, as I think the best solution here. Then the icon can be added to the event pop up on the map by @rcdelfin or @mehrdadgit (note the icons are und

[2017-10-03 04:58] matthewberryman commented on #78
@rcdelfin @mehrdadgit disregard comments, I will do icons in event popup on map.

[2017-10-03 05:22] matthewberryman commented on #78
@LucieGueuning done as requested bar selection from icons (difficult due to ui constraints also multi-level type/subtype breakdown- can explore options in phase 2). The name is generated as requested, and icons display on popups as also requested. Twitter search uses either type or subtype (if present) to avoid breaking basic twitter AI with this update. Tested all of this locally, and deployment

[2017-10-03 05:52] matthewberryman commented on #104
@LucieGueuning I have addressed the clarified requirement for #102 in an update for that issue (please try and keep comments specific to the issue they're for). I will work on making MSF details dynamic, but just flagging that this was entered as free text in the spreadsheet so I will put in some code to try and catch most of those, along with new contacts entered via our contacts form, but cannot

[2017-10-03 05:54] matthewberryman commented on #102
Table not quite right.

[2017-10-03 06:29] matthewberryman commented on #78
Twitter search needs a bug fix for some cases, will work on that after #104 changes

[2017-10-03 06:49] #104 closed

[2017-10-03 06:52] matthewberryman commented on #67
@mehrdadgit Just note https://github.com/MSFREACH/msf-reach/commit/2d9a4689f4b8bbe5c6af45efedaaab69c99476d3 - I will catch both MSF Peer and Current MSF Staff (or anything that includes the string MSF) for affiliation.

[2017-10-03 06:56] #102 closed

[2017-10-03 07:00] matthewberryman commented on #120
Closing this for tracking as the work is done, @LucieGueuning when you have the updated link re-open this issue, add it in a comment, and then I will update.

[2017-10-03 07:03] #124 closed

[2017-10-03 10:53] matthewberryman commented on #73
Some are still on ocean by virtue of icon shape.

[2017-10-03 12:46] matthewberryman opened #127 "unpack PTWC format"
Feed: http://ptwc.weather.gov/feeds/ptwc_rss_pacific.xml
Example:
[code]

[2017-10-03 12:55] #73 closed

[2017-10-03 13:39] matthewberryman opened #128 "order rss feeds by time and eliminate overlap / add choice"

[2017-10-03 15:10] matthewberryman commented on #82
@LucieGueuning The work for this has broken the ability to add map controls for contacts and missions on the events, but not landing page. If you try and add the controls, then every time the map changes it adds a new contacts / missions control checkmark, resulting in a growing number over time. I've tried various fixes but strongly doubt I'll get time by the P1 milestone to fix this—I think it's

[2017-10-03 15:33] matthewberryman opened #129 "mouseover bug in #101"
In latest work for #101 I have a bug in the function to highlight a div element on mouseover of a hazard, in the section starting https://github.com/MSFREACH/msf-reach/blob/master/public/resources/js/landing.js#L316
I will have time for a brief look tomorrow, but can you please check this out.
It would also be good to highlight div elements of the rss table on mouseover, in particular to help indi

[2017-10-03 15:47] matthewberryman commented on #127
A bit of info: http://www.nws.noaa.gov/om/notification/scn06-32tsunami_mnd_hdr.txt

[2017-10-03 15:49] matthewberryman commented on #101
@LucieGueuning This is now done, including mapping of all of the data from the extra feeds, along with the ability to click on a row in the RSS field (anywhere not on the icon) and it will take you to that event on the map. Similar to #109 and #110 functionality. To make this ability a bit clearer, in https://github.com/MSFREACH/msf-reach/issues/129 I have asked the guys to make the row darker whe

[2017-10-03 15:52] matthewberryman commented on #101
@LucieGueuning just to be a little clearer in my previous comment, you can now click on a row in the rss feed (separate to the link that opens the rss details). It's just the ability to go in reverse (by mouseover an event on the map, to highlight a row) that needs a bug fix.

[2017-10-04 01:41] LucieGueuning commented on #102
@matthewberryman Perfect! Thanks!

[2017-10-04 01:45] LucieGueuning commented on #120
well noted. perfect.

On 3 October 2017 at 15:00, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmarks>
<https://www.linkedin.com/in/lucie-gueuning-98b2a9b5?trk=nav_responsive_tab_profile>

[2017-10-04 05:51] mehrdadgit commented on #129
see a sample fix @matthewberryman  here: https://github.com/MSFREACH/msf-reach/commit/735298303e0cfadbe2cfa39f01acf9393b04aa99  need to expand to other cases; heading home now will do tonight.

[2017-10-04 11:38] mehrdadgit commented on #67
Done @matthewberryman  ready for review.. we might want to remove specialty from that div in the contact modal https://github.com/MSFREACH/msf-reach/commit/2d9a4689f4b8bbe5c6af45efedaaab69c99476d3  cause does not seem to be MSF-fields-related ?

[2017-10-04 12:05] matthewberryman commented on #67
Thanks @mehrdadgit for this and your other work today.
A couple of comments:
* We should also have this for MSF peer as well.
* We need to capture (medical) speciality for MSF staff & peers (so it will display in modal per 2d9a4689f4b8bbe5c6af45efedaaab69c99476d3 ).

I am just about to have a super early night (after a super late one last night) but have a bit of time in the morning to add these c

[2017-10-04 23:45] matthewberryman commented on #78
Not working where a subtype is specified

[2017-10-04 23:54] matthewberryman commented on #78
cc @clgeros @LucieGueuning also I will need to tidy up the database

[2017-10-05 00:25] matthewberryman commented on #67
Also needs some UI fixes to handle cases where speciality was imported from spreadsheet for non-MSF people. Working on wrapping this all up now.

[2017-10-05 00:49] #67 closed

[2017-10-05 01:04] #78 closed

[2017-10-05 01:25] #129 closed

[2017-10-05 01:28] #101 closed

[2017-10-05 01:31] matthewberryman commented on #78
@clgeros @LucieGueuning had to restore from my copy of the database taken a couple of days ago - was too fiddly to recreate just the events and associated reports alone (and any contacts / new reports for existing events added since then is just testing data).

[2017-10-08 01:56] matthewberryman commented on #106
vue.min.js:6 Error: Map container not found.
    at e._initContainer (leaflet.js:2)
    at e.initialize (leaflet.js:1)
    at new e (leaflet.js:1)
    at Object.Ct [as map] (leaflet.js:1)
    at $e.<anonymous> (<anonymous>:48:25)
    at Array.<anonymous> (vue.min.js:6)
    at t (vue.min.js:6)
    at <anonymous>

[2017-10-08 01:56] matthewberryman commented on #106
vue.min.js:6 TypeError: Cannot read property 'arrival_time' of undefined
    at $e.eval (eval at Ii (vue.min.js:6), <anonymous>:2:1176)
    at $e.t._render (vue.min.js:6)
    at $e.r (vue.min.js:6)
    at zo.get (vue.min.js:6)
    at new zo (vue.min.js:6)
    at Ct (vue.min.js:6)
    at $e.$mount (vue.min.js:6)
    at $e.$mount (vue.min.js:6)
    at $e.t._init (vue.min.js:6)
    at new $e (vue.min

[2017-10-08 02:52] #106 closed

[2017-10-08 05:32] matthewberryman commented on #51
Need updates in line with #107

[2017-10-08 07:10] matthewberryman commented on #107
@LucieGueuning Cells D20 and D21 for types of medical and nonmedical resources were left empty. I will in my next update put some placeholders in those, but if you want to update the spreadsheet I can update further.

[2017-10-08 07:34] matthewberryman commented on #51
Closing this as I've captured most things from #107, will once I've got any feedback (ideally as part of #113) @LucieGueuning

[2017-10-08 07:34] #51 closed

[2017-10-10 02:55] LucieGueuning commented on #120
As agreed and previously asked by @matthewberryman, @mehrdadgit Could you please add the following link into the 'info' tab on landing page (and not remove the previous link) : https://youtu.be/-Kfodflm3M8

UX solution : Could you please follow the way is done on petabencana.id and put as title for the first one '**REACH - first introduction to MSF Movement**' and for the second one '**REACH - TIC

[2017-10-10 02:56] LucieGueuning commented on #120
no description, no logo needed for now. Thanks!

[2017-10-10 03:16] matthewberryman commented on #120
Thanks @LucieGueuning, I will get onto this when I get back tonight.

[2017-10-10 11:47] #120 closed

[2017-10-12 06:53] LucieGueuning commented on #82
Not sure I understand what is the issue for that.

[2017-10-12 07:00] LucieGueuning commented on #101
Have you open a new issue for this bug fix? Should we keep track on those issue for Phase by marking them as Phase 2 - milestones? #127 # 128

[2017-10-12 07:04] matthewberryman commented on #82
@LucieGueuning previously on the events page we had the ability to turn off the contacts and mission history display through the control. I have disabled that ability for now, as the work on this issue means that if you do try and display the controls, they duplicate over time. It ends up looking like this:
<img width="95" alt="screen shot 2017-10-12 at 3 03 37 pm" src="https://user-images.githubu

[2017-10-12 07:24] matthewberryman commented on #101
@LucieGueuning Yes, opened #127, #128 and #129 (and then closed #129 as the smaller one on the path to phase 1). Let's discuss phase 2 milestones in our next skype meeting - we can go through these and assign then if need be—depends on whether we think #127 and #128 are worth doing as part of phase 2 or if we should focus on other things first, and we need to decide which part of phase 2 they fall

[2017-10-12 07:53] LucieGueuning commented on #82
now it is resolved, right?

[2017-10-12 07:56] matthewberryman commented on #82
No, this control issue still needs to be resolved. I will look at this in the next few days unless @talltom or @mehrdadgit get a chance to look first.

[2017-10-12 08:24] LucieGueuning commented on #57
[OPERATOR - ACTIVE DIRECTOR.xlsx](https://github.com/MSFREACH/msf-reach/files/1378611/OPERATOR.-.ACTIVE.DIRECTOR.xlsx)

[2017-10-12 08:43] matthewberryman opened #130 "fix map controls for mission and contacts layers on events page"
https://github.com/MSFREACH/msf-reach/issues/82#issuecomment-336039712

cc @LucieGueuning

[2017-10-18 05:09] matthewberryman opened #131 "failure to connect to rss feeds causes server to crash"

[2017-10-18 20:40] talltom commented on #82
Hi @matthewberryman - I recreated this locally but the glitch occurs only when I zoom or pan the map, can you confirm?

Also, `mapMissions()` isn't called from within the events.js module that I could see? I'm unsure how the events page is calling this function to add the missions data.

[2017-10-18 20:50] matthewberryman commented on #82
Yes, on map zoom and pan.

Some of the js has been moved around, I can have a look when I get to my computer.

Sent from my iPhone

On 19 Oct 2017, at 07:41, Tomas Holderness <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @matthewberryman<https://github.com/matthewberryman> - I recreated this locally but the glitch occurs only when I zoom or pan the map, can you confirm?

A

[2017-10-18 21:55] matthewberryman commented on #82
@talltom it's in missions.js

[2017-10-18 21:59] matthewberryman opened #132 "login button needs to be on the right"

[2017-10-18 22:00] matthewberryman opened #133 "event icon should be a hyperlink"
In the event popup, the icon should also act as a hyperlink to the event.

[2017-10-18 22:01] matthewberryman opened #134 "do not require user to refresh to see new event"
On event creation automatically add it to events list on events page by rewriting that content (or if that's too much trouble, auto refresh the page).

[2017-10-18 22:03] matthewberryman opened #135 "event popup should have event name not "event [ID]""
type & location (time already captured in popup)

[2017-10-18 22:04] matthewberryman opened #136 "RSS feed tab needs to list source of each item"

[2017-10-18 22:06] matthewberryman opened #137 "use larger mission history and contacts pop ups on landing page as well"

[2017-10-18 22:08] matthewberryman opened #138 "add map terrain option on landing and events pages and report cards"
@talltom I can do this one but I do have other p1 issues so if you get time it would be great but no sweat if not.

[2017-10-18 22:18] matthewberryman opened #139 "icons for mission histories as well"
On landing page and event page. Note https://github.com/MSFREACH/msf-reach/issues/137
Due to data coming from freeform fields for phase 1 this may limit what can be done. Need to work on iconography more broadly in phase 2.

[2017-10-18 22:19] matthewberryman opened #140 "search on more contact fields"
in particular for suppliers
EDIT: suppliers in type (affiliation) json field

[2017-10-18 22:20] matthewberryman commented on #140
Note sorting on different columns and column display more generally to be worked on in phase 2.

[2017-10-18 22:25] matthewberryman opened #141 "change default zoom of map"
to open Asia-wide

[2017-10-18 22:28] matthewberryman opened #142 "make events tab default on events page"

[2017-10-18 22:30] matthewberryman opened #143 "sometimes tables and map out of sync"
Note in attached image for example how there's one on the map but two on the table. See if we can close this by phase 1 deadline (Oct 30)
![picture 3](https://user-images.githubusercontent.com/2288238/31745793-07fa850c-b4b0-11e7-96e6-2162f0a69090.PNG)

[2017-10-18 22:32] matthewberryman opened #144 "re-auth"
When the token expires, it can show as a 401 error on API calls, and rather than popping up a window we should direct user to login page and then back to the page the 401 popped up on.
See if we can close by phase 1 deadline (Oct 30).

![picture 2](https://user-images.githubusercontent.com/2288238/31745885-56685c00-b4b0-11e7-8fc5-4640b0d067f6.PNG)

[2017-10-18 22:33] matthewberryman opened #145 "change twitter API keys and search API call"
will remove some behaviour specific to account API keys are from

[2017-10-18 22:34] matthewberryman opened #146 "event creation box on landing page should have calendar for date input"
rather than pre-populating with current date and time

[2017-10-18 22:36] matthewberryman opened #147 "take out extra details tab for event creation"
Just disable the display (and requirement for submission) for now, keep the code around in case we need it for phase 2. Change next button -> submit button on basic details.

[2017-10-18 23:15] matthewberryman opened #148 "display of latest notification"
Latest notification is displayed only in the case an event has a latest notification.
Do you want me to change it so it displays "Latest notification: (none)" if there is none?

[2017-10-18 23:19] matthewberryman commented on #108
@rcdelfin
Following fields need completion:
* MSF Resources
* Reflection and comments
* End Date of the MSF response (needs to be a calendar input, as the date the event is finished may be earlier than the date the event is closed off in the system)

cc @LucieGueuning

[2017-10-18 23:21] matthewberryman commented on #107
@rcdelfin
Missing latest notification entry (needs to go into .notification field in json). Put it under event name on the form.

cc @LucieGueuning

[2017-10-18 23:23] matthewberryman opened #149 "double check reports pin location"
centre bottom of icon should be positioned on the report location

[2017-10-18 23:23] matthewberryman opened #150 "MSF details on contacts only for MSF staff not peers"

[2017-10-19 00:29] matthewberryman opened #151 "tweet save functionality not working"
Looks like bugs elsewhere (e.g. below) are killing the JS engine before the load saved tweets code runs.
[code]

[2017-10-19 00:32] matthewberryman commented on #107
@rcdelfin a bug here is that if you open up external capacity, key figures etc. on the right, the MSF response section folds back up, moving the whole lot off of the screen, which is confusing for end users. Can we maybe keep the MSF response section open, or do a redesign of the layout, or auto-scroll or something to stop this. cc @LucieGueuning

[2017-10-19 01:28] matthewberryman commented on #32
double check on this in relation to different forms of event names
cc @LucieGueuning

[2017-10-19 01:51] matthewberryman commented on #113
@LucieGueuning if you're happy I've captured everything please close this issue, and then we are just tracking the others.

[2017-10-19 01:54] #132 closed

[2017-10-19 01:57] matthewberryman opened #152 "wording change on report cards"
"Please select the location of your information on the map".

cc @LucieGueuning just realised I forgot this. Will close soon.

[2017-10-19 01:58] #152 closed

[2017-10-19 02:29] matthewberryman opened #153 "link to submit contact details on closing report card"

[2017-10-19 02:32] matthewberryman opened #154 "display MSF staff contacts layer by default on landing page"
need to separate out the contacts layer in to two grouped layers by type (MSF staff, non-MSF staff)

[2017-10-19 03:41] #136 closed

[2017-10-19 03:57] #131 closed

[2017-10-19 04:01] matthewberryman commented on #138
@LucieGueuning I am working on this now. Shall I keep satellite as the default though?

[2017-10-19 04:13] matthewberryman opened #155 "mandatory contact fields"
Make sure the following and only the following are mandatory fields for a contact card:
* Phone number
* Email address
* Location
 - if street address is given then prompt but don't force it <- new behaviour
 - make sure at least a point location is mandatory.

For mandatory fields add a red star next to them, and then at the bottom add a note
` * Mandatory fields. Other fields optional.`

cc @Luc

[2017-10-19 04:16] matthewberryman commented on #135
I'll leave time in name for now as it's pre-populated as required by https://github.com/MSFREACH/msf-reach/issues/78 , but still will list time in popup as the name may be edited.

[2017-10-19 04:23] #133 closed

[2017-10-19 04:23] #135 closed

[2017-10-19 04:35] #150 closed

[2017-10-19 04:39] #147 closed

[2017-10-19 04:52] #142 closed

[2017-10-19 06:21] matthewberryman commented on #145
@LucieGueuning I have tested a change of Twitter API keys locally, and am just applying that change now to make it a bit more neutral, however even with that change I was still picking up a lot of petabencana tweets, simply because the bot sends lots of replies with the word "flood" in it, in fact actually more than it should, due to https://github.com/urbanriskmap/cognicity-cards/issues/13
I am j

[2017-10-19 06:23] #145 closed

[2017-10-19 06:27] matthewberryman commented on #148
@LucieGueuning writes:
Hi Matthew :
- For latest notification: I will prefer to display “Latest notification: (none)”  if there is no notification.

[2017-10-19 06:34] #148 closed

[2017-10-19 06:50] matthewberryman commented on #149
@LucieGueuning yep, this was buggy and I am just about to deploy a fix that means the reports don't move around in location as you zoom on the map.

[2017-10-19 06:51] #149 closed

[2017-10-19 11:26] #113 closed

[2017-10-19 11:28] LucieGueuning commented on #138
Terrain should be the default for every map. thanks!

[2017-10-20 04:14] matthewberryman opened #156 "no disease specific subtypes for event popup icon"
Need to just use the generic disease one. Disaster is the only type for which there are subtype icons.

cc @LucieGueuning found this one while going through mission history icon testing

[2017-10-20 04:33] matthewberryman commented on #138
There isn't as much street name information on the terrain map, though, which is particularly problematic for new contacts and new reports. I propose we leave it as is for now and review as part of phase 2. There are other sources of terrain maps.

[2017-10-20 04:40] #139 closed

[2017-10-20 04:40] #156 closed

[2017-10-20 20:01] matthewberryman commented on #153
Buttons need a bit of space between them.

[2017-10-20 20:13] #153 closed

[2017-10-20 22:33] #154 closed

[2017-10-20 23:11] matthewberryman commented on #134
Because the new event opens in a new tab #49 (and then reloads the event page in that tab on event creation) we have no way of communicating back to the landing page tab. I am currently working on refreshing the events every minute to keep it reasonably up to date.

[2017-10-21 00:48] matthewberryman commented on #130
I’ve been struggling with the same issue on #134 as I need to update the events layer (also a geoJSON layer); the fix seems to be to just replace the data per https://github.com/Leaflet/Leaflet/issues/1416#issuecomment-13778453 - I will have a go at this on both of these issues when I get back home.

[2017-10-21 02:26] matthewberryman commented on #90
Reports fixed in https://github.com/MSFREACH/msf-reach/issues/149 and checked others and seems good.

[2017-10-21 02:26] #90 closed

[2017-10-21 02:33] matthewberryman commented on #134
@LucieGueuning I'm just about to push a fix that refreshes the events on the map and table every three minutes. Unfortunately a deeper fix to get it to show immediately will require a redesign of the UX and quite a lot of work. I have gone with three minutes as the table and map need to be redrawn, and if the user has a popup open it will close it, so keeping the refresh period longer minimises th

[2017-10-21 02:49] matthewberryman commented on #130
Actually this is slightly different to #134; here simply keeping state on whether or not the control's been added (as I had to do in #134, but in #134 I also had to update the layer too) will fix the bug.

[2017-10-21 02:52] matthewberryman commented on #134
layerControl is kept but doesn't turn off the new layer

[2017-10-21 02:53] matthewberryman commented on #130
Nope, not quite, per comment I just added on #134 the control gets out of sync.

[2017-10-21 03:02] matthewberryman commented on #130
Keeping track of this control issue here.
I'm first trying to remove the layer, to remove the old control, however it's failing with
[code]
due to a bug in leaflet-groupedlayercontrol, https://github.com/ismyrnow/leaflet-groupedlayercontrol/issues/49 , which won't be completely fixed until https://github.com/ismyrnow/leaflet-groupedlayercontrol/pull/46 is merged (the pull request fixes the bug but

[2017-10-21 05:00] #137 closed

[2017-10-21 05:24] matthewberryman commented on #140
have expanded to type (affiliation) and speciality fields, consistent with columns. I would argue that we don't want to expand to all fields because (1) they're not displayed and (2) can slow down performance.

[2017-10-21 05:28] matthewberryman commented on #138
Closing this for tracking purposes until @LucieGueuning clarifies.

[2017-10-21 05:57] matthewberryman opened #157 "can't add contacts"
because I copied some in, the sequence number is out of date, I think I have fixed with
[code]

[2017-10-21 05:59] matthewberryman commented on #157
Yep, that did the trick

[2017-10-21 05:59] #157 closed

[2017-10-21 06:42] matthewberryman commented on #144
Noting there's an alert() for missions errors at present (that needs to be changed) but we also need to capture errors on contacts (GET method) and events and reports (GET method) errors.

[2017-10-22 03:37] mehrdadgit commented on #146
@matthewberryman just confirming that you mean "Date/time of Event" on New Event page https://www.msf-reach.org/events/new/  ? cause I cannot find event creation box on 'landing' page

[2017-10-22 03:40] matthewberryman commented on #146
The one under toolbox -> create new event.

Sent from my iPhone

On 22 Oct 2017, at 14:37, Mehrdad <notifications@github.com<mailto:notifications@github.com>> wrote:

@matthewberryman<https://github.com/matthewberryman> just confirming that you mean "Date/time of Event" on New Event page https://www.msf-reach.org/events/new/ ? cause I cannot find event creation box on 'landing' page

—
You are rec

[2017-10-22 04:04] mehrdadgit commented on #146
Yep that one is just a link to create new event page; done now;
And I removed "time" cause jquery ui datepicker does not support time; please review and close if all OK .

[2017-10-22 04:09] matthewberryman commented on #146
Ok I am out today will review tomorrow. Thanks :)

Sent from my iPhone

On 22 Oct 2017, at 15:04, Mehrdad <notifications@github.com<mailto:notifications@github.com>> wrote:

Yep that one is just a link to create new event page; done now;
And I removed "time" cause jquery ui datepicker does not support time; please review and close if all OK .

—
You are receiving this because you were mentioned.
R

[2017-10-22 04:35] mehrdadgit commented on #107
I've just put a quick fix re the bug in previous comment: opening a panel does not force-collapse others

[2017-10-22 05:55] mehrdadgit commented on #144
a fix is in; the only issue at the moment being that page might show several error messages (coming from multiple ajax calls) before redirecting the user to login page; can be fixed...

[2017-10-22 21:14] #107 closed

[2017-10-22 21:39] matthewberryman commented on #108
@LucieGueuning this is working, and requested fields are present, but it's that you have to click on "continue" rather than on the section header or arrow; the continue button acts as a check to make sure all the mandatory data is entered as requested. To make this less confusing I'll soon deploy a small change to remove the non-functional section header links and arrows.

[2017-10-22 21:41] #108 closed

[2017-10-22 22:33] matthewberryman opened #158 "display name rather than ID on event page"
cc @LucieGueuning

[2017-10-22 22:34] #146 closed

[2017-10-22 22:34] #158 closed

[2017-10-22 22:42] matthewberryman opened #159 "settle on date format to be used"

[2017-10-22 22:43] matthewberryman commented on #146
@LucieGueuning Just noting that I have updated the display on landing page (table and map) plus events page to display this date / date as edited on #108 - not always consistent in date format, will fix per https://github.com/MSFREACH/msf-reach/issues/159

[2017-10-22 22:56] matthewberryman commented on #144
@mehrdadgit going with @rcdelfin's solution here, I am just adding in some stuff to make the alerts clearer and will commit + push soon.

[2017-10-23 02:47] matthewberryman commented on #144
Sometimes get a couple of alerts but works.

[2017-10-23 02:47] #144 closed

[2017-10-24 07:22] matthewberryman opened #160 "new event page broken"
new-event.js:108 Uncaught SyntaxError: Unexpected token )

[2017-10-24 07:23] #160 closed

[2017-10-29 10:57] mehrdadgit commented on #143
@matthewberryman I think I had noticed it and my theory is that 2 contacts have exact same lat/lng so the marker icons are placed on top of each other; one solution is clustering ( had done some testing here in a separate branch : https://github.com/MSFREACH/msf-reach/commit/42e76ff79e154bf84bda9506a230560b64e238b9 )  although not sure how much work is needed for that; I could give it a go by tomo

[2017-10-29 16:57] matthewberryman commented on #143
Yes give it a go (please keep in separate branch and submit pull request when ready).

Sent from my iPhone

On 29 Oct 2017, at 21:27, Mehrdad <notifications@github.com<mailto:notifications@github.com>> wrote:

@matthewberryman<https://github.com/matthewberryman> I think I had noticed it and my theory is that 2 contacts have exact same lat/lng so the marker icons are placed on top of each other; on

[2017-10-31 04:29] matthewberryman opened #162 "reports can't open"
Desktop / MacBook Pro Retina mid-2012 macOS Sierra 10.12
Safari v11.0

[2017-10-31 04:35] matthewberryman opened #163 "bundler"
webpack (?)

[2017-10-31 04:37] matthewberryman opened #164 "Facebook feed as well as Twitter feed"

[2017-10-31 04:38] matthewberryman opened #165 "chatbots"
* What social media are we going to target (pick 3 @LucieGueuning )?
* Need to settle on chatbot platform and integrate with MSF-REACH and social media platforms.

[2017-10-31 04:39] matthewberryman commented on #62
Fixed in other issues.

[2017-10-31 04:39] #62 closed

[2017-10-31 06:23] LucieGueuning commented on #32
twitter still not linked to location of event, right?

[2017-10-31 06:27] LucieGueuning commented on #130
No auto sync when creating an event. Still need to refresh to see our event on homepage.

[2017-10-31 06:28] matthewberryman commented on #32
No - it's based on whatever is in the event name, which by default does not contain the location, although you could edit it to include it. There are a number of options (some paid, some with privacy implications) that we will need to explore in phase 2 for this.

[2017-10-31 06:28] LucieGueuning commented on #134
No auto sync when creating an event. Still need to refresh to see our event on homepage.

[2017-10-31 06:30] LucieGueuning commented on #32
OK, need to improve twitter search anyway and this is part of the Phase 2.

[2017-10-31 06:30] matthewberryman commented on #134
We cannot auto-sync across two tabs as we have it now, so I have set a periodic refresh for phase 1. We will need to explore this as part of overall redesign for phase 2.

[2017-10-31 06:32] LucieGueuning commented on #138
Terrain map is the final decision. To avoid problematic for new contacts and new reports, we should find other sources of terrain maps.

[2017-10-31 06:34] LucieGueuning commented on #155
Could you please quickly add a red star for location of map? Thanks

[2017-10-31 06:40] LucieGueuning commented on #107
Great!

On 23 October 2017 at 05:14, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmarks>
<https://www.linkedin.com/in/lucie-gueuning-98b2a9b5?trk=nav_responsive_tab_profile>
   <https://w

[2017-10-31 06:40] LucieGueuning commented on #108
great!

On 23 October 2017 at 05:41, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmarks>
<https://www.linkedin.com/in/lucie-gueuning-98b2a9b5?trk=nav_responsive_tab_profile>
   <https://w

[2017-10-31 06:41] LucieGueuning commented on #158
great!

On 23 October 2017 at 06:34, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmarks>
<https://www.linkedin.com/in/lucie-gueuning-98b2a9b5?trk=nav_responsive_tab_profile>
   <https://w

[2017-10-31 06:41] #155 closed

[2017-10-31 06:43] matthewberryman commented on #138
Ok do you want me to swap to existing terrain tiles for now (P1) or just defer this to P2 once we have settled on appropriate terrain tiles?

[2017-10-31 06:50] LucieGueuning commented on #165
I will send you the list of social media + message content by the end of this week.

[2017-10-31 07:10] LucieGueuning commented on #155
great!

[2017-10-31 07:11] LucieGueuning commented on #138
you can swap to existing terrain tiles for now.
keep this issue open until we find appropriate terrain tiles

On 31 October 2017 at 14:43, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmar

[2017-10-31 09:52] matthewberryman commented on #138
@LucieGueuning have swapped back, will explore other options over next few days.

[2017-10-31 23:50] matthewberryman opened #166 "handle missing fields for mission history data"

[2017-10-31 23:51] matthewberryman opened #167 "look at visibility of current missions vs historical on map"

[2017-10-31 23:56] matthewberryman opened #168 "flag events with new reports"
@clgeros next time we talk, let's talk about how this might look

[2017-11-01 08:20] matthewberryman opened #169 "Input changes"
1. completely remove 'nationality' field on the contact cards (also need to remove from modal display)
2. put name as a mandatory field (with red star)
3. remove the wording 'MSF Regional' on event page (contact AND mission history tabs).

cc @LucieGueuning

[2017-11-01 08:21] matthewberryman commented on #169
Also will put note on first contact page that red starred fields are mandatory.

[2017-11-01 08:22] LucieGueuning commented on #169
great!

On 1 November 2017 at 16:21, Matthew Berryman <notifications@github.com>
wrote:

--
Lucie Gueuning
*Communication & Design Developer*
m: +852 9869 0544
w: www.LucieGueuning.com <http://www.luciegueuning.com/>  e:
lucie.gueuning@gmail.com
<https://www.facebook.com/lucie.gueuning?ref=bookmarks>
<https://www.linkedin.com/in/lucie-gueuning-98b2a9b5?trk=nav_responsive_tab_profile>
   <https://w

[2017-11-01 08:38] #169 closed

[2017-11-02 02:22] LucieGueuning commented on #141
When creating an event also

[2017-11-02 02:30] matthewberryman commented on #141
Also will do contact card too

[2017-11-02 02:53] LucieGueuning commented on #151
Do not work when come back on homepage

[2017-11-02 04:42] matthewberryman commented on #151
I fixed the problem that was preventing saves altogether and I am seeing correct behaviour on the events page but it does take a minute (configurable) for the saved tweets to show up, after saving them, as there's caching at the web server level. I can turn off the caching at the web server level or reduce the duration but would rather not as it will degrade performance a bit.

[2017-11-03 07:36] matthewberryman opened #170 "typo"
In basic information (event tab), it says “latest nofitification” and not notification (spelling mistake).

[2017-11-03 07:38] matthewberryman opened #171 "contact card organisation name"
The contact card asks for affiliation (NGO, government, etc.) but does not ask for the name of the organization.  We need to input this.

[2017-11-03 08:00] matthewberryman opened #172 "per operator default layers on landing page and events page"
Can each operator decide on which default layers are present on the landing page?  Personally, I only want the hazards layers (PDC, GDACS, etc.).  Even if I select only the hazards layers, every time I move away from the landing page and go back, all the layers are back.

[2017-11-03 08:01] matthewberryman opened #173 "Report cards at a glance (as table) on event page."

[2017-11-03 08:13] #170 closed

[2017-11-03 08:42] matthewberryman opened #174 "email (sms?) subscriptions for events"
We should consider an option for the edesks or other MSFers to “subscribe” to an event.  Being subscribed means they get an email if information (latest notification) is updated on the event.  Those not subscribed will still get the updates that are manually shared by the operator.  I’m not sure about this one, but we can discuss

[2017-11-03 08:42] matthewberryman commented on #174
@mehrdadgit let's discuss this next week

[2017-11-03 08:44] matthewberryman opened #175 "limit RSS feeds by area"
maybe dynamically adjust in line with map, as we did for contacts and mission histories?

[2017-11-03 08:59] matthewberryman commented on #171
Missing name in stored field

[2017-11-03 09:03] #171 closed

[2017-11-03 09:19] matthewberryman opened #176 "sync first map popup design with table popup"

[2017-11-03 11:12] matthewberryman opened #177 "Continue with migration to using web frameworks for polish"
Per early work in https://github.com/MSFREACH/msf-reach/issues/106

[2017-11-03 11:27] matthewberryman commented on #32
To explore:
* Language translation linked to geolocation.
* Putting in some semantic awareness (even just picking more common synonym).
* Other AI possibilities.

[2017-11-03 11:33] matthewberryman opened #178 "integrate image recognition into web platform"
Have got image recognition happening just need to think about where it goes (I guess in reports popups?) and do the web and database and API work.

[2017-11-03 11:42] matthewberryman opened #179 "define fields"
* What are mandatory and optional ones for events, reports and contacts.
* Types for fields (numbers, strings, etc.)
* Defining look and feel, default values.

[2017-11-03 11:46] matthewberryman opened #180 "event creation from map"
Rather than toolbox linking to separate page, have popup forms on map, with two options:
* Create from (RSS feed derived) hazard/disaster
* Free choice.

Also support creation from new report not linked to existing event

[2017-11-03 11:54] matthewberryman opened #181 "audio, video, other(?) upload for reports?"

[2017-11-03 11:58] matthewberryman opened #182 "Machine learning and prediction for mission planning"

[2017-11-03 11:59] matthewberryman opened #183 "remove RTs and quote tweets from twitter search results"

[2017-11-03 12:02] matthewberryman opened #184 "life layers"
medical infrastructure etc. drawing from OSM projects + other sources

[2017-11-03 12:06] matthewberryman commented on #43
adding landing page to the mix

[2017-11-03 12:06] matthewberryman opened #185 "search contacts on landing page"

[2017-11-04 03:14] matthewberryman opened #186 "default map for new events for all of Asia"

[2017-11-04 03:18] matthewberryman commented on #186
Whoops, duplicate of https://github.com/MSFREACH/msf-reach/issues/141

[2017-11-04 03:18] #186 closed

[2017-11-04 03:20] matthewberryman opened #187 "For contacts popup only display fields that are present for that contact"
Already partly done but will need to keep track of this as #176 is done.

[2017-11-04 03:35] matthewberryman opened #188 "update contact information"
On contact card have a system for contacts updating their contact information using email as the primary key, and after verifying email.

[2017-11-04 03:39] matthewberryman opened #189 "human reply to social media"
explore if current option is sufficient or if we need to build a UX option linked to MSF-REACH twitter account with credentials stored in server

[2017-11-04 03:40] matthewberryman commented on #189
Also think about other social media platforms (same list as for https://github.com/MSFREACH/msf-reach/issues/165 )

[2017-11-04 04:00] matthewberryman opened #190 "verification status of reports"

[2017-11-04 04:03] matthewberryman commented on #165
Users should receive thanks / follow up on social media for chatbot and possibly reports-card submitted reports (what if user enters wrong social media account name though ? @LucieGueuning  )

[2017-11-04 04:08] matthewberryman opened #191 "make report map centre & zoom match event"
Since event is defined as bounding box of existing reports this leaks a small amount of info that could be sensitive particularly if reports are security reports. @LucieGueuning let's discuss further.

[2017-11-04 04:27] matthewberryman opened #192 "icon legend"

[2017-11-04 04:35] matthewberryman opened #193 "filter by columns"
for contacts, mission histories, etc.

[2017-11-04 04:40] matthewberryman commented on #128
also need to explore selection of sources more generally

[2017-11-04 04:41] matthewberryman opened #194 "overall layout"
* Separate events and landing page?
* Event creation on separate or same page (latter would more properly address https://github.com/MSFREACH/msf-reach/issues/134 )
* What columns and where?
* Placement of maps and tables.

[2017-11-04 04:42] matthewberryman commented on #168
with particularly attention to security reports

[2017-11-04 04:46] matthewberryman opened #195 "geocoding of events, missions -> countries"
has cost and privacy implications to be discussed @LucieGueuning

[2017-11-04 04:55] matthewberryman commented on #177
Vue.js, bootstrap, etc.

[2017-11-04 04:59] matthewberryman opened #196 "mapswipe.org"
To explore:
* where does data end up (back in OSM? )
* how best to add it as a layer

[2017-11-04 05:03] matthewberryman opened #197 "make contact fields editable by operator"

[2017-11-04 05:07] matthewberryman opened #198 "searchable events map"
unless we get rid of events page #194

[2017-11-04 05:10] matthewberryman commented on #69
Already done / covered elsewhere

[2017-11-04 05:10] #69 closed

[2017-11-04 05:13] matthewberryman commented on #126
could do by changing zoom level too

[2017-11-04 05:15] matthewberryman commented on #168
incl. reporter name if given, in display

[2017-11-04 05:16] matthewberryman opened #199 "record and display operator who updated event"
can't be done until we have done https://github.com/MSFREACH/msf-reach/issues/57

[2017-11-04 05:27] matthewberryman opened #200 "MSF gis layer integration"
Layers aside from mapswipe covered in https://github.com/MSFREACH/msf-reach/issues/196

[2017-11-04 05:29] matthewberryman opened #201 "hyperlinks to particular reports, contacts"

[2017-11-04 05:33] matthewberryman commented on #201
review ways of securely sharing this outside of operators.

[2017-11-04 05:34] matthewberryman opened #202 "formally link contacts to event"

[2017-11-04 05:37] matthewberryman commented on #177
Do our best for smaller displays

[2017-11-04 05:42] matthewberryman opened #203 "rw and ro users"

[2017-11-04 05:43] matthewberryman commented on #203
* Pending https://github.com/MSFREACH/msf-reach/issues/57
* Needs schema support (will add issue for that in a second).

[2017-11-04 13:58] anexact commented on #184
Currently in conversation with OSM about available data sets; can update and add to Phase 2 depending on availability and quality of data & relevance to MSF.

[2017-11-05 05:38] matthewberryman commented on #184
@anexact let's leave this open until you can report back on conversation and (if there are some datasets to be added) until we've got them in MSF-REACH

[2017-11-07 01:54] matthewberryman opened #204 "sub-events"
discuss and think about implementing:
When different OC's are going to intervene for the same emergency for different field (surgery OR supply OR Water and Sanitation), we should have the ability to separate one event into different sub-event.

[2017-11-07 01:56] matthewberryman opened #205 "double check iconography"

[2017-11-10 00:46] matthewberryman commented on #138
@LucieGueuning I have looked at options and think the default mapbox outdoor tiles work good for both terrain as well as streets, especially when zoomed in. I have just deployed that just then (along with a bug fix on contact cards), please let me know what you think. In our meeting on 16th we can sit down and have a look at the options - we can completely customise the look and feel here.

[2017-11-14 03:06] mehrdadgit opened #206 "some overlay icons missing..."
![image](https://user-images.githubusercontent.com/7603978/32760963-e1d156a4-c944-11e7-9f55-526527929845.png)

[2017-11-20 07:50] LucieGueuning commented on #140
Need to be able to filter by suppliers. Not search by into an open search box - free text.

[2017-11-20 08:11] LucieGueuning commented on #32
location if possibility to have a deal with Twitter for advanced search

[2017-11-20 08:20] LucieGueuning commented on #192
to be add on 'info' tabs on landing page

[2017-11-20 08:21] LucieGueuning commented on #194
expand and collapse map on all levels

[2017-11-20 08:39] LucieGueuning commented on #197
need to know automatically when and who was the last contact with this person regarding a specific event.

[2017-11-20 08:41] LucieGueuning commented on #130
Mission and RSS feed are not on event as layer ON/OFF

[2017-11-20 09:09] LucieGueuning commented on #180
thanks to a box? if I have no idea about the precise location?

[2017-11-20 09:19] LucieGueuning commented on #190
by operators

[2017-11-20 09:20] LucieGueuning commented on #165
with potential access to a static page with generic information about the related event reported

[2017-11-20 09:22] LucieGueuning commented on #188
Message saying to the users: 'email address already into the database, please update your contact information' (after confirming email address by email reception).

[2017-11-20 09:54] LucieGueuning commented on #151
still bug!

[2017-11-20 22:17] matthewberryman opened #207 "access for peers?"

[2017-11-20 22:26] matthewberryman commented on #140
1. We don't have a separate field for suppliers, instead we have a category field (we can revisit in https://github.com/MSFREACH/msf-reach/issues/179 if need be but I think category covers it)
2. We could add a checkbox to select only suppliers based on category field (something to look at in https://github.com/MSFREACH/msf-reach/issues/194 )

[2017-11-20 22:45] matthewberryman opened #208 "contact methods"
What do you want?
* chatbots https://github.com/MSFREACH/msf-reach/issues/165; and/or
* [WA + FB + TW] (or other three per https://github.com/MSFREACH/msf-reach/issues/165 ) + email icon to contact with reports and automatic content of message for getting more information [ @LucieGueuning  the functionality here would seem to be covered by way of initiating chatbot conversation]; and/or
* Contact

[2017-11-20 22:55] matthewberryman opened #209 "event and report geographical definition discussion"

[2017-11-20 22:59] matthewberryman commented on #209
As well as thinking about how these are defined, think about how they evolve over time (does it make sense to edit the event if the event is defined as set of reports, etc.).

[2017-11-21 03:20] LucieGueuning commented on #207
To me, peers should have access to a static page for follow up and updates on the specific situation (// disaster) > cf. Unni's comment about ethical respect.

[2017-11-21 19:39] #2 closed

[2017-11-21 19:40] #6 closed

[2017-11-21 19:43] talltom commented on #97
@matthewberryman I propose that we move to postgres UUIDs?

This is my preference given that we've agreed to keep PG/Node stack. If you agree I'll start work on a branch of the schema.

[2017-11-30 04:31] matthewberryman commented on #165
@LucieGueuning I've gone back on email and skype and can't find the file. Can you please list the 3 social media platforms here: https://github.com/MSFREACH/msf-reach-chatbot/issues/7
and let's work on key phrases and responses here https://github.com/MSFREACH/msf-reach-chatbot/issues/5
Leaving this ticket open to track those and also for the UX integration side.

[2017-12-01 05:51] matthewberryman commented on #165
Per https://github.com/MSFREACH/msf-reach-chatbot/issues/7 I've got Facebook working and some code for Twitter that should work (awaiting approval of access to their APIs)

[2017-12-01 06:15] matthewberryman commented on #194
Also to-do: evaluate https://github.com/MSFREACH/msf-reach/pull/161 with MSF. Do this once dev environment is set up. cc @LucieGueuning @mehrdadgit

[2017-12-03 10:18] mehrdadgit commented on #194
@matthewberryman I changed the max radius to 0.1 so that clustering only happens when contacts are exactly on top of each other (same latitude+longitude) so this only fixes the bug of #143 ... maybe OK to merge #161 to master now and later we evaluate clustering more ?

[2017-12-03 10:30] mehrdadgit commented on #174
Sorry I just saw your last comment above @matthewberryman ; I can start this; I think we have to look into how to we can obtain user id from aws cognito and work with that in the database ...

[2017-12-09 05:46] matthewberryman opened #210 "parameterise hostname in build"
https://github.com/MSFREACH/msf-reach/commit/db55bd5650c7b77bdcdb1140d454a0e060b84522

[2017-12-13 00:46] matthewberryman commented on #97
@talltom can you please make sure changes are either compatible with existing database entries or otherwise provide a script in msf-reach-schema repo to update the database as part of this work

[2017-12-13 00:56] talltom commented on #97
Yep - upgrade scripts added to schema repo and in progress :)

https://github.com/MSFREACH/msf-reach-schema/tree/dev/updates

[2017-12-14 21:38] matthewberryman commented on #174
@mehrdadgit please hold on this as we're looking to move to active directory for auth

[2017-12-15 05:33] matthewberryman commented on #151
With https://github.com/MSFREACH/msf-reach/commit/8ddf2d91be42ceacff3301859d0b582276630d9d and https://github.com/MSFREACH/msf-reach/commit/780c7051ca27c56d58c87d24f6f3ca4ccc8a7f87 this is now working for me in the dev environment. @LucieGueuning when we merge our development branch of the code back into the master branch it will automatically fix in production environment, but until then it won't

[2017-12-15 07:27] matthewberryman commented on #210
Start on https://github.com/MSFREACH/msf-reach/issues/163 (decision: webpack unless anyone says otherwise - @talltom ?) and then do this

[2017-12-17 11:51] mehrdadgit commented on #163
Had a bit of thought on this:
* my first assumption is that we are bundling only front-end ( everyhting under `public/` ) for now? and everything under `resources` will be shared/common code.
* we have a structure in mind? not sure about this the most basic one could be the multiple-entry-point structure (example: https://github.com/webpack/webpack/tree/master/examples/multiple-entry-points ) ...

[2017-12-18 03:46] LucieGueuning commented on #165
@anexact Please comment UX side for those chatbot. thanks

[2017-12-18 03:48] LucieGueuning commented on #194
Need MSF to evaluate something since the dev environment is set up?

[2017-12-18 03:49] matthewberryman commented on #194
@LucieGueuning #161  is something that is in both prod and dev now. Please take a look and provide feedback.

[2017-12-18 05:37] matthewberryman commented on #163
@mehrdadgit yes on both points. @talltom ?
A refactor bringing common code across pages to a single js would be nice but I had a look at that and it's hard to do much of that prior to design decisions yet to be made.

[2017-12-18 08:35] LucieGueuning commented on #151
Not working on prod. When can you fix it for Natasha?

[2017-12-18 23:56] matthewberryman commented on #210
I don't see a need to now parameterise this in build, but we do need to get a build system in.

[2017-12-18 23:56] #210 closed

[2017-12-19 00:02] matthewberryman commented on #164
Just had a look and Facebook can't be done without purchasing access through a third party. https://developers.facebook.com/docs/public_feed
cc @LucieGueuning

[2017-12-19 00:11] matthewberryman commented on #205
@clgeros we're missing some of the storm PDC icons (not typhoons/cyclones/hurricanes, but general storms and winter storms)

[2017-12-19 03:09] LucieGueuning commented on #164
need to figure out others options for that!

[2017-12-19 04:02] matthewberryman commented on #151
This is working on prod now, following a merge of the fix earlier today - just tested it then. Note due to caching it can take a minute or two to show up (we can change configuration of delay as noted previously)

[2017-12-19 23:24] matthewberryman opened #212 "same map everywhere"

[2017-12-19 23:30] matthewberryman commented on #130
The event refresh is a separate issue https://github.com/MSFREACH/msf-reach/issues/134
and a map control for RSS feeds is a separate issue https://github.com/MSFREACH/msf-reach/issues/212 (and separately syncing map and table is https://github.com/MSFREACH/msf-reach/issues/175 ). Just noting that the controls do work, and the current issue here is that the contacts / missions come back on when the

[2017-12-20 01:45] matthewberryman commented on #212
Just checked and realised we do have map controls for RSS feeds (a group with individual controls for particular feeds) on landing page. On events page we don't have RSS at all. Do we want that? @LucieGueuning

[2017-12-20 01:46] #130 closed

[2017-12-20 22:49] matthewberryman commented on #194
@LucieGueuning I've tweaked the clustering parameter a bit (on the dev environment) - try out the events page map on both dev and prod (still running the old parameter) and let me know what you think of the clustering, where you see a pale icon with a number and you can click on it to pop-out the mission histories /  contacts at that point e.g.
<img width="73" alt="screenshot 2017-12-21 09 40 58"

[2018-01-02 02:48] matthewberryman opened #213 "server needs to auto create & update chatbot entries"
sub-issue of #165, related chatbot issue https://github.com/MSFREACH/msf-reach-chatbot/issues/6

[2018-01-02 23:13] matthewberryman opened #214 "travis: test failure, other warnings"
https://travis-ci.org/MSFREACH/msf-reach/builds/323997852

[2018-01-02 23:14] matthewberryman commented on #214
Failure introduced in https://github.com/MSFREACH/msf-reach/commit/4724f9ec923bdab9ec177a8dd3a822ce84acabd1

[2018-01-03 04:21] matthewberryman commented on #214
Closer but not quite, see https://travis-ci.org/MSFREACH/msf-reach/builds/324423034

[2018-01-03 04:59] matthewberryman commented on #214
Closed with 07c9386 (travis build indicator is still showing as a fail but that was because of a network issue travis end, I rebuilt and it was fixed with 07c9386 )

[2018-01-03 04:59] #214 closed

[2018-01-04 17:28] talltom commented on #97
PR https://github.com/MSFREACH/msf-reach/pull/215

[2018-01-05 03:16] #213 closed

[2018-01-09 21:53] matthewberryman opened #217 "handling of non-geolocated contacts"
where address is missing, or unable to be provided

[2018-01-10 16:02] LucieGueuning commented on #217
Solution: Having on the right top corner of the map, the icon enclosed with number of contacts without any geo-localisation. And by clicking on this icon, user can have the list of those contacts.

make sense?

![image](https://user-images.githubusercontent.com/25951555/34782127-a22c8a7a-f61f-11e7-8f4a-0d0a2914d770.png)

[2018-01-10 16:03] LucieGueuning commented on #217
for the one who input address, I always will find a GPS coordinates for them.

[2018-01-11 02:10] matthewberryman opened #218 "change put -> patch for contacts API update"

[2018-01-11 02:51] matthewberryman opened #219 "API changes for contacts schema PR"
https://github.com/MSFREACH/msf-reach-schema/pull/25

[2018-01-11 08:11] matthewberryman commented on #219
@talltom please do this work in the [contacts branch](https://github.com/MSFREACH/msf-reach/tree/contacts)

[2018-01-11 08:17] matthewberryman commented on #179
@anexact @LucieGueuning please refer to comments and replies I've put in the google sheets doc as some of the contacts fields need further clarifications. I'll take a look at fields for other parts of the system in coming days.
@talltom will be assisting review some proposed database schema changes I made in https://github.com/MSFREACH/msf-reach-schema/pull/25 and there's some corresponding work w

[2018-01-12 06:15] matthewberryman opened #220 "add some error handling around geocoding"

[2018-01-14 12:51] mehrdadgit commented on #193
@matthewberryman happy to take this on; client-side filtering ok? wanna filter/sort on all columns?  If so, thinking of converting tables to vue components...

[2018-01-14 12:55] mehrdadgit commented on #206
@matthewberryman could you point me to SVG folder on google drive? are they really missing or we have no svg file for them yet ?

[2018-01-14 13:03] mehrdadgit commented on #162
@matthewberryman is this still an issue ? if yes, you mean report cards? any hints on how to reproduce  ?

[2018-01-15 00:50] matthewberryman commented on #162
I don't have any further info and can't reproduce in Safari 11.

[2018-01-15 00:50] #162 closed

[2018-01-15 01:47] matthewberryman commented on #206
Dupe of https://github.com/MSFREACH/msf-reach/issues/63 (icons used across hazards RSS feeds are missing some hazard types)- google drive folder on that issue.

[2018-01-15 01:47] #206 closed

[2018-01-15 04:21] matthewberryman commented on #85
working on this in the [eslint](https://github.com/MSFREACH/msf-reach/tree/eslint) branch
cc @LucieGueuning

[2018-01-15 23:29] matthewberryman opened #221 "map not zooming to event extents properly"
I think it's just that the eventsMap variable is not being set properly that I've already identified through use of eslint in #85 and will commit on that branch soon, and then test.

[2018-01-16 02:52] matthewberryman commented on #221
No, had lost a line of code (now needs to repeat 4 times), in setting up control layer groups.
cc @LucieGueuning

[2018-01-16 02:52] #221 closed

[2018-01-16 05:45] matthewberryman commented on #172
I think cookies are the best solution here. https://github.com/voltace/browser-cookies looks like a suitable library browser side for this.

[2018-01-16 05:53] matthewberryman commented on #172
Or https://github.com/js-cookie/js-cookie (browser-cookies would require a build system that we don't have yet)

[2018-01-16 06:11] matthewberryman commented on #172
js-cookie already in use for the jwt stuff; could also use server side in lib/util.js for more efficient parsing of cookies.

[2018-01-16 09:25] matthewberryman commented on #172
seems to work Ok in dev although the page is taking a bit longer to load than usual (perhaps just cache catching up with changes) - I will give this another look tomorrow. @LucieGueuning

[2018-01-16 21:01] matthewberryman commented on #172
@LucieGueuning reports this not working on log out and log in, but I cannot reproduce this. Lucie have you cleared your browser cache? The events page has a separate issue on page zoom & pan as the code for making the layers dynamic with the table is breaking the changes, which I will fix, and which may be what you are seeing.

[2018-01-16 21:17] matthewberryman commented on #172
Separately I wasn't storing the reports sublayers properly. Have that fixed locally, will deploy once I get this new code interacting properly with the dynamic missions and contacts updating.

[2018-01-16 23:10] matthewberryman commented on #172
@LucieGueuning I have implemented and tested this across all layers on landing page and events page (dev only at this point) and fixed the issues you were seeing plus for the issue I noticed on sublayers. Also if the user is a new user I go with the defaults we'd previously had for on/off and set those. By the time you wake up your browser should be fetching the new page instead of the cached vers

[2018-01-17 00:58] matthewberryman commented on #190
@talltom I think we need some API changes here similar to contacts
1. PATCH not PUT
2. Make subroutes for report status type and contents (so I don't have to update contents just for a report status type) and just noting on contents here and contact cards it's desirable to not have to update the jsonb field as a whole, only by particular key(s).

[2018-01-17 00:59] matthewberryman commented on #200
@LucieGueuning @anexact @talltom can someone update me on this in particular where discussions are at with GIS team so I can get an understanding of what needs to be done.

[2018-01-17 01:01] matthewberryman commented on #198
@mehrdadgit @talltom we need to update the events API to be able to search for events

[2018-01-17 01:16] matthewberryman commented on #178
Have set up https://github.com/MSFREACH/msf-reach-recognition for this.

[2018-01-17 03:57] matthewberryman commented on #178
Will track client and web server side work in this issue.
Lambda code to be tracked in this issue: https://github.com/MSFREACH/msf-reach-recognition/issues/1
@talltom is there a sensible way of doing this via (protected by API key?) API? Work in https://github.com/MSFREACH/msf-reach-recognition/commit/a0a21a9d3cfed4171cf938cc14549986fe9e49c1 (note: untested as I've run out of time today) goes dire

[2018-01-18 03:38] #220 closed

[2018-01-18 03:38] #85 closed

[2018-01-18 09:16] LucieGueuning commented on #200
It was an idea to get layers (so data) from GIS. GIS were waiting for our reply in terms of language. They have MSF info (Mission History/infrastructure/...). I don't know whether it is possible to integrate those data to our REACH map platform. It would be great.

[2018-01-18 09:30] LucieGueuning commented on #200
In addition to that, we wanted to do something with MapSwipe (https://github.com/craic/mapswipe_utils)

[2018-01-18 09:49] LucieGueuning commented on #172
I tested it. Please find my feedback:
1. On landing page, working well to remember my preferences except for USGS and GDACS layers.
2. On event page, layers are not as stipulated into spreadsheets.
3. Are we moving to a design of one page level?

[2018-01-18 10:02] matthewberryman commented on #200
Got your email about this issue, will follow up tomorrow my time. Mapswipe is a separate issue https://github.com/MSFREACH/msf-reach/issues/196

[2018-01-18 10:08] matthewberryman commented on #172
1. Will check tomorrow my time and fix those layers.
2. Everything with exception of non-MSF contacts is on by default (in absence of having selected / deselected layers), per previous discussions. If you'd like something different please fill in the spreadsheet, currently blank with exception of terrain as default base map, or make a note here.
3. Issue for discussion of that is https://github.co

[2018-01-19 03:55] matthewberryman commented on #172
Update:
1. I have fixed the two layers USGS and GDACS and deployed to dev and prod environments.
2. I have noticed that the non-MSF contacts for landing page are now listed as on in the spreadsheet, as the starting default (in the absence of any changes by the user, which are now saved). I will deploy that in a commit in just a couple of minutes. To see the starting defaults you need to clear your

[2018-01-19 09:39] matthewberryman commented on #178
@LucieGueuning this is working but not on every image upload, I need Tom to work on some server code.
@talltom can you please work on API for this as doing PG stuff in a lambda gets pretty ugly (lots of corner cases because of the way that lambda is handled depending on cold start vs warm start and interplay with the way pg maintains connections). It would be a lot easier and less fragile to have

[2018-01-19 10:57] matthewberryman opened #224 "IE support"
IE is now 5 years old and very hard to support—Edge is the newer browser that Microsoft have released for Windows that is more standards compliant (and thus easier to support). Do we need to support IE?

[2018-01-19 11:08] LucieGueuning commented on #172
You can keep non-MSF contacts (as per spreadsheet) on by default please.

[2018-01-19 11:52] LucieGueuning commented on #165
from Matthew:
After some patches to AWS’ code, I have got the Facebook integration of the bot working.

To add you as beta testers, as it’s not open to the public until we’re ready and also Facebook need to approve, then I will need you to send me your facebook username (see next screenshot to find it) or ID (see https://www.facebook.com/help/1397933243846983?helpref=faq_content for instructions a

[2018-01-19 11:53] LucieGueuning commented on #165
Need to work on automating addition of new event - training of system automatic

[2018-01-19 12:18] LucieGueuning commented on #182
A low hanging fruit is if we had numerical data on supplies sent out for different types of events, along with numerical data on population affected, then it’s very easy to build a predictive model for future events.

I had a look at https://docs.google.com/spreadsheets/d/1AzlyOrAD3zFjdvTTvfMwEnRR9wpp3H6wT-ay2LpkLuE/edit#gid=1233626802 and the data is written in text form, and there’s not nearly e

[2018-01-19 12:21] LucieGueuning opened #225 "GDPR exercise"
From Matthew: having read that in conjunction with other rules and regulations and contracts (one of which I will need to sign and send to AWS before I can commence) I can now proceed to set up development (dev) and production (prod) environments.

I reviewed both the GDPR rules from the EU web site in addition to the AWS compliance documents and provided my company has signed the agreement with A

[2018-01-19 12:22] LucieGueuning commented on #225
The dev site is now up at https://dev.msf-reach.org/
It is pointing at a separate copy of the database that I made from a snapshot before I removed some of the test events from the prod database underlying https://msf-reach.org/

Notes for all: as they’re using different databases, new events / contacts/ reports added to one will not show in the other (by design). I haven’t had time for much testi

[2018-01-19 12:23] LucieGueuning commented on #225
I’ve now completed the migration of the production environment https://msf-reach.org/ and also fixed a networking glitch that was causing some speed issues on first page load of the development environment https://dev.msf-reach.org/ , plus update the chatbot links to point to the development environment for now. Any issues / questions just ask.

[2018-01-19 12:23] LucieGueuning commented on #225
Thanks for your hard work on that @matthewberryman

[2018-01-19 12:48] LucieGueuning commented on #217
* The other day I imported all the non-duplicate-flagged, geocoded contacts. I can re-do these and update as progress is made. Maybe we need to consider UX around handling non-geocoded contacts as opposed to geocoding them all? Bearing in mind people also relocate and we need to track that too (maybe periodic 6 or 12 monthly reminders to emails on file?)
* I have a script for adding country inform

[2018-01-19 12:51] LucieGueuning commented on #179
I’ve gone through the fields per (link to spreadsheet)
and added some further comments and replies—please check for these by looking for tabs with comments and then the cells with yellow triangles in the top right.

Some notable things:
* on map layers, where are we at with regards to discussion around having a single page? There are some things that are harder / impossible to do (like updating th

[2018-01-21 02:48] matthewberryman commented on #197
Please work on this in contacts branch for now, I would like to review client and API changes together tomorrow.

Sent from my iPhone

On 21 Jan 2018, at 13:46, Mehrdad <notifications@github.com<mailto:notifications@github.com>> wrote:

Can start this as soon as the API is merged in 'dev'

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://g

[2018-01-21 03:56] mehrdadgit commented on #143
@matthewberryman this should be done now as we have merged clustering?

[2018-01-22 00:51] #143 closed

[2018-01-22 00:54] matthewberryman commented on #32
@LucieGueuning  my comments are also relevant here

[2018-01-22 06:41] matthewberryman opened #227 "option for contacts to edit or remove their contact information"
I'm about to push some boilerplate stuff for nodemailer for you to work from. You'd need to have an option on the first contact card to submit an email address for update, and then the server sends an email with a link to a page for editing only that specific user.

[2018-01-22 06:42] matthewberryman opened #228 "option for admins to edit / remove any contact's contact information"
And also record last_email_sent_at time

[2018-01-22 06:44] matthewberryman commented on #225
There are some follow up activities for me to look at this week to make sure from the report that we're fully compliant in terms of UX and data storage and flows. One notable thing that we're missing is the option for people to be able to edit / remove their contact information, #227

[2018-01-22 07:31] matthewberryman commented on #227
Matthew to
1. Set up DNS entries for mail for msf-reach.org domain.
2. Set up admin@msf-reach.org email
3. Send SMTP user and pass credentials to @mehrdadgit

@mehrdadgit to work on the rest

[2018-01-22 07:35] matthewberryman commented on #228
whoops, dupe of https://github.com/MSFREACH/msf-reach/issues/197 (sorry)

[2018-01-22 07:35] #228 closed

[2018-01-22 07:39] matthewberryman commented on #219
@LucieGueuning this behind the scenes work is done (thanks @talltom for his help) and @mehrdadgit has made these fields displayable on the large modal popup (on events page go to contacts table and click on "eye").
There's #227 and #197 that @mehrdadgit will work on.
Tomorrow I will work on the popup displays on the maps and also review the input fields on the contacts cards and work on that.

[2018-01-22 17:07] LucieGueuning commented on #219
Great! Let me know once it is done and I will then share the final version for people to continue to enter their contact information through our REACH contact card.

[2018-01-23 00:39] matthewberryman commented on #187
@LucieGueuning on the contacts tab of the fields sheet can you indicate what items you want in the map popups vs the contact modal (that pops up when you click on the eye icon on events page). Or would you like the map popup to be the same as the contact modal?

[2018-01-23 01:12] matthewberryman commented on #179
@LucieGueuning I've put the MSF fields in per your request, now. I am still waiting on your feedback on type & category. It would be best from a UI perspective on the contact page (one less thing to fill out, and a *lot* less work in the code elsewhere especially display code, my import scripts) if we could just keep it to one expanded category. Or we could consider having the role like "supplier"

[2018-01-24 17:11] LucieGueuning opened #229 "Contact cards - Phone and email as validated fields"
Phone fields are required. They need to accept only number as response.
Same for email field, need to accept only valid email address.

@talltom

It become quiet urgent as I would like people to start fill out their contact details through the final layout of those contact cards. Thanks!

[2018-01-24 19:36] matthewberryman commented on #229
I’ll add email formatting validation in later today. It won’t check that the domain is valid—as we cannot look this up in JavaScript in browser; we could add an API call for doing that but it would be an open API and could be abused, so I will leave that off.

Phone number validation is very hard due to formatting and other issues to do with country (each county defines what a valid number is) so

[2018-01-24 19:49] matthewberryman opened #230 "bug in rendering opening contact card page on Chrome on iOS"
[I will update this issue later with a screenshot]
Working on Safari though, which is odd since they're using the same webkit rendering engine.

[2018-01-24 20:00] matthewberryman opened #231 "contact card completion checklist"
1. ~~Still awaiting @LucieGueuning and @anexact to solve category/type issue https://github.com/MSFREACH/msf-reach/issues/179#issuecomment-359635079~~
2. ~~@matthewberryman to work on form validation of email and phone number #229~~
3. @talltom [optional but nice to have re 5.] any progress on API validation of required fields? Also be sure to review and close off already completed issues (e.g. #2

[2018-01-24 20:31] matthewberryman commented on #229
https://github.com/AcrossTheCloud/Mail-RFC822-Address will now generate a mammoth regex (6551 characters!) for use for email validation.

[2018-01-25 06:24] matthewberryman commented on #229
I have tested these changes locally and it works. Just deploying to our dev environment now and will check myself after dinner.

[2018-01-25 06:27] matthewberryman commented on #230
When I came back to reproduce this for a screenshot I couldn't reproduce it. The only thing is that my phone battery died hence Chrome restarted. I guess this is therefore a temporary glitch with Chrome itself.

[2018-01-25 06:27] #230 closed

[2018-01-25 08:05] matthewberryman opened #232 "recent deployments failing since yesterday"
due to recent security changes with jenkins - just a little too tight and missed a spot for credentials

[2018-01-25 08:05] matthewberryman commented on #229
Not deployed yet due to #232  - will fix that now

[2018-01-25 08:13] #232 closed

[2018-01-25 08:19] matthewberryman opened #233 "error during API mocha test"
https://travis-ci.org/MSFREACH/msf-reach/builds/333159485

[2018-01-25 08:25] matthewberryman commented on #229
Fixed #232 and this new code is now deployed to dev and I did some additional testing there and seems good to me.

[2018-01-25 10:52] LucieGueuning commented on #187
working on that

[2018-01-25 11:44] LucieGueuning commented on #187
1. Map popup
--
Last Name + First Name
phone number
email address
type of contact
specialty

2. Contact modal
--
All others fields stipulated into spreadsheet

[2018-01-25 11:47] LucieGueuning commented on #179
working on that.

[2018-01-25 11:58] LucieGueuning commented on #179
ok solved.

So, **type of contact** needs to have a drop-down (as below) after 'personal details' information slide.
**Category** needs to have a drop-down (as below) as part of a new slide (after contact details) for company information.

![image](https://user-images.githubusercontent.com/25951555/35387304-0a79b3fc-01c7-11e8-8188-08754f27fd59.png)

[2018-01-25 11:58] LucieGueuning commented on #179
@matthewberryman  all clear?

[2018-01-25 12:01] LucieGueuning commented on #231
1. solved
4. waiting for your green light since everything is ready from your side on dev environment. @mehrdadgit @matthewberryman @talltom
5. waiting for your green light to add contact for testing on dev environment.

[2018-01-25 12:02] LucieGueuning commented on #229
Good to me as well! Congrats. Thanks @matthewberryman

[2018-01-26 04:01] matthewberryman commented on #179
No. You're asking essentially the same question twice—there's 85% overlap between "category" and "type" and these two words are synonyms so I'm not sure what the distinction is here especially with the significant overlap in answers. You'd mentioned the need to distinguish out suppliers as that's not necessarily mutually exclusive with NGO, however a lot of the other categories/types *are* mutuall

[2018-01-26 04:13] matthewberryman commented on #231
1. See comment on other thread
2. That issue will close off automatically when it gets merged to dev, along with the rest once we've finalised contact cards.
I think you mean 5. - best to wait until we think we've finalised everything in dev.

[2018-01-26 10:01] matthewberryman commented on #179
So per discussion on Skype, we'll have a combined "type of contact" dropdown, then tick boxes for "MSF Peer" and "Supplier", and then under an employment section on same page make sure employer, job title, and division/unit are always options.

[2018-01-27 02:09] matthewberryman commented on #231
@LucieGueuning @mehrdadgit now ready for to you review the UX and also put some information in on dev (starting in 5 minutes from time of me writing this comment, to allow time for build and deployment) for testing. Once that starts going in I will check in the database. Once @LucieGueuning is happy with the fields on the contacts cards, I will then proceed with work on the corresponding display c

[2018-01-28 05:19] mehrdadgit commented on #231
regarding point 4: above fixes are in and on dev

[2018-01-28 06:23] mehrdadgit commented on #227
@matthewberryman so this needs for all contacts have unique email addresses ? so would need to check for duplicate email when adding new contact as well ? If so, we may need to get email on the first page of contact card to alert ("user already exist") then, if email already exists,  we can ask "do you want to update this user ?"

Also, thinking that  we need sth like a uuid key in contacts table.

[2018-01-28 19:25] matthewberryman commented on #227
I think adding a UUID as well as ID is best (although someone can't guess ID, they could use it to figure out how many entries in the database).

The trouble with alerting people is that someone else could interrogate the system to see if someone else's email is in the system even though they can't edit the record or see the rest. I guess we could allow someone to complete the card again and then

[2018-01-28 22:57] matthewberryman commented on #178
@talltom any update on this?

[2018-01-29 23:35] matthewberryman commented on #197
Make sure that operators can also delete records (so I guess we need a DELETE API ping @talltom )

[2018-01-29 23:40] matthewberryman opened #234 "schedule email reminders for operators to review contacts"
@LucieGueuning to advise on how often this needs to be done.
@mehrdadgit to set up scheduled emails to operator to review contacts based on the `updated_at` field.

[2018-01-30 11:38] LucieGueuning commented on #231
Feedback on contact cards:
1. *Mandatory fields. Other fields **are** optional. (Please add the word 'are').
2. 'Association member' needs to be a check box options as 'MSF peers'. 'Supplier' can be removed and become one of the category options.
3. 'Other' need to have a field to specify (on category option).
4. Add 'Job title' field to fill in by the user.
5. Remove OCA as a first choice on drop

[2018-01-30 11:39] LucieGueuning commented on #231
Need to have a double-check + test entries through the dev env. before going live into prod env.

[2018-01-30 15:06] LucieGueuning commented on #225
working on GDPR Report

[2018-01-31 00:30] matthewberryman commented on #231
I've crossed off the ones I've done.
For item 10, we didn't require home address, only location (that can be manually adjusted) for security and privacy reasons.
For 15 both "filed" and "filled" work. I would argue "filed" is closer in meaning to what this field is actually showing, which is the date that contact was first entered into the system. I would actually propose changing this to "date fi

[2018-01-31 09:04] matthewberryman opened #235 "Landing page events list fixes"
1. Events displayed by most recently updated -> last recently updated.
2. Make scrolling only on the RH tab section.

[2018-01-31 09:16] matthewberryman commented on #231
10. Going with "Please enter your home address or pin your home location" to permit option but to emphasise location (if just pin entered) should be home location and not another location.
15. Going with "Created on:" and updating other times to say "on" as well, for consistency.

[2018-01-31 09:22] matthewberryman commented on #231
Per discussion, if person entering data is an operator (can detect cookie) then:
* Can have tick box to say they have permission from contact, and could display separate policy if required.
* I will also flag those in the database as well, for reference.

[2018-01-31 10:16] LucieGueuning commented on #227
(not sure this is the right issue). as per discussion on skype

Two steps for updating contacts info. Need to be both completed to keep contact on the platform
1. Email automatic after 6 months of inactivity on REACH to ask whether their contact information have changed or are still correct (need to pro-actively confirm by actions).
1.1 second email for remind them and let them know that they cont

[2018-01-31 10:22] LucieGueuning commented on #57
Confirm and double-check with Office 365 Support Team that 'password never expire'

[2018-02-01 12:21] LucieGueuning commented on #234
- send emails every 6 months after the last activity of the person
- second emails send 3 months after the 6month-one to remind to be actived on REACH.
- after 3 months, email to operators to flag them
- after 1 year and approval of operator, delete the contact.

[2018-02-01 17:53] LucieGueuning commented on #231
Feedback:
- Gender shouldn't be mandatory
- 'Phone' word missing
- 'Fax', 'Website' missing
- Sentence of mandatory field should be centre on contact details slide.

[2018-02-01 17:54] LucieGueuning commented on #231
I am waiting for having the tick box thanks to cookies before entering data for testing + improvements from my last feedback just up there

[2018-02-01 22:55] matthewberryman commented on #231
The fields for fax and website were there and as well as the text in the box I have added some text similar to the fields for "email" outside of the boxes. Note that to fit this all in for mobile I had to remove space between related inputs (i.e. all of the phone inputs are now closely grouped together).

I have also added a tick box that is shown - remind operators to log in, and it will keep tra

[2018-02-02 05:05] matthewberryman commented on #178
@mehrdadgit see [comment](https://github.com/MSFREACH/msf-reach/commit/7487c1c3daa2eeffbae72af3544e5b9c5a7dc16f#r27282473) on your commit, can you also please restructure into separate into index.js and model.js like other api code

[2018-02-02 05:37] matthewberryman commented on #178
@LucieGueuning this is now working 100% of the time in dev (note it takes a few minutes from image upload until they are processed and available in the popup of a report), although there are some code tidy up items to work on.

[2018-02-02 09:19] matthewberryman commented on #178
(AI was working fine following 31ffaeb - thanks @mehrdadgit , but I'd introduced a new UI bug in trying to fix up a popup display bug, now fixed in b825ec8 )

[2018-02-02 13:18] LucieGueuning opened #236 "Longer expiry time on session token"
Could you please use cookies to avoid relog-in each time we open REACH landing page. Thanks

[2018-02-02 22:34] matthewberryman commented on #236
This can be done with both AWS Cognito (the system we're using now) and with Active Directory but per previous discussions I am first awaiting a decision from you @LucieGueuning as to whether or not to proceed with AD, so as to avoid wasted effort.

[2018-02-03 00:18] matthewberryman commented on #179
Need updated_at field for events (also helps with part of #235)

[2018-02-03 01:22] matthewberryman commented on #235
@LucieGueuning I've done the work on this and have tested locally but would like @mehrdadgit and @talltom to review first. Note that because the updated_at field is new, events currently in the system that have been updated will still be in the creation order, but as you edit them going forwards they will show up at the top in order of most recently updated -> last. Also note that because I set th

[2018-02-04 23:01] matthewberryman opened #238 "no separate page for event & support this as option for report creation"
On the landing page, have a modal for creation of new events, and on the events page have the option of a modal for new reports; this solves https://github.com/MSFREACH/msf-reach/issues/134. Note that for new reports we need to have an option of modal for operators but still have a link that can be copied and pasted / sent out automatically from chatbot.

[2018-02-05 01:36] matthewberryman commented on #238
(changed title to make it clear that work on report creation modal is not optional, it's that the display of the modal is an option)

[2018-02-05 07:45] matthewberryman commented on #235
@LucieGueuning this work is now deployed to our dev environment

[2018-02-06 11:33] LucieGueuning commented on #231
@mehrdadgit, I need your help to test the contact cards on dev site to try all scenarios and possibilities. Thanks!

[2018-02-06 12:19] LucieGueuning commented on #231
@matthewberryman Feedack 3 (shoul dbe the last one from my side):
- first slide: update my email by 'Please contact us for any ...' and hyperlink with mailto:lucie.gueuning@hongkong.msf.org
- contact details slide: need to center the line with mandatory field....

Thanks. After that, I am happy with the contact cards and want to have it at your soonest migrate to prod env.

[2018-02-07 02:14] matthewberryman commented on #238
@mehrdadgit Please help me fix
* General style issues on reports modal
* [Scroll](https://github.com/MSFREACH/msf-reach/blob/reports_modal/public/events/index.html#L103) not working.
* [This function](https://github.com/MSFREACH/msf-reach/blob/reports_modal/public/resources/js/new-report.js#L32) is missing a call to reset the report type on modal close.

[2018-02-07 04:57] #229 closed

[2018-02-07 04:57] #235 closed

[2018-02-07 05:00] matthewberryman commented on #231
@LucieGueuning we've tested that records are going in to the database Ok.
I also fixed a few UI things - have tagged you on these. Have merged this in along with other changes (event table scrolling, event input modal incl. a fix to that https://github.com/MSFREACH/msf-reach/commit/bfe342aee24216796bacd41ad3c80545e726f4a1 ).

[2018-02-07 06:52] matthewberryman opened #241 "legend for import osm layers shown in base map tiles"

[2018-02-07 07:10] matthewberryman commented on #178
Re-opening for comment from a UX perspective, now the basic implementation is in place, and noting the image recognition algorithm is pretty much unadjustable. Maybe we could explore flagging events on events table (with link direct to specific report) if a report comes in and there are people in the image, for example.

[2018-02-07 07:10] matthewberryman commented on #178
cc @anexact for thought and comment

[2018-02-07 08:31] matthewberryman commented on #231
@LucieGueuning Just double checking that you want to leave category as a non-mandatory field? And regardless of whether you want that non-mandatory or mandatory, if someone selects category of "Other", do you want to make them type something in for what that other category is?

If you want to leave it as it is now (where neither is required) then I need to update some display code tomorrow my time

[2018-02-07 09:15] LucieGueuning commented on #231
For category, we keep it as a non-mandatory field. And if user selects 'Other', then a field for typing what this other is needs to appear. Make sense?

[2018-02-07 09:16] matthewberryman commented on #231
Yes - I have the other field for "other" popping up if so, does it need to be filled in or can it be left blank? I can add a check for this if it needs to be filled in.

[2018-02-07 09:33] matthewberryman commented on #231
per whatsapp discussion - all optional

[2018-02-07 10:03] matthewberryman commented on #231
Ok that case is now handled. There are still some other minor display things for me to double check tomorrow (mainly around old data we imported, which we also need to revisit), along with double checking fields for events and reports.

[2018-02-07 11:49] mehrdadgit commented on #238
@matthewberryman had a look; needs a bit of design thinking imo. for example, I think it would be nicer to make it with prev/next buttons similar to report card but with a white background and different design...if no rush, leave this with me, to do it properly by early next week.

[2018-02-07 15:46] LucieGueuning commented on #236
Decision: Proceed with AD.

[2018-02-07 16:38] LucieGueuning commented on #187
@matthewberryman is that now the case on prod env?

[2018-02-07 17:39] LucieGueuning commented on #231
@matthewberryman
- current employment status (when choosing 'MSF current staff' for category), needs to display 'Please select' and not 'field worker...'.

[2018-02-07 21:51] #231 closed

[2018-02-08 00:22] matthewberryman commented on #187
Yes the popups are correct and in prod env: note as per request all fields are listed, but if someone hasn't entered anything for non-mandatory fields on contact cards, then it lists nothing for it, e.g.:
<img width="139" alt="screenshot 2018-02-08 11 14 15" src="https://user-images.githubusercontent.com/2288238/35948574-45948ff2-0cc1-11e8-8d7e-955e4f671d2c.png">

A lot of the work on the modal is

[2018-02-08 00:29] matthewberryman commented on #187
Also the modal on events page was updated but not on landing page.

[2018-02-08 03:15] matthewberryman commented on #187
@LucieGueuning Note that the default in the contact modal is to display all the section headers (social media, contact details, etc.) except that "MSF details" /  "employment details" depends on type being MSF staff or not, however the individual fields (e.g. whatsapp / twitter /etc.) are only shown if there is something for that. So a bit different to the popup. I'm wary of making it display all,

[2018-02-08 10:45] LucieGueuning commented on #231
Have now applied that fix to handle empty type cases. I made a few configuration changes on the back end for a smoother upgrade of dev, given you may be using it, but if your connection had any issues, that’s why. I will follow up on GH

[2018-02-08 23:10] matthewberryman commented on #179
@LucieGueuning I had a bit of a look at the events UI to see what we're missing. The main things is around MSF Resources (people involved) - there is an option to list multiple people although only one space for nationality, and it's all freeform so prone to error. The easiest way to solve this I think is to link contacts to events https://github.com/MSFREACH/msf-reach/issues/40 although I have a

[2018-02-08 23:13] matthewberryman commented on #40
@LucieGueuning The easiest and cleanest way is to have a field for each contact that lists a single event (if any) that they are working on, rather than having multiple events per contact, or doing it the other way around (i.e. keeping a list in the event fields of relevant contacts). But this assumes that a person will be working on at most one event on the ground at a time.

[2018-02-09 16:45] LucieGueuning commented on #179
MSF resource means staff working on the project itself and they are not part of the Contact database.

[2018-02-09 16:48] LucieGueuning commented on #40
exactly, need to have a list of MSF staff working per event

[2018-02-11 05:28] mehrdadgit commented on #238
Done @matthewberryman feel free to review and merge to dev. Let me know if you want any style change.

[2018-02-11 22:16] #238 closed

[2018-02-12 02:50] #219 closed

[2018-02-12 02:50] matthewberryman commented on #227
@talltom can you please provide an update on this

[2018-02-12 03:13] matthewberryman commented on #40
Ok but per https://github.com/MSFREACH/msf-reach/issues/179#issuecomment-364488784 you said to support people who aren't in contacts, so free form (as is) is fine although I will flag a bug in nationality over on the other issue.

So for this issue, aside from listing MSF human resources, we also need a separate ability to save other contacts. Should this look like the saved tweets then?

[2018-02-12 03:15] matthewberryman commented on #179
Nationality -> visa required mapping needs to support multiple countries (at the moment only saves for one).

[2018-02-12 03:16] matthewberryman commented on #179
various grammar & spelling / typo fixes required in the events edit modal on landing page

[2018-02-12 04:11] matthewberryman commented on #238
@LucieGueuning please try this out - I have tried it out on dev and after confirming it was working there have put it in prod too

[2018-02-13 08:44] matthewberryman opened #243 "restrict RSS entries to Asia"

[2018-02-13 08:53] matthewberryman opened #244 "pop up nearest mission details on event open"
cc @LucieGueuning

[2018-02-13 09:28] LucieGueuning opened #246 "AI/ML"
As per our discussion, two developments:
1. Fake data on dev side to showcase how AI/ML can work with proper data (input fake data) to make life easier. System need to learn from data. Right suggestion of suppliers, what was the response in the past if ....
2. On landing page, on prod side, pop window with security items.
3. @lucie : in addition to that, need to find more data regarding past respo

[2018-02-13 10:07] matthewberryman commented on #151
update on this -
Bug remains fixed (just tested and this is saving tweets), but
1. I have turned off cache, so they show up a bit sooner, though at some point on prod I will have to turn cache back on.
2. There was a separate error message showing up on save for some events that I am just fixing now on prod and dev, related to chatbot integration, but this wasn't preventing tweets from being saved

[2018-02-13 11:50] LucieGueuning commented on #40
the system with AI and ML will have mission history and contacts linked to the specific event

[2018-02-13 13:47] LucieGueuning opened #247 "Error message once archiving a event on prod env"
![image](https://user-images.githubusercontent.com/25951555/36152837-441d9270-10c4-11e8-932f-443141ead7cc.png)

[2018-02-13 21:49] matthewberryman commented on #246
Duplicate of
https://github.com/MSFREACH/msf-reach/issues/182
https://github.com/MSFREACH/msf-reach/issues/165
https://github.com/MSFREACH/msf-reach/issues/89
https://github.com/MSFREACH/msf-reach/issues/32
I'll put the comments here pertaining to mission planning on the relevant issue.

[2018-02-13 21:49] #246 closed

[2018-02-13 21:53] matthewberryman commented on #182
In addition to looking at back-filling above mission histories with data, we can also generate fake data for development and testing (and then in production will slowly learn on event archive -> past missions). To do that I need an idea of what fields we want to learn on (suppliers, etc.) and what a typical _range_ of data looks like for that.

Also, as part of ethnography work to go into https://

[2018-02-13 23:00] #247 closed

[2018-02-14 00:01] matthewberryman opened #248 "slider on edit modal not initialised to current severity"

[2018-02-14 00:04] matthewberryman opened #249 "reports tab on events page"

[2018-02-14 00:08] matthewberryman opened #250 "on events page, made events details section headers hyperlinks"
open on clicking anywhere in grey bar not just on name or arrow (arrow to be removed as part of this).

@LucieGueuning I am fairly sure this is what Ken means and we should do this anyway to improve UX, if he was concerned about something else then please raise a separate issue on this repo.

[2018-02-14 02:29] #248 closed

[2018-02-14 02:29] #249 closed

[2018-02-14 02:30] matthewberryman commented on #249
@LucieGueuning this is done but please note the status isn't editable yet (separate issue #190 for that)

[2018-02-14 03:35] matthewberryman commented on #248
@LucieGueuning fixed in dev and prod

[2018-02-14 04:49] matthewberryman opened #251 "event update tracking"
I have thought a bit about event notification tracking through time. I could make this metadata field a list (would also require a SQL patch to upgrade old events per https://github.com/MSFREACH/msf-reach-schema/issues/29), and will start on some small modifications to client side code tomorrow, but:
There's a broader issue of whether we need to keep a history of changes to all fields and how we m

[2018-02-14 05:23] #250 closed

[2018-02-14 09:46] LucieGueuning commented on #238
Working. Thanks.

[2018-02-15 02:53] matthewberryman commented on #251
Working, looks like the following. Waiting on @talltom https://github.com/MSFREACH/msf-reach-schema/issues/29 before merging into dev. cc @LucieGueuning

<img width="676" alt="screenshot 2018-02-15 13 49 31" src="https://user-images.githubusercontent.com/2288238/36238544-6639e05e-1257-11e8-8b71-9efae8d173fb.png">

[2018-02-15 03:22] matthewberryman commented on #195
@LucieGueuning are you happy for the locations to go through Google for geocoding?
I can do the the past events and also geocode any changes, to address the comment from Natasha "In the “country” field, it says “undefined” and there is no space to edit it."  but need a decision from you on this.

[2018-02-15 03:24] matthewberryman opened #252 "remove unwanted events"
@LucieGueuning
The best option here is for you to archive unwanted events and also let me know the event ID (in URL bar before archiving) so I can track these and exclude from any ML work.

In the “country” field, it says “undefined” and there is no space to edit it.

[2018-02-15 05:14] matthewberryman commented on #251
@LucieGueuning just noting that the screenshot has notifications going least recent -> most recent from top to bottom, but in cfbcef2 I changed that.

[2018-02-16 00:22] matthewberryman opened #255 "add HOT OSM data as separate map layer for now"
cc @LucieGueuning

[2018-02-16 00:42] matthewberryman commented on #172
Although this has been done a while and working well through testing for the custom layers we're adding (reports, contacts, missions, events, hazards) it's not saving the selected underlying map title layer, which will become more important with #255, so re-opening this issue to deal with saving of the map layer.

[2018-02-16 00:52] #172 closed

[2018-02-16 00:54] matthewberryman commented on #172
@LucieGueuning with regards to the new code for saving map layers (in addition to previous layers already done), note that the behaviour for map layer is to use the same one for both landing and events maps (leaving terrain as the default for new reports and new contacts, neither of which have the OSM layer, though I can change all of this if required).

[2018-02-16 01:09] matthewberryman commented on #255
@LucieGueuning I have this in but there are a lack of labels of what's what in the provided tiles. This is just a temporary stop gap. @talltom will email Mapbox to see what can be done there, otherwise we may have to look at writing extra software per https://github.com/MSFREACH/msf-reach-schema/issues/28
<img width="676" alt="screenshot 2018-02-15 13 49 31" src="https://user-images.githubusercont

[2018-02-16 02:15] matthewberryman commented on #255
(updated previous comment with correct screenshot, refresh page to pick it up if you can't see the map)

[2018-02-19 04:20] matthewberryman commented on #190
@talltom API is fine as is. Will push a commit soon after a little bit more testing. cc @LucieGueuning

[2018-02-19 04:43] #190 closed

[2018-02-19 05:06] matthewberryman opened #256 "make sure notifications section opens by default"
@mehrdadgit can you please take a quick look asap to ensure that the notifications section of events details will open by default

[2018-02-19 05:14] matthewberryman commented on #116
Opening to track changes to update new UI elements to make them work on mobile devices.

[2018-02-19 05:20] matthewberryman opened #257 "time entry and display"
I would argue for entering times in local time (for the operator) and then displaying it in the local time zone of the operator (who may be different and thus in a different time zone), unless there's a reason to enter and/or display time in time zone of event (bearing in mind some event regions may straddle time zones).

[2018-02-19 06:37] mehrdadgit commented on #256
Done @matthewberryman

[2018-02-19 22:18] matthewberryman opened #258 "specify event name on event creation modal"
part of #179

[2018-02-19 22:44] matthewberryman commented on #258
@mehrdadgit can you please tighten up the UI to remove space to make it fit better now that I've added the name field.

cc @LucieGueuning

[2018-02-21 03:11] #256 closed

[2018-02-21 03:11] #258 closed

[2018-02-21 11:05] LucieGueuning opened #260 "tweet not saved"
I checked on the Sinabung event, and the tweets I saved yesterday are no longer there.
Tweet she is trying to save:
version number of her web browser:
operating system:

TBC

[2018-02-21 11:05] LucieGueuning opened #261 "Previous notifications have disappeared."
On the Sinabung event page, after I updated the notification (Natasha computer details will come).

[2018-02-21 19:46] matthewberryman commented on #260
please use existing ticket https://github.com/MSFREACH/msf-reach/issues/151

[2018-02-21 19:46] #260 closed

[2018-02-21 19:47] matthewberryman commented on #151
working for me; to help diagnose Natasha's issue further I need to know tweet she's trying to save, web browser version and operating system version.

[2018-02-21 19:50] matthewberryman commented on #261
I can see two notifications for that event in prod. On dev, I again tested entry of a notification and it correctly showed up immediately. So, I think it's a browser issue.

[2018-02-25 00:31] mehrdadgit opened #262 "RSS processing bug for empty lists"
![image](https://user-images.githubusercontent.com/7603978/36636689-547bcaec-1a1f-11e8-8a0e-5a27c1100f73.png)

[2018-02-25 00:38] mehrdadgit commented on #262
@matthewberryman I added an `if` so that it does not sends the error if `item` is undefined; but it seems to be all the time; is this due to change in rss on their side ? Leave it to you to have a deeper look and merging to master...

[2018-02-25 05:12] matthewberryman commented on #262
[code]
currently produces:
[code]
i.e. it's just that there are no entries, so 89b5dbc is a complete fix for it in relation to GDACS, however I need to go through (tomorrow) and review the other RSS handling code to make sure that it also deals with empty RSS feeds for other hazard sources.

[2018-02-25 22:48] #262 closed

[2018-02-25 23:12] matthewberryman opened #263 "caching"
The notifications https://github.com/MSFREACH/msf-reach/issues/261 and tweets https://github.com/MSFREACH/msf-reach/issues/151 are being saved, it's just a caching issue that's stopping them showing up. I will try this out and then test on Chrome 64 on Windows 7.

[2018-02-25 23:13] matthewberryman commented on #261
closing this in favour of #263

[2018-02-25 23:13] #261 closed

[2018-02-25 23:13] matthewberryman commented on #151
closing this in favour of #263

[2018-02-25 23:13] #151 closed

[2018-02-26 00:10] matthewberryman commented on #263
Tested it and was working fine for me. Will email Natasha and follow up.

[2018-02-27 08:41] matthewberryman opened #265 "cell text cut off in event detail columns"
<img width="242" alt="screenshot 2018-02-27 19 38 59" src="https://user-images.githubusercontent.com/2288238/36718482-12beb6d6-1bf6-11e8-9b57-906c5ff21814.png">

[2018-02-28 15:36] LucieGueuning opened #266 "Contract's deliverables to be completed before 16 March 2018"
To close this issue, all deliverables of Phase 2a - Part 1 need to be completed. This will be reviewed by Project Sponsors on Monday 19 March (@matthewberryman @anexact @talltom).

![image](https://user-images.githubusercontent.com/25951555/36796285-1e198644-1c9d-11e8-8ddd-877ae5fb04ad.png)

[2018-02-28 15:54] LucieGueuning opened #267 "Sentence descriptive for each category on report card (tbc by Natasha)"
ACCESS: every information which is related to a physical access leading to a specific area or precise location such as road, airport or other. e.g.: plane not allowed to landed in airport, street over flood, groups blocked road, etc.
NEEDS: every information which is related to a need for a specific person or a wider range of population. e.g. shelters, water, medical care, etc.
CONTACT: every info

[2018-02-28 16:04] LucieGueuning opened #268 "VERY IMPORTANT Sub-tab to create below event tab (on landing page)"
sub-tab to create:
Monitoring & Assessment
Ongoing MSF projects

Event under 'Monitoring' and 'exploration' will be stored under the 'monitoring & assessment' tab.
Event under 'Intervention (MSF activity)' will be stored under the 'Ongoing MSF Projects'

![image](https://user-images.githubusercontent.com/25951555/36797864-f8d57dd0-1ca0-11e8-9bdc-46df8fa498b8.png)

[2018-02-28 16:18] LucieGueuning opened #269 "Edit event need to be divided into two steps"
All fields from the left column (on the current view) expect SharePoint link ID need to be under the first tab 'Monitoring and Assessment'
All the other can be move the second tab 'MSF Activities (if any)'. Field can still be collapse and expandable to make in more user-friendly.

![image](https://user-images.githubusercontent.com/25951555/36798397-6a47d886-1ca2-11e8-98de-b3f57575f19e.png)

It wil

[2018-02-28 16:21] LucieGueuning commented on #243
Natasha flag a RSS from Greece. Makes sure it is only for Asia.

FYI, in the near future, with AD, we will attribute location preferences for people who are monitoring America for example. Make sense?

[2018-02-28 16:26] LucieGueuning opened #270 "UI to be improved for scrolling down functions and map zoom in and out (on edit window on even page)"
scrolling down functions and map zoom in and out are too close to each other.

@talltom (specialist)
![image](https://user-images.githubusercontent.com/25951555/36799075-2ab436ea-1ca4-11e8-93a7-f1b67b8687fe.png)

[2018-02-28 16:37] LucieGueuning commented on #194
cf. first comment

[2018-02-28 16:39] LucieGueuning opened #271 "RSS feed to be added into all maps"
Need to add on every single map the following RSS feed:
- UNDSS
- UN OCHA Geo Specialised Portal

@talltom

[2018-02-28 16:45] LucieGueuning opened #272 "Project Code field to be integrated"
'Project Code' field needs to be added :
- event map modal on landing page (
![image](https://user-images.githubusercontent.com/25951555/36799949-4292f1be-1ca6-11e8-9378-0a4d1d920ffd.png))

- events table on landing page (
![image](https://user-images.githubusercontent.com/25951555/36799962-4d91e890-1ca6-11e8-9773-858b9aff7727.png))

- On event info (right before Name)
![image](https://user-images

[2018-02-28 16:47] LucieGueuning opened #273 "VERY IMPORTANT On legend, change 'current event' by 'Ongoing MSF Projects' on every map"

[2018-02-28 17:10] LucieGueuning opened #274 "Need to be able everywhere within REACH to expand or reduce MAP (to any size) - function responsive"

[2018-02-28 17:13] LucieGueuning opened #275 "contact / social media trust algorithm to build"
- to cross-checked info
- to ensure people who tweet are most relevant than others (decision tree)
- to ensure that contact are trusted one (by looking at the relationship with this specific one).

[2018-02-28 17:14] LucieGueuning opened #276 "Sharepoint link with meeting minutes linked to contact"

[2018-02-28 17:33] LucieGueuning commented on #24
@anexact to work on this issue for the landing page redesign/content (link, etc.)

[2018-02-28 17:37] LucieGueuning commented on #57
to be done by Monday 19th of March (at least three permissions: viewers, operators, admin).

[2018-02-28 17:43] #123 closed

[2018-02-28 17:45] LucieGueuning commented on #140
Now we have a category 'supplier' which allows us to proceed

[2018-02-28 17:48] LucieGueuning commented on #182
AI/ML, as per discussion with Etienne, should also be a smart search function for mission history and twitter (linked to the specific request/needs of the user).

[2018-02-28 17:52] LucieGueuning commented on #212
Yes we want the same map everywhere.

Also, instead of 'Hazards', it should be RSS Feeds

[2018-02-28 22:02] matthewberryman commented on #271
@LucieGueuning :
UNDSS access is restricted to UN personnel so we cannot meet that request.

The OCHA site has
* a [general RSS feed](https://www.humanitarianresponse.info/en/feed) with no geospatial information (i.e. we cannot use this either).
* There are per country RSS feeds e.g. [Afghanistan](https://www.humanitarianresponse.info/en/operations/afghanistan/feed) but those link to the high leve

[2018-02-28 22:08] matthewberryman commented on #267
If the text is concise enough I could fit this onto that slide of the report card, else, we could add a help popup. Lucie let me know when the text is confirmed by Natasha.

[2018-02-28 22:21] matthewberryman commented on #275
Not sure what you mean by "to cross-checked info"
As a simple approach for 2a part 1, for the twitter search result I can sort by (follower count / followee) if you like? Then we can discuss further based on feedback.

[2018-02-28 22:24] matthewberryman commented on #268
We could make this two tabs fairly straightforwardly for part 1. Not sure about subtabs (@mehrdadgit ?)

[2018-02-28 22:27] matthewberryman commented on #274
@mehrdadgit please do for all maps bar the reports and contact cards (but do do it for reports modal). https://jqueryui.com/resizable/

[2018-02-28 22:29] matthewberryman commented on #271
@LucieGueuning I was under the impression from our call (and the issue title, separate to description) you wanted the existing RSS feed events on all maps? That I will work on.

[2018-02-28 22:32] matthewberryman commented on #243
From email:
RSS items are only shown for hazards in Asia (and occasionally some in Europe and Africa, as I’ve done this by setting up a rectangular bounding box - hard to avoid this without a lot of work geocoding the events and storing in database).

[2018-02-28 22:33] matthewberryman commented on #243
I could refine in phase 2a part 2. I will set up a different issue for per operator regions.

[2018-02-28 22:34] matthewberryman opened #277 "per operator restriction of RSS feeds"
depends on https://github.com/MSFREACH/msf-reach/issues/57

[2018-02-28 22:42] matthewberryman commented on #271
Sorry, I see the other existing RSS feeds -> all maps issue is covered in https://github.com/MSFREACH/msf-reach/issues/212#issuecomment-369324237

[2018-02-28 22:48] matthewberryman commented on #7
This was done already.

[2018-02-28 22:48] #7 closed

[2018-02-28 22:52] matthewberryman commented on #236
Depends on #57

[2018-02-28 23:00] matthewberryman commented on #182
In absence of ethnographic feedback (outlined to come in part 2 of contract) and sample data for this major feature, changing milestone.

[2018-02-28 23:05] matthewberryman commented on #32
pre-filled using event name (now user specified and can be edited on event and further refined on twitter search page field) and pre-loaded

[2018-02-28 23:05] matthewberryman commented on #233
This was already fixed.

[2018-02-28 23:05] #233 closed

[2018-02-28 23:10] matthewberryman commented on #270
scrolling can be done in one of a number of ways (scroll bars, mouse wheel, trackpad, touch screen) that we can't control, if the maps are in the way (particularly an issue for touch screen where you need to touch somewhere off of the map to scroll) then they will be able to resized out of the way per https://github.com/MSFREACH/msf-reach/issues/274 plus the overall edit https://github.com/MSFREAC

[2018-02-28 23:12] matthewberryman commented on #199
actually noting we have this functionality already (I revisited the code for this yesterday and Raymund added it), and will be preserved with AD #57

[2018-02-28 23:12] #199 closed

[2018-02-28 23:15] matthewberryman commented on #200
@talltom did you email mapbox?

[2018-02-28 23:17] matthewberryman commented on #200
From @talltom email: @LucieGueuning , may I suggest that you ask them for more information on what layers they have available, and the attributes of these data? Down the track we could also provision support for them to consume data from REACH, however the real-time nature of the platform we are building means that this requires some further thought - I think that taken out of context of the REACH

[2018-02-28 23:23] #72 closed

[2018-02-28 23:27] matthewberryman opened #278 "layer group legend font size"
for map layers that are part of a group make the grouping clearer

[2018-03-01 07:59] matthewberryman commented on #273
This is now in the landing map in dev and will go into other maps as part of https://github.com/MSFREACH/msf-reach/issues/212#issuecomment-369324237

[2018-03-01 08:54] matthewberryman commented on #275
Per my idea on the call, I am pretty sure I can tweak the search query to push this simple approach back onto Twitter's servers, and then just need to double check one other line in our code to make sure it's reflected in our list.

[2018-03-01 08:56] matthewberryman commented on #165
1. Matthew to check Lambda logs to resolve issue of training of new events added.
2. Matthew and Lucie to test.
3. Matthew to migrate to prod (note to self to use the script for migrating older active events across).

[2018-03-01 10:10] LucieGueuning commented on #165
1. language chatbot to review
2. test
3. little i info for instructions for the users

Then it can be merge in prod

[2018-03-01 10:17] LucieGueuning commented on #32
To explore:

Language translation linked to geolocation.
Use of RSS feed (for events created from RSS #180 )
Putting in some semantic awareness (even just picking more common synonym).
Other AI possibilities.
location if possibility to have a deal with Twitter for advanced search

[2018-03-01 10:25] LucieGueuning commented on #99
Where there are building but no map (a way of notifying the users that there is project to map by missing map on OSM but not yet data on it).

[2018-03-01 10:30] LucieGueuning commented on #89
as per discussion, it is now based on imagination of users. Which is not a permanent solution. We need to have type and location as keyword (at least) and then have a good list of tweet based on trusted profile (#275)

[2018-03-01 10:31] LucieGueuning commented on #79
linked to #57

[2018-03-01 10:36] LucieGueuning commented on #77
![image](https://user-images.githubusercontent.com/25951555/36840303-65a8d164-1d3c-11e8-99be-4a38091b5a84.png)

We need to make this changes for the presentation

[2018-03-01 10:41] #74 closed

[2018-03-01 10:42] LucieGueuning commented on #70
need to be there for presentation.

[2018-03-01 10:43] #65 closed

[2018-03-01 10:44] LucieGueuning commented on #3
@talltom is this still up to date issue or should we fix it and close it?

[2018-03-01 10:45] #39 closed

[2018-03-01 10:47] LucieGueuning commented on #55
search function on every map of REACH (even landing page).

[2018-03-01 10:49] #58 closed

[2018-03-01 11:02] LucieGueuning commented on #60
Under review by myself

[2018-03-01 11:15] LucieGueuning commented on #89
SOLUTION: If user is not putting info on the field when creation, the system allocate automatically the Event Name as follow: Type + Location + Time. This field stay editable.

[2018-03-01 11:18] LucieGueuning commented on #60
- 'opened' field on event page is not clear enough (
![image](https://user-images.githubusercontent.com/25951555/36841957-026bd834-1d42-11e8-88a0-14fea25e9a6d.png))

Need to be in two separate lines as below:
Date: 2018-03-01
Time: 11:11:51

[2018-03-01 11:19] LucieGueuning commented on #30
To update:
- Event type: (do not forget the capital letter and follow the exact spelling and order: Armed Conflict; Disease Outbreak; Displacement; Malnutrition; Natural Disaster; Search & Rescue; Other (Specify)
- If natural disaster (do not forget the capital letter and follow the exact spelling and order: Drought; Earthquake; Flood; Tsunami; Typhoon; Volcano; **O**ther (Specify).
- If disease o

[2018-03-01 11:22] #63 closed

[2018-03-01 11:32] LucieGueuning commented on #277
With AD, we will attribute location preferences for people who are monitoring America for example.

[2018-03-01 11:35] LucieGueuning opened #279 "external parties to log in into REACH"
Set up right and permissions to not see confidential info form MSF for external parties (such as health sites who have requested access).

Request approval from sponsors.

Linked to #57

[2018-03-01 12:26] LucieGueuning opened #280 "VERY IMPORTANTCountry undefined on event page"

[2018-03-01 12:27] LucieGueuning commented on #280
![image](https://user-images.githubusercontent.com/25951555/36844732-cc17619a-1d4b-11e8-9c1b-1cffa11e2a50.png)

Why is it undefined as we have epicenter on map. Should recognize

[2018-03-01 12:28] LucieGueuning opened #281 "Type of event on event page"
should be appearing as inputting when creation of event. e.g. earthquake and not 'natural_hazard' each time.

Also, you can remove sub-type as we have the field type up on meta-data. it is duplication no?
![image](https://user-images.githubusercontent.com/25951555/36844817-1b600cde-1d4c-11e8-9111-554f3f667fcd.png)

[2018-03-01 12:43] LucieGueuning commented on #128
linked to #57

[2018-03-01 12:45] LucieGueuning commented on #243
linked to #57

[2018-03-01 12:46] LucieGueuning commented on #165
linked to repository as well

[2018-03-01 14:34] LucieGueuning commented on #24
cf. for reference
![image](https://user-images.githubusercontent.com/25951555/36850077-aebd094e-1d5d-11e8-88c1-948e92dbd3e7.png)

[2018-03-01 14:42] LucieGueuning commented on #24
to change:
- email address on contact button (lucie.gueuning@hongkong.msf.org
- remember me (needs to work)
- design more simple and straight forward
- rethink: tutorial videos, videos of REACH, legend, information about REACH (on landing or log in page?)
-right link if no log in credentials.

[2018-03-01 16:04] LucieGueuning opened #282 "Incorporate API from health sites on REACH (Humanitarian Layers)"

[2018-03-01 16:08] LucieGueuning opened #283 "when entering a event, end up in the mission tab"
on dev side
(ok for the prod side)
After clicking on event, you end into the missions tab. Should be the event tab with info
![image](https://user-images.githubusercontent.com/25951555/36855212-c1d08832-1d6a-11e8-8c98-6faac918d9c9.png)

[2018-03-01 16:13] LucieGueuning opened #284 "Total population/population affected on prod side"
To remove if no number filled on prod side.

**It is perfect on dev side**. (BTW, should I give feedback on which one? the dev side right?) Could you please merge all the changes soon? Thanks!

![image](https://user-images.githubusercontent.com/25951555/36855450-656ee51a-1d6b-11e8-82ed-dee67cdb0bec.png)

[2018-03-01 16:18] LucieGueuning opened #285 "Remove Info tab on landing page"
(to put somewhere else)

[2018-03-01 16:24] LucieGueuning opened #286 "VERY IMPORTANT session to re-structure"
![image](https://user-images.githubusercontent.com/25951555/36855769-4abff0fa-1d6c-11e8-8161-e082ae31532a.png)

to be as below:
![image](https://user-images.githubusercontent.com/25951555/36856006-dd7011b4-1d6c-11e8-88e3-e74b2061a4ed.png)

Under About, we will put the two videos, the link to SharePoint, a brief description and the partnership and confidentiality file.
Under FAQ, we will integrate

[2018-03-01 16:29] LucieGueuning opened #287 "import contacts from spreadsheet (all SEA countries)"
I am still cleaning it. I will let you here when it is ready to be migrated.

[2018-03-01 16:31] LucieGueuning opened #288 "Maps for events should be the same as the one on landing page."
Same map for event page + map on event edition.

[2018-03-01 16:34] LucieGueuning opened #289 "VERY IMPORTANT Archive should be Close on event page"
![image](https://user-images.githubusercontent.com/25951555/36856609-5530f294-1d6e-11e8-8243-21b297ecf5a1.png)

[2018-03-01 16:38] LucieGueuning opened #290 "'Hazards' on legend menu should be 'RSS Feeds' on all maps"

[2018-03-01 16:40] LucieGueuning opened #291 "RSS Feeds and Contacts should be hierarchically more weight (as on a plan for paper) - same for each map."
as per discussion on skype, we need to see the title by having the check boxes a bit on the right.

[2018-03-01 16:40] LucieGueuning commented on #291
it is the same issue for reports on event page.